<!-- <ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="without-btn">
      Leaderboard
    </ion-title>
    <ion-buttons *ngIf="myapp.isAdmin" slot="end">
      <ion-button (click)="updateUserStats()">
        <ion-icon slot="icon-only" name="reload-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<div class="mainWrapper">
  <div class="mainHeader">
    <app-header [showAmount]="false"></app-header>
    <app-sub-header *ngIf="false"></app-sub-header>
  </div>
</div>
<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer no-subHeader">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-lg="12" size-md="10">
            <ion-list-header *ngIf="users" color="medium" id="games" class="ion-justify-content-center headerList">
              <ion-label class="ion-text-center">
                All Time Leaderboard
              </ion-label>
            </ion-list-header>
            <section *ngIf="users" class="full-width">
              <ion-segment mode="ios" class="tabs-default" value="players" (ionChange)="segmentChanged($event)">
                <ion-segment-button tap value="players">
                  <ion-label>Players</ion-label>
                </ion-segment-button>
                <ion-segment-button tap value="friends">
                  <ion-label>Friends</ion-label>
                </ion-segment-button>
              </ion-segment>
              <div class="sport-tabs">
                <div class="item" tap *ngFor="let tab of tabsBySport"
                  [ngClass]="this.sportSelected === tab.name ? 'active' : ''" (click)="selectSport(tab.name)">
                  {{tab.name}}
                  <ion-icon slot="end" name="{{tab.icon}}"></ion-icon>
                </div>
              </div>
              <ion-grid class="ion-text-start box-bg" class="table-leaderboard">
                <ion-row style="font-size: 90%; font-weight: bold;">
                  <ion-col size-xs="2" size-sm="3" class="ion-text-center">Rank</ion-col>
                  <ion-col size-xs="5" size-sm="3" class="ion-text-center">Player</ion-col>
                  <ion-col size-xs="2" size-sm="3" class="ion-text-center" (click)="onSort('sport')">
                    <div class="sort-wrap">
                      Wins
                      <div class="sort-icons" [ngClass]="sortClass['sport']">
                        <ion-icon class="asc" name="caret-up-outline"></ion-icon>
                        <ion-icon class="desc" name="caret-down-outline"></ion-icon>
                      </div>
                    </div>
                  </ion-col>
                  <ion-col size-xs="3" size-sm="3" class="ion-text-center" (click)="onSort('win')">
                    <div class="sort-wrap">
                      $
                      <div class="sort-icons" [ngClass]="sortClass['win']">
                        <ion-icon class="asc" name="caret-up-outline"></ion-icon>
                        <ion-icon class="desc" name="caret-down-outline"></ion-icon>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
                <ng-container *ngFor="let u of optimizedWinners; let winner_uid = index">
                  <ion-row [hidden]="(segmentSelected === 'players' && (winner_uid > userLimit && u.id !== user?.uid)) ||
                (segmentSelected === 'friends' && !isFriend(u.id) && u.id !== user?.uid)">
                    <ion-col size-xs="2" size-sm="2" class="ion-text-center">{{ u['position'] || winner_uid+1}}
                    </ion-col>
                    <ion-col size-xs="5" size-sm="4" class="ion-text-center">
                      <app-user [name]="users[u.id]?.name || '......'" [src]="getUrl(u.id)" [id]="u.id"
                        [challengesWon]="users[u.id]?.stats.challengesWon"
                        [color]="(user && u.id==user.uid) ? 'red' : users[u.id]?.color"></app-user>
                    </ion-col>
                    <ion-col size-xs="2" size-sm="3" class="ion-text-center">{{u.sport[sportSelected]}}</ion-col>
                    <ion-col size-xs="3" size-sm="3" class="ion-text-center">
                      {{ u.win[sportSelected] }}
                    </ion-col>
                  </ion-row>
                </ng-container>
              </ion-grid>
              <ng-container *ngIf="segmentSelected === 'friends'">
                <div [hidden]="!user?.friends||!user?.friends.length" class="info">
                  <p>You have no Friends.</p>
                  <a routerLink="/friends">Add Friends</a>
                </div>
              </ng-container>
              <div class="btn-wrap">
                <button (click)="userLimit=userLimit+25"
                  [hidden]="userLimit > optimizedWinners?.size || segmentSelected === 'friends'" class="btn-default green">
                  <ng-container>Show more</ng-container>
                </button>
              </div>
            </section>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    </div>
</ion-content>