@import "../../theme/variables.scss";

.headerList {
  background: transparent;
  color: #000;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  display: flex;
  align-items: center;

  @media #{$tablet} {
    font-size: 18px;
  }

  ion-label {
    margin: 0;
  }
}

// .box-bg {
//   // max-width: 600px;
//   border-top: 1px solid #000;
//   background-image: url(/assets/leaderboard_bg.jpg);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: bottom 3px center;
// }

.btn-wrap {
  text-align: center;
}

.table-leaderboard {
  font-size: 16px;

  @media #{$tablet} {
    font-size: 18px;
  }

  @media #{$tablet} {
    font-size: 13px;
  }

  ion-col {
    @media #{$tablet} {
      padding: 5px 2px;
    }
  }
}

.sort-wrap {
  display: flex;
  justify-content: center;

  .sort-icons {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    margin-left: 5px;

    &.asc {
      .asc {
        color: $primary-theme-color;
      }

      .desc {
        color: $gray;
      }
    }

    &.desc {
      .asc {
        color: $gray;
      }

      .desc {
        color: $primary-theme-color;
      }
    }


    ion-icon {
      color: $gray;

      &+ion-icon {
        margin-top: -4px;
      }
    }
  }
}