@import "../../../theme/variables.scss";

.mention-box {
  ion-item {
    --background: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    margin: 0;

    &:last-child {
      border-bottom: none;
    }
  }

  .avatarBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .avatar {
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    display: block;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .trophy-block {
    @media #{$tablet} {
      margin-left: 3px;
    }
  }
}