<div class="mention-box">
  <ion-list class="listDefault">
    <ng-container *ngFor="let item of mentions">
      <ion-item lines="none" (click)="selected(item)">
          <div class="avatarBox user-wrap">
            <div>
              <div class="avatar" [ngStyle]="{'background-image': 'url(' + (item.photoURL || constants.AVATAR_DEMO) + ')'}"> </div></div>
            {{ item.name }}
            <div class="trophy-block" *ngIf="item.stats?.challengesWon">
              <ion-icon name="trophy" [ngStyle]="{'color': getTrophyColor(item.stats?.challengesWon)}"></ion-icon>
              <ion-badge>{{ item.stats?.challengesWon }}</ion-badge>
            </div>
          </div>
      </ion-item>
    </ng-container>

  </ion-list>
</div>