@import "../../theme/variables.scss";

ion-content {
  --padding-start: 0;
  --padding-end: 0;
}

ion-slides {
  height: 100%;

  ion-slide {
    .item {
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 70%;
      max-height: 90%;
      width: 100%;
      height: 100%;

      @media #{$miniMobile} {
        max-width: 100%;
        max-height: 100%;
      }

      @media #{$landscape} {
        max-width: inherit;
        max-height: 100%;
        width: auto;
      }
    }

    .item-content {
      width: auto;
      height: 100%;

      @media #{$miniMobile} {
        width: auto;
        height: 100%;
      }

      @media #{$landscape} {
        width: auto;
        height: 100%;
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  @media #{$miniMobile} {
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
  }
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23C61C22'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23C61C22'%2F%3E%3C%2Fsvg%3E") !important;
}

.btn {
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 15px;
  color: #8e8e8e;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all .3s;

  @media #{$miniMobile} {
    color: #fff;
    background: $primary-theme-color;
  }

  &:hover {
    cursor: pointer;
    background: #ce4c4c;
    color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  }
}