<ion-content>
  <a class="btn" *ngIf="showSkipBtn" routerLink="/login">Skip</a>
  <ion-slides pager="false" [options]="slideOpts" #slider (ionSlideTransitionStart)="slideChanged()">
    <ion-slide *ngFor="let slide of data | keyvalue">
      <div class="item">
        <img class="item-content" [src]="src" alt="">
      </div>
    </ion-slide>
  </ion-slides>
  <div *ngIf="currentSlide" class="swiper-button-prev" (click)="slides.slidePrev(); stopped = true;"></div>
  <div class="swiper-button-next" (click)="slides.slideNext(); stopped = true;" *ngIf="!lastSlide"></div>
  <a routerLink="/login" class="swiper-button-next" *ngIf="lastSlide && firstStart"></a>
  <a class="btn" routerLink="/signup" *ngIf="showSignUpBtn">Sign up</a>
</ion-content>