<div *ngIf="date" class="date-wrap">
  <div class="sort-by-challenge" [ngClass]="{'active down' : sortBy === SORT.CHALLENGE}" *ngIf="!hideSort">
    <!-- add class ('up' or 'down') -->
    <app-ico-svg (click)="sortByChallenge()" [class]="'ico-sort-by-challenge'" [src]="Constants.SRC.ICONS"
      [id]="'IcoSortByChallenge'">
    </app-ico-svg>
  </div>
  <div class="item" [routerLink]="['/upcoming']">{{ date | date:'MMM' }}</div>
  <div class="item selected" [routerLink]="['/upcoming']">{{ isToday(date) ? 'today' : date | date:'EEEE' }}</div>
  <div class="item" [routerLink]="['/upcoming']">{{ date | date:'dd' }}</div>
  <div class="sort-by-date" [ngClass]="{'active down': sortBy === SORT.DATE}" *ngIf="!hideSort">
    <app-ico-svg (click)="sortByDate()" [class]="'ico-sort-by-date'" [src]="Constants.SRC.ICONS" [id]="'IcoSortByDate'">
    </app-ico-svg>
  </div>
</div>