@import "../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .icon {
      width: 32px;
      height: 32px;
    }

    .ico-sort-by-challenge {
      width: 25px;
      height: 18px;

      @media #{$tablet} {
        width: 31px;
        height: 24px;
      }
    }

    .ico-sort-by-date {
      width: 25px;
      height: 18px;

      @media #{$tablet} {
        width: 31px;
        height: 24px;
      }
    }

    .sort-by-challenge {
      &.up {
        // --arrow-bottom: none;
        --arrow-top: block;
      }

      &.down {
        // --arrow-top: none;
        --arrow-bottom: block;
      }

      .ico-sort-by-challenge {
        --fill: #999;
        --stroke: #999;
        --fill-arrow: #fff;
      }

      &.active {
        .ico-sort-by-challenge {
          --fill: #9747FF;
          --stroke: #9747FF;
          --fill-arrow-bottom: #9747ff;
        }
      }
    }

    .sort-by-date {
      &.up {
        // --arrow-bottom: none;
        --arrow-top: block;
      }

      &.down {
        // --arrow-top: none;
        --arrow-bottom: block;
      }

      .ico-sort-by-date {
        --fill: #999;
        --stroke: #999;
        --fill-arrow: #fff;
      }

      &.active {
        .ico-sort-by-date {
          --fill: #9747FF;
          --stroke: #9747FF;
          --fill-arrow-bottom: #9747ff;
        }
      }
    }
  }
}

.date-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  position: relative;
  box-shadow: 0 2px 2px rgb(0 0 0 / 25%) inset;
  // border-bottom: 1px solid rgba(229, 228, 228, 1);

  @media #{$tablet} {
    // zoom: 1.25;
    height: 30px;
  }

  .item {
    background: $four-theme-color;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-family: $RM;
    // font-size: 1.3vh;
    font-size: 11px;
    text-transform: uppercase;
    color: #000;
    min-width: 40px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin-right: -2px;
    margin-top: -3px;
    cursor: pointer;
    
    &.selected {
      background: $primary-theme-color;
      color: #fff;
      font-family: $FMM;
      // font-size: 1.65vh;
      font-size: 14px;
      padding: 0 10px;
      z-index: 1;

      &+.item {
        margin-left: -2px;
      }
    }
  }
}

.sort-by-challenge {
  position: absolute;
  left: 5px;
}

.sort-by-date {
  position: absolute;
  right: 5px;
}