
<form [formGroup]="form" (submit)="update()" class="form">
  <ion-row>
    <ion-col>
      <ion-item [ngClass]="form.controls['email'].touched && form.controls['email'].hasError('required') ||
(form.controls['email'].hasError('pattern') && form.controls['email'].touched) ? 
'hasError' : '' || form.controls['email'].valid ? 'validField' : ''">
        <ion-label position="floating">New Email</ion-label>
        <ion-input type="text" placeholder="Enter new email" formControlName="email">
        </ion-input>
      </ion-item>
      <small class="error-validation"
        *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">
        This field is required.
      </small>
      <small class="error-validation"
        *ngIf="form.controls['email'].hasError('pattern') && form.controls['email'].touched">
        Please enter valid e-mail address.
      </small>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item class="input-password-wrapper" [ngClass]="(form.controls['password'].hasError('required') && form.controls['password'].touched) ? 'hasError' : '' || 
      form.controls['password'].valid ? 'validField' : ''">
        <ion-label position="floating">Password</ion-label>
        <ion-input [type]="!isVisible ? 'password' : 'text'" formControlName="password"
          placeholder="Enter password">
        </ion-input>
        <ion-icon slot="end" name="eye-off" [name]="!isVisible ? 'eye-off' : 'eye'"
          (click)="isVisible = !isVisible"></ion-icon>
      </ion-item>
      <small class="error-validation"
        *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">
        This field is required.
      </small>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>
      <div class="btn-wrap ion-text-center">
        <ion-button expand="block" type="submit" [disabled]="!form.valid" color="undefined"
          class="btn-default green">
          <strong class="white"> Save new email</strong>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
</form>