@import "../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .team-avatar {
      width: 38px;
      height: 38px;
    }
  }
}

.team-card {
  background-image: url('./../../../assets/bgs/team-card.svg');
  width: 66px;
  height: 137px;
  position: relative;
  padding: 18px 0 0 0;
  z-index: 2;

  &-icon {
    font-size: 10px;
    text-transform: uppercase;
    color: rgb(81, 81, 81);
    font-weight: 600;

    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
  }

  p {
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    color: rgb(114, 114, 114);
    line-height: 18px;
    margin: 5px 0 0;
    text-align: center;

    @media #{$mobileXs} {
      font-size: 9px;
    }

    span {
      color: rgb(50, 50, 50);
      font-size: 20px;
      line-height: 13px;
      margin-bottom: 6px;
      display: block;

      @media #{$mobileXs} {
        font-size: 18px;
      }

      &+span {
        font-size: inherit;
        font-weight: inherit;
        color: rgb(88, 88, 88);
        margin: 0;
      }
    }
  }
}