<div class="team-card">
    <div class="team-card-icon">
      vs
    </div>
    <app-avatar [id]="game.team.logoName" [src]="Constants.SRC[league.toUpperCase()]"></app-avatar>
    <p *ngIf="game">{{game.date | date:'MMMM'}} <span>{{game.date | date: 'dd'}}</span> <span>{{game.date | date: 'h:mm a'}}</span></p>
</div>