<div *ngIf="game" class="game-wrap"
  [ngClass]="['2', '3', '4', '5', '6', '7'].includes(game?.status?.statusCode) ? className +' end-game' : className"
  [style.overflow]="showMoreInfoHome || showMoreInfoAway || showGameInfo ? 'inherit' : 'hidden'">
  <div class="game-inner" [ngClass]="showMoreInfoHome ? 'active-home' : '' || 
                                     showMoreInfoAway ? 'active-away' : '' ||
                                     showGameInfo ? 'show' : ''" 
                          (click)="openDetail(game)">
    <div class="item away"
      [ngClass]="isGameOn ? 'white-bg' : '' || (isShowNews['away'] || isShowNews['home']) ? 'active' : ''"
      (touchstart)="show($event, 'away', className, awayId, challengeId, game)">
      <div class="item-hidden-block">
       <app-statistic [show]="showMoreInfoAway" [keys]="standingKeys" [stats]="stats" [homeId]="homeId" [awayId]="awayId"></app-statistic>
      </div>
      <div class="item-article" *ngIf="isShowNews['away']">
        <app-article [news]="awayNews" [side]="'away'" (onOpen)="openArticle($event)"></app-article>
      </div>
      <div class="item-show-block">
        <div class="trophy-box" *ngIf="challengeId" (click)="navigateChallenge(challengeId, game)">
          <app-ico-svg [class]="'ico-trophy'"
            [src]="Constants.SRC.ICONS" [id]="'IcoTrophy'">
          </app-ico-svg>
        </div>
        <div class="item-label">
          <div class="item-city-name">{{away?.location}}</div>
        </div>
        <div class="item-avatar">
          <app-ico-svg [class]="'team-avatar'" [src]="src" [id]="'Ico'+ away?.logoName"></app-ico-svg>
          <div class="overlay"></div>
        </div>
        <div class="item-label">
          <div class="item-city-name">{{away?.location}}</div>
          <div class="item-team-name">{{away?.name}}</div>
        </div>
      </div>
      <div class="item-triangle" (click)="show($event, 'away', className, awayId)"></div>
    </div>
    <div (click)="showNews('away')" class="ico-plus"></div>
    <div class="item-refresh" 
        *ngIf="isShowNews['away'] && awayNews.length || isShowNews['home'] && homeNews.length"
        (click)="updateNews(showMoreInfoAway ? awayId : homeId)">
      <app-ico-svg [class]="'ico-refresh'" [src]="Constants.SRC.ICONS" [id]="'IcoRefresh'"></app-ico-svg>
    </div>
    <div class="game-center">
      <div class="game-month">{{ game.gameDate | date:'MMM' }}</div>
      <div class="game-timer" *ngIf="isGameOn || isGameOver">
        {{ awayScore | number: '2.0' }}:{{ homeScore | number: '2.0' }}</div>
      <app-vs [class]="'small'" *ngIf="isGameScheduled" (click)="showGame()"></app-vs>
      <div class="game-number">{{ game.gameDate | date:'dd' }}</div>
    </div>

    <div class="item home" [ngClass]="{'white-bg': isGameOn}" (touchstart)="show($event, 'home', className, homeId)">
      <div class="item-hidden-block">
        <app-statistic [show]="showMoreInfoHome" [keys]="standingKeys" [stats]="stats" [homeId]="homeId" [awayId]="awayId"></app-statistic>
      </div>
      <div class="item-article" *ngIf="isShowNews['home']">
        <app-article [news]="homeNews" [side]="'home'" (onOpen)="openArticle($event)"></app-article>
      </div>
      <div class="item-triangle" (click)="show($event, 'home', className, homeId)"></div>
      <div class="item-show-block">
        <div class="item-label">
          <div class="item-city-name">{{home?.location}}</div>
        </div>
        <div class="item-avatar">
          <app-ico-svg [class]="'team-avatar'" [src]="src"
            [id]="game.sport === 'nfl' ? 'Ico'+ home?.logoName + '-home': 'Ico'+ home?.logoName">
          </app-ico-svg>
          <div class="overlay"></div>
        </div>
        <div class="item-label">
          <div class="item-city-name">{{home?.location}}</div>
          <div class="item-team-name">{{home?.name}}</div>
        </div>
        <div class="check-box"
          *ngIf="!isGameOver && (bids && bids[game.gamePk] && bids[game.gamePk][user?.uid]) && !game.gameData">
          <app-ico-svg [class]="'ico-check'" [src]="Constants.SRC.ICONS" [id]="'IcoCheck'">
          </app-ico-svg>
        </div>
      </div>
    </div>
    <div class="game-info">
      <div class="item-title">game time</div>
      <div class="item-time">
        <ng-container *ngIf="!isGameOver">
          {{ gameTime | date:'h' }}:{{ gameTime | date:'mm' }}{{ gameTime | date:'aa' }}
        </ng-container>
        <ng-container *ngIf="isGameOver">finished</ng-container>
      </div>
      <div class="game-score-wrap">
        <div class="item-bids-wrap">
          <div class="item-bids">{{bid.count | number: '2.0'}} <span>bids</span></div>
        </div>
        <div class="final-score" *ngIf="isGameOver || isGameOn">
          <div class="final-score-ttl">{{ (isGameOver ? 'final ' : '') || (isGameOn ? 'current ' : '')}}score</div>
          <span>{{ awayScore | number: '2.0' }}:{{ homeScore | number: '2.0' }}</span>
        </div>
        <div class="trophy-laurel-block" *ngIf="isGameOver">
          <app-ico-svg [class]="'ico-laurel'" [src]="Constants.SRC.ICONS" [id]="'IcoLaurel'"></app-ico-svg>
          <app-ico-svg [class]="'ico-trophy'" [src]="Constants.SRC.ICONS" [id]="'IcoTrophyBig'"></app-ico-svg>
        </div>
        <div class="period-wrap" *ngIf="linescore && isGameOn">
          <div>
            <p><strong>{{game?.sport==='nfl'?'Q':'P'}}: {{linescore?.currentPeriod ||
                game.liveData?.plays.currentPlay?.about.period}}</strong></p>
          </div>
          <div>
            <p [style.font-size]="timePeriod.length < 10 ? '11px' : '9px'"><strong>{{ timePeriod }}</strong></p>
          </div>
        </div>
        <div class="item-teams-wrap" *ngIf="!isGameOver && !isGameOn && !isGameOn">
          <div class="item-away">
            <div class="item-avatar">
              <app-ico-svg [class]="'team-avatar'" [src]="src" [id]="'Ico'+ away?.logoName"></app-ico-svg>
              <div class="overlay"></div>
            </div>
            <div (click)="openNumpad('away')" class="item-score">{{bid.away|number:'2.0'}}</div>
          </div>
          <app-vs *ngIf="isGameScheduled" (click)="showGame()"></app-vs>
          <div class="item-home">
            <div class="item-avatar">
              <app-ico-svg [class]="'team-avatar'" [src]="src"
                [id]="game.sport === 'nfl' ? 'Ico'+ home?.logoName + '-home' : 'Ico'+ home?.logoName"></app-ico-svg>
              <div class="overlay"></div>
            </div>
            <div (click)="openNumpad('home')" class="item-score">{{bid.home|number:'2.0'}}</div>
          </div>
        </div>
      </div>
      <div class="amount-wrap" *ngIf="!isGameOver && !isGameOn">
        <div class="item-slider">
          <ion-range #rangeAway (ionChange)="onIonChange($event, 'away')" class="left" [min]="0"
            [max]="Constants.GRID_PREFS[game.sport]?.max">
          </ion-range>
        </div>
        <div (click)="openNumpad()" class="item-amount">
          <div class="item-amount-ico">
            <app-ico-svg [class]="'ico-amount'" [src]="Constants.SRC.ICONS" [id]="'IcoAmount'"></app-ico-svg>
          </div>
          <span>{{bid?.amount | number:'1.2'}}</span>
        </div>
        <div (click)="showGame()" [hidden]="(bid.balance&&isChallengeGame&&isGameScheduled) || isGameOver"
          class="place-bid-wrap{{bid.balance&&isChallengeGame&&isGameScheduled?' active':''}}">
          <div [hidden]="!countdown" class="place-bid-timer active">
            {{ countdown }}
          </div>
          <app-ico-svg [id]="'IcoClock'"></app-ico-svg>
        </div>
        <div class="flipper-container " *ngIf="webFlipperBtn" class="{{isFlipped ? ' active' : '' }}{{isMatrixPage ? ' disabled' : ''}}"
          [hidden]="!bid.balance || !isGameScheduled || !isChallengeGame">
          <div class="flipper">
            <div class="front" (click)="pressed(Constants.BIDS.SINGLE)">
              single <span>bid</span>
            </div>
            <div class="back" (click)="pressed(Constants.BIDS.MATRIX)">
              matrix <span>bid</span>
            </div>
          </div>
        </div>
        <div class="flipper-container " *ngIf="!webFlipperBtn" class="{{isFlipped ? ' active' : '' }}{{isMatrixPage ? ' disabled' : ''}}"
          [hidden]="!bid.balance || !isGameScheduled || !isChallengeGame" (click)="flipped()">
          <div class="flipper">
            <div class="front" (touchstart)="pressed(Constants.BIDS.SINGLE)" (touchend)="pressedFinish($event)">
              single <span>bid</span>
            </div>
            <div class="back" (touchstart)="pressed(Constants.BIDS.MATRIX)" (touchend)="pressedFinish($event)">
              matrix <span>bid</span>
            </div>
          </div>
        </div>
        <div class="item-slider">
          <ion-range #rangeHome (ionChange)="onIonChange($event, 'home')" class="right" [min]="0"
            [max]="Constants.GRID_PREFS[game.sport]?.max">
          </ion-range>
        </div>
      </div>
    </div>
  </div>
  <app-number-keyboard *ngIf="showNumpad" (onSubmit)="submit($event)" (onClose)="closeNumpad()">
  </app-number-keyboard>
</div>