@import "../../../theme/new-variables.scss";
$game-bg: #EDEDED;
$game-border: #d0d0d0;
$primary-text-color: #c8c8c8;
$timer: #313131;

:host {
  ::ng-deep {
    .games-wrapper {
      app-game {
        &:first-of-type {
          &+.skeleton-loader {
            height: 172px;
          }
        }
      }
    }

    .game-wrap {
      &.activated {
        .team-avatar {
          width: 82px;
          height: 82px;

          @media #{$tablet, $desktop} {
            width: 100px;
            height: 100px;
          }

          @media #{$mobileXs} {
            width: 62px;
            height: 62px;
          }
        }

        .ico-trophy {
          left: 19px;
          width: 16px;
          height: 16px;

          @media #{$tablet, $desktop} {
            width: 24px;
            height: 24px;
          }

          @media #{$mobileXs} {
            left: 10px;
            width: 14px;
            height: 14px;
          }
        }

        .skeleton-loader {
          position: absolute;
          top: 0;
          width: 100%;
          height: 172px;
        }

        .trophy-box {
          left: 9px;
        }
      }

      .item-teams-wrap {
        .team-avatar {
          width: 45px;
          height: 45px;

          @media #{$tablet, $desktop} {
            width: 55px;
            height: 55px;
          }
        }
      }

      .item-amount {
        .ico-amount {
          width: 20px;
          height: 24px;
        }
      }
    }

    .skeleton-loader {
      width: 100%;
      height: 64px;
    }

    .skeleton-wrap {
      margin-top: 24px;

      .activated {
        .skeleton-loader {
          height: 172px;
        }
      }

      .skeleton-loader {
        margin-bottom: 6px;
        height: 64px;
        width: 100%;
      }
    }

    .article-skeleton {
      min-height: 180px;
    }

    .team-avatar {
      width: 30px;
      height: 30px;

      @media #{$tablet, $desktop} {
        width: 38px;
        height: 38px;
      }
    }

    .place-bid-wrap {
      .icon {
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);

        @media #{$tablet, $desktop} {
          width: 27px;
          height: 27px;
        }
      }
    }

    .trophy-box {
      padding: 10px;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    .check-box {
      padding: 10px;
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
    }

    .ico-trophy {
      width: 14px;
      height: 14px;

      @media #{$tablet, $desktop} {
        height: 18px;
        width: 18px;
      }
    }

    .ico-check {
      width: 14px;
      height: 14px;
    }

    .game-score-wrap {
      .trophy-laurel-block {
        position: relative;

        .ico-laurel {
          width: 70px;
          height: 60px;
          --filter-left: url('/assets/icons/icons.svg#filter-left');
          --filter-right: url('/assets/icons/icons.svg#filter-right');
        }

        .ico-trophy {
          width: 28px;
          height: 30px;
          position: absolute;
          top: 15px;
          left: 50%;
          transform: translateX(-50%);
          --stroke: #C8202F;
          --filter-left: url('/assets/icons/icons.svg#filter-trophy');
        }
      }
    }

    .backdrop {
      position: absolute !important;
      align-items: flex-start !important;

      .number-keyboard-wrap {
        margin-top: 177px;

        @media #{$mobileXs} {
          margin-top: 158px;
        }

        @media #{$tablet, $desktop} {
          margin-top: 183px;
        }

        @media #{$desktop} {
          margin-top: 218px;
        }
      }
    }

    .ico-refresh {
      width: 14px;
      height: 14px;
      margin-left: 1px;

      @media #{$tablet, $desktop} {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.game-wrap {
  height: 64px;
  // height: 100px;
  margin-bottom: 5px;
  position: relative;
  z-index: 2;

  @media #{$tablet, $desktop} {
    // zoom: 1.25;
    height: 80px;
    margin-bottom: 7px;
  }

  @media #{$desktop} {
    // zoom: 1.35;
  }

  .game-inner {
    display: flex;
    justify-content: space-between;
    background: $four-theme-color;
    position: relative;
    transition: all .4s;
  }

  &.disabled {

    .game-inner {
      background: $game-bg;
    }

    &.end-game {
      .game-inner {
        background: $game-bg;
      }
    }

    .item {
      width: calc(50% - 1.5px);

      &.away {
        background-image: url('/assets/bgs/bg-disabled-left.svg');
      }

      &.home {
        background-image: url('/assets/bgs/bg-disabled-right.svg');
      }
    }

    .game-center {

      .game-month,
      .game-number {
        color: rgba(0, 0, 0, 0.6);
      }

      .game-month {
        top: 3px;
      }

    }
  }

  &.activated {
    height: 172px;
    position: relative;
    // box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    overflow: hidden;
    z-index: 3;

    @media #{$tablet, $desktop} {
      height: 215px;
    }

    .game-inner {
      background: #ADADAD;
      height: 100%;
      width: 200%;
      transform: translateX(-25%);

      &.active-away {

        .away {
          width: 50%;
          transform: translateX(50%);
          z-index: 5;
        }

        .home {
          transform: translateX(50%);
        }

        .ico-plus {
          display: block;
        }

        app-vs {
          opacity: 0;
        }

        .place-bid-wrap,
        .flipper-container {
          opacity: 0;
        }

        .item-triangle {
          transform: rotate(-180deg);
          margin-top: -8px;

          @media #{$tablet, $desktop} {
            margin-top: -12px;
          }
        }

        .item-show-block {
          width: 50%;
        }

        .place-bid-wrap,
        .flipper-container {
          z-index: 1;
        }
      }

      &.active-home {

        .home {
          width: 50%;
          transform: translateX(-50%);
          z-index: 5;
        }

        .away {
          transform: translateX(-50%);
        }

        app-vs {
          opacity: 0;
        }

        .place-bid-wrap,
        .flipper-container {
          opacity: 0;
        }

        .item-triangle {
          transform: rotate(180deg);
          margin-top: -8px;
        }

        .item-show-block {
          width: 50%;
        }

        .place-bid-wrap,
        .flipper-container {
          z-index: 1;
        }

        .ico-plus {
          left: auto;
          right: 37.5%;
          display: block;
        }

        .item-refresh {
          left: auto;
          right: 59.5%;

          @media #{$tablet, $desktop} {
            // right: calc(25% + 18px);
          }
        }

        .item-article {
          left: auto;
          right: 0;
        }
      }

      app-vs {
        pointer-events: none;
      }

      .ico-plus {
        display: none;
        width: 20px;
        height: 20px;
        background: #4556F3;
        border: 1px solid #fff;
        border-radius: 50%;
        position: absolute;
        bottom: -9px;
        left: 37.5%;
        transform: translateX(-50%);
        z-index: 6;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        @media #{$tablet, $desktop} {
          width: 25px;
          height: 25px;
          bottom: -11px;
        }

        &:after,
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: #fff;
          transition: all .4s;
        }

        &:after {
          height: 2px;
          width: 12px;
        }

        &:before {
          width: 2px;
          height: 12px;
        }
      }

      .item-refresh {
        display: none;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 59.5%;
        bottom: -9px;
        background: #fff;

        border-radius: 50%;
        box-shadow: 0px 1px 4px rgb(0 0 0 / 35%);
        z-index: 7;

        @media #{$tablet, $desktop} {
          width: 25px;
          height: 25px;
          // left: calc(75% - 70px);
          bottom: -11px;
        }

        app-ico-svg {
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 1;
          transform: translate(-50%, -50%);
        }

        &:after {
          content: '';
          display: block;
          width: 18px;
          height: 18px;
          // border: 1px solid #b8b7b6;
          align-items: center;
          justify-content: center;

          background: #06860b;
          border-radius: 50%;
          position: absolute;
          left: 1px;
          top: 1px;

          @media #{$tablet, $desktop} {
            width: 23px;
            height: 23px;
          }
        }
      }

      .active {
        &+.ico-plus {
          &:before {
            transform: translate(-50%, -50%) rotate(-90deg);
          }

          &+.item-refresh {
            display: flex;
          }
        }
      }

      &.show {
        background: #fff;

        .away {
          transform: translateX(calc(-50% + 37px));

          @media #{$tablet, $desktop} {
            transform: translateX(calc(-50% + 50px));
          }

          .item-triangle {
            left: calc(100% - 12px);

            @media #{$tablet, $desktop} {
              left: calc(100% - 18px);
            }
          }
        }

        .home {
          transform: translateX(calc(50% - 37px));

          @media #{$tablet, $desktop} {
            transform: translateX(calc(50% - 50px));
          }

          .item-triangle {
            right: calc(100% - 12px);

            @media #{$tablet, $desktop} {
              right: calc(100% - 18px);
            }
          }
        }

        app-vs {
          pointer-events: inherit;
        }

        .amount-wrap {
          .item-amount {
            display: inline-block;
            margin: 0 15px;
            margin-top: 33px !important;
            bottom: -5px;

            @media #{$tablet, $desktop} {
              bottom: -3px;
            }
          }
        }

        .place-bid-wrap,
        .flipper-container {
          display: none;
        }
      }

      .away {
        .item-show-block {
          padding-left: 10px;
        }
      }

      .home {
        .item-show-block {
          padding-right: 10px;
        }
      }

      .item-article {
        position: absolute;
        top: 100%;
        left: 0;
        padding: 7px 6px;
        width: calc(100% - 24px);
        background: #fff;
        border: 1px solid #e6e4e4;

        @media #{$tablet, $desktop} {
          width: calc(100% - 31px);
        }
      }

      .item-show-block {
        width: calc(50% - 10px);
        flex-direction: column;
        position: relative;
      }

      .item-hidden-block {
        display: flex;
        background: #EBEBEB;
        width: 50%;
        height: 100%;
        // height: calc(100% - 4px);
        transition: all .4s;
        // position: absolute;
        // left: 8px;
        // top: 8px;
        // bottom: 8px;
        right: 15px;
        overflow: auto;
      }
    }

    app-vs {
      top: -1px;
    }

    .game-center {
      display: none;
    }

    .game-info {
      display: block;
    }

    .item-avatar {
      .overlay {
        border: none;
      }
    }

    .item {
      width: calc(50% - 10px);
      // height: 163px;
      height: 100%;
      // width: 50%;
      // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      // background-size: 217px;
      background-size: cover;

      flex-direction: column;
      transition: transform .4s;
      z-index: 2;
      display: flex;
      flex-direction: row-reverse;

      .item-show-block {
        &>.item-label {
          margin: 0 !important;
          display: block;
        }

        .item-avatar {
          margin: 10px 0 3px;

          &+.item-label {
            .item-city-name {
              display: none;
            }
          }
        }
      }

      .item-triangle {
        width: 0;
        height: 0;
        border-style: solid;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
      }


      &.away {
        background-image: url('/assets/bgs/banner-left.svg');
        flex-direction: row;
        background-position: center right;
        padding-right: 20px;
        margin-left: 0;

        &.white-bg {
          background-image: url('/assets/bgs/banner-left.svg');
        }

        .item-triangle {
          border-width: 8px 0 8px 9px;
          border-color: transparent transparent transparent $primary-theme-color;
          left: calc(100% - 34px);

          @media #{$tablet, $desktop} {
            border-width: 12px 0 12px 13px;
          }
        }

        &:before,
        &:after {
          background-color: #E6E4E4;
          width: calc(100% - 24px);

          @media #{$tablet, $desktop} {
            width: calc(100% - 32px);
          }
        }
      }

      &.home {
        background-image: url('./../../../assets/bgs/banner-right.svg');
        background-position: center left;
        padding-left: 20px;
        margin-right: 0;

        &.white-bg {
          background-image: url('/assets/bgs/banner-right.svg');
        }

        .item-triangle {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 9px 8px 0;
          border-color: transparent $primary-theme-color transparent transparent;
          right: calc(100% - 34px);
          z-index: 10;

          @media #{$tablet, $desktop} {
            border-width: 12px 13px 12px 0;
          }
        }

        &:before,
        &:after {
          background-color: #E6E4E4;
          width: calc(100% - 24px);

          @media #{$tablet, $desktop} {
            width: calc(100% - 32px);
          }
        }
      }

      .item-city-name {
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 1px;

        @media #{$tablet, $desktop} {
          font-size: 16px;
        }
      }

      .item-team-name {
        font-family: $NS;
        font-size: 16px;
        text-transform: uppercase;

        @media #{$tablet, $desktop} {
          font-size: 18px;
        }
      }
    }
  }

  &.end-game {
    box-shadow: none;

    .game-inner {
      background: #fff;
    }

    .game-info {
      .game-score-wrap {
        height: calc(100% - 28px);
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }

      // .final-score {
      //   display: flex;
      // }

      .trophy-laurel-block {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        position: relative;
        top: 3px;

        @media #{$tablet, $desktop} {
          top: -3px;
        }
      }

      .period-wrap {
        background: #EBEBEB;
        border-radius: 1px;
        height: 45px;
        width: 69px;
        padding: 5px 2px;
        text-align: center;
        display: flex;
        flex-direction: column;

        @media #{$tablet, $desktop} {
          width: 80px;
          height: 55px;
          margin-bottom: 6px;
        }

        div {
          height: 50%;
        }

        // h3 {
        //   margin: 0;
        //   font-size: 8px;
        //   color: #fff;
        //   text-transform: uppercase;
        // }

        p {
          margin: 0;
          font-size: 11px;
          color: #c5c5c5;
          height: 100%;
          margin-top: 2px;

          @media #{$tablet, $desktop} {
            font-size: 12px;
          }

          strong {
            color: #8d8d8d;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .item {
    width: calc(50% - 2px);
    height: 64px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;

    @media #{$tablet, $desktop} {
      height: 80px;
    }

    .item-show-block {
      &>.item-label {
        display: none;
      }

      &>.item-avatar {
        display: block;

        &+.item-label {
          display: block;
        }
      }
    }

    &-avatar {
      position: relative;

      &:after {
        content: '';
        display: block;
        width: calc(100% - 0px);
        height: calc(100% - 0px);
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 50%;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, .1) inset;
      }

      .overlay {
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: -3px;
        left: -3px;
        z-index: -1;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, .35) inset;
        // border: 1px solid #fff;
      }
    }

    &.away {
      justify-content: right;
      padding: 8px 32px 8px 8px;
      background-image: url('/assets/bgs/bg-left.svg');
      background-position: right;
      flex-direction: row-reverse;
      margin-left: -1px;

      &.white-bg {
        background-image: url('/assets/bgs/bg-white-left.svg');
      }

      .item-label {
        margin-right: 9px;
      }

      .item-team-name {
        justify-content: end;
        text-align: inherit;
      }

      .item-city-name {
        text-align: right;
      }

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        background-color: #d0d0d0;
        height: 1px;
        width: calc(100% - 13px);

        @media #{$tablet} {
          width: calc(100% - 25px);
        }

        @media #{$desktop} {
          width: calc(100% - 18px);
        }
      }

      &:before {
        content: '';
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }

    &.home {
      justify-content: left;
      padding: 8px 8px 8px 32px;
      background-image: url('./../../../assets/bgs/bg-right.svg');
      background-position: center left;
      margin-right: -1px;

      &.white-bg {
        background-image: url('/assets/bgs/bg-white-right.svg');
      }

      .item-label {
        margin-left: 9px;
      }

      .item-team-name {
        justify-content: start;
      }

      .item-city-name {
        text-align: left;
      }

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        background-color: #d0d0d0;
        height: 1px;
        width: calc(100% - 13px);

        @media #{$tablet} {
          width: calc(100% - 25px);
        }

        @media #{$desktop} {
          width: calc(100% - 18px);
        }
      }

      &:before {
        content: '';
        top: 0;
      }

      &:after {
        bottom: 0;
      }

    }

    &-city-name {
      font-family: $RMB;

      font-size: 12px;
      // font-size: 1.4vh;

      text-align: right;
      text-transform: capitalize;

      color: #b1aaaa;

      @media #{$tablet, $desktop} {
        font-size: 15px;
      }

      @media #{$mobileXs} {
        font-size: 10px;
      }

      // text-shadow: 0 1px 1px rgba(0,0,0,0.25) inset;
    }

    &-team-name {
      font-family: $RMB;

      font-size: 14px;
      // font-size: 1.65vh;

      display: flex;
      align-items: center;
      text-align: right;
      text-transform: capitalize;
      color: $gray;

      @media #{$tablet, $desktop} {
        font-size: 18px;
      }

      // text-shadow: 0 1px 1px rgba(0,0,0,0.25) inset;
      @media #{$mobileXs} {
        font-size: 12px;
      }
    }

    .item-show-block {
      width: 100%;
      display: flex;
      flex-direction: inherit;
      align-items: center;
    }

    .item-hidden-block {
      display: none;
      width: 50%;
      flex-direction: column;
      align-items: center;
    }
  }

  app-vs {
    position: relative;
    z-index: 3;
    transition: all 0.4s .2s;
    opacity: 1;
  }

  .game-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    .game-month,
    .game-number {
      font-size: 10px;
      // font-size: 1.2vh;
      font-family: $RM;
      // font-weight: 600;
      text-transform: uppercase;
      color: rgba(69, 86, 243, 0.8);

      @media #{$tablet, $desktop} {
        font-size: 12px;
      }
    }

    .game-month {
      position: relative;
      top: 4px;

      @media #{$tablet, $desktop} {
        top: 7px;
      }
    }

    .game-number {
      position: relative;
      bottom: 4px;

      @media #{$tablet, $desktop} {
        bottom: 7px;
      }
    }

    .game-timer {
      background: rgba(227, 227, 227, 0.85);
      border: 1px solid #8A8A8A;
      border-radius: 3px;
      font-family: $RB;
      font-size: 12px;
      // font-size: 1.4vh;
      color: #313131;
      padding: 3px;
      width: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    app-vs {
      display: block;
    }
  }

  .game-info {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .item-title {
      font-family: $IB;
      // font-size: 1.2vh;
      font-size: 10px;
      text-align: center;
      color: #FFFFFF;
      background: #adadad;
      text-transform: uppercase;
      padding: 2px 0;
      height: 16px;

      @media #{$tablet, $desktop} {
        height: 20px;
        font-size: 12px;
      }
    }

    .item-time {
      font-family: $IB;
      // font-size: 1.2vh;
      font-size: 10px;
      text-align: center;
      color: #000000;
      background: #fff;
      text-transform: uppercase;
      height: 12px;

      @media #{$tablet, $desktop} {
        height: 15px;
        font-size: 12px;
      }
    }

    .game-score-wrap {
      background: #adadad;

      .item-bids-wrap {
        background: #adadad;
      }

      .item-bids-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px 3px 2px;

        @media #{$tablet, $desktop} {
          padding: 5px 3px 4px;
        }
      }

      .item-bids {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 3px;
        font-family: $RB;
        font-size: 14px;
        color: #000;
        text-align: center;
        display: inline-block;
        padding: 2px 12px 1px;
        height: 32px;
        min-width: 68px;

        @media #{$tablet, $desktop} {
          font-size: 18px;
          height: 40px;
          width: 82px;
        }

        span {
          display: block;
          font-size: 11px;
          // line-height: 8px;
          text-transform: uppercase;
          color: rgba(131, 131, 131, 1);
          line-height: 8px;
          font-family: inherit;

          @media #{$tablet, $desktop} {
            font-size: 14px;
          }
        }
      }
    }

    .final-score {
      // display: none;
      background: $primary-theme-color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 3px;
      font-family: $RB;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      height: 46px;
      width: 115px;
      // display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      flex-direction: column;
      z-index: 3;
      margin: 0 auto;
      padding: 3px 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 63px;

      @media #{$tablet, $desktop} {
        font-size: 27px;
        height: 55px;
        top: 80px;
      }

      &-ttl {
        font-size: 12px;
        font-family: inherit;

        @media #{$tablet, $desktop} {
          font-size: 14px;
        }
      }

      span {
        font-family: inherit;
        line-height: 22px;
      }
    }

    .item-teams-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 42px;

      @media #{$tablet, $desktop} {
        height: 46px;
      }

      &:after {
        content: '';
        display: block;
        height: 21px;
        width: 100%;
        background: $yellow-theme-color;
        position: absolute;
        left: 0;
        bottom: 11px;
        z-index: 0;

        @media #{$tablet, $desktop} {
          height: 28px;
          bottom: 8px;
        }
      }


      .item-avatar {

        .overlay {
          box-shadow: none;

          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: linear-gradient(rgba(0, 0, 0, 0.2), #fff 100%);
          }
        }
      }

      .item-away {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        .item-score {
          background-image: url('../../../assets/bgs/score-left.svg');
          right: -10px;
        }

        .item {
          transition: all .4s;
        }

        .item-avatar {
          position: absolute;
          right: 100%;
          right: calc(100% - 3px);
          top: -4px;
        }
      }

      .item-home {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        .item-score {
          background-image: url('../../../assets/bgs/score-right.svg');
          left: -10px;
          padding-right: 8px;
        }

        .item {
          transition: all .4s;
        }

        .item-avatar {
          position: absolute;
          left: 100%;

          left: calc(100% - 3px);
          top: -4px;
        }
      }

      .item-score {
        font-family: $RCB;
        font-size: 24px;
        color: #000;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 3px 16px 3px 10px;
        width: 67px;
        text-align: center;
        position: relative;
        top: 0px;
        z-index: 1;

        @media #{$tablet, $desktop} {
          font-size: 27px;
          width: 78px;
          height: 40px;
        }
      }
    }

    .amount-wrap {
      background: #fff;
      height: 65px;
      display: flex;
      align-items: end;
      justify-content: center;

      @media #{$tablet, $desktop} {
        height: 85px;
      }

      .item-amount {
        display: none;
        min-width: 72px;
        text-align: center;
        border: 2px solid $red-theme-color;
        font-family: $RCB;
        font-size: 24px;
        color: #2F2F2F;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        position: relative;
        border-radius: 5px;
        height: 32px;
        transition: all .4s .2s;
        bottom: 0;

        @media #{$tablet, $desktop} {
          width: 79px;
          font-size: 26px;
          height: 38px;
        }

        &:after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 16px 11px 16px;
          border-color: transparent transparent $red-theme-color transparent;
          position: absolute;
          bottom: calc(100% + 2px);
          left: 50%;
          transform: translateX(-50%);
          z-index: 0;
        }

        &-ico {
          width: 32px;
          height: 32px;
          background: $red-theme-color;
          border-radius: 50%;
          position: absolute;
          bottom: calc(100% - 4px);
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
        }

        span {
          font-family: inherit;
        }
      }
    }

    .place-bid-wrap {
      display: block;
      font-family: $RB;
      // font-size: 1.4vh;
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      //background: #c6c6c6;
      //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 3px;
      padding: 7px 13px;
      width: 68px;
      height: 46px;
      position: relative;
      z-index: 3;
      overflow: hidden;
      opacity: 1;
      transition: all 0.4s .2s;
      margin: 18px 10px 0;

      @media #{$tablet} {
        width: 80px;
        height: 55px;
        margin: 18px 12px 0;
      }

      @media #{$desktop} {
        width: 86px;
        height: 55px;
        margin: 18px 12px 0;
      }

      &.active {
        background: $red-theme-color;
      }

      .place-bid-timer {
        font-family: $RCB;
        font-size: 14px;
        color: $primary-theme-color;
        text-align: center;
        background: #616161;
        border-radius: 1px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        @media #{$tablet, $desktop} {
          font-size: 16px;
        }
      }

      span {
        display: block;
        font-size: 24px;
        line-height: 20px;
        text-transform: uppercase;
      }
    }

    .item-slider {
      // width: 128px;
      width: 16%;

      @media #{$tablet, $desktop} {
        width: 155px;
      }

      ion-range {
        --bar-height: 8px;
        --bar-background: #fff;

        // --bar-background: rgba(176, 176, 176, 0.49);
        --bar-background: linear-gradient(#a6a6a6, #d4d4d4);
        --bar-background-active: rgba(176, 176, 176, 0.49);
        --bar-height: 6px;
        --bar-border-radius: 8px;
        --knob-background: #fff;
        --knob-size: 22px;
        --pin-background: #fff;
        z-index: 0;
        padding: 8px 0;

        @media #{$tablet, $desktop} {
          --knob-size: 32px;
          --bar-height: 8px;
        }



        &.left {
          padding-right: 5px;
          padding-left: 25px;
        }

        &.right {
          padding-left: 5px;
          padding-right: 25px;
        }

        &.range-pressed {
          &::part(knob) {
            &:after {
              background-image: url('./../../../assets/bgs/range-active.svg');
            }
          }
        }

        &::part(bar) {
          border: 1px solid rgb(192, 192, 192);
          box-shadow: inset 0 1px 3px rgb(0 0 0 / 15%);
          border-bottom: none;
        }

        &::part(knob) {
          border: 1px solid rgba(176, 176, 176, 0.49);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
          position: relative;
          transform: scale(1);

          &:after {
            content: '';
            display: block;
            background-image: url('./../../../assets/bgs/range.svg');
            background-position: 4px 4px;
            background-repeat: no-repeat;
            background-size: 15px;
            width: 100%;
            height: 24px;

            @media #{$tablet, $desktop} {
              background-position: 7px 7px;
              height: 31px;
              background-size: 19px;
            }
          }

          &:hover,
          &:active {
            &:after {
              background-image: url('./../../../assets/bgs/range-active.svg');
            }
          }
        }
      }
    }

    .trophy-laurel-block {
      display: none;
    }
  }
}

.flipper-container {
  display: block;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 66px;
  height: 46px;
  position: relative;
  z-index: 3;
  overflow: hidden;
  opacity: 1;
  transition: all 0.4s .2s;
  perspective: 1000;
  background: $red-theme-color;
  margin: 17px 0 1px;

  @media #{$tablet, $desktop} {
    width: 84px;
    height: 54px;
  }

  .front,
  .back {
    width: 100%;
    height: 100%;
    padding: 7px 13px;
    font-family: $RB;
    // font-size: 1.4vh;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media #{$tablet, $desktop} {
      font-size: 15px;
    }

    span {
      display: block;
      font-size: 24px;
      line-height: 20px;
      text-transform: uppercase;
      font-family: inherit;

      @media #{$tablet, $desktop} {
        font-size: 29px;
      }
    }
  }

  &.active {
    .flipper {
      transform: rotateY(180deg);
    }
  }

  &.disabled {
    pointer-events: none;
  }

  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .front,
  .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
  }


  .front {
    z-index: 2;
  }

  .back {
    transform: rotateY(180deg);
  }
}

.article {
  position: relative;
  margin-bottom: 15px;

  @media #{$tablet, $desktop} {
    margin-bottom: 30px;
  }

  &:before {
    content: '';
    display: block;
    width: 65%;
    height: 1px;
    background: #bbb;
    position: absolute;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);

    @media #{$tablet, $desktop} {
      top: calc(100% + 14px);
    }
  }
}