@import "../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .icon {
      width: 32px;
      height: 32px;
    }
  }
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-family: $IB;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  &+label {
    &::before {
      content: '';
      display: inline-block;
      width: 17px;
      height: 17px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 2px solid #fff;
      border-radius: 4px;
      // margin-right: 0.5em;
      background: transparent;
      box-sizing: border-box;
      margin-bottom: 8px;
    }
  }


  &:checked {
    &+label {
      &::before {
        border-color: #fff;
        background-color: $primary-theme-color;
      }
    }
  }
}