@import "../../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .icon {
      width: 36px;
      height: 36px;
    }
  }
}

ion-input {
  width: 100%;
  border: 1px solid #ccc;
  height: 40px;
  text-align: left;
  
  input {
      padding: 0 15px;
  }
}

.btn-wrap {
  margin-top: 10px;
  display: flex;
  grid-gap: 10px;
  justify-content: center;

  .btn-default {
    padding: 0;
  }
}