<div class="modal-wrapper">
  <div class="modal-close" (click)="cancel()">
    <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
  </div>
  <div class="modal-header"><h3>Create NBA batch</h3></div>
  <div class="modal-content">
    <div class="datetime-wrapper">
      <ion-input [(ngModel)]="start"></ion-input>
      <ion-button fill="clear" id="open-modal">
        <ion-icon icon="calendar"></ion-icon>
      </ion-button>

      <ion-modal trigger="open-modal" class="modal-datetime">
        <ng-template>
          <ion-content>
            <ion-datetime #popoverDatetime presentation="date-time" placeholder="Select Date"
              displayFormat="D MMM, YYYY HH:mm" min="2019" max="2022" (ionChange)="selectDate(popoverDatetime.value)">
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
    <div class="btn-wrap">
      <ion-button (click)="cancel()" class="btn-default transparent-white">Cancel</ion-button>
      <ion-button (click)="create(true); cancel()" class="btn-default green">Start on monday</ion-button>
      <ion-button (click)="create(); cancel()" class="btn-default green">Create</ion-button>
    </div>
  </div>
</div>