<div class="card">
  <div class="card-close">
    <ion-buttons>
      <ion-button (click)="cancel()">
        <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
      </ion-button>
    </ion-buttons>
  </div>
  <div class="card-title ion-text-center">{{ title }}</div>
  <ng-content></ng-content>
</div>