@import "../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .icon {
      width: 38px;
      height: 38px;

      @media #{$tablet} {
        width: 42px;
        height: 42px;
      }
    }
  }
}

.card {
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 12px 35px 34px;
  position: relative;

  @media #{$tablet} {
    max-width: 535px;
    margin: 0 auto;
  }

  @media #{$desktop} {
    max-width: 560px;
    margin: 0 auto;
  }

  &-title {
    font-family: $IB;
    // font-size: 2.1vh;
    font-size: 18px;
    line-height: 1.2;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 4px;

    @media #{$tablet} {
      font-size: 23px;
      margin-bottom: 15px;
    }
  }

  &-close {
    position: absolute;
    right: -26px;
    top: -18px;


    ion-button {
      height: 42px;
    }
    .icon {
      width: 36px;
      height: 36px;
    }
  }
}