<div class="team-box{{selected?' selected':''}}">
  <app-avatar [src]="src" [show]="show" [id]="id"></app-avatar>
  <div *ngIf="!show" class="coming-soon">COMING <br/> SOON</div>
  <div class="team-box-title">{{title}}</div>
</div>