@import "../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .team-avatar {
      width: 38px;
      height: 38px;
    }
    .selected {
      .team-box-avatar {

        .overlay {
          border-color: $primary-theme-color;
          outline: #fff;
          background: #fff;
          z-index: 0;
        }
  
        .border {
          width: 50px;
          height: 50px;
          left: -1px;
          top: -1px;
          border: 1px solid #fff;
          background: transparent;
        }
  
        .bg {
          width: 54px;
          height: 54px;
          border-radius: 50%;
          background: #8CC63F;
          position: absolute;
          left: -3px;
          top: -3px;
          z-index: -1;
          border: none;
          box-shadow: 0px 4px 4px rgb(0 0 0 / 20%) inset;
        }
      }
    }
  }
}

.team-box {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media #{$tablet} {
    zoom: 1.25;
  }

  &.selected {
    .team-box-title {
      border-color: $primary-theme-color;
      background: $primary-theme-color;
    }
  }

  &-title {
    width: 60px;
    min-height: 14px;
    border: 1px solid $border-color;
    font-family: $RCM;
    font-size: 9px;
    // font-size: 1.08vh;
    text-transform: uppercase;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    background: #fff;
    margin-top: -6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
    // padding: 1px 0;
    text-align: center;
  }
}

.coming-soon {
  background: $warning;
  opacity: 0.6;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 1px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: $RCR;
  font-size: 10px;
  // font-size: 1.1vh;
  text-transform: uppercase;
  text-align: center;
  color: #000;

  position: absolute;
  top: 12px;
  z-index: 1;
}