<ion-content slot="fixed" class="auth-wrap">
  <div class="main bg">
    <div class="logo-box">
      <app-ico-svg [class]="'logo inverse'" [src]="'/assets/imgs/logo.svg#'" [id]="'Logo'"></app-ico-svg>
      <app-card [title]="'EMAIL'" (onCancel)="cancel()">
        <div class="logo-box-img">
          <app-ico-svg [id]="'IcoSignIn'"></app-ico-svg>
        </div>
        <form [formGroup]="SignUpForm" (submit)="signup()">
          <div class="form-group" [ngClass]="SignUpForm.controls['username'].touched && SignUpForm.controls['username'].hasError('required') ||
               (SignUpForm.controls['username'].hasError('pattern') && SignUpForm.controls['username'].touched) ? 
               'hasError' : '' || SignUpForm.controls['username'].valid ? 'validField' : ''">
            <div class="input-wrapper">
              <ion-input name="username" formControlName="username" type="text" placeholder="Username"
                class="input ion-padding-horizontal">
              </ion-input>
              <div class="input-icon">
                <app-ico-svg [id]="'IcoUser'"></app-ico-svg>
              </div>
            </div>
            <p>PLEASE type desired USERNAME
              <span>CASE SENSITIVE, ALPHA-NUMBERIC ONLY</span>
            </p>
            <small class="error-validation" style="margin: 5px 0 0 5px;"
              *ngIf="SignUpForm.controls['username'].hasError('required') && SignUpForm.controls['username'].touched">
              This field is required.
            </small>
            <small class="error-validation" style="margin: 5px 0 0 5px;" *ngIf="!isNameUnique && SignUpForm.controls['username'].touched">
              Name must be unique. A user with the same name already exists.
            </small>
            <small class="error-validation" style="margin: 5px 0 0 5px;"
              *ngIf="SignUpForm.controls['username'].hasError('pattern') && SignUpForm.controls['username'].touched">
              Please enter valid username.
            </small>
          </div>
          <div class="form-group" [ngClass]="SignUpForm.controls['email'].touched && SignUpForm.controls['email'].hasError('required') ||
               (SignUpForm.controls['email'].hasError('pattern') && SignUpForm.controls['email'].touched) ? 
              'hasError' : '' || SignUpForm.controls['email'].valid ? 'validField' : ''">
            <div class="input-wrapper">
              <ion-input type="email" placeholder="Email" name="email" formControlName="email"
                class="input ion-padding-horizontal"></ion-input>
              <div class="input-icon">
                <app-ico-svg [id]="'IcoLetter'"></app-ico-svg>
              </div>
            </div>
            <small class="error-validation" style="margin: 5px 0 0 5px;"
                *ngIf="SignUpForm.controls['email'].hasError('required') && SignUpForm.controls['email'].touched">
                This field is required.
              </small>
              <small class="error-validation" style="margin: 5px 0 0 5px;"
                *ngIf="SignUpForm.controls['email'].hasError('pattern') && SignUpForm.controls['email'].touched">
                Please enter valid e-mail address.
              </small>
          </div>
          <div class="form-group" [ngClass]="(SignUpForm.controls['password'].hasError('required') && SignUpForm.controls['password'].touched ||
              SignUpForm.controls['password'].hasError('pattern') && SignUpForm.controls['password'].touched) ? 'hasError' : '' || 
              SignUpForm.controls['password'].valid ? 'validField' : ''">
            <div class="input-wrapper">
              <ion-input [type]="!isVisible ? 'password' : 'text'" placeholder="Password" name="password"
                formControlName="password" class="input ion-padding-horizontal"></ion-input>
              <div class="input-icon">
                <app-ico-svg [id]="!isVisible ? 'IcoLock' : 'IcoLock'" [class]="'icon lock'"
                  (click)="isVisible = !isVisible"></app-ico-svg>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="SignUpForm.controls['password_confirmation'].hasError('required') 
              && SignUpForm.controls['password_confirmation'].touched || SignUpForm.value['password'] != SignUpForm.value['password_confirmation'] ?
          'hasError' : ''">
            <div class="input-wrapper">
              <ion-input (keyup.enter)="signup()" formControlName="password_confirmation" [type]="!isVisible ? 'password' : 'text'" placeholder="Confirm" name="password"
                 class="input ion-padding-horizontal"></ion-input>
              <div class="input-icon">
                <app-ico-svg [id]="!isVisible ? 'IcoLock' : 'IcoLock'" [class]="'icon lock'"
                  (click)="isVisible = !isVisible"></app-ico-svg>
              </div>
            </div>
          </div>
          <div>
            <small class="error-validation" style="margin-left: 5px"
              *ngIf="SignUpForm.controls['password'].touched && SignUpForm.controls['password_confirmation'].touched && SignUpForm.value['password'] != SignUpForm.value['password_confirmation']">
              Passwords do not match.
            </small>
            <small class="error-validation" style="margin-left: 5px"
              *ngIf="SignUpForm.controls['password'].hasError('required') && SignUpForm.controls['password'].touched">
              This field is required.
            </small>
            <small class="error-validation" style="margin-left: 5px;"
              *ngIf="SignUpForm.controls['password'].hasError('pattern') && SignUpForm.controls['password'].touched">
              The password must be from 6 to 32 characters, include at least 1 number, one small and one large
              letter
            </small>
          </div>
          <div class="btn-wrap">
            <button type="button" class="btn-default" (click)="signup()">REGISTER</button>
          </div>
        </form>
      </app-card>
    </div>
  </div>
</ion-content>