<ion-content class="ion-no-padding">
  <div class="main">
    <form [formGroup]="SignUpForm" (submit)="signup()">
      <ion-card class="ion-no-margin">
        <ion-card-content>
          <ion-row class="row">
            <div class="fire-logo">
              <img src="assets/app_logo.png" class="img-logo ion-padding">
              <img src="assets/slogan.png" class="img-logo ion-no-padding" style="width: 50%;">
            </div>
          </ion-row>
          <ion-row>
            <ion-col [ngClass]="SignUpForm.controls['username'].touched && SignUpForm.controls['username'].hasError('required') ||
             (SignUpForm.controls['username'].hasError('pattern') && SignUpForm.controls['username'].touched) ? 
             'hasError' : '' || SignUpForm.controls['username'].valid ? 'validField' : ''">
              <ion-input name="username" formControlName="username" clearInput type="text" placeholder="Choose Username"
                class="input ion-padding-horizontal" clear-input="true">
              </ion-input>
              <small>Username can contain letters and numbers</small>
              <small class="error-validation"
                *ngIf="SignUpForm.controls['username'].hasError('required') && SignUpForm.controls['username'].touched">
                This field is required.
              </small>
              <small class="error-validation" *ngIf="messageUniqueName && SignUpForm.controls['username'].touched">
                Name must be unique. A user with the same name already exists.
              </small>
              <small class="error-validation"
                *ngIf="SignUpForm.controls['username'].hasError('pattern') && SignUpForm.controls['username'].touched">
                Please enter valid username.
              </small>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col [ngClass]="SignUpForm.controls['email'].touched && SignUpForm.controls['email'].hasError('required') ||
             (SignUpForm.controls['email'].hasError('pattern') && SignUpForm.controls['email'].touched) ? 
            'hasError' : '' || SignUpForm.controls['email'].valid ? 'validField' : ''">
              <ion-input clearInput type="email" placeholder="Email" name="email" formControlName="email"
                class="input ion-padding-horizontal" clear-input="true"></ion-input>
              <small class="error-validation"
                *ngIf="SignUpForm.controls['email'].hasError('required') && SignUpForm.controls['email'].touched">
                This field is required.
              </small>
              <small class="error-validation"
                *ngIf="SignUpForm.controls['email'].hasError('pattern') && SignUpForm.controls['email'].touched">
                Please enter valid e-mail address.
              </small>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col [ngClass]="(SignUpForm.controls['password'].hasError('required') && SignUpForm.controls['password'].touched ||
            SignUpForm.controls['password'].hasError('pattern') && SignUpForm.controls['password'].touched) ? 'hasError' : '' || 
            SignUpForm.controls['password'].valid ? 'validField' : ''">
              <div class="input-password-wrapper">
                <ion-input clearInput [type]="!isVisible ? 'password' : 'text'" placeholder="Password" name="password"
                  formControlName="password" class="input ion-padding-horizontal" clear-input="true"></ion-input>
                <ion-icon slot="end" name="eye-off" [name]="!isVisible ? 'eye-off' : 'eye'"
                  (click)="isVisible = !isVisible"></ion-icon>
              </div>
              <small class="error-validation"
                *ngIf="SignUpForm.controls['password'].hasError('required') && SignUpForm.controls['password'].touched">
                This field is required.
              </small>
              <small class="error-validation"
                *ngIf="SignUpForm.controls['password'].hasError('pattern') && SignUpForm.controls['password'].touched">
                The password must be from 6 to 32 characters, include at least 1 number, one small and one large letter
              </small>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button class="default-button" type="submit" [disabled]="!SignUpForm.valid">Register</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="error ion-text-center">{{error}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="block ion-text-center">Already have an account ?
                <a class="bold link" routerLink="/login">Login here</a>
              </ion-text>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
      <!-- <ion-card no-margin>
        <ion-card-content>

          <ion-row class="row">
            <div class="fire-logo">
              <img src="assets/app_logo.png" class="img-logo" padding>
              <img src="assets/slogan.png" class="img-logo ion-no-padding" style="width: 50%;">
            </div>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input
               (keyup.enter)="signup()"
               clearInput 
               type="text"
                placeholder="Username" 
                [(ngModel)]="username"
                class="input" padding-horizontal clear-input="true">
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input (keyup.enter)="signup()" clearInput type="email" placeholder="Email" [(ngModel)]="email"
                class="input" padding-horizontal clear-input="true"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input (keyup.enter)="signup()" clearInput type="password" placeholder="Password"
                [(ngModel)]="password" class="input" padding-horizontal clear-input="true"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input (keyup.enter)="signup()" clearInput type="number" placeholder="Enter a number from 1 to 1000"
                [(ngModel)]="image" class="input" padding-horizontal clear-input="true"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="signup()" color="undefined" class="transition">
                <strong class="white">
                  Register</strong></ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="error ion-text-center">{{error}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="block ion-text-center">Already have an account ?
                <span class="bold" routerLink="/login">Login here</span></ion-text>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card> -->
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center footer">
      A Live Current™ Media, Inc. Production
    </ion-title>
  </ion-toolbar>
</ion-footer>