@import './../../../../theme/new-variables';

.btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 43px 0 20px;

  @media #{$mobileXs} {
    margin-top: 15px;
  }
}

.btn-default {
  padding: 0 8px;

  @media #{$tablet} {
    zoom: 1.25;
  }
}