@import "../../theme/variables.scss";

.qr-code-container {
  width: 165px;
  /* display: table-column; */
  text-align: center;
  border-width: 15px;
  border-style: solid;
  border-color: #66ffe3;
  border-radius: 10%;
}

.qr-code {
  position: relative;
  background-color: #e15915;
  width: 100% !important;
}

.qr-code:after {
  border-right: solid 10px transparent;
  border-left: solid 10px transparent;
  border-top: solid 10px #e74896;
  transform: translateX(-50%);
  position: absolute;
  z-index: inherit;
  content: "";
  top: 100%;
  left: 50%;
  height: 0;
  width: 0;
}

.winner {
  .goal {
    &:after {
      border: 1px solid #f04141;
      background: #fff;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
  }

  // &:after {
  //   content: "";
  //   display: block;
  //   width: 45px;
  //   height: 45px;
  //   position: absolute;
  //   border: 1px solid #f04141;
  //   background: transparent;
  //   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  //   border-radius: 50%;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  //   z-index: 10;

  //   @media #{$miniMobile} {
  //     width: 35px;
  //     height: 35px;
  //   }
  // }

  // ion-input {
  //   position: relative;
  //   z-index: 11;
  // }
}

.goal-wrap {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  flex-direction: column;
  // margin-top: 1px;
  width: 100%;
  height: 100%;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: block;
    color: inherit;
    font-size: 80%;
    position: relative;
    z-index: 11;

    @media #{$miniMobile} {
      font-size: 10px;
    }
  }
}

.winner {
  width: 30px;
  min-height: 30px;
  height: auto;
  margin: 0 auto;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // top: 50%;
  // margin: 0 !important;
  // left: 50%;
  // margin: -15px 0 0 -15px !important;
  // transform: translate(-50%, -50%);
  // transform-style: preserve-3d;
  @media #{$miniMobile} {
    width: 24px;
    min-height: 24px;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    padding: 3px;
    position: absolute;
    // border: 1px solid #bfbcbc;
    // background: #e5e5e5;
    // box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
    border-radius: 50%;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    z-index: 10;
    // transform: translate3d(0, 0, 1px);


    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #f04141;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
}

.goal {
  // position: absolute;
  width: 30px;
  min-height: 30px;
  height: auto;
  margin: 0 auto;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // top: 50%;
  // margin: 0 !important;
  // left: 50%;
  // margin: -15px 0 0 -15px !important;
  // transform: translate(-50%, -50%);
  // transform-style: preserve-3d;
  @media #{$miniMobile} {
    width: 24px;
    min-height: 24px;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    padding: 3px;
    position: absolute;
    border: 1px solid #bfbcbc;
    background: #e5e5e5;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
    border-radius: 50%;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    z-index: 10;
    // transform: translate3d(0, 0, 1px);


    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    content: '';
    display: block;
    background: #9d9d9d;
    position: absolute;
    z-index: 3;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 20%);
    // transform: translate3d(0, 0, 0px);
  }

  &.top {
    &:before {
      height: 15px;
      width: 1px;
      left: 50%;
      bottom: 100%;
    }
  }

  &.left {
    &:before {
      width: 150px;
      height: 1px;
      right: 100%;
      top: 50%;

      // @media #{$tabletL} {
      //   width: 100px;
      // }

      @media #{$tablet} {
        width: 90px;
      }

      @media #{$tabletPro} {
        width: 115px;
      }

      @media #{$miniMobile} {
        width: 30px;
      }
    }

    &.double {
      &:before {
        width: 320px;

        // @media #{$tabletL} {
        //   width: 220px;
        // }

        @media #{$tabletPro} {
          width: 210px;
        }

        @media #{$tabletProL} {
          width: 320px;
        }

        @media #{$tablet} {
          width: 180px;
        }

        @media #{$miniMobile} {
          width: 80px;
        }

        @media #{$mobileXs} {
          width: 60px;
        }
      }
    }
  }

  &.winner {
    &:after {
      border: 1px solid #f04141;
      background: #fff;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
  }
}

.readonly {
  background-color: #dddddd;
}

.tab-selected {
  font-weight: bold;
  background-color: #dddddd;
}

.no-right-padding {
  padding-right: 0 !important;
}

.pre-line {
  white-space: pre-line !important;
  font-size: smaller;
}

.user-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ and Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */

  @media #{$miniMobile} {
    font-size: 10px;
  }
}

h2 {
  @media #{$miniMobile} {
    font-size: 18px;
  }
}

div.break::after {
  content: "\A";
  white-space: pre;
}

.cell-disabled,
.cell-disabled2 {
  background: #d9d9d9;

  &.winner {
    box-shadow: inset 0 0 0 1px red;
    font-weight: bold;

    ion-input {
      background: transparent;
    }
  }

  ion-input {
    cursor: default;
    background: inherit;
  }
}

.cell-selected {
  position: relative;

  .fill-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;

    &+ion-input {
      z-index: 1;
    }

    &.active {
      &+ion-input {
        box-shadow: 2px 3px 4px #cc4448;
        margin-top: -1px;
        margin-left: -1px;
        // background: #a2a2a2 !important;
      }
    }
  }

  ion-input {
    background: #f5f5f5;
  }
}

.fill-overlay {
  &.active {
    &+ {
      ion-input {
        font-weight: bold;
      }
    }
  }
}

.btn-bar {
  ion-buttons {
    @media #{$miniMobile} {
      flex-wrap: wrap;
    }
  }

  ion-button {
    width: auto;
    margin-bottom: 10px;
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0 5px;

  div {
    font-size: 12px;
    font-weight: bold;
    color: $green;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      position: relative;
      display: inline-block;
      margin: 0 5px;

      &:after {
        content: "";
        display: block;
        height: 1px;
        width: 0%;
        background: #333;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all 0.3s;
      }
    }

    &:hover {
      span {
        &:after {
          width: 100%;
        }
      }
    }

    ion-icon {
      width: 18px;
      height: 18px;
    }
  }
}

.ios ion-row.iosheader {
  position: -webkit-sticky !important;
}

.ios ion-tab-bar {
  @media only screen and (min-width: 321px) {
    width: 100%;
    position: absolute;
  }
}

::ng-deep {
  .alert-head {
    .alert-sub-title {
      color: $light-gray;
      font-size: 13px;
    }

    h2.alert-title {
      text-align: center;
    }
  }
}