<ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title [ngClass]="{'without-btn' : !isInviteAdmin()}">
      {{isBid? ( this.invite?.name || (game.gameData?.teams.away.name ? (game.gameData?.teams.away.name +' @
      '+game.gameData?.teams.home.name) : 'Your Bids')):'Place Your Bids'}}
    </ion-title>
    <!-- <ion-buttons slot="start" *ngIf="!notLoggedUser">
      <ion-button [back]="invite_id ? 'private-games' : ((this.game || {sport:'nhl'}).sport || 'nhl') + '/' + challenge_id||''"
        [defaultHref]="((this.game || {sport:'nhl'}).sport || 'nhl') + '/' + challenge_id||''" aria-label="back">
        <ion-icon name="arrow-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="end" *ngIf="!notLoggedUser">
      <ion-button *ngIf="capacitor.getPlatform() !== 'web'" (click)="myapp.addScreenshot()">
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isInviteAdmin()" (click)="manageInvite(invite_id, $event)">
        <ion-icon slot="icon-only" name="create" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<style>
  @media only screen and (min-width: 640px) {
    .x640 {
      width: 50%;
    }
  }

  @media only screen and (min-width: 321px) {
    ion-row.header {
      font-weight: bold !important;
      font-size: 72% !important;
    }

    ion-col.header {
      font-weight: bold !important;
      font-size: 72% !important;
    }
  }

  .no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
  }

  ion-row.header {
    border-bottom: solid 2px #dddddd;
    font-size: 59%;
  }

  ion-input {
    font-size: 80%;
    --padding-start: 0;
    --padding-end: 0;
  }

  ion-col.header ion-input {
    font-size: 100% !important;
  }

  ion-col.header {
    border-right: solid 2px #dddddd;
    font-size: 59%;
  }

  ion-row {
    border-bottom: solid 1px #dddddd;
  }
</style>
<ion-content *ngIf="game" style="text-align: center;"
  class="ion-align-items-center ion-justify-content-center ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="loadSchedule($event)" close-duration="1500ms">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <h5 *ngIf="false" (click)="router.navigate(['/rules'])" class="ion-no-margin ion-text-left"
    style="font-size: medium; color: grey;">
    Rules of the SPRT MTRX
    <ion-icon name="link" style="vertical-align: text-bottom;"></ion-icon>
  </h5>
  <ion-grid (click)="moreStats=!moreStats" *ngIf="true" class="ion-align-items-center ion-justify-content-center"
    style="font-size: larger; max-width: 500px;">
    <ion-row class="ion-align-self-center" style="font-size: x-large;">
      <ion-col size="1" class="bold">
        &nbsp;
      </ion-col>
      <ion-col size="5" class="bold ion-align-self-center">
        {{game.gameData?.teams.away.name}}
      </ion-col>
      <ion-col size="1" class="bold ion-align-self-center">
        @
      </ion-col>
      <ion-col size="5" class="bold ion-align-self-center">
        {{game.gameData?.teams.home.name}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" class="bold">
        DATE
      </ion-col>
      <ion-col size="8">
        {{game.gameData?.datetime.dateTime|date:'yyyy-MM-dd'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" class="bold">
        TIME
      </ion-col>
      <ion-col size="8" *ngIf="game.gameData?.status.detailedState.indexOf('TBD') === -1">
        {{game.gameData?.datetime.dateTime|date:'h:mma'}}
      </ion-col>
      <ion-col size="8" *ngIf="game.gameData?.status.detailedState.indexOf('TBD') !== -1">
        {{game.gameData?.status.detailedState}}
      </ion-col>
    </ion-row>
    <ng-container
      *ngIf="(game.sport&&game.sport!=='nhl')&&standings[game.gameData?.teams.away.id]&&standings[game.gameData?.teams.home.id]&&moreStats">
      <ng-container *ngFor="let abbrv of standingKeys;">
        <ion-row>
          <ion-col size="3" class="bold">
            {{abbrv}}
          </ion-col>
          <ion-col size="4"
            class="{{abbrv==='POS'?(+standings[game.gameData.teams.away.id][abbrv]>+standings[game.gameData.teams.home.id][abbrv]?'red':'green'):''}}">
            {{standings[game.gameData?.teams.away.id][abbrv]||'-'}}
          </ion-col>
          <ion-col size="4"
            class="{{abbrv==='POS'?(+standings[game.gameData.teams.away.id][abbrv]<+standings[game.gameData.teams.home.id][abbrv]?'red':'green'):''}}">
            {{standings[game.gameData?.teams.home.id][abbrv]||''}}
          </ion-col>
        </ion-row>
        <ion-row
          *ngIf="game.sport==='nfl' && (abbrv=='PF' || abbrv=='PA') && standings[game.gameData?.teams.away.id]['TG'] && standings[game.gameData?.teams.home.id]['TG']">
          <ion-col size="3" class="ion-text-right">
            AVG
          </ion-col>
          <ion-col size="4">
            {{standings[game.gameData?.teams.away.id][abbrv]/standings[game.gameData?.teams.away.id]['TG']|number:'1.0-0'}}
          </ion-col>
          <ion-col size="4">
            {{standings[game.gameData?.teams.home.id][abbrv]/standings[game.gameData?.teams.home.id]['TG']|number:'1.0-0'}}
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-container *ngIf="game.odds">
        <ion-row *ngIf="game.odds.spread">
          <ion-col size="3" class="bold">
            SPRD
          </ion-col>
          <ion-col size="4">
            {{game.odds.spread*-1>0?'+':''}}{{game.odds.spread*-1}}
          </ion-col>
          <ion-col size="4">
            {{game.odds.spread>0?'+':''}}{{game.odds.spread}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="game.odds.awayTeamOdds&&game.odds.homeTeamOdds">
          <ion-col size="3" class="bold">
            LINE
          </ion-col>
          <ion-col size="4">
            {{game.odds.awayTeamOdds.moneyLine>0?'+':''}}{{game.odds.awayTeamOdds.moneyLine||'-'}}
          </ion-col>
          <ion-col size="4">
            {{game.odds.homeTeamOdds.moneyLine>0?'+':''}}{{game.odds.homeTeamOdds.moneyLine||'-'}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="game.odds.overUnder">
          <ion-col size="3" class="bold">
            O/U
          </ion-col>
          <ion-col size="8">
            {{game.odds.overUnder||'-'}}
          </ion-col>
        </ion-row>
      </ng-container>
    </ng-container>
    <ng-container
      *ngIf="(!game.sport||game.sport==='nhl')&&standings[game.gameData?.teams.away.id]&&standings[game.gameData?.teams.home.id]&&moreStats">
      <ion-row
        *ngIf="moreStats&&standings[game.gameData?.teams.away.id]['gamesPlayed']&&standings[game.gameData?.teams.home.id]['gamesPlayed']"
        class="" title="Games Played">
        <ion-col size="3" class="bold">
          GP
        </ion-col>
        <ion-col size="4">
          {{standings[game.gameData?.teams.away.id]['gamesPlayed']}}
        </ion-col>
        <ion-col size="4">
          {{standings[game.gameData?.teams.home.id]['gamesPlayed']}}
        </ion-col>
      </ion-row>
      <ion-row
        *ngIf="moreStats&&standings[game.gameData?.teams.away.id]['leagueRecord']&&standings[game.gameData?.teams.home.id]['leagueRecord']"
        class="" title="Wins">
        <ion-col size="3" class="bold">
          WINS
        </ion-col>
        <ion-col size="4">
          {{standings[game.gameData?.teams.away.id]['leagueRecord']['wins'] || 0}}
        </ion-col>
        <ion-col size="4">
          {{standings[game.gameData?.teams.home.id]['leagueRecord']['wins'] || 0}}
        </ion-col>
      </ion-row>
      <ion-row
        *ngIf="moreStats&&standings[game.gameData?.teams.away.id]['leagueRecord']&&standings[game.gameData?.teams.home.id]['leagueRecord']"
        class="" title="Losses">
        <ion-col size="3" class="bold">
          LOSSES
        </ion-col>
        <ion-col size="4">
          {{standings[game.gameData?.teams.away.id]['leagueRecord']['losses'] || 0}}
        </ion-col>
        <ion-col size="4">
          {{standings[game.gameData?.teams.home.id]['leagueRecord']['losses'] || 0}}
        </ion-col>
      </ion-row>
      <ion-row
        *ngIf="moreStats&&standings[game.gameData?.teams.away.id]['leagueRecord']['ot']&&standings[game.gameData?.teams.home.id]['leagueRecord']['ot']"
        class="" title="Number of Overtime Losses">
        <ion-col size="3" class="bold">
          OTL
        </ion-col>
        <ion-col size="4">
          {{standings[game.gameData?.teams.away.id]['leagueRecord']['ot']}}
        </ion-col>
        <ion-col size="4">
          {{standings[game.gameData?.teams.home.id]['leagueRecord']['ot']}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="moreStats&&standings[game.gameData?.teams.away.id]['points']" class="" title="Points">
        <ion-col size="3" class="bold">
          PTS
        </ion-col>
        <ion-col size="4"
          class="{{(standings[game.gameData?.teams.away.id].points > standings[game.gameData?.teams.home.id].points) ? 'green' : 'red'}}">
          {{standings[game.gameData?.teams.away.id]['points']}}
        </ion-col>
        <ion-col size="4"
          class="{{(standings[game.gameData?.teams.away.id].points > standings[game.gameData?.teams.home.id].points) ? 'red' : 'green'}}">
          {{standings[game.gameData?.teams.home.id]['points']}}
        </ion-col>
      </ion-row>
      <ion-row [hidden]="!moreStats"
        *ngFor="let record of standings[game.gameData?.teams.away.id]?.records?.overallRecords; index as i" class=""
        title="{{standings[game.gameData?.teams.away.id]['records']['overallRecords'][i]['type']}}">
        <ion-col size="3" class="bold ion-text-uppercase">
          {{(standings[game.gameData?.teams.away.id]['records']['overallRecords'][i]['type'])}}
        </ion-col>
        <ion-col size="4">
          {{standings[game.gameData?.teams.away.id]['records']['overallRecords'][i]['wins']}}-{{standings[game.gameData?.teams.away.id]['records']['overallRecords'][i]['losses']}}{{standings[game.gameData?.teams.away.id]['records']['overallRecords'][i]['ot']
          != null?'-':''}}{{standings[game.gameData?.teams.away.id]['records']['overallRecords'][i]['ot']}}
        </ion-col>
        <ion-col size="4">
          {{standings[game.gameData?.teams.home.id]['records']['overallRecords'][i]['wins']}}-{{standings[game.gameData?.teams.home.id]['records']['overallRecords'][i]['losses']}}{{standings[game.gameData?.teams.home.id]['records']['overallRecords'][i]['ot']
          != null?'-':''}}{{standings[game.gameData?.teams.home.id]['records']['overallRecords'][i]['ot']}}
        </ion-col>
      </ion-row>
      <ion-row
        *ngIf="moreStats&&standings[game.gameData?.teams.away.id]['goalsScored']&&standings[game.gameData?.teams.home.id]['goalsScored']"
        class="" title="Goals Scored">
        <ion-col size="3" class="bold">
          GF
        </ion-col>
        <ion-col size="4">
          {{standings[game.gameData?.teams.away.id]['goalsScored']}}
        </ion-col>
        <ion-col size="4">
          {{standings[game.gameData?.teams.home.id]['goalsScored']}}
        </ion-col>
      </ion-row>
      <ion-row
        *ngIf="moreStats&&standings[game.gameData?.teams.away.id]['goalsAgainst']&&standings[game.gameData?.teams.home.id]['goalsAgainst']"
        class="" title="Goals Against">
        <ion-col size="3" class="bold">
          GA
        </ion-col>
        <ion-col size="4">
          {{standings[game.gameData?.teams.away.id]['goalsAgainst']}}
        </ion-col>
        <ion-col size="4">
          {{standings[game.gameData?.teams.home.id]['goalsAgainst']}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="moreStats" class="" title="Current Streak">
        <ion-col size="3" class="bold">
          STRK
        </ion-col>
        <ion-col size="4">
          {{standings[game.gameData?.teams.away.id]['streak']['streakCode'] || '-'}}
        </ion-col>
        <ion-col size="4">
          {{standings[game.gameData?.teams.home.id]['streak']['streakCode'] || '-'}}
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row *ngIf="standings[game.gameData?.teams.away.id]&&standings[game.gameData?.teams.home.id]" class=""
      title="Detailed Statistics">
      <ion-col size="12" class="bold">
        <ion-button class="ion-text-uppercase" size="small" fill="outline" color="dark">{{moreStats?'hide':'more'}}
          stats</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="snapchatWrapper">
    <app-snapchat *ngIf="invite_id || game_id" [setInviteId]="invite_id" [setChallengeId]="challenge_id"
      [setGameId]="game_id" [setTeamId]="team_id" [setMyUid]="user?.uid" [notLoggedUser]="notLoggedUser"></app-snapchat>
  </div>
  <h2 [hidden]="isBid" style="text-align: center;">
    Bid: <div class="break" style="color: var(--ion-color-danger); display: inline;">{{grid.amount| number:'1.2'}}<div
        style="color: black; display: inline;">$M</div>
    </div>
    Available: <div style="color: var(--ion-color-danger); display: inline;">
      {{user.balance-grid.amount | number:'1.2'}}<div style="color: black; display: inline;">$M</div>
    </div>
    <!-- <ion-icon (click)="router.navigate(['/rules'])" name="info" class="blue"
      style="vertical-align: top; font-size: 90%; margin-left: 3px;"></ion-icon> -->
    <ion-icon (click)="router.navigate(['/how-to-play'])" name="info" class="blue"
      style="vertical-align: top; font-size: 90%; margin-left: 3px;"></ion-icon>
  </h2>
  <h2 [hidden]="true" style="text-align: center; color: var(--ion-color-danger);">Total Bid:
    ${{objectKeys(bids[game.gamePk]||{}).length*user.balance | number:'1.2'}}, Team: #{{1+1*grid.team_id}}, Players:
    {{ objectKeys(bids[game.gamePk]||{}).length}}/{{grid.max_users}}</h2>
  <h2
    [hidden]="!isBid || !game.gameData || !game.gameData.status || ['1','6','7','9'].includes(game.gameData.status.statusCode)"
    style="text-align: center;">
    <ion-grid style="max-width: 500px; font-size: 70%;">
      <ion-row>
        <ion-col class="ion-text-right">Score:</ion-col>
        <ion-col class="ion-text-left" style="color: var(--ion-color-danger); padding-left: 30px;">
          {{game.liveData?.linescore.teams.away.goals}} - {{game.liveData?.linescore.teams.home.goals}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="game.liveData?.plays.currentPlay.about">
        <ion-col class="ion-text-right">{{game?.sport==='nfl'?'Quarter':'Period'}}:</ion-col>
        <ion-col class="ion-text-left" style="color: var(--ion-color-danger); padding-left: 30px;">
          {{game.liveData?.plays.currentPlay?.about.period}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="game.liveData?.plays.currentPlay.about">
        <ion-col class="ion-text-right">Remaining:</ion-col>
        <ion-col class="ion-text-left" style="color: var(--ion-color-danger); padding-left: 30px;">
          {{game.liveData?.linescore?.currentPeriodTimeRemaining ||
          game.liveData?.plays.currentPlay?.about.periodTimeRemaining || game.gameData.status.detailedState || '-'}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="game.currentDrive" size="12">
        <ion-col class="ion-text-center">{{game.currentDrive}}</ion-col>
      </ion-row>
    </ion-grid>
  </h2>
  <h2
    [hidden]="true || !isBid || (game.gameData && game.gameData.status && ['6','7'].includes(game.gameData.status.statusCode) )"
    style="text-align: center; color: var(--ion-color-danger);">Waiting for Final Winning Score...</h2>
  <h2
    [hidden]="!isBid || !game.gameData || !game.gameData.status || !['6','7'].includes(game.gameData.status.statusCode)"
    style="text-align: center;">
    Final Score: <div style="color: var(--ion-color-danger); display: inline;">
      {{game.liveData?.linescore.teams.away.goals}} - {{game.liveData?.linescore.teams.home.goals}}</div>
  </h2>
  <div *ngIf="isBid && game.gameData && !['1'].includes(game.gameData.status.statusCode) && game.scoringPlays"
    class="ion-no-margin" style="text-align: center;">
    <ion-grid (click)="morePlays=!morePlays" *ngIf="true" class="ion-align-items-center ion-justify-content-center"
      style="max-width: 500px;">
      <ng-container *ngFor="let play of game?.scoringPlays; index as i">
        <ion-row [hidden]="i&&!morePlays">
          <ion-col size="2">
            <div style="font-weight: bold">{{play.team.abbreviation || sportTeams[play.team.id] }}</div>
            {{play.scoringType?.abbreviation}}
          </ion-col>
          <ion-col size="2">
            Q{{play.period.number}}
            {{play.clock.displayValue}}<br />
          </ion-col>
          <ion-col size="6">
            {{play.text}}
          </ion-col>
          <ion-col size="1" class="ion-text-nowrap">
            {{play.awayScore}}
          </ion-col>
          <ion-col size="1" class="ion-text-nowrap">
            {{play.homeScore}}
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
  </div>
  <h2 *ngIf="false"
    [hidden]="isBid || !game.gameData || !game.gameData.status || !['6','7','9'].includes(game.gameData.status.statusCode)"
    style="text-align: center; color: var(--ion-color-danger); cursor: pointer;">
    <ion-item *ngFor="let b of bids[game.gamePk] | keyvalue; index as i" [hidden]="false" style="padding-bottom: 5px;"
      (click)="openTab(b.key)">
      <div [ngStyle]=getUserColor(b.key)>
        {{ user.uid == b.key ? 'You' : (users[b.key]? users[b.key].name:'Anon #'+(i+1)) }}:
        ${{ b.value[game.liveData?.linescore.teams.away.goals][game.liveData?.linescore.teams.home.goals] }}
        {{ winners && winners[b.key] ? '<--- WINNER of $'+grid.total/objectKeys(winners).length+'/$'+grid.total : '' }}
          </div>
    </ion-item>
  </h2>
  <div style="margin: auto;" class="x640" class="ion-align-items-center ion-justify-content-center">
    <h2 style="text-align: center; max-width: 420px; margin: 0 auto;">{{game.gameData?.teams.home.name}}</h2>
    <h2
      style="writing-mode: vertical-lr;  margin: 0;  float: left; min-height: 400px; transform: scaleX(-1) scaleY(-1); text-align: center;">
      {{game.gameData?.teams.away.name}}</h2>



    <ion-grid style="margin-top: 10px; margin-left: 20px; padding: 0;">

      <ion-row style="min-height: 36px;" class="header iosheader"
        [hidden]="!isBid||( teams && teams[0] && !teams[0].locked && game.gameData&&game.gameData.status.statusCode == 1 )||objectKeys(bids[game.gamePk]||{}).length<2">
        <ion-col size="12">
          <ion-tabs class="ion-text-uppercase" style="top: auto; height: 36px;">
            <ion-tab-bar slot="bottom" style="height: 35px;">
              <ion-tab-button (click)="openTab('winning')" [selected]="bidSelected == 'winning'"
                style="width: 5vh; height: 35px; position: relative;">
                <div class="bold">
                  <ion-label>WIN</ion-label>
                </div>
              </ion-tab-button>
              <ion-tab-button *ngFor="let b of bids[game.gamePk] | keyvalue; index as i" (click)="openTab(b.key, true)"
                [selected]="bidSelected == b.key" style="width: 5vh; height: 35px; position: sticky;">
                <div [ngStyle]=getUserColor(b.key) class="bold">
                  <ion-label>{{ user.uid == b.key ? 'YOU' : (users[b.key] ? users[b.key].publicName:'Anon #'+(i+1)) }}
                    <br />
                    {{engineService.calcUserWinningBids(grid, game, users, winners, b.key, winningUser, winningBid)}}
                  </ion-label>
                </div>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
        </ion-col>
      </ion-row>

      <ion-row class="header" style="min-height: 30px;">
        <ion-col
          [hidden]="!isBid||( teams && teams[0] && !teams[0].locked && game.gameData&&game.gameData.status.statusCode == 1 )||objectKeys(bids[game.gamePk]||{}).length<2"
          (click)="searchTeams()" style="padding: 0; max-width: 12%;">
          <ion-button [disabled]="isDisabledSubmit" color="danger" size="small" class="ion-text-uppercase"
            style="margin: 0; max-width: 80%; margin: 3px 0 1px 0;">T#{{1*team_id+1}}</ion-button>
        </ion-col>


        <ion-col
          [hidden]="isBid&&!( teams && teams[0] && !teams[0].locked && game.gameData&&game.gameData.status.statusCode == 1 )&&objectKeys(bids[game.gamePk]||{}).length>1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-col>
        <ion-col *ngFor="let item of [].constructor(grid?.count); let col = index">
          <div class="font-normal" [innerHTML]="calcWinRangeMiltiplied(col)"></div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of [].constructor(grid?.count); let row = index">

        <ion-col class="no-horizontal-padding header">
          <div class="ion-align-items-center ion-justify-content-center font-normal"
            style="height: 100%; display: flex;" [innerHTML]="calcWinRangeMiltiplied(row)">
          </div>
        </ion-col>

        <ion-col *ngFor="let item of [].constructor(grid?.count); let col = index" class="no-right-padding">
          <div style="position: relative;"
            title="{{bidSelected == 'winning' && winningUser[row] && winningUser[row][col] ? users[winningUser[row][col]]?.name:''}}"
            class="{{((row<engineService.calcWinScoreMiltiplied(game.liveData?.linescore.teams.away.goals, scoreMultiplier, scoreShift)||col<engineService.calcWinScoreMiltiplied(game.liveData?.linescore.teams.home.goals, scoreMultiplier, scoreShift)) && (row != col || scoreMultiplier > 1)) ? 'cell-disabled' : '' }} 
            {{ isFillGroup&&isCellSelected(row, col)||isSelected ? 'cell-selected' : ''}}
            {{(bidSelected === 'winning'|| (touchedBid[row][col] !== undefined)) ? 'bold': ''}}"
            [ngStyle]=getWinColor(row,col)>
            <div *ngIf="isBid" class="goal-wrap " 
            (click)="handleBid($event, row, col);">
              <div class="{{getGoals(row,col)}}{{( isBid && game.gameData && !['1'].includes(game.gameData.status.statusCode) &&
                row == ((engineService.calcWinScoreMiltiplied(game.liveData?.linescore.teams.away.goals, scoreMultiplier, scoreShift)>6?6:engineService.calcWinScoreMiltiplied(game.liveData?.linescore.teams.away.goals, scoreMultiplier, scoreShift)) || 0) && 
                col == ((engineService.calcWinScoreMiltiplied(game.liveData?.linescore.teams.home.goals, scoreMultiplier, scoreShift)>6?6:engineService.calcWinScoreMiltiplied(game.liveData?.linescore.teams.home.goals, scoreMultiplier, scoreShift)) || 0) ) ? 
                ' winner':''}}">
                <span>{{bid[row][col]}}</span>
              </div>
            </div>
            <div class="fill-overlay" (click)="selectFillCell(row, col)"
              [ngClass]="selectFillClass(row, col, fillCells)"></div>
            <ion-input [readonly]="isBid||(col===row&&col<6&&row<6&&game.sport==='nhl')"
              class="{{(col===row&&col<6&&row<6&&game.sport==='nhl')?'readonly':''}} user-select"
              (click)="handleBid($event, row, col);" (input)="handleBid($event, row, col);"
              (touchmove)="handleBid($event, row, col);" (focusout)="handleBid($event, row, col)"
              (focusin)="handleBid($event, row, col)" (change)="handleBid($event, row, col)" [(ngModel)]="bid[row][col]"
              #ctrl="ngModel" required type="number" pattern="[0-9\.]*" inputmode="decimal"
              style="padding-left: 0;padding-right: 0;"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row
        [hidden]="!isBid||(game.gameData&&game.gameData.status.statusCode == 1)||objectKeys(bids[game.gamePk]||{}).length<2">
        <ion-col>
          <div class="pre-line" *ngIf="game.gameData">
            <ion-col size="6" class="ion-text-right" style="padding-right: 0;">
              {{!['1','6','7'].includes(game.gameData.status.statusCode)?'Current ':''}}Winner:
            </ion-col>
            <ion-col size="6">
              <div style="display: inline-block; padding-right: 5px;">
                <div *ngIf="currentWinner">
                  {{currentWinner.name || '-'}}
                </div>
              </div>
              {{ awayGoals }} - {{ homeGoals }}
            </ion-col>
            <!-- <span *ngIf="game.gameData&&(game.gameData.status.statusCode != 1)&&(game.gameData&&game.gameData.status.statusCode != 6)&&(game.gameData&&game.gameData.status.statusCode != 7)">
              Current:
            </span> -->
            <!-- {{engineService.calcUserWinningBids(grid, game, users, winners, bidSelected, winningUser, winningBid, true, teams)}} -->
          </div>
        </ion-col>
      </ion-row>
      <div class="breadcrumbs">
        <div class="prev" (click)="next()">
          <ng-container *ngIf="prevBtn">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <span>Prev game</span>
          </ng-container>
        </div>
        <div class="next" *ngIf="nextBtn" (click)="next(true)">
          <span>Next game</span>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>
      <ion-row [hidden]="isBid" class="ion-justify-content-center">
        <ion-col class="no-horizontal-padding">
          <div class="btn-bar">
            <ion-buttons class="ion-justify-content-center">
              <ion-button (click)="bidPopup()" color="dark" size="small" fill="outline" class="ion-text-uppercase">Fill
              </ion-button>
              <ion-button (click)="randomBid()" color="dark" size="small" fill="outline" class="ion-text-uppercase">
                Random</ion-button>
              <ion-button *ngIf="!isFillGroup" (click)="groupFill()" color="dark" size="small" fill="outline"
                class="ion-text-uppercase">Group Fill</ion-button>
              <ion-button *ngIf="isFillGroup" (click)="setValue()" color="success" size="small" fill="outline"
                class="ion-text-uppercase">Set value</ion-button>
              <ion-button (click)="resetBid(0.01); nativeAudio.play('ping');" color="dark" color="danger" size="small"
                fill="clear" class="ion-text-uppercase">reset</ion-button>
              <ion-button (click)="presentAlertConfirm()" [disabled]="isDisabledSubmit" fill="solid" color="danger"
                size="small" class="ion-text-uppercase">Submit
              </ion-button>
              <ion-button title="Save to favorites" size="small" (click)="save_template()"
                [disabled]="favoriteEmitter | async">
                <ion-icon slot="icon-only" color="warning" [name]="(favoriteEmitter | async) ? 'star' : 'star-outline'">
                </ion-icon>
              </ion-button>
            </ion-buttons>

          </div>
        </ion-col>
      </ion-row>
      <ion-row [hidden]="!isBid" class="ion-align-items-center ion-justify-content-center" style="border-bottom: none;">
        <ion-col [hidden]="true" size="3" class="no-horizontal-padding">
          <div>
            <ion-button (click)="save_template(bid)" color="dark" size="small" fill="outline"
              class="ion-text-uppercase ion-no-padding" style="width: 90%;">&nbsp;&nbsp;save&nbsp;&nbsp;</ion-button>
          </div>
        </ion-col>
        <ion-col size="3" class="no-horizontal-padding">
          <!-- <div>
            <ion-button (click)="navCtrl.back()" color="dark" size="small" fill="outline"
              class="ion-text-uppercase ion-no-padding" style="width: 90%;">&nbsp;&nbsp;back&nbsp;&nbsp;</ion-button>
          </div> -->
          <div *ngIf="false">
            <ion-button (click)="sendNotification('EndGame', invite)" color="dark" size="small" fill="outline"
              class="ion-text-uppercase ion-no-padding" style="width: 90%;">&nbsp;&nbsp;TEST&nbsp;&nbsp;</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>