@import "../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .games-wrapper {
      margin-bottom: 0;
      
      &.open-keyboard {
        .grid-wrapper {
          margin-top: 45px;

          @media #{$mobileXs} {
            margin-top: 0px;
          }
        }

        .bottom-wrap {
          height: 366px;
          position: relative;

          @media #{$tablet} {
            height: 460px;
          }

          &.fixed-height {
            height: auto;
          }
        }

        .backdrop {
          position: absolute;
        }

        .number-keyboard-wrap {
          // margin-top: -35px;
          margin-top: -5px;

          @media #{$tablet} {
            // margin-top: 55px;
            margin-top: 0;
          }
        }
      }

      .game-wrap {
        &.activated {
          @media #{$tablet, $desktop} {
            height: 220px;
            padding-bottom: 5px;
          }

          @media #{$miniMobile} {
            height: 177px;
            padding-bottom: 5px;
          }
        }
      }
    }

    .skeleton-wrap {
      margin-top: 24px;

      .skeleton-loader {
        height: 172px;
      }
    }
  }
}

.btn-wrap {
  text-align: center;
  margin-top: 20px;

  .green {
    color: #fff;
  }

  .transparent-gray {
    border-width: 2px;
  }

  .btn-default {
    min-width: 110px;
  }
}

.summary-btn {
  padding-right: 0px;
  margin: 6px 0 15px;
}

.games-wrapper {
  transition: all .4s;
  height: calc(100vh - 60px - 46px - 24px);
  overflow: auto;

  @media #{$tablet} {
    height: calc(100vh - 75px - 58px - 30px);
  }

  &.open-keyboard {
    transform: translateY(-200px);
    // height: 100%;
    overflow: visible;

    @media #{$tablet, $desktop} {
      transform: translateY(-245px);
      // height: 100%;
    }
  }
}