<div class="mainWrapper">
  <div class="mainHeader">
    <app-header [balance]="bidBalance"></app-header>
    <app-sub-header *ngIf="!isHideSubHeader" [selectedLeague]="game.sport" (selectedLeagueChange)="league=$event"
      [active]="true">
    </app-sub-header>
  </div>
</div>
<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer" [ngClass]="{'show': isOpenKeyboard}">
      <div class="skeleton-wrap" *ngIf="!isLoading">
        <ngx-skeleton-loader appearance="line" animation="pulse"></ngx-skeleton-loader>
      </div>
      <app-date *ngIf="isLoading && !isHideSubHeader" #calendar [date]="game.gameData?.datetime.dateTime"
        [hideSort]="true"></app-date>
      <div *ngIf="isLoading" #scrollContainer id="scrollContainer" class="games-wrapper"
        [ngClass]="{'open-keyboard': isOpenKeyboard}">
        <app-date *ngIf="isLoading && isHideSubHeader" #calendar [date]="game.gameData?.datetime.dateTime" [hideSort]="true"></app-date>
        <app-game [className]="'activated'" [dataGame]="game" [dataSetTeams]="true" [isChallengeGame]="challenge_id > 0"
          [countBids]="bidCounter" [stats]="standings" [matrix]="true" [src]="Constants.SRC[game.sport?.toUpperCase()]">
        </app-game>

        <div class="btn-wrap ion-text-center summary-btn" *ngIf="['6', '7'].includes(game.gameData?.status.statusCode)">
          <div class="btn-default red">game summary</div>
        </div>
        <app-grid [game]="game" [baseScore]="baseScore" (onOpenNumpad)="openNumpad($event)"
          (onMultiBid)="multiCheck($event)"></app-grid>
      </div>
    </div>
  </div>
</ion-content>