@import "../../theme/variables.scss";

ion-header {
  ion-title {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    bottom: 0;
    padding: 0;
    top: 0;
  }
}

ion-card {
  margin: 10px 0;
}

ion-card-content {
  @media #{$tablet} {
    padding: 10px;
  }

  ion-list {
    ion-item {
      @media #{$tablet} {
        --padding-start: 0;
      }
    }

    ion-label {
      @media #{$tablet} {
        font-size: 14px;
      }
    }

    ion-buttons {
      @media #{$tablet} {
        margin-right: 0;
      }

      ion-button {
        --padding-top: 0;
        --padding-end: 0;
        --padding-bottom: 0;
        --padding-start: 0;

        @media #{$tablet} {
          width: 26px;
          height: 38px;
        }
      }
    }
  }
}

ion-card-header {
  @media #{$tablet} {
    padding: 15px 0;
  }

  ion-card-title {
    @media #{$tablet} {
      font-size: 16px;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    ion-icon {
      padding: 0;
      margin-left: 5px;
      font-size: 20px;
    }
  }
}

.link {
  font-size: 12px;
  color: #00843d;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #00843d;
    position: absolute;
    left: 0;
    top: 100%;
    transition: all 0.4s;
  }

  &:hover {
    &:after {
      width: 0;
    }
  }
}

ion-searchbar {
  font-size: 12px;

  @media #{$tablet} {
    zoom: 1.25;
  }
}

.collapse-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ion-icon {
    color: #000;
    width: 24px;
    height: 24px;
    transition: all 0.4s;
    cursor: pointer;
    transform: rotate(-90deg);

    &.active {
      transform: rotate(0deg);
    }
  }
}

.icon-title {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;

  ion-icon {
    margin: 0 3px;
  }
}

.legend {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  div {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin: 0 5px 5px 0;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #eee;

    width: calc(100% / 5 - 4px);

    @media #{$tablet} {
      padding: 5px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    ion-icon {
      font-size: 1.8em;

      @media #{$tablet} {
        font-size: 1.4em;
      }
    }

    ion-label {
      margin-top: 10px;
      font-size: 15px;
      text-transform: capitalize;
      color: #8e8787;

      @media #{$tablet} {
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}

ion-buttons {
  @media #{$tablet} {
    margin: 0;
  }

  ion-button {
    @media #{$tablet} {
      width: 35px;
    }
  }
}

.listDefault {
  ion-item {
    --inner-padding-end: 0;
  }
}