<!-- <ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Friends
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<div class="mainWrapper">
  <div class="mainHeader">
    <app-header [showAmount]="false"></app-header>
    <app-sub-header *ngIf="false"></app-sub-header>
  </div>
</div>

<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer no-subHeader">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-xl="12" size-lg="12" size-md="10">
            <div class="searchWrap">
              <ion-searchbar class="searchBar"
                (input)="search=($event.target.value.length>1)?$event.target.value.toLowerCase():''"
                (ionClear)="search=''" placeholder="Search My Friends" enterkeyhint="search"></ion-searchbar>
            </div>
            <div class="tabs-default">
              <ion-segment mode="ios" mode="ios" value="friends" (ionChange)="selectedTab($event)">
                <ng-container *ngFor="let tab of tabs">
                  <ion-segment-button tap layout="icon-start" [value]="tab.name">
                    <ion-label>{{ tab.name }}</ion-label>
                    <ion-badge *ngIf="tab.name === 'requests' && invitations.length">{{ invitations.length }}
                    </ion-badge>
                  </ion-segment-button>
                </ng-container>
              </ion-segment>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size-xl="12" size-lg="12" size-md="10">
            <ng-container *ngIf="tabSelected === 'friends'">
              <ion-list class="listDefault" *ngIf="friends.length">
                <div class="title">
                  <div class="left">
                    <span>Friends: <strong>{{friends.length}}</strong></span>
                    <ion-icon *ngIf="friends.length" name="help-circle-outline" color="success" (click)="openInfo()"
                      class="ion-padding-horizontal"></ion-icon>
                  </div>
                  <div class="link" (click)="manageFriends($event, null);">Add friend</div>
                </div>

                <ion-item lines="none" *ngFor="let friend of filterFriendList(friends); let i = index">
                  <app-user [name]="users[friend['uid']]?.name"
                    [src]="users[friend['uid']]?.photoURL || constants.AVATAR_DEMO" [id]="friend['uid']"
                    [listComponent]="true" [challengesWon]="users[friend['uid']]?.stats?.challengesWon"
                    [color]="users[friend['uid']]?.color"></app-user>
                  <ion-buttons slot="end">
                    <ion-button (click)="openChat((friend['id'] || friend['uid']))">
                      <ion-icon slot="icon-only" name="chatbubbles" color="success"></ion-icon>
                    </ion-button>
                    <ion-button
                      (click)="confirmDelete(i, (friend['id'] || friend['uid']), 'Are you sure you want to delete your friend?')">
                      <ion-icon slot="icon-only" name="trash" style="color: #6b6b6b"></ion-icon>
                    </ion-button>
                    <ion-button (click)="blockedFriend((friend['id'] || friend['uid']), true)">
                      <ion-icon slot="icon-only" name="lock-closed" color="danger"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-list>
              <div *ngIf="!friends || friends.length === 0" class="no-data">
                <div>
                  <ion-icon name="people-outline"></ion-icon>
                  <p>You don't have any friends yet.</p>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="tabSelected === 'requests'">
              <ion-list class="listDefault" *ngIf="invitations.length">
                <ion-item lines="none" *ngFor="let item of filterFriendList(invitations), let i = index">
                  <app-user [name]="users[item['uid']]?.name"
                    [src]="users[item['uid']]?.photoURL || constants.AVATAR_DEMO" [id]="item['uid']"
                    [listComponent]="true" [challengesWon]="users[item['uid']]?.stats?.challengesWon"
                    [color]="users[item['uid']]?.color"></app-user>
                  <ion-buttons slot="end">
                    <ion-button color="success" (click)="acceptInvite((item['id'] || item['uid']), false)">
                      <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
                    </ion-button>
                    <ion-button
                      (click)="confirmDelete(i, (item['id'] || item['uid']), 'Are you sure you want to decline the friend invitation?')">
                      <ion-icon slot="icon-only" name="close-circle" color="warning"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="true" (click)="blockedFriend((item['id'] || item['uid']), true)">
                      <ion-icon slot="icon-only" name="lock-closed" color="danger"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-list>
              <div *ngIf="!invitations || invitations.length === 0" class="no-data">
                <div>
                  <ion-icon name="people-outline"></ion-icon>
                  <p>You have no new friend requests.</p>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="tabSelected === 'sent'">
              <ion-list class="listDefault" *ngIf="pendingFriends.length">
                <ion-item lines="none" *ngFor="let item of filterFriendList(pendingFriends), let i = index">
                  <app-user [name]="users[item['uid']]?.name"
                    [src]="users[item['uid']]?.photoURL || constants.AVATAR_DEMO" [id]="item['uid']"
                    [listComponent]="true" [challengesWon]="users[item['uid']]?.stats?.challengesWon"
                    [color]="users[item['uid']]?.color"></app-user>
                  <ion-buttons slot="end">
                    <ion-button
                      (click)="confirmDelete(i, (item['id'] || item['uid']), 'Are you sure you want to delete the friend request?', 'pending'); $event.stopPropagation()">
                      <ion-icon slot="icon-only" name="trash" style="color: #6b6b6b;"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-list>
              <div *ngIf="!pendingFriends || pendingFriends.length === 0" class="no-data">
                <div>
                  <ion-icon name="people-outline"></ion-icon>
                  <p>You have no new invitations.</p>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="tabSelected === 'blocked'">
              <ion-list class="listDefault" *ngIf="blockedFriends.length">
                <ion-item lines="none" *ngFor="let item of filterFriendList(blockedFriends), let i = index"
                  [disabled]="hiddenUnblockedBtn(item['uid'])">
                  <app-user [name]="users[item['uid']]?.name"
                    [src]="users[item['uid']]?.photoURL || constants.AVATAR_DEMO" [id]="item['uid']"
                    [listComponent]="true" [challengesWon]="users[item['uid']]?.stats?.challengesWon"
                    [color]="users[item['uid']]?.color"></app-user>
                  <ion-buttons slot="end">
                    <ion-button color="success" [hidden]="hiddenFriend"
                      (click)="acceptInvite(item['uid'], false, true)">
                      <ion-icon slot="icon-only" name="lock-open"></ion-icon>
                    </ion-button>
                    <ion-button
                      (click)="confirmDelete(i, (item['id'] || item['uid']), 'Are you sure you want to delete the blocked user?', 'blocked')">
                      <ion-icon slot="icon-only" name="trash" style="color: #6b6b6b;"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-list>
              <div *ngIf="!blockedFriends || blockedFriends.length === 0" class="no-data">
                <div>
                  <ion-icon name="people-outline"></ion-icon>
                  <p>You have no blocked users.</p>
                </div>
              </div>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>