<!-- <ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="without-btn">Rulebook</ion-title>
  </ion-toolbar>
</ion-header> -->
<div class="mainWrapper">
  <div class="mainHeader">
    <app-header [showAmount]="false"></app-header>
    <app-sub-header *ngIf="false"></app-sub-header>
  </div>
</div>
<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-xl="12" size-lg="12" size-md="10">
            <ion-grid *ngIf="true" id="rules">
              <ion-row>
                <ion-col size="12">
                  <ion-list-header>
                    <ion-label>Playing the SPRT MTRX</ion-label>
                  </ion-list-header>
                </ion-col>
              </ion-row>
              <ion-row class="ion-padding-bottom">
                <ion-col size="12">
                  <p><strong>Participating in a Challenge</strong></p>
                  <p>1. Choose your Challenge. </p>
                  <p>2. Bid your 10$M (SPRT MTRX dollars) on the SPRT MTRX grid for <strong>each</strong> of the
                    Challenge games. </p>
                  <p>3. <strong style="color: red">The 10$M is not real money (obviously)</strong>. This represents the
                    number of tokens you may bid on the Squares and can be split between 0.01$M and 9.58$M per Square.
                  </p>
                  <p>4. Once you have completed your bids for each game, confirm your bids by clicking
                    &ldquo;Submit&rdquo; and then &ldquo;Confirm&rdquo;. </p>
                  <p>5. All bids for each game must be complete 10 minutes before the first game of the Challenge. </p>
                  <p>6. Players who do not bid on all games will not be included in the Challenge. </p>
                  <p>7. Only games with between 5 and 8 players bidding will be included in the Challenge. Get your bids
                    in early to avoid missing out. </p>
                  <p>8. Wait until bidding is suspended, (10 minutes before the first game of the Challenge), and
                    winning bids for all games are posted. Click on the game in the Challenge list of games and see
                    which bids you won.</p>
                  <p>9. And remember,<strong style="color: red"> it's free to play</strong>.</p>
                  <p><strong>Bidding</strong></p>
                  <p>1. You must bid on all available Squares. There are between 43 and 49 squares depending on the
                    sport.</p>
                  <p>2. A default 0.01$M bid is placed on each of the available Squares to facilitate your bidding
                    process. </p>
                  <p>3. You may now place bids of your choice with your remaining 9.52$M to 9.58$M. </p>
                  <p>4. The maximum limit bid per Square is 9.58$M. </p>
                  <p>5. The minimum bid per Square is 0.01$M. </p>
                  <p>6. Players must bid on all games no later than 10 minutes before the first game on the day of the
                    Challenge. </p>
                  <p><strong>Winning</strong></p>
                  <p>1. Ten minutes before the first game of the Challenge, bids will be closed and immediately bid
                    results for each game will be posted. </p>
                  <p>2. "<strong>Win</strong>" tab - Click on the "<strong>Win</strong>" tab to see which of your bids
                    won a Square and for which Squares and associated scores you are the highest bidder. </p>
                  <p>3. If the final score of the game falls within one of your winning Squares, you are the winner for
                    that game and you receive one point towards your final score on the evening. </p>
                  <p>4. Ties. In the unlikely event that the game ends with a score for which there is a tie for the
                    winning bid on the winning Square, the player who entered their bids first is the winner. </p>
                  <p>5. The winner is the player who has successfully won the highest number of winning scores for the
                    Challenge, and thus has the highest number of points. Win it All NBA Challenges, however, are an
                    exception. Players need to win all of the games that they’ve bid on in order to win the Challenge.
                    If there is no winner, the prize will be carried over to the next Win it All NBA Challenge.</p>
                  <p>6. Ties. In the event that there are multiple players with the same number of points for the
                    Challenge, the prize money will be split evenly among the winning players. </p>
                  <p>7. What is the prize? It varies by Challenge and is payable in Canadian dollars.</p>
                  <p><strong>Playing the Private Game</strong></p>
                  <p>1. Click on &ldquo;Private Game&rdquo; in the upper right corner of the Challenge list.</p>
                  <p>2. Choose the game that you would like to play from the list of available games.</p>
                  <p>3. Invite your friends to play.</p>
                  <p>4. Create an invite by choosing a name for your game and creating a message for your friends. A
                    template name and message is provided.</p>
                  <p>5. Send your invite.</p>
                  <p>6. The bidding process is the same as for Challenges, but ties are allowed in the Private game.</p>
                  <p><strong>Terms of Service</strong></p>
                  <p>1. SPRT MTRX is open to all residents of the USA and Canada, excluding residents of Quebec. </p>
                  <p>2. Winnings will be paid out within 72 hours via PayPal or Interac e-Transfer. </p>
                  <p>3. In the event that the winner is under the age of 18, winnings will be paid to the parents of the
                    winner. </p>
                  <p>4. Winners will be notified by email of their winnings and to arrange payment. </p>
                  <p>5. By playing SPRT MTRX, winners acknowledge that Live Current Media, Inc. </p>
                  <p>can use their names to promote the SPRT MTRX. </p>
                  <p>6. Players must be 17 years or older to participate in all SPRT MTRX Challenges and contests. </p>
                  <p>7. Apple Inc. is not a sponsor of SPRT MTRX nor is it involved in the SPRT MTRX contest in any way.
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>