@import './../../../theme/new-variables.scss';

ion-content {
    @media #{$tablet} {
      --background: #fff;
    }
}

ion-item > .in-item ~ .in-item {
    position: relative;
}

ion-item > ion-button, a {
  z-index: 3;
}

ion-label {
  &.p-3 {
      padding: 16px;
  }
}