<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar position="top">
    <ion-title size="small">
      Teams
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="close" style="font-size: 20px; float: right;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center ion-justify-content-center ion-text-center">
  <div class="scroll-box">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list class="listDefault">
            <div class="searchWrap">
              <ion-searchbar class="searchBar" #focusInput (input)="searchUser($event)" (ionClear)="search=''; searchUsers=searchFriendsUsers || {}" placeholder="Search users"
                #searchbar enterkeyhint="search"></ion-searchbar>
            </div>

            <div class="list-box">
              <ng-container *ngFor="let user_index of objectKeys(searchUsers)">
                <!-- {{user_index}} -->
                  <!-- {{friends[searchUsers[user_index]?.uid].name}} -->
                <ion-item *ngIf="friends[searchUsers[user_index]?.id]" (click)="switchTeam(searchUsers[user_index]?.id)" detail="false"
                  style="display: inherit" lines="full">
                  <app-user [name]="searchUsers[user_index]?.name"
                      [src]="searchUsers[user_index]?.photoURL || constants.AVATAR_DEMO"
                      [id]="searchUsers[user_index]?.id" [listComponent]="true"
                      [challengesWon]="searchUsers[user_index]?.stats?.challengesWon"
                      [color]="searchUsers[user_index]?.color"></app-user>
                 
                  <ion-icon slot="icon-only" slot="end" name="arrow-forward-outline" color="success"></ion-icon>
                </ion-item>
              </ng-container>
              <ng-container *ngFor="let user_index of objectKeys(searchUsers)">
                <ion-item *ngIf="friends[searchUsers[user_index]?.id]?.uid != searchUsers[user_index]?.id" (click)="switchTeam(searchUsers[user_index]?.id)" detail="false"
                  style="display: inherit" lines="full">
                 
                  <app-user [name]="searchUsers[user_index]?.name"
                      [src]="searchUsers[user_index]?.photoURL || constants.AVATAR_DEMO"
                      [id]="searchUsers[user_index]?.id" [listComponent]="true"
                      [challengesWon]="searchUsers[user_index]?.stats?.challengesWon"
                      [color]="searchUsers[user_index]?.color"></app-user>
                  <ion-icon slot="icon-only" slot="end" name="arrow-forward-outline" color="success"></ion-icon>
                </ion-item>
              </ng-container>
            </div>
          
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>