ion-list {
  ion-label {
    font-size: 14px;
  }
  ion-icon {
    font-size: 22px;
  }
}

.scroll-box {
  height: 100%;
  overflow-y: auto;
}
ion-item {
  ion-button {
    &.disabled {
      display: none;
      --ion-color-base: #999;
      pointer-events: none;
    }
  }
  .btn {
    ion-button {
      font-size: 12px;
      height: 24px;
    }
  }
}

.list-title {
  text-align: left;
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 20px;
  background: #eee;
  color: #bdb7b7;
}

.list-box {
  border-bottom: 2px solid #dedede;
  ion-item {
    &:last-child {
      --inner-border-width: 0 0 0 0;
    }
  }
}
