<ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="without-btn">Challenges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="6" size-lg="8" size-md="10">
        <div *ngIf="challenges && !challenge.name">
          <div class="header-t">
            <h3>Select Challenge</h3>
            <ion-buttons>
              <ion-button class="btn-default" (click)="addChallenge()">Add challenge</ion-button>
              <ion-button class="btn-default" (click)="createNbaBatch()">Create batch NBA</ion-button>
            </ion-buttons>

          </div>
          <section *ngFor="let challenge of challenges" class="full-width">
            <ion-button *ngIf="challenge"
              (click)="router.navigate(['/admin/challenges/' + challenge['sport'] + '/' + challenge.id])" expand="block"
              color="{{(challenge && challenge['start']['seconds']*1000 < (date.now() - 24*60*60000))?'medium':'red'}}"
              style="margin-top: 20px;">
              {{challenge.name}}<br />
              {{challenge.start.seconds*1000 | date:'yyyy-MM-dd' }}
            </ion-button>
          </section>
          <br />
        </div>
        <ion-container *ngIf="selectedChallenge">
          <ion-segment class="tabs-default" mode="ios" value={{challengeTab}} (ionChange)="challengeTabChanged($event)">
            <ion-segment-button value="info">
              <ion-label>Info</ion-label>
            </ion-segment-button>
            <ion-segment-button value="edit">
              <ion-label>Edit</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-container>

        <ng-container *ngIf="challengeTab === 'info'">
          <ion-list-header *ngIf="objectKeys(stats).length&&users&&selectedChallenge" color="medium" id="games"
            style="margin-top: 20px;">
            {{selectedChallenge?.name || 'All Time'}}
            {{( !selectedChallenge || selectedChallenge['start']['seconds']*1000 > (date.now() -
            1*24*60*60000)) ? 'Leaderboard' : 'Final Results'}}
          </ion-list-header>
          <section *ngIf="objectKeys(stats).length&&users" class="full-width"
            style="border-width: 0 0 1px 0; border-style: solid;">
            <ion-grid class="ion-text-start"
              style="max-width: 600px; background-image: url(/assets/leaderboard_bg.jpg); background-size: cover;">
              <ion-row class="" style="font-size: 90%; font-weight: bold;">
                <ion-col size="4" class="ion-text-center">#</ion-col>
                <ion-col size="4" class="ion-text-center">User</ion-col>
                <ion-col size="4" class="ion-text-center">Wins</ion-col>
              </ion-row>
              <ion-row *ngFor="let winner of calcWinnersStats(); index as winner_uid" class="">
                <ion-col size="4" class="ion-text-center">{{winner_uid+1}}</ion-col>
                <ion-col size="4" class="ion-text-center" class="{{user&&winner[0]==user.uid? 'red':''}}">
                  {{getUser([winner[0]])?.name || '.....'}}</ion-col>
                <ion-col size="4" class="ion-text-center">{{winner[1]}}</ion-col>
              </ion-row>
            </ion-grid>
          </section>

          <ion-list #scheduleList [hidden]="!challenge || !games" style="margin-bottom: 5px;">
            <div class="note" *ngIf="challenge_id && !getChallengeGames()?.length">No Games Configured</div>
            <ion-item-group *ngFor="let item of getChallengeGames(); index as i" style="padding-bottom: 5px;">
              <ion-item-divider [hidden]="i" sticky>
                <ion-label class="ion-no-margin" style="width: 100%;">

                  <ion-grid>
                    <ion-row *ngIf="false" style="margin-right: 0px;">
                      <ion-col size="12" class="ion-text-left ion-justify-content-center ion-text-wrap">
                        <ion-button *ngFor="let game of item.games" (click)="reassignUserTeams(game.gamePk)"
                          color="red">
                          Re-Assign {{game.gamePk}}</ion-button>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="true" style="margin-right: 0px;">
                      <ion-col size="12" class="ion-text-left ion-justify-content-center ion-text-wrap">
                        <ion-button (click)="calcMissingBids()" color="red" style="font-size: 70% !important;">Missing
                          Bids
                          Alert</ion-button>
                        <ion-button (click)="calcMissingBids(true)" color="red" style="font-size: 70% !important;">
                          Excluded
                          Bids Alert</ion-button>
                        <ion-button (click)="customNotification()" color="red" style="font-size: 70% !important;">
                          Custom Notification</ion-button>
                        <ion-button *ngIf="false" (click)="customNotification()" color="red"
                          style="font-size: 70% !important;">
                          Custom Alert</ion-button>
                        <ion-button *ngIf="false" (click)="cloudShuffleAllTeams()" color="red"
                          style="font-size: 70% !important;">C-Shuffle All Teams</ion-button>
                        <ion-button *ngIf="false" (click)="shuffleAllTeams()" color="red"
                          style="font-size: 70% !important;">
                          Shuffle All Teams</ion-button>
                        <ion-button (click)="shuffleAllTeamsV2()" color="red" style="font-size: 70% !important;">
                          Shuffle All
                          Teams V2</ion-button>
                        <ion-button [disabled]="assignDisabled" (click)="reassignAllUsers()" color="red"
                          style="font-size: 70% !important;">
                          Reassign All
                          Teams</ion-button>
                        <ion-button *ngIf="true" (click)="deshuffleAllTeams()" color="red"
                          style="font-size: 70% !important;">
                          De-Shuffle All Teams</ion-button>
                        <ion-button *ngIf="false" (click)="recalcAllWinners()" color="red"
                          style="font-size: 70% !important;">
                          Re-Calc All Winners</ion-button>
                        <ion-button *ngIf="false" (click)="testNativeNotification()" color="red"
                          style="font-size: 70% !important;">Test Native Notification</ion-button>
                      </ion-col>
                    </ion-row>
                    <ion-row style="margin-right: 0px;">
                      <ion-col size="3" class="ion-text-left ion-justify-content-center ion-text-wrap">
                        Teams
                      </ion-col>
                      <ion-col size="3" class="ion-text-center ion-align-items-center">
                        Status
                      </ion-col>
                      <ion-col size="3" class="ion-text-center ion-align-items-center">
                        Bidders
                      </ion-col>
                      <ion-col size="2" class="ion-text-center ion-align-items-center">
                        Winners
                      </ion-col>
                      <ion-col size="1" class="ion-text-center ion-align-items-center">
                        <ion-label style="overflow: visible;">Shuffle</ion-label>
                        <ion-checkbox (click)="autoShuffle=!autoShuffle" checked={{autoShuffle}}>Shuffle
                        </ion-checkbox>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-label>
              </ion-item-divider>
              <ion-item-sliding *ngFor="let game of item.games"
                routerLink="/{{ ( ( (!userBids||!userBids[game.gamePk])&&(!game||game.status.statusCode==1) ) ? 'detail':'bid' ) }}/{{ ( (!userBids||!userBids[game.gamePk]) ? '0': userBids[game.gamePk][user.uid] ) }}/{{game.gamePk}}/{{challenge_id}}"
                #slidingItem [attr.track]="game.gamePk">
                <ion-item detail="false" style="display: inherit">
                  <ion-label class="ion-no-margin">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="3" class="ion-text-left ion-justify-content-center ion-text-wrap">
                          {{game.teams.away.team.name}}
                          at
                          {{game.teams.home.team.name}}
                          @ {{ game.gameDate | date:'h:mma' }} {{commonService.getTimezone()}}
                        </ion-col>
                        <ion-col size="3" class="ion-text-left ion-align-items-start">
                          <p *ngIf="game.status && !['1','6','7'].includes(game.status.statusCode)">
                            Score: {{ game.teams.away.score }} - {{ game.teams.home.score }},<br />Period:
                            {{ game.linescore.currentPeriod || '-' }},<br />Remaining:
                            {{ game.linescore.currentPeriodTimeRemaining || '-' }}
                          </p>
                          <p *ngIf="game.status && ['6','7'].includes(game.status.statusCode)">
                            Score: {{ game.teams.away.score }} - {{ game.teams.home.score }}
                          </p>
                        </ion-col>
                        <ion-col size="3" class="ion-text-center ion-align-items-center">
                          <div *ngFor="let team_id of objectKeys(getChallengeTeams(game.gamePk));">
                            <p *ngIf="teams[game.gamePk] && teams[game.gamePk][team_id]"
                              (click)="openTeam($event, teams[game.gamePk][team_id].users, game.gamePk, team_id);"
                              title="{{teams[game.gamePk][team_id].users}}">
                              T#{{team_id-0+1}}: {{ teams[game.gamePk][team_id].users.length }}
                              <ion-icon
                                (click)="$event.stopPropagation(); window.open('/bid/'+team_id+'/'+game.gamePk+'/'+challenge_id, '_blank');"
                                slot="end" name="ext-link" style="font-size: 80%;"></ion-icon>
                            </p>
                          </div>
                        </ion-col>
                        <ion-col size="3" class="ion-text-center ion-align-items-center" style="padding-left: 15px;">
                          <div *ngFor="let team_id of objectKeys(getChallengeTeams(game.gamePk));">
                            <p *ngIf="teams[game.gamePk] && teams[game.gamePk][team_id]"
                              (click)="$event.stopPropagation(); alert(engineService.getTeamDetails(teams[game.gamePk][team_id].winners, users));"
                              title="{{teams[game.gamePk][team_id].winners}}">
                              T#{{team_id-0+1}}: {{ teams[game.gamePk][team_id].winners.length || '0' }}
                            </p>
                          </div>
                        </ion-col>
                      </ion-row>
                      <ion-row
                        *ngIf="bids && game.status && !['1'].includes(game.status.statusCode)&&teams[game.gamePk]">
                        <ion-col size="3"
                          class="ion-text-left ion-justify-content-center ion-align-items-center ion-text-wrap">
                          {{!['1','6','7'].includes(game.status.statusCode)?'Current ':''}}Winners
                        </ion-col>
                        <ion-col size="9"
                          class="ion-text-center ion-justify-content-center ion-align-items-center ion-text-wrap"
                          style="white-space: pre !important;">
                          {{engineService.getTeamDetails(engineService.calcCurrentWinner(game, teams[game.gamePk],
                          bids[game.gamePk]), users) || '-'}}
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-label>
                  <ion-icon
                    name="{{ ['6','7'].includes(game.status.statusCode)? 'checkmark-done-circle-outline' : ( (!userBids||!userBids[game.gamePk]) ? ((teams2[game.gamePk]&&teams2[game.gamePk][0].locked)?'remove-circle-outline':'add-circle-outline'):'checkmark-circle-outline' ) }}"
                    color="{{ ( (!userBids||!userBids[game.gamePk]) ? ((teams2[game.gamePk]&&teams2[game.gamePk][0].locked)?'red':'blue'):'success' ) }}"
                    slot="end" class="ion-no-margin"></ion-icon>
                </ion-item>
                <ion-item-options>
                  <ion-item-option (click)=deshuffleTeam(game.gamePk) color="primary" class="ion-text-center">
                    <ion-icon slot="start" name="create"></ion-icon>
                    De-Shuffle<br />Team
                  </ion-item-option>
                  <ion-item-option (click)=cloudShuffleTeam(game.gamePk) color="primary" class="ion-text-center">
                    <ion-icon slot="start" name="create"></ion-icon>
                    Shuffle<br />V2
                  </ion-item-option>
                  <ion-item-option (click)=reassignUserTeams(game.gamePk) color="warning" class="ion-text-center">
                    <ion-icon slot="start" name="create"></ion-icon>
                    Re-Assign<br />Team
                  </ion-item-option>
                  <ion-item-option (click)="shuffleTeam(game.gamePk, false, 1, true, challenge.sport==='nba')"
                    color="warning" class="ion-text-center">
                    <ion-icon slot="start" name="shuffle"></ion-icon>
                    Shuffle<br />Team
                  </ion-item-option>
                  <ion-item-option (click)=notifyWinners(game.gamePk) color="success" class="ion-text-center">
                    <ion-icon slot="start" name="refresh"></ion-icon>
                    Notify<br />Winners
                  </ion-item-option>
                  <ion-item-option (click)=resetWinners(game.gamePk) color="danger" class="ion-text-center">
                    <ion-icon slot="start" name="trash"></ion-icon>
                    Reset<br />Winners
                  </ion-item-option>
                  <ion-item-option (click)=calcWinners(game.gamePk,game) color="danger" class="ion-text-center">
                    <ion-icon slot="start" name="calculator"></ion-icon>
                    Re-Calc<br />Winners
                  </ion-item-option>
                  <ion-item-option *ngIf="false" (click)=checkDeshuffledUsers(game.gamePk,game) color="danger"
                    class="ion-text-center">
                    <ion-icon slot="start" name="calculator"></ion-icon>
                    Re-Calc<br />Check Deshuffled Users
                  </ion-item-option>
                  <ion-item-option *ngIf="false" (click)=checkUnshuffledUsers(game.gamePk,game) color="danger"
                    class="ion-text-center">
                    <ion-icon slot="start" name="calculator"></ion-icon>
                    Re-Calc<br />Check Deshuffled Users
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ion-item-group>
          </ion-list>
        </ng-container>
        <app-admin-challenge-edit [data]="selectedChallenge" [max]="max" *ngIf="challengeTab === 'edit'">
        </app-admin-challenge-edit>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>