@import "../../../../theme/new-variables.scss";

ion-textarea {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 10px 7px;
  font-size: 14px;
}

ion-input {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0 15px;
  --padding-start: 15px;
  --padding-end: 15px;
  font-size: 14px;
}

ion-list {
  ion-item {
    h2 {
      font-size: 15px;
      font-weight: bold;
    }
  }
}

form ion-item.ion-untouched {
  border-bottom: 1px solid transparent;
}

ion-item.ion-invalid.ion-touched,
ion-item-group.ion-invalid.ion-touched {
  border-bottom: 1px solid var(--ion-color-danger) !important;
}

ion-item.ion-valid.ion-touched,
ion-item-group.ion-valid.ion-touched {
  border-bottom: 1px solid var(--ion-color-success) !important;
}

.header-t {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media #{$tablet, $miniMobile} {
    flex-direction: column;
  }

  h3 {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;

    @media #{$tablet} {
      margin-bottom: 10px;
    }
  }
}

.note {
  margin: 15% auto;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

ion-content {
  @media #{$tablet} {
    --background: #fff;
  }

  .tabs-default {
    zoom: 1;
    ion-segment-button {
      font-size: 13px;
    }
  }
}

:host {
  ::ng-deep {
    ion-toggle {
      box-shadow: none;
      background: #FFF;
    }

    .btn-default {
      background: #355589;
      padding: 0;
    }
  }
}