<!-- <ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Speed Trivia
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<div class="mainWrapper">
  <div class="mainHeader">
    <app-header [showAmount]="false"></app-header>
    <app-sub-header *ngIf="false"></app-sub-header>
  </div>
</div>
<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer no-subHeader">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-xl="12" size-lg="12" size-md="10">
            <app-banner></app-banner>
            <ion-list-header *ngIf="true" class="ion-padding"
              style="font-size: larger; border-width: 0 0 1px 0; border-style: solid; align-items: center;">
              <ion-label class="ion-text-center" style=" margin: 0;">{{triviaMessage||'Pick Your Sport'}}</ion-label>
            </ion-list-header>
            <section *ngIf="true" class="full-width ion-text-center">
              <ion-button tap *ngFor="let sport of sports"
                (click)="selectedSport = sport['icon']; !sport.url ? alert('Not Available Yet.') : openTrivia(sport.url) "
                class="full-width sport-item" expand="" color="{{sport.url?'red':'medium'}}" style="margin-top: 20px;">
                {{sport['name']}}
                <ion-icon slot="end" name="{{sport['icon']}}"></ion-icon>
              </ion-button>
            </section>

            <section *ngIf="quote" class="full-width ion-no-margin">
              <ion-grid class="ion-text-start box-bg">
                <ion-row style="min-height: 65px;">
                  <ion-col>&nbsp;</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1" class="ion-text-center"></ion-col>
                  <ion-col size="10" class="ion-text-center">
                    <div class="quote">
                      <p style="font-style: italic;">"{{ quote.text }}"</p>
                      <p class="bold">{{ quote.title }}</p>
                      <p class="lite">{{ quote.descr }}</p>
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-text-center"></ion-col>
                </ion-row>
                <ion-row style="min-height: 65px;">
                  <ion-col>&nbsp;</ion-col>
                </ion-row>
              </ion-grid>
            </section>

          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>