@import "../../theme/variables.scss";
@import "../../theme/new-variables.scss";

ion-list-header ion-label {
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;

  @media #{$tablet} {
    font-size: 18px;
  }

  @media #{$miniMobile} {
    font-size: 13px;
  }
}

.sport-item {
  font-family: $RMB;

  @media #{$tablet} {
    zoom: 1.25;
  }

  &.ion-color-red {
    --ion-color-base: #355589;
    --ion-color-base-rgb: #355589;
    --ion-color-contrast-rgb: #355589;
    --ion-color-shade: #355589;
    --ion-color-tint: #355589;
  }
}