<div class="item-amount">
  <div class="item-amount-wrap">
    <div class="item-amount-ico">
      <app-ico-svg [class]="'ico-amount'" [src]="Constants.SRC.ICONS" [id]="'IcoAmount'"></app-ico-svg>
    </div>
    <span>{{ balance | number: '1.2' }}</span>
  </div>
</div>