@import "../../../theme/new-variables.scss";

.item-amount {
  background-color: #fff;
  box-shadow: inset 0px 3px 3px rgb(0 0 0 / 25%), inset 0px -3px 3px rgb(0 0 0 / 25%);
  border-radius: 5px;
  height: 26px;
  margin-left: 2px;
  min-width: 85px;

  &-wrap {
    width: calc(100% - 2px);
    height: 24px;
    border-radius: 5px;
    background: $primary-theme-color;
    display: flex;
    align-items: center;
    padding: 2px 3px;
    position: relative;
    left: 1px;
    top: 1px;
  }

  .item-amount-ico {
    width: 20px;
    height: 20px;
    background: $red-theme-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
  }

  span {
    font-family: $RCB;
    font-size: 16px;
    color: #fff;
  }
}