<div class="statistics-wrap" *ngIf="show">
  <div class="st-title">stats</div>
  <div class="st-row" *ngFor="let abbrv of keys">
    <ng-container *ngIf="Object.keys(stats).length">
      <div class="st-item">{{ abbrv }}</div>
      <div class="st-item">{{ stats[homeId][abbrv] || '-' }}</div>
      <div class="st-item gray">{{ stats[awayId][abbrv] || '' }}</div>
    </ng-container>
  </div>
</div>