@import "../../../theme/new-variables.scss";

:host {
  width: 100%;
}

.statistics-wrap {
  width: 100%;

  .st-title {
    font-family: $RB;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #72787D;
    margin: 2px 0;

    @media #{$tablet, $desktop} {
      font-size: 15px;
    }
  }

  .st-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 5px;

    .st-item {
      width: calc(100% / 3);
      text-align: center;
      font-family: $RMB;
      font-size: 11px;
      text-transform: uppercase;
      color: #8d8d8d;

      @media #{$tablet, $desktop} {
        font-size: 14px;
      }

      @media #{$mobileXs} {
        font-size: 10px;
      }

      &.gray {
        color: #c8c8c8;
      }
    }
  }
}