@import "../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .ico-amount {
      width: 13px;
      height: 15px;
    }

    .ico-setting {
      width: 31px;
      height: 31px;
      --fill: #E8ECF2;
    }
  }
}

ion-header {

  @media #{$tablet} {
    // max-width: 535px;
    height: 75px;
    margin: 0 auto;
    // zoom: 1.25;
    position: relative;

    &:before,
    &:after {
      display: none;
    }
  }

  &:before,
  &:after {
    display: none;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:before {
    right: calc(100% - 1px);
    background-image: url('./../../../assets/bgs/bumper-green-left.svg');
    background-position: right;
  }

  &:after {
    left: calc(100% - 1px);
    background-image: url('./../../../assets/bgs/bumper-green-right.svg');
    background-position: left;
  }

  ion-toolbar {
    --background: $primary-theme-color;
    background: $primary-theme-color;
    --min-height: 60px;
    --padding-start: 10px;

    @media #{$tablet} {
      --min-height: 75px;
      height: 75px;
      &>* {
        zoom: 1.25;
      }
    }
  }
}