<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="showMenu">
        <ion-menu-toggle>
          <app-ico-svg [id]="'IcoMenu'"></app-ico-svg>
        </ion-menu-toggle>
      </ion-button>
      <app-balance [balance]="service.balance" *ngIf="showAmount"></app-balance>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <app-ico-svg (click)="open()" [class]="'logo'" [src]="'/assets/imgs/logo.svg#'" [id]="'Logo'">
      </app-ico-svg>
    </ion-title>
    <ion-buttons class="modal-box-close" slot="end" *ngIf="isPopup">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="showSettings">
      <ion-button routerLink="/preferences">
        <app-ico-svg [class]="'ico-setting'" [id]="'IcoSettings'"></app-ico-svg>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>