<div (touchmove)="cancel()" (click)="cancel()" class="backdrop" [style]="{top: top ? ( (top + 200 + 73) * ratioTablet ) + 'px' : 0}">
  <div class="number-keyboard-wrap">
   <app-close (onEvent)="cancel()"></app-close>
    <div class="numerics-box">
      <ul>
        <ng-container *ngFor="let item of numerics">
          <li [ngClass]="{'active' : activeClass === item.value}" (click)="setNumeric($event, item.value)">
            <app-ico-svg [class]="'numeric'" [src]="'/assets/icons/numbers.svg#'" [id]="'Ico' + item.id"></app-ico-svg>
          </li>
        </ng-container>
      </ul>
    </div>

  </div>
</div>