@import './../../../theme/new-variables.scss';

:host {
  ::ng-deep {
    ul {
      li {
        .numeric {
          width: 68px;
          height: 68px;
          --fill: #fff;
          --fill-square: #fff;
          --opacity: 0.5;
        }

        &:nth-child(13) {
          .numeric {
            --fill-square: #b0b0b0;
          }
        }

        &:last-child {
          .numeric {
            --fill-square: #b0b0b0;
          }
        }

        &:active,
        &:focus {
          .numeric {
            --fill: #000;
            --fill-square: #FF912C;
            --opacity: 1;
          }
        }
      }
    }

    .close {
      position: absolute;
      right: -1px;
      top: 2px;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-keyboard-wrap {
  background: rgba(73, 73, 73, 0.81);
  // box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  // width: 236px;
  border: 4px solid #b1b1b1;
  margin-top: 166px;
  padding: 30px 10px 5px;
  position: relative;
  border-radius: 18px;
  
  @media #{$tablet} {
    zoom: 1.2;
    margin-top: 172px;
  }

  @media #{$desktop} {
    zoom: 1;
  }

  @media #{$mobileXs} {
    transform: scale(.9);
  }
}

.numerics-box {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    justify-content: center;

    li {
      display: flex;
      margin-top: -2px;

      &:nth-child(3n-1) {
        margin-left: 0px;
      }

      &:nth-child(3n+3),
      &:nth-child(14) {
        margin-left: -2px;
      }

      &:last-child {
        grid-column-start: 3;
      }
    }
  }
}