<ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="without-btn">Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="6" size-lg="8" size-md="10">
        <ion-card>
          <ion-card-content [ngClass]="{'loader-section' : isBusy}">
            <div class="loader" *ngIf="isBusy"></div>
            <div class="searchWrap">
              <ion-searchbar class="searchBar" (input)="filteredUsers($event)" (ionClear)="clear()"
                placeholder="Search users" enterkeyhint="search">
              </ion-searchbar>
            </div>
            <div class="user-list">
              <ng-container *ngFor="let user of users, let i = index">
                <app-admin-user [innerData]="user"></app-admin-user>
              </ng-container>
            </div>
            <ion-buttons class="ion-justify-content-center">
              <ion-button *ngIf="!hideMoreBtn" class="default-button" (click)="more()">show more</ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>