<div class="mainWrapper">
  <div class="mainHeader">
    <ion-header mode="ios">
      <ion-toolbar color="dark">
        <ion-title>Edit Profile</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="cancelEdit()">
            Cancel
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button [color]="changedValue ? 'danger' : ''" [disabled]="!ProfileForm.valid"
            (click)="submitButton.click()">
            Save
          </ion-button>
          <button #submitButton type="submit" (click)="saveProfile()" hidden></button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <app-sub-header *ngIf="false"></app-sub-header>
  </div>
</div>

<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-xl="12" size-lg="12" size-md="10">
            <div class="progressBox" *ngIf="ShowProgressEmitter | async">
              <ion-progress-bar color="danger" [value]="(PercentageEmitter | async)"></ion-progress-bar>
              <div *ngIf="SnapshotEmitter | async as snap">
                <p>Downloaded {{ snap.bytesTransferred / 1024 | number:'1.1-2' }}KB of
                  <strong>{{ snap.totalBytes / 1024 | number:'1.1-2' }}KB</strong>
                </p>
              </div>
            </div>
            <ion-card>
              <ion-card-content>
                <form class="form" [formGroup]="ProfileForm">
                  <ion-row class="ion-align-items-end">
                    <ion-col push-lg="8" size-lg="4" size-xs="12">
                      <ion-row>
                        <ion-col>
                          <ion-avatar>
                            <label for="avatar" class="overlay">
                              <div class="overlay-box">Change your photo</div>
                              <div class="img" [ngStyle]="{ 'background-image': 'url(' + (UrlEmitter | async) + ')'}">
                              </div>
                            </label>
                          </ion-avatar>
                          <small>Use formats: JPG, PNG and GIF</small>
                          <small class="error-validation" *ngIf="isCropFailed">
                            Wrong file format.
                          </small>
                          <input id="avatar" type="file" (change)="addAvatar($event)" hidden>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-item lines="none" [ngClass]="ProfileForm.controls['color'].touched && ProfileForm.controls['color'].hasError('required') ? 
                'hasError' : '' || ProfileForm.controls['color'].valid ? 'validField' : ''">
                            <div class="color-box">
                              <ion-label class="color-label" position="floating">Color</ion-label>
                              <input type="color" formControlName="color" (change)="changedValues()" />
                            </div>
                          </ion-item>
                          <small class="error-validation"
                            *ngIf="ProfileForm.controls['color'].hasError('required') && ProfileForm.controls['color'].touched">
                            This field is required.
                          </small>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col pull-lg="4" size-lg="8" size-xs="12">
                      <ion-row>
                        <ion-col>
                          <ion-item [ngClass]="ProfileForm.controls['username'].touched && ProfileForm.controls['username'].hasError('required') || 
                      ProfileForm.controls['username'].hasError('pattern') && ProfileForm.controls['username'].touched ? 
            'hasError' : '' || ProfileForm.controls['username'].valid ? 'validField' : ''">
                            <ion-label position="floating">Username</ion-label>
                            <ion-input type="text" placeholder="Enter username" formControlName="username"
                              (change)="changedValues()">
                            </ion-input>
                          </ion-item>
                          <small class="error-validation"
                            *ngIf="ProfileForm.controls['username'].hasError('required') && ProfileForm.controls['username'].touched">
                            This field is required.
                          </small>
                          <small class="error-validation"
                            *ngIf="messageUniqueName && ProfileForm.controls['username'].touched">
                            Name must be unique. A user with the same name already exists.
                          </small>
                          <small class="error-validation"
                            *ngIf="ProfileForm.controls['username'].hasError('pattern') && ProfileForm.controls['username'].touched">
                            The field must contain only Latin letters and numbers.
                          </small>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-item [ngClass]="(ProfileForm.controls['publicName'].touched && ProfileForm.controls['publicName'].hasError('required') || 
                      ProfileForm.controls['publicName'].hasError('pattern') && ProfileForm.controls['publicName'].touched) ? 
            'hasError' : '' || ProfileForm.controls['publicName'].valid ? 'validField' : ''">
                            <ion-label position="floating">Public Name</ion-label>
                            <ion-input type="text" placeholder="Enter 3 letter name" formControlName="publicName"
                              maxlength="3" (change)="changedValues()">
                            </ion-input>
                          </ion-item>
                          <small class="error-validation"
                            *ngIf="ProfileForm.controls['publicName'].hasError('required') && ProfileForm.controls['publicName'].touched">
                            This field is required.
                          </small>
                          <small class="error-validation"
                            *ngIf="ProfileForm.controls['publicName'].hasError('pattern') && ProfileForm.controls['publicName'].touched">
                            The field must contain only Latin letters.
                          </small>
                          <small class="error-validation"
                            *ngIf="messageUniqueShortName && ProfileForm.controls['publicName'].touched">
                            Public name must be unique. A user with the same public name already exists.
                          </small>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-item>
                            <ion-label position="floating">Full Name</ion-label>
                            <ion-input type="text"
                              placeholder="Enter your first and last name - to be used for winning payouts"
                              formControlName="legalName" (change)="changedValues()">
                            </ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-item [ngClass]="ProfileForm.controls['email'].touched && ProfileForm.controls['email'].hasError('required') ||
            (ProfileForm.controls['email'].hasError('pattern') && ProfileForm.controls['email'].touched) ? 
           'hasError' : '' || ProfileForm.controls['email'].valid ? 'validField' : ''">
                            <ion-label position="floating">Email</ion-label>
                            <ion-input type="text" [attr.disabled]="true" placeholder="Enter new email"
                              formControlName="email" (change)="changedValues()">
                            </ion-input>
                          </ion-item>
                          <small class="error-validation"
                            *ngIf="ProfileForm.controls['email'].hasError('required') && ProfileForm.controls['email'].touched">
                            This field is required.
                          </small>
                          <small class="error-validation"
                            *ngIf="ProfileForm.controls['email'].hasError('pattern') && ProfileForm.controls['email'].touched">
                            Please enter valid e-mail address.
                          </small>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </form>
                <ion-row>
                  <ion-col>
                    <ion-card-title class="password-title">Email Updates</ion-card-title>
                  </ion-col>
                </ion-row>
                <app-update-email [data]="user" (emailChanges)="updateEmail($event)"></app-update-email>
                <ion-row>
                  <ion-col>
                    <ion-card-title class="password-title">Password Updates</ion-card-title>
                  </ion-col>
                </ion-row>
                <form [formGroup]="PasswordsForm" (submit)="updatePassword()" class="form">
                  <ion-row>
                    <ion-col>
                      <ion-item class="input-password-wrapper" [ngClass]="(PasswordsForm.controls['password'].hasError('required') && PasswordsForm.controls['password'].touched ||
            PasswordsForm.controls['password'].hasError('pattern') && PasswordsForm.controls['password'].touched) ? 'hasError' : '' || 
            PasswordsForm.controls['password'].valid ? 'validField' : ''">
                        <ion-label position="floating">New password</ion-label>
                        <ion-input [type]="!isVisible ? 'password' : 'text'" formControlName="password"
                          placeholder="Enter password">
                        </ion-input>
                        <ion-icon slot="end" name="eye-off" [name]="!isVisible ? 'eye-off' : 'eye'"
                          (click)="isVisible = !isVisible"></ion-icon>
                      </ion-item>
                      <small class="error-validation"
                        *ngIf="PasswordsForm.controls['password'].hasError('required') && PasswordsForm.controls['password'].touched">
                        This field is required.
                      </small>
                      <small class="error-validation"
                        *ngIf="PasswordsForm.controls['password'].hasError('pattern') && PasswordsForm.controls['password'].touched">
                        The password must be from 6 to 32 characters, include at least 1 number, one small and one large
                        letter
                      </small>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item class="input-password-wrapper"
                        [ngClass]="((PasswordsForm.controls['passwordConfirm'].hasError('required') && PasswordsForm.controls['passwordConfirm'].touched) || PasswordsForm.value['password'] != PasswordsForm.value['passwordConfirm']) ? 'hasError' : '' || PasswordsForm.controls['passwordConfirm'].valid ? 'validField' : ''">
                        <ion-label position="floating">Password confirm</ion-label>
                        <ion-input [type]="!isConfirmVisible ? 'password' : 'text'" formControlName="passwordConfirm"
                          placeholder="Enter password confirmation">
                        </ion-input>
                        <ion-icon slot="end" name="eye-off" [name]="!isConfirmVisible ? 'eye-off' : 'eye'"
                          (click)="isConfirmVisible = !isConfirmVisible"></ion-icon>
                      </ion-item>
                      <small class="error-validation"
                        *ngIf="PasswordsForm.controls['passwordConfirm'].hasError('required') && PasswordsForm.controls['passwordConfirm'].touched">
                        This field cannot be empty
                      </small>
                      <small class="error-validation"
                        *ngIf="PasswordsForm.controls['passwordConfirm'].touched && PasswordsForm.controls['password'].touched && PasswordsForm.value['password'] != PasswordsForm.value['passwordConfirm']">
                        Passwords do not match
                      </small>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <div class="ion-text-center">
                        <ion-button expand="block" type="submit" [disabled]="!PasswordsForm.valid" color="undefined"
                          class="btn-default green">
                          <strong class="white">
                            Save new password</strong>
                        </ion-button>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item *ngIf="error">
                        <ion-text class="error ion-text-center">{{error}}</ion-text>
                      </ion-item>
                      <ion-item *ngIf="linkError">
                        <ion-text class="error ion-text-center">{{linkError}}</ion-text>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </form>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>