@import "../../theme/variables.scss";

ion-header {
  @media #{$tablet} {
    // max-width: 535px;
    height: 75px;
    margin: 0 auto;
    // zoom: 1.25;
    position: relative;

    &:before,
    &:after {
      display: none;
    }
  }

  &:before,
  &:after {
    display: none;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:before {
    right: calc(100% - 1px);
    background-image: url('./../../assets/bgs/bumper-green-left.svg');
    background-position: right;
  }

  &:after {
    left: calc(100% - 1px);
    background-image: url('./../../assets/bgs/bumper-green-right.svg');
    background-position: left;
  }
  
  ion-toolbar {
    // --background: $primary-theme-color;
    // background: $primary-theme-color;
    --min-height: 60px;
    --padding-start: 10px;

    @media #{$tablet} {
      --min-height: 75px;
      height: 75px;
      &>* {
        zoom: 1.25;
      }
    }
  }

  ion-title {
    background: #8CC63F;
  }
}



ion-card {
  ion-card-title {

    &.password-title {
      margin-top: 20px;

      @media #{$tablet} {
        margin-top: 10px;
      }
    }
  }
}

ion-avatar {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: block;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50% 50% 0 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media #{$tablet} {
    width: 130px;
    height: 130px;
  }

  &+small {
    text-align: center;
    width: 100%;
    display: block;
    margin: 10px 0 0;
  }

  label {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }

  .img {
    border-radius: 50% 50% 0 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .overlay {
    cursor: pointer;

    .overlay-box {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 30px;
      margin: 0;
      font-size: 12px;
      text-align: center;
      color: #fff;
      font-weight: 500;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transition: all 0.3s;
      z-index: 2;
      padding: 0 14px;

      @media #{$tablet} {
        font-size: 9px;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

ion-icon {
  &[aria-label="save"] {
    width: 24px;
    height: 24px;
  }
}

.ion-center {
  display: flex;
  justify-content: center;
}

.transition {
  background: linear-gradient(to right, #c61c22 14%, #c61c22 96%);
}

.input-password-wrapper {
  ion-icon {
    align-self: flex-end;
  }
}

.color-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  input[type="color"] {
    -webkit-appearance: button;
    border: 1px solid #e2e0e0;
    background: #eee;
    padding: 5px;
    width: 45px;
    height: 20px;
    box-sizing: content-box;
  }
}

.color-label {
  transform: translate3d(0, 35%, 0) scale(1);
  transform-origin: left top;
  align-self: stretch;
  width: auto;
  max-width: 100%;
}