<div class="modal-wrapper">
  <div class="modal-close" (click)="cancel()">
    <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
  </div>
  <div class="modal-header"><h3>{{ text }}</h3></div>
  <div class="modal-content">
    <div class="btn-wrap">
      <button (click)="cancelEvent(); cancel()" class="btn-default transparent-white">Cancel</button>
      <button (click)="submit()" *ngIf="btnName" class="btn-default green">{{ btnName }}</button>
      <button (click)="submitConfirm(); cancel();" *ngIf="btnNameConfirm" class="btn-default green">{{ btnNameConfirm }}</button>
      <button (click)="deleteFriend( index, uid, nameArray, id ); cancel()" *ngIf="confirmDeleteBtnName" class="btn-default green">{{ confirmDeleteBtnName }}</button>
    </div>
  </div>
</div>