:host {
  ::ng-deep {
    .icon {
      width: 36px;
      height: 36px;
    }
  }
}

ion-content {
  overflow: hidden;
  --overflow: hidden;
}

.btn-wrap {
  display: flex;
  grid-gap: 10px;
  justify-content: center;

  .btn-default {
    padding: 0 18px;
  }
}
  