@import "../../../../theme/variables.scss";
::ng-deep {
  // display: flex;
  .user-list {
    .user-item {
      display: grid;
      grid-template-columns: auto 1fr auto;
      padding: 10px 0;
      align-items: center;
      border-bottom: 1px solid #ddd;

      @media #{$tablet} {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      &.editeble {
        // border-bottom-color: transparent;

        ion-input {
          border-bottom-color: transparent;
        }
      }
      ion-input {
        border-bottom: 1px solid #eee;
      }

      .avatar {
        width: 40px;
        height: 40px;
      }

      ion-label {
        @media #{$tablet} {
          width: calc(100% - 40px);
        }
      }

      ion-buttons {
        margin-left: 15px;

        @media #{$tablet} {
          margin: 10px 0;
          width: 100%;
          justify-content: flex-end;
        }
      }
    }
  }
}

form {
  width: 100%;

  ion-input {
    --padding-top: 3px;
    --padding-bottom: 3px;
    height: 30px;
    font-size: 14px;
  }
}

.color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}
