<div class="user-item" [ngClass]="{'editeble' : !isEditForm}">
  <ng-container>
    <ion-avatar class="avatar" slot="start" style="border-color: red">
      <img src="{{ user?.photoURL || constants.AVATAR_DEMO }}">
    </ion-avatar>
    <ion-label>
      <form [formGroup]="form">
        <ion-item lines="none" >
          <ion-label position="stacked"></ion-label>
          <div class="color-box">
            <input type="color" formControlName="color" />
          </div>
          <ion-input type="text" [attr.disabled]="true" [value]="email"></ion-input>
          <ion-input type="text" [attr.readonly]="!isEditForm" placeholder="Enter name" formControlName="name"></ion-input>
          <ion-input type="text" [attr.readonly]="!isEditForm" placeholder="Enter 3 letter name" formControlName="publicName"
            maxlength="3"></ion-input>
          <ion-input type="text" [attr.readonly]="!isEditForm" placeholder="Enter legalName" formControlName="legalName">
          </ion-input>
          <ion-input type="text" [attr.readonly]="!isEditForm" placeholder="Enter keywords" formControlName="keywords"
          [value]="form.get('name').value.toLowerCase() + ', ' + form.get('publicName').value.toLowerCase()">
          </ion-input>
          <ion-input type="text" [attr.disabled]="true" [value]="time"></ion-input>
        </ion-item>
      </form>
    </ion-label>
    <ion-buttons slot="end" *ngIf="!isEditForm">
      <ion-button (click)="edit(user?.id)">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isEditForm">
      <ion-button (click)="recover()" color="danger">
        <ion-icon slot="icon-only" name="key-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="save()" color="success">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="cancel()" color="default">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-container>
</div>