@import "../../../theme/variables.scss";
@import "../../../theme/new-variables.scss";

:host {
  ::ng-deep {

    .ico-amount-box {
      width: 24px;
      height: 24px;
    }

    .ico-dollar {
      width: 26px;
      height: 26px;
    }

    .trophy-laurel-block {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .ico-laurel {
        width: 118px;
        height: 105px;
        --filter-left: url('/assets/icons/icons.svg#filter-left');
        --filter-right: url('/assets/icons/icons.svg#filter-right');

        @media #{$mobileXs} {
          width: 100px;
          height: 98px;
        }
      }

      .ico-trophy {
        width: 54px;
        height: 53px;
        position: absolute;
        top: 28px;
        left: 50%;
        --stroke: #eeb024;
        transform: translateX(-50%);
        --filter-left: url('/assets/icons/icons.svg#filter-trophy-profile');

        @media #{$mobileXs} {
          width: 40px;
          height: 45px;
        }
      }
    }

    .modal-box-close {
      display: none;
    }
  }
}

.profile-container {
  padding-bottom: 30px;
}

.profile-header {
  position: relative;

  .profile-avatar {
    width: 100%;
    height: 280px;
    margin: 0 auto;
    background-image: url('/assets/bgs/profile-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 0;
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media #{$mobileXs} {
      height: 240px;
      top: 52px;

    }

    .profile-username {
      font-family: $TBl;
      font-size: 20px;
      text-transform: uppercase;
      color: #000;
      margin-top: 65px;
    }

    .profile-number {
      font-family: $TB;
      font-size: 96px;
      color: #515151;
      margin-top: 20px;
    }
  }
}

.profile-title {
  height: 100px;
  background: #9747ff;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @media #{$mobileXs} {
    height: 80px;
  }

  h3 {
    font-family: $RB;
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;

    @media #{$mobileXs} {
      font-size: 26px;
    }    
  }
}

.profile-overlay {
  height: 200px;
  background: #b3b3b3;
  @media #{$mobileXs} {
    height: 165px;
  }
}

.profile-bid-banners {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 7px;

  @media #{$mobileXs} {
    margin-top: 75px;
  }

  .item {
    background-image: url('/assets/bgs/profile-amount-box.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 66px;
    height: 138px;
    position: relative;
    margin: 0 18px;
    padding: 20px 9px 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @media #{$mobileXs} {
      width: 58px;
      height: 120px;
      padding: 16px 0 20px;  
    }

    &:nth-child(1),
    &:nth-child(3) {
      margin-top: 15px;
    }

    &:nth-child(2) {
      .item-result {
        background: #F1F1F1;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);

        div {
          background: transparent;
        }
      }
    }

    &:nth-child(3) {
      padding-bottom: 20px;
    }

    .item-icon {
      position: absolute;
      top: -11px;
      left: 50%;
      transform: translateX(-50%);
    }

    .item-result {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: rgba(223, 223, 223, 1);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07) inset;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      // margin-bottom: 19px;

      @media #{$mobileXs} {
        width: 44px;
        height: 44px;
      }

      div {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        @media #{$mobileXs} {
          width: 40px;
          height: 40px;
        }

        span {
          font-family: $RM;
          font-weight: 600;
          font-size: 20px;
          color: rgba(50, 50, 50, 1);

          @media #{$mobileXs} {
            font-size: 15px;
          }
        }
      }

      em {
        width: 52px;
        height: 17px;
        background: #DA2127;
        border-radius: 1px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -2px;
        font-style: normal;
        font-family: $RM;
        font-size: 12px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        @media #{$mobileXs} {
          width: 48px;
        }
      }
    }

    p {
      margin: 0;
      font-family: $RR;
      font-weight: 600;
      font-size: 11px;
      color: rgba(114, 114, 114, 1);
      text-transform: uppercase;
      text-align: center;

      @media #{$mobileXs} {
        font-size: 10px;
      }

      span {
        font-family: inherit;
        font-size: 15px;
        text-transform: uppercase;

        @media #{$mobileXs} {
          font-size: 13px;
        }
      }
    }
  }
}

.trophy-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-season {
  background: #ABABAB;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-family: $RB;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  height: 15px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  position: relative;
  top: -4px;    
}

.profile-results {
  display: grid;
  grid-template-columns: 52px 22px 72px 22px 52px;
  grid-gap: 1px;
  margin: 7px 0 20px;
  justify-content: center;

  .item {
    height: 22px;
    // width: 52px;
    border: 1px solid #EAEAEA;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    background: #F4F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $RB;
    font-size: 10px;
    color: rgba(40, 61, 12, 1);
    text-transform: uppercase;

    &:nth-child(1) {
      background: #8CC63F;
    }

    &:nth-child(3) {
      color: rgba(98, 76, 21, 1);
      background: #F7BA19;
    }

    &:nth-child(5) {
      background: #FF8181;
    }
  }
}

.btn-wrap {
  text-align: center;

  &+.btn-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn-default {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
  }
}