<div class="mainWrapper">
  <div class="mainHeader">
    <app-header [showAmount]="true" [isPopup]="true"></app-header>
    <app-sub-header [active]="true"></app-sub-header>
  </div>
</div>
<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer">
      <div class="profile-container">
        <div class="profile-header">
          <div class="profile-title">
            <h3>player profile</h3>
          </div>
          <div class="profile-overlay"></div>
          <div class="profile-avatar">
            <div class="profile-username">{{ username }}</div>
            <div class="profile-number">XX</div>
          </div>
        </div>

        <div class="profile-bid-banners">
          <div class="item">
            <div class="item-icon">
              <app-ico-svg [class]="'ico-amount-box'" [src]="Constants.SRC.ICONS" [id]="'IcoAmountBox'"></app-ico-svg>
            </div>
            <div class="item-result">
              <div>
                <span>{{optimizedStats[sportSelected]?.gamesCount}}</span>
              </div>
            </div>
            <p>games <span>played</span></p>
          </div>

          <div class="item">
            <div class="item-icon">
              <app-ico-svg [class]="'ico-dollar'" [src]="Constants.SRC.ICONS" [id]="'IcoDollar'"></app-ico-svg>
            </div>
            <div class="item-result">
              <div>
                <span>0</span>
              </div>
              <em>{{(optimizedStats[sportSelected]?.challengesPrizes || 0 | number:'1.2')}}</em>
            </div>
            <p>total amount <span>won</span></p>
          </div>

          <div class="item">
            <div class="item-icon">
              <app-ico-svg [class]="'ico-amount-box'" [src]="Constants.SRC.ICONS" [id]="'IcoAmountBox'"></app-ico-svg>
            </div>
            <div class="item-result">
              <div>
                <span>{{optimizedStats[sportSelected]?.gamesWon || 0}}</span>
              </div>
            </div>
            <p>games <span>won</span></p>
          </div>
        </div>
        <div class="trophy-box">
          <div class="trophy-laurel-block">
            <app-ico-svg [class]="'ico-laurel'" [src]="Constants.SRC.ICONS" [id]="'IcoLaurel'"></app-ico-svg>
            <app-ico-svg [class]="'ico-trophy'" [src]="Constants.SRC.ICONS" [id]="'IcoTrophyProfile'"></app-ico-svg>
          </div>
          <div class="profile-season">
            2022 season
          </div>
        </div>

        <div class="profile-results">
          <div class="item item-title">win</div>
          <div class="item item-text">{{optimizedStats[sportSelected]?.challengesWon || 0 }}</div>
          <div class="item item-title">challenges</div>
          <div class="item item-text">{{ optimizedStats[sportSelected]?.challengesCount || 0 }}</div>
          <div class="item item-title">loss</div>
          <!-- <div class="item item-text">{{ optimizedStats[sportSelected]?.challengesCount || 0 }}</div> -->
        </div>

        <div class="btn-wrap" *ngIf="!publicProfile">
          <div class="btn-default transparent-gray" (click)="editProfile()">edit</div>
        </div>

        <div class="btn-wrap">
          <div (click)="closeProfile()" class="btn-default green">close</div>
        </div>

        <div class="btn-wrap" *ngIf="publicProfile">
          <div (click)="reportProfile()" class="btn-default danger">report</div>
        </div>
      </div>
    </div>
  </div>