<!-- <ion-header mode="ios">
  <ion-toolbar [color]="profilePopup ? '' : 'dark'">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" *ngIf="!profilePopup"></ion-back-button>
    </ion-buttons>
    <ion-title class="without-btn" [size]="profilePopup ?  'small' : 'medium'"
      [ngClass]="profilePopup ? '' : 'ion-text-center'">Profile
    </ion-title>
    <ion-buttons slot="end" (click)="editProfile()" skipLocationChange *ngIf="!publicProfile">
      <ion-button>
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="profilePopup">
      <ion-button *ngIf="isAdmin" (click)="forceUpdateStats()">
        <ion-icon slot="icon-only" name="reload-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<div class="mainWrapper">
  <div class="mainHeader">
    <app-header [showAmount]="false"></app-header>
    <app-sub-header *ngIf="false"></app-sub-header>
  </div>
</div>
<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer">
      <div class="right-sidebar" [ngClass]="{'show' : showFriends }">
        <ion-list class="listDefault">
          <ion-item lines="none" *ngFor="let friend of publicFriends; let i = index">
            <app-user [name]="users[friend['uid']]?.name"
              [src]="users[friend['uid']]?.photoURL || constants.AVATAR_DEMO" [id]="friend['uid']"
              [listComponent]="true" [challengesWon]="users[friend['uid']]?.stats?.challengesWon"
              [color]="users[friend['uid']]?.color"></app-user>
          </ion-item>
        </ion-list>
      </div>
      <div class="overlay" [ngClass]="{'show' : showFriends }" (click)="showFriends = false"></div>
      <ion-card class="profileCard" [ngClass]="{ 'profile-popup' : profilePopup }">
        <div class="profile-wrap">
          <ion-card-header>
            <div class="avatar-box">
              <div class="trophy-block-profile animated" *ngIf="userStats.challengesWon"
                [ngClass]="getTrophyColor(userStats.challengesWon)">
                <svg class="icon gold" aria-hidden="true">
                  <use xlink:href="assets/icon/trophey.svg#trophyIcon"></use>
                </svg>
                <svg class="icon silver" aria-hidden="true">
                  <use xlink:href="assets/icon/trophey-silver.svg#trophyIcon"></use>
                </svg>
                <svg class="icon bronze" aria-hidden="true">
                  <use xlink:href="assets/icon/trophey-bronze.svg#trophyIcon"></use>
                </svg>
                <ion-badge>
                  {{ userStats.challengesWon }}
                </ion-badge>
              </div>
              <div class="avatar" [ngStyle]="{'background-image': 'url(' + url + ')', 'border-color': color}"></div>
            </div>
            <ion-card-title class="ion-text-center" [ngStyle]="{'color' : color}">
              {{ username }}
            </ion-card-title>
            <div class="subtitle-wrap">
              <div class="subtitle">
                <ion-card-subtitle>
                  <div class="item link" *ngIf="friendsCount" (click)="openFriends()">
                    Friends: <span>{{ friendsCount }}</span>
                  </div>
                  <div class="item" *ngIf="!publicProfile">
                    Color: <div class="color" slot="end" [ngStyle]="{ 'background-color': color }"></div>
                  </div>
                </ion-card-subtitle>
                <ion-card-subtitle *ngIf="!publicProfile">
                  <div class="item">
                    Email: <strong>{{ email }}</strong>
                  </div>
                </ion-card-subtitle>
              </div>
            </div>
          </ion-card-header>

          <ion-card-content class="ion-text-center ion-no-padding ion-padding-vertical">
            <ion-buttons class="btn-wrap" [ngClass]="{'mobile-btn' : profilePopup}">
              <ion-button *ngIf="publicProfile" (click)="openChat()" size="small" class="ion-text-uppercase">
                <ion-icon name="chatbubbles"></ion-icon>
                Message
              </ion-button>
              <ion-button *ngIf="!isHiddenBtn && publicProfile" [disabled]='isAddFriend' (click)="addFriend()"
                size="small" class="ion-text-uppercase">
                <ion-icon *ngIf="!isAddFriend" name="person-add"></ion-icon>
                <span *ngIf="!isAddFriend">Add Friend</span>
                <span *ngIf="isAddFriend">Friend’s Request Sent</span>
              </ion-button>
              <!-- <div class="drop-down_wrap"> -->
              <ion-button *ngIf="isHiddenBtn" size="small" class="ion-text-uppercase" (click)="deleteFriend()">
                <!-- <ion-icon  name="checkmark"></ion-icon> -->

                <ion-icon style="margin-right: 5px;" slot="start" name="remove-circle-outline"></ion-icon>
                Unfriend
                <!-- <ion-icon slot="end" name="chevron-down"></ion-icon> -->
              </ion-button>
              <!-- <div class="drop-down" *ngIf="openUnfriend">
              <ion-button (click)="deleteFriend()">
                Unfriend
              </ion-button>
            </div> -->
              <!-- </div> -->
            </ion-buttons>
          </ion-card-content>
          <hr>
        </div>

        <ng-container *ngIf="optimizedStats">
          <div>
            <div class="tabs-default">
              <ion-segment mode="ios" value="all" (ionChange)="selectSport($event)">
                <ng-container *ngFor="let tab of tabsBySport">
                  <ion-segment-button tap layout="icon-start" [value]="tab.name"
                    *ngIf="optimizedStats[tab.name]?.gamesCount > 0">
                    <ion-icon *ngIf="tab.icon" name="{{tab.icon}}"></ion-icon>
                    <ion-label>{{ tab.name }}</ion-label>
                  </ion-segment-button>
                </ng-container>
              </ion-segment>
            </div>
            <div class="trophy-wrapper">

              <div class="total-prize">
                <div class="label">Total Prize Amount:</div>
                <div class="amount" [innerHTML]="'$'+ optimizedStats[sportSelected]?.challengesPrizes | characters">
                </div>
              </div>
              <div class="challenge-progress">
                <div class="progress-box">
                  <round-progress [current]="optimizedStats[sportSelected]?.challengesWon"
                    [max]="optimizedStats[sportSelected]?.challengesCount || 0" [semicircle]="true" [stroke]="15"
                    [radius]="80" [color]="'#cc4448'" [background]="'#6B6B6B'">
                  </round-progress>
                  <div class="progress-label played">
                    played
                    <span>{{ optimizedStats[sportSelected]?.challengesCount || 0 }}</span>
                  </div>
                  <div class="progress-label won">
                    won
                    <span>{{optimizedStats[sportSelected]?.challengesWon || 0 }}</span>
                  </div>
                  <div class="progress-title">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="assets/icon/ch-trophey.svg#chTropheyIcon"></use>
                    </svg>
                    Challenges
                  </div>
                </div>
              </div>
              <div class="total-prize games">
                <div class="label">Games</div>
                <div class="games-reward">
                  <div class="item">
                    <div>played</div>
                    <div class="amount">{{ optimizedStats[sportSelected]?.gamesCount || 0 }}</div>
                  </div>
                  <div class="item">
                    <div>won</div>
                    <div class="amount">{{ optimizedStats[sportSelected]?.gamesWon || 0 }}</div>
                  </div>
                </div>
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="assets/icon/reward.svg#rewardIcon"></use>
                </svg>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="btn-wrap" *ngIf="!publicProfile">
          <ion-button expand="block" type="button" color="undefined" class="btn-default green"
            (click)="confirmRemoveUser()">
            <strong class="white">
              Delete Account and Data</strong>
          </ion-button>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>