@import "../../../theme/variables.scss";
@import "../../../theme/new-variables.scss";

ion-header {
  ion-title {
    @media #{$tablet} {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0;
      bottom: 0;
      padding: 0;
      top: 0;
    }
  }

  @media #{$tablet} {
    &.header-ios ion-toolbar:last-of-type {
      --border-width: 0;
    }
  }
}

.profileCard {
  overflow: visible;
  box-shadow: none;
  padding: 15px;
  max-width: 580px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media #{$tablet} {
    max-width: 100%;
    padding: 15px 20px;

    @media #{$tablet} {
      padding: 0 10px;
    }
  }

  ion-card-header {
    width: 100%;

    @media #{$tablet} {
      padding: 10px 0 0;
      min-height: inherit;
    }

    &+.card-content-ios {
      @media #{$tablet} {
        padding-bottom: 0;
      }
    }

    // background: #e4e4e4;
    .avatar-box {
      position: relative;
      margin-bottom: 20px;

      @media #{$mobileXs} {
        margin-bottom: 10px;
      }
    }

    .avatar {
      width: 246px;
      height: 246px;
      margin: 0 auto;
      // border: 4px solid;
      position: relative;
      overflow: hidden;
      display: block;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      border-radius: 50% 50% 0 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @media #{$mobileXs} {
        width: 130px;
        height: 130px;
      }
    }
  }

  .color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .drop-down_wrap {
    position: relative;
    display: flex;

    &>ion-button {
      margin: 0;

      ion-icon {
        &[slot="end"] {
          margin-right: 0;
          width: 12px;
        }
      }
    }

    .drop-down {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      background: $primary-theme-color;
      margin-top: 10px;

      ion-button {
        text-transform: uppercase;
        font-size: 12px;
        color: #fff;
        width: 100%;
        margin: 0;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 100%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 8px 7px;
        border-color: transparent transparent $primary-theme-color transparent;
      }
    }
  }

  .btn-wrap {
    display: flex;
    justify-content: center;
    margin: 10px -5px 0;

    // ion-button {
    //   border-radius: 4px;
    //   background: $green;
    //   color: #fff;
    //   font-family: $RR;
    //   font-size: 14px;
    //   text-transform: uppercase;
    //   margin: 0 5px;
    //   padding: 0 10px;

    //   @media #{$mobileXs} {
    //     padding: 0 5px;
    //     width: calc(100% - 10px);
    //   }

    //   ion-icon {
    //     margin-right: 10px;
    //     color: #fff;
    //   }
    // }
  }
}

ion-icon {
  &[aria-label="create"] {
    width: 24px;
    height: 24px;
  }
}

ion-card-title {
  font-size: 20px;
  font-family: $RMB;
  margin-bottom: 20px;


  @media #{$mobileXs} {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

ion-card-subtitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  font-family: $RR;
  font-size: 14px;
  color: $light-gray;
  font-weight: normal;
  text-transform: none;
  font-family: $RR;

  .item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &.link {
      position: relative;
      cursor: pointer;

      &:after {
        content: "";
        width: 100%;
        height: 2px;
        background: #00843d;
        position: absolute;
        left: 0;
        top: 100%;
        transition: all 0.4s;
      }

      &:hover {
        color: #00843d;

        span {
          color: inherit;
        }

        &:after {
          width: 0;
        }
      }
    }

    div {
      margin-left: 10px;
    }
  }

  span {
    color: $gray;
    font-family: $RR;
    margin-left: 5px;
  }

  strong {
    color: $gray;
    font-weight: bold;
    text-transform: none;
    margin-left: 5px;
  }
}

.subtitle-wrap {
  display: flex;
  justify-content: center;

  .subtitle {
    display: inline-block;
  }
}

hr {
  width: 100%;
  background: #cacaca;
}

ion-list {

  ion-label,
  ion-note {
    @media #{$tablet} {
      font-size: 14px;
    }
  }

  ion-button {
    margin: 0;

    @media #{$tablet} {
      width: 32px;
    }
  }
}

.trophy-block-profile {
  display: block;
  background: $primary-theme-color;
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50% 50% 50% 0;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  right: calc(50% - 160px);
  top: 5px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @media #{$tablet} {
    right: calc(50% - 90px);
    padding: 10px;
    width: 52px;
    height: 52px;
  }

  &.animated {
    animation: card 0.6s linear;

    ion-icon {
      animation: trophy 1s 0.9s ease;
    }

    ion-badge {
      animation: showCounter 0.6s 0.6s ease forwards;
    }
  }

  &.gold {
    .gold {
      display: block;
    }
  }

  &.silver {
    .silver {
      display: block;
    }
  }

  &.bronze {
    .bronze {
      display: block;
    }
  }

  .icon {
    display: none;
    width: 40px;
    height: 43px;

    @media #{$tablet} {
      width: 26px;
      height: 28px;
    }
  }

  ion-badge {
    font-family: $RB;
    color: #000;
    position: absolute;
    width: 100%;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    top: 16px;
    left: 0;
    // padding: 0 0 11px;
    font-size: 26px;
    opacity: 0;

    @media #{$tablet} {
      top: 12px;
      font-size: 10px;
    }
  }
}

.mobile-btn {
  @media #{$mobileXs} {
    margin-left: 0;
    margin-right: 0;
  }
}

.tabs-default {
  margin: 24px 0 16px;

  @media #{$tablet} {
    margin: 0 0 10px;
  }
}

.profile-wrap {
  position: relative;
  z-index: 1;
}

.trophy-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;

  @media #{$tablet} {
    display: block;
  }

  .total-prize {
    grid-row: 1 / 2;
    width: auto;
    height: 60px;
    // margin: 15px 0;
    background: #355589;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;

    @media #{$mobileXs} {
      justify-content: space-between;
      margin: 5px 0;
      padding: 4px 5px;
      height: 44px;
    }

    &.games {
      padding: 6px 20px;
    }

    .label {
      font-family: $RR;
      font-size: 16px;
      color: #fff;
      margin: 0 10px 0 14px;

      @media #{$mobileXs} {
        margin: 0 5px 0 8px;
        font-size: 14px;
      }
    }

    .icon {
      width: 30px;
      height: 42px;

      @media #{$mobileXs} {
        width: 22px;
        height: 32px;
      }
    }

    .games-reward {
      display: flex;

      .item {
        padding: 0 14px;
        color: #fff;
        justify-content: center;
        text-align: center;
        position: relative;

        @media #{$tablet} {
          padding: 0 20px;
        }

        &:first-child {
          &:before {
            display: none;
          }
        }

        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 1px;
          // height: 100%;
          background: #fff;
          left: 0px;
          top: 5px;
          bottom: 5px;
        }

        div {
          font-family: $RR;
          font-size: 12px;
        }

        .amount {
          font-size: 25px;
          font-family: $RB;
          justify-content: center;

          @media #{$mobileXs} {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.challenge-progress {
  grid-row: 1 / 3;
  margin-top: 20px;
  text-align: center;

  // margin: 40px 0;
  // @media #{$miniMobile} {
  //   margin: 15px 0;
  // }
  .progress-box {
    position: relative;
    display: inline-block;
    margin: 0 35px;
  }

  round-progress {
    margin: 0 auto;
  }

  .progress-title {
    font-size: 16px;
    color: $gray;
    font-family: $RR;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;

    @media #{$mobileXs} {
      font-size: 13px;
    }

    .icon {
      width: 42px;
      height: 42px;
      margin-bottom: 5px;

      @media #{$mobileXs} {
        width: 35px;
        height: 37px;
      }
    }
  }

  .progress-label {
    font-size: 12px;
    font-family: $RR;
    color: $light-gray;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.played {
      position: absolute;
      left: calc(100% + 0px);
      bottom: 10px;

      @media #{$tablet} {
        left: 100%;
      }
    }

    &.won {
      position: absolute;
      left: -15px;
      top: 20px;
    }

    span {
      font-size: 18px;
      font-family: $RB;
      color: $gray;
    }
  }

  &+.total-prize {
    margin-top: 16px;
    grid-row: 2 / 3;
  }
}

.profile-popup {
  &.profileCard {
    ion-card-header {
      padding: 10px 0 0;

      &+.card-content-ios {
        // padding-bottom: 10px;
      }

      .avatar {
        width: 180px;
        height: 180px;

        @media #{$mobileXs} {
          width: 130px;
          height: 130px;
        }
      }

      .trophy-block-profile {
        right: inherit;
        left: calc(50% + 60px);

        @media #{$mobileXs} {
          left: calc(50% + 45px);
        }
      }
    }

    ion-card-title {
      margin-bottom: 5px;
    }
  }

  .trophy-wrapper {
    .total-prize {
      height: 60px;

      @media #{$mobileXs} {
        height: 50px;
      }

      .amount {
        span {
          font-size: 28px;
        }
      }
    }
  }

  .sport-tabs {
    margin-top: 0;
  }
}

.right-sidebar {
  position: absolute;
  right: 0;
  top: 0;
  overflow: auto;
  bottom: 0px;
  padding: 10px;
  width: 40%;
  background: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
  transform: translateX(100%);
  z-index: 9;

  @media #{$miniMobile} {
    width: auto;
  }

  &.show {
    transform: translateX(0);
  }
}

.overlay {
  display: none;

  &.show {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 8;
  }
}

@keyframes card {
  from {
    transform: rotateY(0deg);
    opacity: 0.2;
    transform-origin: center center;
    filter: grayscale(100%);
  }

  to {
    transform: rotateY(180deg);
    transform-origin: center center;
    filter: grayscale(0%);
    opacity: 0.6;
  }
}

@keyframes trophy {
  0% {
    transform: scale(0.8, 0.8);
    transition: 0.2s;
    opacity: 0.6;
  }

  60% {
    transform: scale(1.2, 1.2);
    transition: 0.15s;
    opacity: 0.8;
  }

  100% {
    transform: scale(1, 1);
    transition: 0.1s;
    opacity: 1;
  }
}

@keyframes showCounter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}