<div class="modal-wrapper">
  <div class="modal-close" (click)="cancel()">
    <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
  </div>
  <div class="modal-header">
    <h3>Game Team Admin</h3>
  </div>
  <div class="modal-content">
    <ion-list class="modal-list">
      <ion-item *ngFor="let key of team">
        <app-user [name]="users[key]?.name || '......'" [src]="users[key]?.photoURL || Constants.AVATAR_DEMO"
          [id]="key"></app-user>
        <ion-icon (click)="deleteUser(key)" slot="icon-only" slot="end" name="trash" color="danger"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</div>