<!-- <ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      MessageBox
    </ion-title>
    <ion-buttons slot="end" *ngIf="true">
      <ion-button (click)="manageChat(null, true, true)">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<div class="mainWrapper">
  <div class="mainHeader">
    <app-header [showAmount]="false"></app-header>
    <app-sub-header *ngIf="false"></app-sub-header>
  </div>
</div>
<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer no-subHeader">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-xl="12" size-lg="12" size-md="10">
            <div class="searchWrap">
              <ion-searchbar class="searchBar" (keyup)="filterChatList($event)" (ionClear)="clearFilter()"
                placeholder="Search Messages" enterkeyhint="search">

              </ion-searchbar>
            </div>

            <ion-list class="listDefault">
              <div class="title">
                <div class="left">
                  <span>Recent Messages</span>
                </div>
                <div class="link" (click)="manageChat(null, true, true)">Add chat</div>
              </div>
              <ion-item-sliding class="notifications" *ngFor="let startKey of getSortedSchedule()">
                <ng-container *ngIf="links[startKey]['notificationId']">
                  <ion-item lines="none"
                    (click)="readNotification(notificationsLinks[links[startKey]['notificationId']]?.id)" detail="false"
                    style="display: inherit">

                    <ion-avatar class="avatar"
                      *ngIf="notificationsLinks[links[startKey]['notificationId']]?.sendRequest" slot="start"
                      (click)="userInfo(notificationsLinks[links[startKey]['notificationId']]?.sender)">
                      <img
                        src="{{ getUser(notificationsLinks[links[startKey]['notificationId']]?.sender)?.photoURL || constants.AVATAR_DEMO }}">
                    </ion-avatar>

                    <ion-label class="ion-no-margin"
                      [ngClass]="{'bold': unseen && unseen.includes(notificationsLinks[links[startKey]['notificationId']]?.id)}">
                      <h3> {{notificationsLinks[links[startKey]['notificationId']]?.title}}</h3>
                      <div class="date">
                        <span>{{notificationsLinks[links[startKey]['notificationId']]?.start.toDate()|date:'shortDate'}}</span>
                        <span>{{notificationsLinks[links[startKey]['notificationId']]?.start.toDate()|date:'shortTime'}}</span>
                      </div>
                      <p id="n-{{notificationsLinks[links[startKey]['notificationId']]?.id}}"
                        onclick="this.style.display = (this.style.display=='-webkit-box')?'block':'-webkit-box';this.nextSibling.innerHTML=(this.style.display=='-webkit-box'&&this.clientHeight < this.scrollHeight)?'(more)':'';"
                        style="white-space: initial; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical;">
                        <a *ngIf="notificationsLinks[links[startKey]['notificationId']]?.sendRequest"
                          (click)="userInfo(notificationsLinks[links[startKey]['notificationId']]?.sender)">
                          {{getUser(notificationsLinks[links[startKey]['notificationId']]?.sender)?.name}}
                          <div class="trophy-block"
                            *ngIf="getUser(notificationsLinks[links[startKey]['notificationId']]?.sender)?.stats?.challengesWon">
                            <ion-icon name="trophy">
                            </ion-icon>
                            <ion-badge>
                              {{
                              getUser(notificationsLinks[links[startKey]['notificationId']]?.sender)?.stats?.challengesWon
                              }}
                            </ion-badge>
                          </div>
                        </a>
                        {{notificationsLinks[links[startKey]['notificationId']]?.text}}
                      </p>
                      <p *ngIf="isTextOverflow('n-'+notificationsLinks[links[startKey]['notificationId']]?.id)"
                        style="font-weight: bold;">(more)</p>
                    </ion-label>

                    <ion-buttons slot="end"
                      *ngIf="notificationsLinks[links[startKey]['notificationId']]?.inviteRequest || notificationsLinks[links[startKey]['notificationId']]?.linkSharing">
                      <ion-button *ngIf="notificationsLinks[links[startKey]['notificationId']]?.inviteRequest"
                        (click)="confirmGameInvite(notificationsLinks[links[startKey]['notificationId']], startKey)"
                        color="success" class="ion-padding-top ion-padding-bottom" style="height: 100%;">
                        <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                      </ion-button>
                      <ion-button *ngIf="notificationsLinks[links[startKey]['notificationId']]?.linkSharing"
                        (click)="openInviteGame(notificationsLinks[links[startKey]['notificationId']]?.linkSharing, notificationsLinks[links[startKey]['notificationId']]?.sender)"
                        color="success" class="ion-padding-top ion-padding-bottom" style="height: 100%;">
                        <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                      </ion-button>
                      <ion-button
                        (click)="deleteNotification(notificationsLinks[links[startKey]['notificationId']]?.id, startKey)"
                        class="ion-padding-top ion-padding-bottom" style="height: 100%;">
                        <ion-icon slot="icon-only" name="trash" color="black"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                    <ion-buttons slot="end"
                      *ngIf="notificationsLinks[links[startKey]['notificationId']]?.friendRequest">
                      <ion-button
                        (click)="acceptInvite(notificationsLinks[links[startKey]['notificationId']]?.sender, false, notificationsLinks[links[startKey]['notificationId']]?.id, startKey)"
                        color="success" class="ion-padding-top ion-padding-bottom" style="height: 100%;">
                        <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
                      </ion-button>
                      <ion-button
                        (click)="confirmDelete(null, notificationsLinks[links[startKey]['notificationId']]?.sender, 'Are you sure you want to delete the friend invitation?', null, notificationsLinks[links[startKey]['notificationId']]?.id)"
                        class="ion-padding-top ion-padding-bottom" style="height: 100%;">
                        <ion-icon slot="icon-only" name="trash" color="black"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                    <ion-buttons slot="end" *ngIf="notificationsLinks[links[startKey]['notificationId']]?.chatRequest">

                      <ion-button (click)="acceptChat(user.uid, notificationsLinks[links[startKey]['notificationId']])"
                        class="ion-padding-top ion-padding-bottom" style="height: 100%;">
                        <ion-icon slot="icon-only" name="arrow-forward-outline" color="success"></ion-icon>
                      </ion-button>
                      <ion-button
                        (click)="declineChat(notificationsLinks[links[startKey]['notificationId']]?.id, startKey)"
                        class="ion-padding-top ion-padding-bottom" style="height: 100%;">
                        <ion-icon slot="icon-only" name="close-circle-outline" color="warning"></ion-icon>
                      </ion-button>
                      <ion-button
                        (click)="blockedUser(notificationsLinks[links[startKey]['notificationId']]?.sender, true, notificationsLinks[links[startKey]['notificationId']]?.id, startKey)"
                        class="blocked-user" color="warning" class="ion-padding-top ion-padding-bottom"
                        style="height: 100%;">
                        <ion-icon slot="icon-only" name="hand-left-outline" color="danger"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-item>
                  <ion-item-options>
                    <ion-item-option
                      (click)="readNotification(notificationsLinks[links[startKey]['notificationId']]?.id)"
                      color="warning" class="ion-text-center">
                      <ion-icon slot="start" name="create"></ion-icon>
                      Read
                    </ion-item-option>
                    <ion-item-option
                      (click)="deleteNotification(notificationsLinks[links[startKey]['notificationId']]?.id, startKey)"
                      color="danger" class="ion-text-center">
                      <ion-icon slot="start" name="create"></ion-icon>
                      Dismiss
                    </ion-item-option>
                  </ion-item-options>
                </ng-container>

                <ng-container *ngIf="links[startKey]['chatId']">
                  <ion-item lines="none"
                    *ngIf="chatLinks[links[startKey]['chatId']]?.admin || messages[chatLinks[links[startKey]['chatId']]?.id].length > 0 || chatLinks[links[startKey]['chatId']]?.private">
                    <ion-avatar class="avatar" slot="start" *ngIf="chatLinks[links[startKey]['chatId']]?.private">
                      <ng-container *ngFor="let user_uid of getChatUsers(chatLinks[links[startKey]['chatId']]?.id)">
                        <a (click)="userInfo(user_uid)"
                          [ngStyle]="{'background-image': 'url(' + (users[user_uid]?.photoURL||constants.AVATAR_DEMO) + ')'}"></a>
                      </ng-container>
                    </ion-avatar>
                    <ion-avatar class="avatar" slot="start"
                      *ngIf="!chatLinks[links[startKey]['chatId']]?.private && chatLinks[links[startKey]['chatId']]?.groupPhoto">
                      <div (click)="openChat($event, chatLinks[links[startKey]['chatId']])"
                        [ngStyle]="{'background-image': 'url(' + ( chatLinks[links[startKey]['chatId']]?.groupPhoto ) + ')'}">
                      </div>
                    </ion-avatar>

                    <ion-avatar class="avatar" slot="start"
                      *ngIf="!chatLinks[links[startKey]['chatId']]?.private && !chatLinks[links[startKey]['chatId']]?.groupPhoto"
                      [ngClass]="getChatUsers(chatLinks[links[startKey]['chatId']]?.id).length === 2 ? 'two_part' : '' || 
                getChatUsers(chatLinks[links[startKey]['chatId']]?.id).length === 3 ? 'three_part' : '' ||
                getChatUsers(chatLinks[links[startKey]['chatId']]?.id).length > 3 ? 'four_part' : ''">
                      <ng-container
                        *ngFor="let user_uid of getChatUsers(chatLinks[links[startKey]['chatId']]?.id); let i = index; last as isLast;">
                        <a (click)="openChat($event, chatLinks[links[startKey]['chatId']])"
                          [ngStyle]="{'background-image': 'url(' + (users[user_uid]?.photoURL||constants.AVATAR_DEMO) + ')'}"
                          *ngIf="i < 4"></a>
                      </ng-container>
                    </ion-avatar>
                    <ion-label (click)="openChat($event, chatLinks[links[startKey]['chatId']])"
                      [ngClass]="{'bold' : chatLinks[links[startKey]['chatId']]?.status?.length}">
                      <h3 *ngIf="chatLinks[links[startKey]['chatId']]?.private">
                        <ng-container
                          *ngFor="let user_uid of getChatUsers(chatLinks[links[startKey]['chatId']]?.id); last as isLast;">
                          {{ users[user_uid]?.name }}
                        </ng-container>
                      </h3>
                      <h3 *ngIf="!chatLinks[links[startKey]['chatId']]?.private">
                        {{ chatLinks[links[startKey]['chatId']]?.groupName || 'New group' }}
                      </h3>
                      <p
                        *ngIf="messages && 
                  messages[chatLinks[links[startKey]['chatId']]?.id] && 
                  messages[chatLinks[links[startKey]['chatId']]?.id][0] && 
                  messages[chatLinks[links[startKey]['chatId']]?.id][0]?.text && !chatLinks[links[startKey]['chatId']]?.join">
                        {{messages[chatLinks[links[startKey]['chatId']]?.id][0]?.text.trim()}} ...
                      </p>
                      <p
                        *ngIf="messages && messages[chatLinks[links[startKey]['chatId']]?.id] && !messages[chatLinks[links[startKey]['chatId']]?.id][0]">
                        no messages ...
                      </p>
                    </ion-label>
                    <div class="date"
                      *ngIf="messages && messages[chatLinks[links[startKey]['chatId']]?.id] && messages[chatLinks[links[startKey]['chatId']]?.id][0]">
                      <span>{{messages[chatLinks[links[startKey]['chatId']]?.id][0]?.created.toDate() | date:
                        'shortDate'}}
                      </span>
                      <span>{{messages[chatLinks[links[startKey]['chatId']]?.id][0]?.created.toDate() | date:
                        'shortTime'}}
                      </span>
                    </div>
                    <ion-badge
                      *ngIf="messages && messages[chatLinks[links[startKey]['chatId']]?.id] && chatLinks[links[startKey]['chatId']]?.status?.length"
                      slot="end">
                      {{ chatLinks[links[startKey]['chatId']]?.status?.length ||
                      messages[chatLinks[links[startKey]['chatId']]?.id]?.length || 0}}
                    </ion-badge>
                  </ion-item>
                  <ion-item-options side="end">
                    <ion-item-option *ngIf="chatLinks[links[startKey]['chatId']]?.admin"
                      (click)="manageChat(chatLinks[links[startKey]['chatId']]?.id);" color="success">
                      <div>
                        <ion-icon name="list"></ion-icon>
                        <ion-label>Manage</ion-label>
                      </div>
                    </ion-item-option>
                    <ion-item-option
                      *ngIf="!chatLinks[links[startKey]['chatId']]?.admin && !chatLinks[links[startKey]['chatId']]?.private"
                      (click)="leaveChat($event, chatLinks[links[startKey]['chatId']]?.id, chatLinks[links[startKey]['chatId']]?.private);"
                      color="success">
                      <div>
                        <ion-icon name="log-out"></ion-icon>
                        <ion-label>Leave</ion-label>
                      </div>
                    </ion-item-option>
                    <ion-item-option
                      (click)="reportChat(chatLinks[links[startKey]['chatId']]?.id, chatLinks[links[startKey]['chatId']]?.private, chatLinks[links[startKey]['chatId']]?.admin)"
                      color="danger">
                      <div>
                        <ion-icon name="ban-outline"></ion-icon>
                        <ion-label>Report</ion-label>
                      </div>
                    </ion-item-option>
                    <ion-item-option
                      (click)="deleteChat(chatLinks[links[startKey]['chatId']]?.id, chatLinks[links[startKey]['chatId']]?.private, chatLinks[links[startKey]['chatId']]?.admin)"
                      color="danger">
                      <div>
                        <ion-icon name="close-circle"></ion-icon>
                        <ion-label>Delete</ion-label>
                      </div>
                    </ion-item-option>
                  </ion-item-options>
                </ng-container>

              </ion-item-sliding>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>