@import "../../theme/variables.scss";

ion-list-header {
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;

  @media #{$miniMobile} {
    font-size: 13px;
  }
  ion-label {
    margin: 0;
  }
}

button.danger span {
  color: #f04141 !important;
}

.avatar {
  min-width: 30px;
  width: 50px;
  height: 50px;
  margin: 9px 10px 9px 0;
  overflow: hidden;
  display: inline-block;
  display: grid;

  a,
  div {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &.two_part,
  &.three_part,
  &.four_part {
    grid-template-columns: repeat(2, 50%);
  }

  &.two_part {
    a {
      &:first-child {
        border-right: 1px solid white;
      }
    }
  }

  &.three_part {
    a {
      &:first-child {
        grid-row: 1 / 3;
        border-right: 1px solid white;
      }
      &:nth-child(2) {
        border-bottom: 1px solid white;
      }
    }
  }
  &.four_part {
    a {
      &:first-child,
      &:nth-child(2) {
        border-bottom: 1px solid white;
      }
      &:first-child {
        border-right: 1px solid white;
      }
      &:nth-child(3) {
        border-right: 1px solid white;
      }
    }
  }
}

h2 {
  @media #{$miniMobile} {
    font-size: 14px;
  }
}

h3 {
  @media #{$miniMobile} {
    font-size: 11px;
  }
}

p {
  @media #{$miniMobile} {
    font-size: 10px;
  }
}

ion-item-option {
  min-width: 75px;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-icon {
      margin-bottom: 3px;
      width: 18px;
      height: 18px;
    }

    ion-label {
      font-size: 14px;
    }
  }
}

ion-label {
  ion-note {
    font-size: 12px;
  }
}

.bold {
  font-weight: bold;
  color: #000;

  h2 {
    font-weight: inherit;
    color: inherit;
  }

  ion-note,
  p {
    color: inherit;
  }
}

ion-label {
  .date {
    font-style: italic;
    font-size: 10px;
    color: #ccc;
    margin-bottom: 5px;

    span {
      margin-right: 4px;
    }
    @media #{$miniMobile} {
      font-size: 9px;
      margin-bottom: 3px;
    }
  }
}

ion-item {
  ion-buttons {
    margin: 15px 0 0;
    position: relative;
    right: 0;

    ion-button {
      ion-icon {
        @media #{$miniMobile} {
          font-size: 22px;
        }
      }
    }
  }
  .date {
    // font-style: italic;
    font-size: 10px;
    color: #6b6b6b;
    font-family: $RR;
    position: absolute;
    right: 10px;
    top: 10px;
    font-style: normal;
    // margin-bottom: 5px;

    span {
      // display: inline-block;
      margin-right: 4px;
    }
    @media #{$miniMobile} {
      font-size: 9px;
      margin-bottom: 3px;
      // position: absolute;
      // top: 2px;
      // right: 0;
    }
  }
  .message-count {
    width: 18px;
    height: 18px;
    background: $primary-theme-color;
    color: #fff;
    font-size: 12px;
    font-family: $RR;
    padding: 0;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.notifications {
  ion-item {
    ion-label {
      margin: 0;
    }
    h3 {
      font-family: $RM;
      font-size: 16px;
      color: #000; 
      @media #{$tablet} {
        font-size: 14px;
      }
      @media #{$miniMobile} {
        margin-bottom: 0px;
      }
    }
    p {
      line-height: 1.4;
      font-size: 14px;
      color: #b7b7b7;
      margin: 0;
      @media #{$tablet} {
        font-size: 13px;
      }
      @media #{$miniMobile} {
        line-height: 1.2;
      }
      a {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.listDefault {
  padding: 0;
  ion-title {
    font-size: 16px;
    font-family: $RR;
    color: $gray;
    margin: 0 0 12px;
    padding: 0;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
  }
}

.link {
  font-size: 12px;
  color: #00843d;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #00843d;
    position: absolute;
    left: 0;
    top: 100%;
    transition: all 0.4s;
  }

  &:hover {
    &:after {
      width: 0;
    }
  }
}