@import "../../theme/variables.scss";
@import "../../theme/new-variables.scss";

.button-wrapper {
  display: flex;
  flex-direction: column;

  .date {
    font-size: 12px;
  }

  .amount {
    font-weight: bold;
    font-family: $RMB;
  }

  .title {
    font-size: 12px;
    font-weight: bold;
    font-family: $RMB;
    text-transform: uppercase;
    letter-spacing: 0.02px;
  }
}

.sport-tabs {
  display: flex;
  margin: 15px 0;

  .item {
    border-radius: 4px;
    padding: 0 1.1em;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 15ms linear, color 15ms linear;
    margin: 4px 10px;
    height: 36px;
    width: calc(100% / 3);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background: #99999a;
    color: #fff;
    // background: transparent;
    // color: #c61c22;

    // border: 2px solid #c61c22;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:hover {
      background: #a1a1a2;
      color: #fff;
    }

    &.active {
      background: #8CC63F;
      color: #fff;
    }

    ion-icon {
      margin-left: 5px;
    }
  }
}

.sport-item {
  @media #{$tablet} {
    zoom: 1.25;
  }

  &.ion-color-red {
    --ion-color-base: #355589;
    --ion-color-base-rgb: #355589;
    --ion-color-contrast-rgb: #355589;
    --ion-color-shade: #355589;
    --ion-color-tint: #355589;
  }
}