<!-- <ion-header mode="ios">
  <ion-toolbar  color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="without-btn">
      History
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<div class="mainWrapper">
  <div class="mainHeader">
    <app-header [showAmount]="false"></app-header>
    <app-sub-header *ngIf="false"></app-sub-header>
  </div>
</div>
<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer no-subHeader">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-lg="12" size-md="10">
            <ion-list-header>
              <ion-label>Past Challenges</ion-label>
            </ion-list-header>

            <ion-segment mode="ios" value="all" (ionChange)="segmentChanged($event)" class="tabs-default">
              <ion-segment-button value="all">
                <ion-label>All Challenges</ion-label>
              </ion-segment-button>

              <ion-segment-button value="my">
                <ion-label>My Challenges</ion-label>
              </ion-segment-button>
            </ion-segment>
            <div class="sport-tabs">
              <div class="item" tap style="margin: 3px; padding: 10px;" *ngFor="let tab of tabsBySport"
                [ngClass]="this.sportSelected === tab.name ? 'active' : ''" (click)="selectSport(tab.name)">
                {{tab.name}}
                <ion-icon *ngIf="tab.icon" slot="end" name="{{tab.icon}}"></ion-icon>
              </div>
            </div>
            <section *ngFor="let startKey of optimizedChallenges | keyvalue" class="full-width">
              <ng-container *ngFor="let u of startKey.value[sportSelected]">
                <ion-button tap *ngIf="(u && u['start']['seconds']*1000 < (date.now())) "
                  routerLink="/{{u.sport||'nhl'}}/{{u.id}}"
                  color="{{(u['start']['seconds']*1000 < (date.now() - 24*60*60000))?'medium':'red'}}"
                  style="margin-top: 20px; width: 100%;" class="sport-item">
                  <div class="button-wrapper">
                    <div class="title">{{u.name}}
                    </div>
                    <div>
                      <span class="date">{{u['start']['seconds']*1000 | date:'yyyy.MM.dd'}}</span>
                      -
                      <span class="amount">{{u?.text}}</span>
                    </div>
                  </div>
                </ion-button>
              </ng-container>
            </section>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>