@import '../../../../theme/new-variables.scss';

.main {
  display: grid;
  grid-template-rows: 78% 22%;
  background: $secondary-theme-color;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.auth-wrap .logo-box>app-ico-svg {
  margin: 0;
}

:host {
  ::ng-deep {
    .logo {
      width: 96px;
      height: 96px;
      --fill-bg: #6C89D2;
    }
  }
}