<ion-content class="auth-wrap" slot="fixed">
  <div class="main bg">
    <div class="logo-box">
      <app-ico-svg [class]="'logo inverse'" [src]="'/assets/imgs/logo.svg#'" [id]="'Logo'"></app-ico-svg>
    </div>
    <app-navigate (onSubmit)="submit()"></app-navigate>
  </div>
</ion-content>