@import "../../theme/variables.scss";

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

ion-content {
  overflow: hidden;
  --overflow: hidden;
  height: calc(100% - 44px);
  transition: all .4s;

  @media only screen and (max-width: 575px) {
    height: calc(100% - 40px);
  }

  &.expand {
    height: calc(100% - 60px);

    @media only screen and (max-width: 575px) {
      height: calc(100% - 60px);
    }
  }
}

.snapchat {
  // height: 110px;
  // padding-bottom: 44px;
  position: relative;
  z-index: 1000;
  transition: all 0.4s ease-in-out;

  @media only screen and (max-width: 575px) {
    margin: 10px 0;
    height: 240px;
  }

  &.show {
    .show-snapchat {
      right: 298px;
    }

    .wrapper {
      transform: translate(0, 0);
    }
  }

  &.expand {
    height: 420px;

    @media only screen and (max-width: 575px) {
      // height: initial;
    }

    .wrapper {
      @media only screen and (max-width: 575px) {
        height: 380px;
      }
    }
  }

  .wrapper {
    // height: 100%;
    // border: 1px solid #696969;
    // border-right: none;
    transition: all 0.4s ease-in-out;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    right: 0;
    top: 25%;
    height: 40%;
    width: 300px;
    z-index: 100;
    transform: translate(100%, 0);
    background: #fff;
    border-radius: 4px;
    overflow: hidden;

    @media only screen and (max-width: 575px) {
      border: 1px solid #696969;
      position: relative;
      right: auto;
      top: auto;
      height: 240px;
      width: 100%;
      z-index: initial;
      transform: initial;
      cursor: pointer;
    }
  }

  .expand-button {
    display: none;
    position: absolute;
    right: 0;
    top: 0;

    @media only screen and (max-width: 575px) {
      display: block;
    }

    .close {
      display: none;
    }

    ion-icon {
      font-size: 18px;
      color: #dedede;
    }
  }

  .show-snapchat {
    position: fixed;
    right: 0;
    top: 35%;
    // transform: rotate(-90deg);
    // margin-right: -52px;
    background: #696969;
    padding: 15px 15px;
    border-radius: 3px 0px 0 3px;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;

    span {
      color: #fff;
      font-size: 11px;
      letter-spacing: 1.3px;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
    }

    ion-icon {
      font-size: 24px;
      color: #fff;
    }

    @media only screen and (max-width: 575px) {
      display: none;
    }

    ion-badge {
      background: var(--ion-color-danger);
      color: #fff;
      position: absolute;
      left: -8px;
      top: -7px;
      border-radius: 50%;
      font-size: 9px;
      min-width: 16px;
    }
  }
}

.chat-wrapper {
  overflow-y: auto;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ion-list {
    @media #{$miniMobile} {
      padding-bottom: 40px;
    }
  }
}

.scroll-content {
  overflow: hidden;
}

.avatar-box {
  display: flex;
  overflow-x: auto;
  padding-left: 15px;

  &.transform {
    .avatar {
      &+.avatar {
        margin-left: -7px;
      }
    }
  }

  .item {
    display: flex;
    align-items: center;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    .name {
      margin-left: 5px;
      font-size: 14px;
    }
  }
}

.list-ios {
  margin-bottom: 5px;
}

ion-item {
  --min-height: auto;
}

@media only screen and (max-height: 500px) {
  .snapchat {
    height: 144px;
    padding-bottom: 36px;
  }

  ion-item {
    --min-height: 39px;
  }
}

ion-button {
  border-color: #222428;
  color: #222428;
  z-index: 2;
}

.message-wrap {
  display: flex;
  align-items: flex-end;
}

.align-right {
  display: grid;
  justify-content: right;

  .message-wrap {
    justify-self: flex-end;
    flex-direction: row-reverse;
  }
}

.avatar {
  min-width: 30px;
  width: 30px;
  height: 30px;
  margin: 2px;
  border: 2px solid #fff;
  display: inline-block;
  border-radius: 50%;
  display: grid;

  div,
  a {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

ion-chip {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;
  background: #ececec;
  border-radius: 8px;

  &.recepient {
    border-bottom-left-radius: 0;
  }

  &.sender {
    border-bottom-right-radius: 0;
  }

  ion-note {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
  }

  ion-label {
    line-height: 16px;
    font-size: 14px;
  }
}

.chat-item {
  margin-top: 10px;

  .time {
    display: block;
    font-size: 9px;
    text-align: right;
    margin: 0 4px;
  }
}

.date {
  height: 24px;
  border: 1px solid #cfcfcf;
  border-radius: 65px;
  padding: 0 18px;
  font-size: 10px;
  font-family: $RR;
  display: inline-block;
  line-height: 21px;
}

::ng-deep {
  .snapchatWrapper {
    .snapchat {
      @media only screen and (max-width: 575px) {
        &.expand {
          .wrapper {
            display: block;
          }

          .show-snapchat {
            display: none !important;
          }
        }

        .expand-button {
          .default {
            display: none;
          }

          .close {
            display: block !important;
          }
        }

        .show-snapchat {
          display: flex !important;
          position: absolute !important;
          right: -16px !important;
          width: 44px !important;
          height: 44px !important;
          padding: 0;
        }

        .wrapper {
          display: none;
        }

        &.show {
          height: auto;
        }
      }
    }
  }
}

#scrollChat {
  overflow: scroll;
  scroll-behavior: smooth;
}

.footer {
  height: 44px;


  &.expand {
    height: auto;

    textarea {
      height: 60px;
      padding: 5px 0 0;
    }
  }

  textarea {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px 0 0;
    resize: none;

    &:focus {
      outline: none;
    }
  }
}