<div class="snapchat" [ngClass]="expand ? 'expand' : '' || showSnapchat ? 'show' : ''">
  <div class="show-snapchat" (click)="expandSnapchat()">
    <ion-icon name="chatbubbles-outline"></ion-icon>
    <ion-badge *ngIf="chat && chat.status?.length" color="light"
      [ngStyle]="{'background': (chat.status?.length > 0 ? 'var(--ion-color-danger)' : 'light')}" slot="end">
      {{ chat.status?.length }}
    </ion-badge>
  </div>
  <div class="wrapper" *ngIf="showSnapchat">
    <ion-buttons slot="end" class="expand-button">
      <ion-button (click)="expandSnapchat()">
        <ion-icon class="default" slot="icon-only" color="danger" name="expand"></ion-icon>
        <ion-icon class="close" slot="icon-only" color="danger" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-content class="ion-align-items-center ion-justify-content-center ion-text-center"
      [ngClass]="{'expand' : expandArea}">
      <ion-segment mode="ios" value="all" class="snapchat-tabs" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="all">
          <ion-label>Players</ion-label>
        </ion-segment-button>
        <ion-segment-button value="friends" [disabled]="myUid === 'DtMGj0ZZMYh5MSmBSR23jvxgmSw2' || notLoggedUser">
          <ion-label>Friends</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div class="chat-wrapper" [ngClass]="{'loader-section': loading}">
        <div class="loader" *ngIf="loading"></div>
        <ion-list #scrollMe id="scrollChat">
          <ng-container *ngIf="!loading">
            <ng-container *ngFor="let message of messages, let i = index">
              <div class="date" *ngIf="uniqueDate(message, messages[i - 1])">
                {{ uniqueDate(message, messages[i - 1]) }}</div>
              <ion-item lines="none" class="{{message.sender === myUid && !message.joined ? 'align-right' : ''}}">
                <div class="message-wrap" [ngStyle]="{'marginTop': ''}">
                  <div *ngIf="message.sender !== myUid && !message.joined" class="avatar"
                    (click)="userInfo(message.sender)" [ngStyle]="{'border-color': users[message.sender]?.color}">
                    <div
                      [ngStyle]="{'background-image': 'url(' + (users[message.sender]?.photoURL||constants.AVATAR_DEMO) + ')'}">
                    </div>
                  </div>
                  <div *ngIf="message.sender === myUid" class="avatar" [ngStyle]="{'border-color': user?.color}">
                    <div
                      [ngStyle]="{'background-image': 'url(' + (users[myUid]?.photoURL || constants.AVATAR_DEMO) + ')'}">
                    </div>
                  </div>
                  <div class="chat-item" style="border-top-left-radius: 0;" *ngIf="!message.joined">
                    <span class="time">{{ message.created.toDate() | date:'H:mm' }}</span>
                    <ion-chip color="{{message.sender === myUid ? 'primary' : ''}}"
                      [ngClass]="message.sender === myUid ? 'sender' : 'recepient'">
                      <ion-note *ngIf="showUserName">
                        {{(message.sender != myUid) ? users[message.sender]?.name : ''}}
                      </ion-note>
                      <ion-label class="ion-text-wrap" [innerHtml]="message.text | mention: users"></ion-label>
                    </ion-chip>
                  </div>
                </div>
              </ion-item>
            </ng-container>
          </ng-container>
          <div id="anchor"></div>
        </ion-list>
      </div>
    </ion-content>
    <div class="footer ion-margin-bottom mention" [ngClass]="{'expand' : expandArea}">
      <!-- <ion-toolbar size="small"> -->

      <div class="mention-wrapper">
        <ng-container *ngIf="!notLoggedUser">
          <textarea class="input-control" #focusInput [(ngModel)]="message" (input)="transformText($event)"
            (keyup)="sendMessage($event)" (focusout)="sendMessage($event.target.value)" placeholder="Type a message"
            enterkeyhint="send" autocorrect="on" spellcheck="true"></textarea>
          <ion-buttons slot="end">
            <ion-button class="send" (click)="sendMessage($event)">
              <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ng-container>
        <ng-container *ngIf="notLoggedUser">
          <p><a (click)="goToLogin()">Log in</a> to send messages</p>
        </ng-container>
        <app-mention *ngIf="mentions?.length" (onSelected)="selectedMention($event)" [data]="mentions"></app-mention>
      </div>

      <!-- <ion-input #focusInput [(ngModel)]="message" (input)="transformText($event)" (keyup)="sendMessage($event)"
          (focusout)="sendMessage($event.target.value)" placeholder="Type a message" enterkeyhint="send"
          ></ion-input>
        <ion-buttons slot="end">
          <ion-button (click)="sendMessage($event)">
            <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
          </ion-button>
        </ion-buttons> -->
      <!-- </ion-toolbar> -->
    </div>
  </div>
</div>