<!-- <ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-title class="without-btn">Contact</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<div class="mainWrapper">
  <div class="mainHeader">
    <app-header [showAmount]="false"></app-header>
    <app-sub-header *ngIf="false"></app-sub-header>
  </div>
</div>
<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer no-subHeader">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-xl="12" size-lg="12" size-md="10">
            <ion-list-header>
              <ion-label>Contact Us</ion-label>
            </ion-list-header>
            <ion-list class="ion-padding">
              <ion-item>
                <ion-icon name="home" slot="start"></ion-icon>
                <ion-label>
                  <h3>Live Current Media Inc.</h3>
                  <p class="ion-text-wrap">820 – 1130 Pender Street West
                    Vancouver, BC V6E 4A4
                    Canada</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-label>
                  <h3>info@livecurrent.com</h3>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="call" slot="start"></ion-icon>
                <ion-label>
                  <h3>1-604-648-0500</h3>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>