<ion-tabs>
  <ion-tab-bar slot="bottom" *ngIf="tabsMenu">
    <ion-tab-button tap>
      <ion-menu-button></ion-menu-button>
    </ion-tab-button>
    <ion-tab-button tap tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tap tab="challenges">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Challenges</ion-label>
    </ion-tab-button>

    <ion-tab-button tap tab="private-games">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Private Games</ion-label>
    </ion-tab-button>

    <ion-tab-button tap tab="trivia">
      <ion-icon name="alarm"></ion-icon>
      <ion-label>Trivia</ion-label>
    </ion-tab-button>

    <ion-tab-button tap tab="chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>MessageBox</ion-label>
      <ion-badge *ngIf="count"
       color="danger">
      {{ count }}
    </ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>