@import '../../theme/variables.scss';

ion-tab-button {
    --padding-end: 3px;
    --padding-start: 3px;

    &.tab-selected {
        color: $primary-theme-color;
    }

    ion-label {
        @media #{$miniMobile} {
            font-size: 11px;
        }
    }

    ion-icon {
        @media #{$miniMobile} {
            width: 20px;
            height: 20px;
        }
    }
}