<ng-container *ngIf="!listComponent">
  <div class="avatarBox user-wrap">
    <div *ngIf="src" (click)="openModal(id, $event)">
      <div class="avatar" [ngStyle]="{'background-image': 'url(' + src + ')'}"> </div>
    </div>
    <span (click)="openModal(id, $event, true)">{{ name }}</span>
    <div class="trophy-block" *ngIf="challengesWon">
      <ion-icon name="trophy" [ngStyle]="{'color': getTrophyColor(challengesWon)}"></ion-icon>
      <ion-badge>{{ challengesWon }}</ion-badge>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="listComponent">
  <div class="list-box">
    <ion-avatar slot="start" (click)="openModal(id, $event)">
      <img src="{{ src }}">
    </ion-avatar>
    <ion-label (click)="openModal(id, $event)">
      {{ name }}
      <div class="trophy-block" *ngIf="challengesWon">
        <ion-icon name="trophy" [ngStyle]="{'color': getTrophyColor(challengesWon)}"></ion-icon>
        <ion-badge>{{ challengesWon }}</ion-badge>
      </div>
    </ion-label>
  </div>

</ng-container>