@import "../../../theme/variables.scss";

.avatarBox {
  cursor: pointer;
}

ion-header {
  .avatar {
    width: 30px;
    height: 30px;
  }
}

.trophy-block {
  @media #{$tablet} {
    margin-left: 3px;
  }
}

.list-box {
  display: flex;
  align-items: center;

  ion-avatar {
    width: 50px;
    height: 50px;
    margin: 8px 16px 8px 0;
  }

  ion-label {
    font-size: 16px;
    font-family: $RR;
    display: flex;
    align-items: center;

    @media #{$miniMobile} {
      font-size: 13px;
    }
  }

  .trophy-block {
    height: 18px;
  }
}