<div class="modal-wrapper start">
  <div class="modal-close" (click)="cancel()">
    <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
  </div>
  <div class="modal-header">
    <h3>Add Friends</h3>
  </div>
  <div class="modal-content">
    <div class="searchWrap">
      <ion-searchbar class="searchBar" #focusInput (input)="searchUser($event)" (ionClear)="search=''; searchUsers={}"
        placeholder="Search all SPRT MTRXers" #searchbar enterkeyhint="search"></ion-searchbar>
    </div>
    <div class="modal-scroll-content">
      <ion-list class="modal-list">
        <ng-container *ngFor="let user_index of objectKeys(searchUsers)">
          <ion-item *ngIf="!isFriend(searchUsers[user_index]?.id)">
            <app-user [name]="searchUsers[user_index]?.name"
              [src]="searchUsers[user_index]?.photoURL || constants.AVATAR_DEMO" [id]="searchUsers[user_index]?.id"
              [listComponent]="true" [challengesWon]="searchUsers[user_index]?.stats?.challengesWon"
              [color]="searchUsers[user_index]?.color"></app-user>
            <ion-buttons slot="end">
              <ion-button [hidden]="checkFriend(searchUsers[user_index].id)" [ngClass]="checkFriendQ ? 'disabled' : ''"
                (click)="addFriend(searchUsers[user_index].id);searchbar.value='';">
                <ion-icon slot="icon-only" name="add-circle" color="success"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ng-container>
      </ion-list>
    </div>
  </div>
</div>