<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title class="without-btn">
      {{sport||''}} Speed Trivia
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="close" style="font-size: 20px; float: right;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <a class="btn btn-default green" *ngIf="countdownProgress-1" (click)="skip()">Play Now</a>
  <div class="scroll-box">
    <div class="wrapper" [ngClass]="{'center' : !this.timeProgress || (failCounter >= 3 && (!qs || !qs[currentQId]) )}">
      <div class="note" *ngIf="false">Answer this question faster than 50% of players</div>
      <div *ngIf="timerEnabled" class="box">
        <div class="d-grid">
          <div class="progress time-progress">
            <div class="progress-box">
              <div class="progress-track"></div>
              <div class="progress-bar" [ngStyle]="{'width': (width | number:'1.0-0') + '%'}">{{ time }}</div>
            </div>
          </div>
          <div class="life-progress">
            <span>
              <i class="heart {{failCounter<=2?'active':''}}"></i>
            </span>
            <span>
              <i class="heart {{failCounter<=1?'active':''}}"></i>
            </span>
            <span>
              <i class="heart {{failCounter==0?'active':''}}"></i>
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="countdownProgress-1" class="box ion-text-center" style="min-height: 100%;">
        <h2 class="ion-padding" style="font-size: 160%;">GET READY!</h2>
        <h4 *ngIf="qs[currentQId]" class="ion-padding" style="font-size: 135%;" [innerHTML]="qs[currentQId]?.text | bold"></h4>
        <div id="countdown">
          <div id="countdown-number">{{countdownProgress-1}}</div>
          <svg viewBox="0 0 140 140">
            <circle r="60" cx="70" cy="70"></circle>
          </svg>
        </div>
      </div>
      <ng-container *ngIf="!(countdownProgress-1) && qs && qs[currentQId] && this.timeProgress">
        <div class="box-bg" *ngIf="(successCounter !== teams.length)">
          <div class="ion-no-padding ion-no-margin box grid-box">
            <h4 class="ion-padding" style="font-size: 100%;" [innerHTML]="qs[currentQId].text | bold">:</h4>
            <div class="answers" *ngIf="teams" style="white-space: break-spaces;">
              <ng-container *ngFor="let team of teams, let i = index">
                <div class="item-container">
                  <div class="item pair-0" (click)="pick(i, team, teams2);" [ngClass]="team.selected||''">
                    <div class="item-wrap">
                      <div *ngIf="false" class="item-icon"
                        [ngStyle]="{'background-image': 'url(' + '/assets/demo/is.png' + ')'}">
                      </div>
                      <div class="item-label">{{team[qs[currentQId].pairs[0]]}}</div>
                    </div>
                  </div>
                </div>
                <div class="item-container">
                  <div class="item pair-1" (click)="pick(i, teams2[i], teams);" [ngClass]="teams2[i].selected||''">
                    <div class="item-wrap">
                      <div *ngIf="false" class="item-icon"
                        [ngStyle]="{'background-image': 'url(' + '/assets/demo/tor.png' + ')'}">
                      </div>
                      <div class="item-label">{{teams2[i][qs[currentQId].pairs[1]]}}</div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>

          <div *ngIf="(successCounter !== teams.length)" class="box life-box white">
            <div class="box-wrap">
              <div class="life-progress">
                <div class="ttl">STRIKES</div>
                <span class="strike {{failCounter>=1?'active':''}}">
                </span>
                <span class="strike {{failCounter>=2?'active':''}}">
                </span>
                <span class="strike {{failCounter===3?'active':''}}">
                </span>
              </div>
              <div class="time2-progress" *ngIf="stopwatchTime">
                {{stopwatchTime | date:'mm:ss'}}
              </div>
            </div>
          </div>
        </div>

        <div class="scroll-container" *ngIf="leaders && (successCounter === teams.length)" class="ion-text-start box-bg">
          <ion-grid class="ion-text-start box-bg" style="min-width: 300px;width: 100%;">
            <ion-list-header *ngIf="qs[currentQId]" class="ion-justify-content-center">
              <ion-label class="ion-text-center" [innerHTML]="qs[currentQId]?.text | bold"></ion-label>
            </ion-list-header>
            <ion-list-header class="ion-justify-content-center" style="font-size: 110%; margin-bottom: 10px;">
              <ion-label class="ion-text-center"> Trivia Leaderboard </ion-label>
            </ion-list-header>
            <ion-segment mode="ios" class="tabs-default" value="all" (ionChange)="segmentChanged($event)">
              <ion-segment-button value="all">
                <ion-label>All</ion-label>
              </ion-segment-button>
              <ion-segment-button value="friends">
                <ion-label>Friends</ion-label>
              </ion-segment-button>
            </ion-segment>
            <ng-container>
              <ion-row style="font-size: 90%; font-weight: bold;">
                <ion-col size-xs="2" size-sm="4" class="ion-text-center">Place</ion-col>
                <ion-col size-xs="7" size-sm="4">Player</ion-col>
                <ion-col size-xs="3" size-sm="4" class="ion-text-center">Time</ion-col>
              </ion-row>
              <ng-container *ngFor="let uid of leaderKeys(leaders); index as i">
                <ion-row [hidden]="(segmentSelected === 'all' && (i > userLimit && uid !== user.uid)) ||
                  (segmentSelected === 'friends' && !isFriend(uid) && uid !== user.uid) || i > 99 && (uid !== user.uid)">
                  <ion-col size-xs="2" size-sm="4" class="ion-text-center win_amount" [innerHtml]="">
                    {{i+1}}
                  </ion-col>
                  <ion-col size-xs="7" size-sm="4" [ngStyle]="{color: user.uid === uid ? '#cc4448' : 'inherit'}">
                    <app-user [name]="usersService.users[uid]?.name || '......'"
                      [src]="usersService.users[uid]?.photoURL || constants.AVATAR_DEMO" [id]="uid"
                      [challengesWon]="usersService.users[uid]?.stats?.challengesWon"
                      [color]="usersService.users[uid]?.color"></app-user>
                  </ion-col>
                  <ion-col size-xs="3" size-sm="4" class="ion-text-center win_amount">{{leaders[uid] | date:'mm:ss'}}
                  </ion-col>
                </ion-row>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="segmentSelected === 'friends'">
              <div [hidden]="!user?.friends||!user?.friends.length" class="info">
                <p>You have no Friends.</p>
                <a routerLink="/friends">Add Friends</a>
              </div>
            </ng-container>
            <ion-row>
              <ion-col>
                <div class="btn-wrap">
                  <button (click)="userLimit=userLimit+10"
                    [hidden]="userLimit > leaderKeys(leaders)?.length || segmentSelected === 'friends'"
                    class="show-more">
                    <ng-container>Show more</ng-container>
                  </button>
                </div>
                <div class="current-time" [ngClass]="{pt: userLimit < leaderKeys(leaders)?.length}">
                  <div *ngIf="!currentBest">Current Game Result: <span>{{ currentTime }}</span></div>
                  <div *ngIf="currentBest">New Personal Best: <span style="color: #cc4448">
                      {{ currentTime }}</span></div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ng-container>

      <div class="box" *ngIf="false">
        <div class="label">Left 24 of 96 participants</div>
        <div class="progress win-progress">
          <div class="progress-box">
            <div class="progress-track"></div>
            <div class="progress-bar">25%</div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="(!this.timeProgress || failCounter >= 3) && (!qs || !qs[currentQId])">
        <!-- <app-banner></app-banner> -->
        <div class="box d-flex l-box">
          <div class="loser-box box-bg">
            <div class="loser-box-label">
              <h3>Sorry, you lose but <strong>Don’t give up!</strong></h3>
            </div>
            <div class="loser-box-icon">
              <i class="loser"></i>
            </div>
          </div>
        </div>
        <div class="box d-flex ion-padding-vertical" style="background: transparent;">
          <div class="quote ion-padding-horizontal">
            <p class="ion-text-center" style="font-style: italic;">"{{ quote.text }}"</p>
            <p class="bold">{{ quote['title'] }}</p>
            <p class="lite">{{ quote['descr'] }}</p>
          </div>
        </div>
      </ng-container>

      <div class="box white ion-text-center" *ngIf="!(countdownProgress-1)">
        <div class="play-box">
          <button *ngIf="!qs || !qs[currentQId] || (leaders && (successCounter === teams.length))"
            (click)="loadData(currentQId)"
            class="btn-default green">
            Repeat Game
          </button>
          <button (click)="loadData()" class="btn-default green">
            New Game
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>