@import "../../../theme/variables.scss";

.note {
  font-size: 12px;
  color: #111;
  text-align: center;
  margin-bottom: 5px;
}

.scroll-container {
  overflow: auto;
}

.scroll-box {
  padding: 5px 0px;
  height: 100%;

  .wrapper {
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    padding: 0 5px 5px;

    &.center {
      justify-content: center;
      grid-template-rows: 1fr auto;
    }
  }
}

// ion-grid {
//   @media #{$miniMobile} {
//     padding-left: 0;
//     padding-right: 0;
//   }
// }

.box {
  padding: 0 8px 8px;
  border-radius: 10px;
  background: #f5f6f8;
  margin-bottom: 10px;
  width: 100%;
  // margin-top: 5px;
  @media #{$miniMobile} {
    padding: 4px 2px;
    margin-bottom: 0px;
    margin-top: 4px;
  }

  &.l-box {
    padding-top: 8px;
    @media #{$miniMobile} {
      padding: 4px 2px;
    }
  }

  &.white {
    background: transparent;
  }

  &.life-box {
    padding: 17px 8px 12px;
    @media #{$miniMobileHeight} {
      padding: 12px 2px 4px;
    }
  }
  // &.grid-box {
  //   display: grid;
  //   grid-template-rows: auto 1fr;
  // }
}

h2 {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 1.2px;
  text-align: center;
  font-weight: bold;
  color: $gray;
  margin: 5px 0;
  @media #{$miniMobile} {
    font-size: 16px;
  }
}

h4 {
  color: black !important;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
  color: $gray;
  margin: 4px 0;
  padding: 16px 0;
  @media #{$miniMobile} {
    font-size: 14px;
    margin: 0;
  }
  strong {
    font-weight: bolder;
  }
}

.answers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 90px);
  grid-gap: 6px;
  justify-content: center;
  @media #{$miniMobile} {
    grid-gap: 3px;
  }
  @media #{$miniMobileHeight} {
    grid-template-rows: repeat(4, 70px);
  }
  .item-container {
    // border: 2px solid #e4e4e4;
    border-radius: 5px;
    background: #e7e7e7;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 1px;
      top: 1px;
      right: 1px;
      bottom: 1px;
      border: 2px solid #d0d3d9;
      border-radius: 5px;
      @media #{$miniMobile} {
        border-width: 1px;
      }
    }
  }

  .item {
    border: 2px solid #fff;
    // background: #ffffff;
    // box-shadow: 3.28066px 3.28066px 4.37422px #9db1ce,
    //   inset 0px 0px 17.4969px #a9bdda;
    border-radius: 5px;
    // height: 80px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    @media #{$miniMobile} {
      // height: 75px;
      border-width: 1px;
      padding: 2px;
    }

    &-wrap {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      position: relative;
      z-index: 3;
      flex-direction: column;
      align-items: center;
    }

    &-icon {
      height: 40px;
      width: 40px;
      margin: 0 auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      flex-basis: 100%;
      @media #{$miniMobile} {
        width: 30px;
        height: 30px;
      }
    }

    &-label {
      font-size: 15px;
      text-align: center;
      // color: black;
      color: #fff;
      margin-top: 2px;
      // word-break: break-word;
      font-weight: bold;
      width: min-intrinsic;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      display: table-caption;
      display: -ms-grid;
      -ms-grid-columns: min-content;
      height: 100%;
      display: flex;
      align-items: center;
      @media #{$miniMobile} {
        font-size: 12px;
      }
    }

    &.pair-0 {
      // box-shadow: 3.28066px 3.28066px 4.37422px #9db1ce,
      //   inset 0px 0px 17.4969px #a9bdda;
      box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 40%);
      background: #355589;
    }

    &.pair-1 {
      // box-shadow: 3.28066px 3.28066px 4.37422px #9db1ce,
      //   inset 0px 0px 17.4969px #96a3b7;
      box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 40%);
      background: #8bc63f;
    }

    &.success {
      box-shadow: inset 0px 0px 17.4969px rgba(99, 188, 129, 0.5),
        3px 3px 3px rgba(0, 132, 61, 0.5);
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: rgb(0 132 61 / 50%);
        z-index: 2;
      }
    }

    &.fade {
      animation: fade 0.5s 0.1s both;
    }

    &.danger {
      box-shadow: inset 0px 0px 17.4969px rgba(204, 68, 72, 0.5),
        3px 3px 3px rgba(204, 68, 72, 0.5);
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: rgba(204, 68, 72, 0.5);
        z-index: 2;
      }
    }

    &.shake {
      animation: shake 0.1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    }
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.progress {
  // ion-progress-bar {
  //   height: 4px;
  //   border-radius: 9px;
  //   border: 2px solid #bccce3;
  //   --background: #fff;
  //   --buffer-background: #fff;
  //   --progress-background: #b3b8bf;
  // }

  .progress-box {
    height: 18px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .progress-track {
      height: 4px;
      background: #fff;
      width: 100%;
      box-shadow: 0px 0.702px 0.8775px rgba(0, 0, 0, 0.083455);
      border-radius: 5px;
    }

    .progress-bar {
      width: 80%;
      height: 18px;
      border: 2px solid;
      border-radius: 9px;
      position: absolute;
      top: -2px;
      left: 0;
      font-size: 10px;
      font-weight: 500;
      text-align: center;
      color: #fff;
      transition: width 1.4s ease;
    }
  }

  &.time-progress {
    .progress-box {
      .progress-bar {
        border-color: #bccce3;
        background: #b3b8bf;
        box-shadow: 2px 3px 4px #6985ae, inset 0px 0px 7px rgba(0, 0, 0, 0.1),
          inset 0px 0px 5px rgba(0, 0, 0, 0.25);
      }
    }
  }
  &.win-progress {
    .progress-box {
      .progress-bar {
        width: 25%;
        border-color: #e98689;
        background: #cc4448;
        box-shadow: 2px 3px 4px #cc4448, inset 0px 0px 7px rgba(0, 0, 0, 0.1),
          inset 0px 0px 5px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.time2-progress {
  // border-color: #bccce3;
  background: #355589;
  border: 1px solid #000;
  color: #fff;
  font-size: 24px;
  border-radius: 6px;
  letter-spacing: 1.2px;
  height: 42px;
  width: 45%;
  // width: calc(50% - 5px);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  line-height: 1;
  text-shadow: 2px 1px 1px rgb(0 0 0 / 25%);
  box-shadow: -1px 1px 0px rgb(255 255 255 / 40%) inset,
    1px -1px 0px rgb(255 255 255 / 40%) inset;

  @media #{$miniMobileHeight} {
    height: 30px;
    font-size: 14px;
  }
}

.label {
  font-size: 11px;
  color: black;
  text-align: center;
  margin-bottom: 5px;
}

.box-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media #{$miniMobile} {
    padding: 0 5px;
  }
}

.life-progress {
  border-radius: 6px;
  height: 42px;
  display: flex;
  background: #fff;
  padding: 0 10px;
  width: 45%;
  // width: calc(50% - 5px);
  align-items: center;
  justify-content: center;
  border: 1px solid #355589;
  position: relative;

  @media #{$miniMobileHeight} {
    height: 30px;
  }
  // span {
  //   display: block;
  //   height: 24px;
  //   width: 24px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }

  .ttl {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    top: -9px;
    padding: 0 5px;
    background: #fff;
    color: #355589;
    left: 7px;
    @media #{$miniMobile} {
      font-size: 10px;
    }
  }

  .strike {
    width: 28px;
    height: 28px;
    margin: 0 4px;
    border-radius: 50%;
    border: 1px solid #000;
    // box-shadow: 0px 0px 3px #cc4448;
    @media #{$miniMobileHeight} {
      height: 20px;
      width: 20px;
    }

    &.active {
      // border-color: transparent;
      // background: radial-gradient(
      //   circle at 13px 10px,
      //   #fff,
      //   $primary-theme-color
      // );
      background: #355589;
    }
  }
  .heart {
    display: block;
    background-image: url("../../../assets/icon/trivia/heart.svg");
    width: 14px;
    height: 14px;

    &.white {
      background-image: url("../../../assets/icon/trivia/heart-white.svg");
    }
    &.active {
      width: 23px;
      height: 21px;
      background-image: url("../../../assets/icon/trivia/heart-active.svg");
    }
  }
}

.loser-box {
  display: flex;
  align-items: center;
  justify-content: center;
  // background: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  h3 {
    font-size: 16px;
    color: #d4b8b8;
    text-align: right;
    line-height: 1.4;
    font-weight: 500;
    margin: 0 10px 0 0;
    strong {
      display: block;
      font-size: 18px;
      color: #d24b48;
    }
  }
}

.loser {
  background-image: url("../../../assets/icon/trivia/loser.svg");
  width: 54px;
  height: 54px;
  display: block;
}

#countdown {
  position: relative;
  margin: auto;
  margin-top: 60px;
  height: 140px;
  width: 140px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @media #{$miniMobile} {
    margin-top: 5px;
  }
}

#countdown-number {
  color: #cc4448;
  display: inline-block;
  font-weight: 500;
  font-size: 36px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 140px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 400px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: #cc4448;
  fill: none;
  animation: countdown 5s linear forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 400px;
  }
}

.current-time {
  margin-top: 15px;
  border-top: 1px solid #333;
  padding: 10px;
  color: #949494;
  font-style: italic;
  text-align: center;
  font-size: 14px;

  &.pt {
    padding-top: 45px;
  }

  span {
    font-style: normal;
    color: #333;
    font-weight: bold;
    font-size: 16px;
  }
}

.quote {
  .bold {
    margin-bottom: 3px;
    text-align: right;
  }
  .lite {
    color: #989898;
    font-size: 14px;
    margin: 0;
    text-align: right;
  }
}

.btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 100;
  transition: all 0.3s;
  display: flex;
  align-items: center;

  @media #{$tablet} {
    zoom: 1.25;
  }
}

// .btn-bar{
//   width: 100%;
//   text-align: center;
// }

.show-more {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  background: $primary-theme-color;
  color: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.play-box {
  button {
    margin: 0 5px;
  }
}