<div class="modal-wrapper">
  <div class="modal-close" (click)="cancel()">
    <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
  </div>
  <div class="modal-header">
    <h3>{{ title || 'Congratulations!' }}</h3>
  </div>
  <div class="modal-content">
    <div class="avatar" [ngStyle]="{'background-image': 'url(' + url + ')', 'background-size': (winner?'cover':'contain')}"></div>
      <p *ngIf="!isWinner && winner">{{ winner.name }}</p>
      <h4>{{ text }}</h4>
      <div class="btn-wrap ion-text-center">
        <ion-button (click)="cancel()" class="btn-default green">
          Ok</ion-button>
      </div>
  </div>
</div>