@import "../../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .icon {
      width: 36px;
      height: 36px;
    }
  }
}

p {
  font-size: 13px;
  margin: 0 0 10px;
  font-family: $RMB;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  & + h3 {
    margin: 10px 0 40px;
  }
}

.avatar {
  width: 80px;
  height: 80px;
  border: 3px solid #fff;
  margin: 0 auto 20px;
  position: relative;
  overflow: hidden;
  display: block;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}