<ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="without-btn">Banners</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="6" size-lg="8" size-md="10">
        <ion-segment class="tabs-default" mode="ios" value="{{segmentSelected}}" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="banners">
            <ion-label>Banners</ion-label>
          </ion-segment-button>
          <ion-segment-button value="addBanners">
            <ion-label>Add new banner</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-card *ngIf="segmentSelected === 'banners'">
          <ion-card-header>
            <ion-card-title>Banners</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row class="form-default">
              <ion-col size-xs="12" size="3">
                <ion-label>Select page</ion-label>
              </ion-col>
              <ion-col size-xs="12" size="9">
                <ion-select class="margin" [interfaceOptions]="customAlertOptions" placeholder="Select page"
                  [(ngModel)]="pageSelected" (ionChange)="select()">
                  <ion-select-option *ngFor="let item of pages" [value]="item.id">
                    {{item.value}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-list>
              <ion-item *ngFor="let banner of pageBanners">
                <ion-label>
                  <img [src]="banner.image" alt="">
                  <p>Link: {{ banner['link'] }}</p>
                </ion-label>
                <ion-buttons slot="end">
                  <ion-button (click)="deleteBanner(banner.id)" color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="segmentSelected === 'addBanners'">
          <ion-card-header>
            <ion-card-title>Enter a new banner</ion-card-title>
          </ion-card-header>
          <ion-card-content class="form-default">
            <form [formGroup]="BannerForm" (submit)="submitForm()">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div class="progressBox" *ngIf="ShowProgressEmitter | async">
                      <ion-progress-bar color="danger" [value]="(PercentageEmitter | async)"></ion-progress-bar>
                      <div *ngIf="SnapshotEmitter | async as snap">
                        <p>Downloaded {{ snap.bytesTransferred / 1024 | number:'1.1-2' }}KB of
                          <strong>{{ snap.totalBytes / 1024 | number:'1.1-2' }}KB</strong>
                        </p>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-select placeholder="Select Sport" [(ngModel)]="sport"
                      [interfaceOptions]="customAlertOptionsSport" [ngModelOptions]="{standalone: true}"
                      (ionChange)="changedSport()">
                      <ion-select-option *ngFor="let item of sports" [title]="item.name" [value]="item.name">
                        {{item.name.toUpperCase()}}</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-xs="12" size="3">
                    <ion-label position="stacked">Image <small>(select or upload a new banner)</small></ion-label>
                  </ion-col>
                  <ion-col size-xs="12" size="9">
                    <ion-list>
                      <ion-radio-group formControlName="image">

                        <ion-item-sliding *ngFor="let banner of bannersBySport">
                          <ion-item (click)="selectedBanner(banner)">
                            <ion-label>
                              <img [src]="banner.src" alt="">
                            </ion-label>
                            <ion-radio mode="md" slot="start" [value]="banner.src"></ion-radio>
                          </ion-item>
                          <ion-item-options>
                            <ion-item-option (click)="removeImage(banner.path)" color="danger" class="ion-text-center">
                              <ion-icon slot="start" name="trash"></ion-icon>
                              Remove
                            </ion-item-option>
                          </ion-item-options>
                        </ion-item-sliding>

                      </ion-radio-group>
                    </ion-list>
                    <input formControlName="image" type="file" (change)="addImage($event)">
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-xs="12" size="3"></ion-col>
                  <ion-col size-xs="12" size="9">
                    <ion-input type="text" readonly [value]="path"></ion-input>
                    <small class="error-validation" *ngIf="validationImage">
                      Choose from the existing ones or add a new picture
                    </small>
                  </ion-col>
                </ion-row>
                <ion-row [ngClass]="BannerForm.controls['link'].touched && BannerForm.controls['link'].hasError('required') || validationLink ? 
             'hasError' : '' || BannerForm.controls['link'].valid ? 'validField' : ''">
                  <ion-col size-xs="12" size="3">
                    <ion-label position="stacked">Link</ion-label>
                  </ion-col>
                  <ion-col size-xs="12" size="9">
                    <ion-row>
                      <ion-col size-md="7" size-xs="12">
                        <ion-input clearInput type="text" name="link" formControlName="link"
                          [enterkeyhint]="BannerForm.valid ? 'done' : ''"></ion-input>
                        <small class="small-text">
                          Example: /nhl/1
                        </small>
                        <small class="error-validation"
                          *ngIf="BannerForm.controls['link'].hasError('required') && BannerForm.controls['link'].touched || validationLink">
                          This field is required.
                        </small>
                      </ion-col>
                      <ion-col size-md="5" size-xs="12">
                        <ion-select class="select" [interfaceOptions]="customAlertOptionsC"
                          placeholder="Select challenge" [(ngModel)]="challenge" [ngModelOptions]="{standalone: true}"
                          (ionChange)="changed()">
                          <ion-select-option *ngFor="let item of challengesBySport | slice:0:20" [title]="item.name"
                            [value]="item">
                            {{ item.name }} {{ item.start.seconds*1000 | date:'M/d/yy HH:mm' }}
                          </ion-select-option>
                        </ion-select>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row [ngClass]="BannerForm.controls['page'].touched && BannerForm.controls['page'].hasError('required') || validationPage ? 
              'hasError' : '' || BannerForm.controls['page'].valid ? 'validField' : ''">
                  <ion-col size-xs="12" size="3">
                    <ion-label position="stacked">Page</ion-label>
                  </ion-col>
                  <ion-col size-xs="12" size="9">
                    <ion-select [interfaceOptions]="customAlertOptions" placeholder="Select page"
                      formControlName="page">
                      <ion-select-option *ngFor="let item of pages" [value]="item.id">{{item.value}}</ion-select-option>
                    </ion-select>
                    <small class="error-validation"
                      *ngIf="BannerForm.controls['page'].hasError('required') && BannerForm.controls['page'].touched || validationPage">
                      This field is required.
                    </small>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-buttons class="ion-justify-content-end">
                      <button class="default-button" type="submit">Save</button>
                    </ion-buttons>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>