@import './../../../theme/new-variables.scss';

ion-content {
    @media #{$tablet} {
      --background: #fff;
    }
}

ion-list {
  margin-bottom: 25px;

  ion-item {
    img {
      width: auto;
      height: auto;
      max-height: 140px;
    }
  }
}

