<div class="team-box-avatar">
  <app-ico-svg *ngIf="show" [class]="'team-avatar'" [src]="src" [id]="'Ico'+ id"></app-ico-svg>
  <div class="overlay"></div>
  <div class="border"></div>
  <div class="bg"></div>
</div>