@import "../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .team-avatar {
      width: 38px;
      height: 38px;
    }
  }
}

.team-box-avatar {
  // border: 2px solid #fff;
  // outline: 1px solid $border-color;
  border-radius: 50%;
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &:after {
    content: '';
    display: block;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 50%;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .1) inset;
  }

  app-ico-svg {
    position: relative;
    z-index: 3;
  }

  .overlay {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    z-index: 4;
    box-shadow: 0px 3px 4px rgb(0, 0, 0, .35) inset;
    border: 1px solid #fff;
    // outline: 1px solid $border-color;
  }

  .border {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
    position: absolute;
    left: 0px;
    top: 0px;
  }
}