<div class="modal-wrapper">
  <div class="modal-close" (click)="cancel()">
    <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
  </div>
  <div class="modal-content">
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
      [resizeToWidth]="300" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
      (loadImageFailed)="loadImageFailed()">
    </image-cropper>
    <div class="btn-wrap">
      <ion-button (click)="confirmCropCancel(); cancel()" class="btn-default transparent-white">
        Cancel
      </ion-button>
      <ion-button (click)="imageCrop(); cancel()" class="btn-default green">Crop</ion-button>
    </div>
  </div>
</div>