@import "../../../../theme/variables.scss";

ion-list {
  ion-item {
    &.selected {
      border-top: 2px solid #cc4448;
    }

    ion-label {
      white-space: normal;
      padding-left: 20px;
      position: relative;
      z-index: 12;
    }

    h2 {
      font-size: 15px;
      font-weight: bold;
    }

    ion-checkbox {
      margin-right: 15px;
    }
  }
}

ion-card {
  @media #{$miniMobile} {
    margin: 0;
  }

  ion-card-content {
    @media #{$miniMobile} {
      padding: 5px;
    }
  }
}

ion-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media #{$miniMobile} {
    font-size: 14px;
    flex-wrap: wrap;
  }

  .btn-default {
    @media #{$miniMobile} {
      margin-top: 10px;
    }
  }
}

.finaly {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #cc4448;
  writing-mode: vertical-lr;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  transform: scaleX(-1) scaleY(-1);
  text-align: center;
  color: #fff;
}