<ion-card>
  <ion-card-header *ngIf="!isNew">
    <ion-card-title>Edit {{challenge?.name}}
      <ion-button class="btn-default" (click)="duplicate()">Duplicate challenge</ion-button>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="form-default">
    <form [formGroup]="form" (submit)="submit()">
      <ion-grid>
        <ion-row [ngClass]="form.controls['sport'].hasError('required') && form.controls['sport'].touched ? 'hasError' : '' || 
          form.controls['sport'].valid ? 'validField' : ''">
          <ion-col size-xs="12" size="3">
            <ion-label position="stacked">Sport</ion-label>
          </ion-col>
          <ion-col size-xs="12" size="9">
            <ion-select [interfaceOptions]="customAlertOptions" placeholder="Select sport" formControlName="sport">
              <ion-select-option *ngFor="let item of sports" [value]="item">{{item.toUpperCase()}}</ion-select-option>
            </ion-select>
            <small class="error-validation"
              *ngIf="form.controls['sport'].hasError('required') && form.controls['sport'].touched">
              This field is required.
            </small>
          </ion-col>
        </ion-row>
        <ion-row [ngClass]="form.controls['start'].hasError('required') && form.controls['start'].touched ? 'hasError' : '' || 
          form.controls['start'].valid ? 'validField' : ''">
          <ion-col size-xs="12" size="3">
            <ion-label position="stacked">Date</ion-label>
          </ion-col>
          <ion-col size-xs="12" size="9">
            <div class="datetime-wrapper">
              <ion-input [value]="dateValue" ></ion-input>
              <ion-button fill="clear" id="open-date">
                <ion-icon icon="calendar"></ion-icon>
              </ion-button>
                <ion-modal trigger="open-date" class="modal-datetime">
                  <ng-template>
                    <ion-datetime 
                      #popoverDatetime 
                      presentation="date-time"
                      placeholder="Select" 
                      formControlName="start"
                      displayFormat="D MMM, YYYY HH:mm" 
                      min="2019"
                      max="2022" 
                      minuteValues="0,15,30,45"
                      (ionChange)="loadGames(popoverDatetime.value); fillName()">
                    </ion-datetime>
                  </ng-template>
              </ion-modal>
            </div>
            <small class="error-validation"
              *ngIf="form.controls['start'].hasError('required') && form.controls['start'].touched">
              This field is required.
            </small>
          </ion-col>
        </ion-row>
        <ion-row [ngClass]="form.controls['name'].hasError('required') && form.controls['name'].touched ? 'hasError' : '' || 
          form.controls['name'].valid ? 'validField' : ''">
          <ion-col size-xs="12" size="3">
            <ion-label position="stacked">Name</ion-label>
          </ion-col>
          <ion-col size-xs="12" size="9">
            <ion-input type="text" name="name" formControlName="name"></ion-input>
            <small class="error-validation"
              *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">
              This field is required.
            </small>
          </ion-col>
        </ion-row>
        <ion-row [ngClass]="form.controls['amount'].hasError('required') && form.controls['amount'].touched ? 'hasError' : '' || 
          form.controls['amount'].valid ? 'validField' : ''">
          <ion-col size-xs="12" size="3">
            <ion-label position="stacked">Amount</ion-label>
          </ion-col>
          <ion-col size-xs="12" size="9">
            <ion-input type="number" name="amount" formControlName="amount" (ionChange)="fillText()"></ion-input>
            <small class="error-validation"
              *ngIf="form.controls['amount'].hasError('required') && form.controls['amount'].touched">
              This field is required.
            </small>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="12" size="3">
            <ion-label position="stacked">Text</ion-label>
          </ion-col>
          <ion-col size-xs="12" size="9">
            <ion-textarea type="text" formControlName="text"></ion-textarea>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="12" size="3">
            <ion-label position="stacked">Info</ion-label>
          </ion-col>
          <ion-col size-xs="12" size="9">
            <ion-input clearInput type="text" formControlName="info"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list-header>
              <strong>Challenge games</strong>
              <ion-buttons>
                <ion-button color="success" (click)="addGames()">
                  <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-list-header>
          </ion-col>
        </ion-row>
        <ng-container formArrayName="newGames" *ngFor="let game of newGames.controls; let i = index">
          <ion-row>
            <ion-col size-xs="12" size="3">
            </ion-col>
            <ion-col size-xs="10" size="7">
              <ion-input clearInput placeholder="Add game" type="text" [formControlName]="i"></ion-input>
            </ion-col>
            <ion-col size-xs="2" size="2">
              <ion-buttons class="ion-justify-content-center">
                <ion-button color="danger" (click)="removeGames(i)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </ng-container>
        <ion-row>
          <ion-col>
            <ion-list>
              <ng-container *ngFor="let game of challengeGames, let i = index">
                <ion-item [ngClass]="{'selected' : uniqueDate(game, challengeGames[i - 1])}">
                  <div class="finaly" *ngIf="game.gamePk.toString() === form.get('finalGame').value">final</div>
                  <ion-label (click)="changedFinalyGame(game.gamePk)">
                    <h3> <strong>{{game.teams.away.team.name}}</strong>
                      vs
                      <strong>{{game.teams.home.team.name}}</strong>
                    </h3>
                    <p>{{ game.gameDate | date:'M/d h:mma' }} {{commonService.getTimezone()}}</p>
                  </ion-label>
                  <ion-checkbox id="{{game.gamePk}}" [value]="game.gamePk" [checked]="checkedGame(game.gamePk)"
                    slot="end" (ionChange)="selectedGames($event)">
                  </ion-checkbox>
                </ion-item>
              </ng-container>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="danger">Disable challenge</ion-label>
              <ion-toggle color="danger" formControlName="disabled"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button class="default-button" type="submit" [disabled]="!form.valid">Save</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card-content>
</ion-card>