<div class="item-article-container">
  <ng-container *ngIf="!news?.length">
    <div class="article article-skeleton" *ngFor="let i of [0,1,2,3]">
      <ngx-skeleton-loader class="activated" appearance="line" animation="pulse"></ngx-skeleton-loader>
    </div>
  </ng-container>
  <div (click)="openArticle(article, side)" class="article" *ngFor="let article of news">
    <ng-container>
      <h3 class="article-headline">{{article.headline}}</h3>
      <img *ngIf="article.images && article.images[0]" class="article-image" src="{{ article.images[0].url}}">
      <p class="st-item gray article-description">{{article.description}}</p>
    </ng-container>
  </div>
</div>