@import "../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    
  }
}

.item-article-container {
  background: #eaeaea;
  padding: 30px 10px 10px;
  max-height: calc(100vh - 172px - 24px - 58px - 60px - 20px);
  overflow: auto;

  @media #{$tablet, $desktop} {
    max-height: calc(100vh - 215px - 30px - 58px - 75px - 20px);
  }

  h3 {
    font-family: $RB;
    font-size: 13px;
    text-align: left;
    color: #3e3e3e;
    text-transform: none;
    margin: 0 0 7px;

    @media #{$tablet, $desktop} {
      font-size: 17px;
      margin: 0 0 10px;
    }
  }

  img {
    margin-bottom: 5px;

    @media #{$tablet, $desktop} {
      margin-bottom: 7px;
    }
  }

  p {
    margin: 0;
    font-family: $RM;
    font-size: 12px;
    color: #8d8d8d;
    margin-bottom: 5px;

    @media #{$tablet, $desktop} {
      font-size: 15px;
      margin-bottom: 7px;
    }
  }
}