// FONTS

$font-path: "../assets/fonts/new/";

//Inter

@font-face {
  font-family: 'InterLight';
  src: url($font-path+'Inter-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'InterRegular';
  src: url($font-path+'Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'InterMedium';
  src: url($font-path+'Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'InterBold';
  src: url($font-path+'Inter-Bold.ttf') format('truetype');
}

//Fira

@font-face {
  font-family: 'FiraMonoR';
  src: url($font-path+'FiraMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraMonoM';
  src: url($font-path+'FiraMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraMonoB';
  src: url($font-path+'FiraMono-Bold.ttf') format('truetype');
}

//Noto

@font-face {
  font-family: 'NotoSans';
  src: url($font-path+'NotoSans-Bold.ttf') format('truetype');
}

//Roboto

@font-face {
  font-family: 'RobotoLight';
  src: url($font-path+'Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoRegular';
  src: url($font-path+'Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url($font-path+'Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoBold';
  src: url($font-path+'/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoCondensedLight';
  src: url($font-path+'RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoCondensedRegular';
  src: url($font-path+'RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoCondensedMedium';
  src: url($font-path+'RobotoCondensed-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoCondensedBold';
  src: url($font-path+'RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMonoBold';
  src: url($font-path+'RobotoMono-Bold.ttf') format('truetype');
}

//Tourney

@font-face {
  font-family: 'TourneyBold';
  src: url($font-path+'Tourney-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'TourneyBlack';
  src: url($font-path+'Tourney-Black.ttf') format('truetype');
}


// COLORS 
$primary-theme-color: #8CC63F;
$secondary-theme-color: #6C89D2;
$third-theme-color: #939D86;
$four-theme-color: #D9D9D9;
$yellow-theme-color: #ECA335;
$red-theme-color: rgba(218, 33, 39, 1);
$warning: rgba(200, 32, 47, 1);
$gray-text: #7C7C7C;
// $primary-theme-color: #cc4448;
$green: #00843D;
$light-gray: #B7B7B7;
$gray: #8D8D8D;
$primary-btn-color: #4B48EC;
$secondary-text-color: #621B1D;
$third-text-color: #666;

$warning: #EDBF1C;
$border-color: #dfdfdf;
$blue-theme-color: #355589;
$text-shadow: 0 1px 1px rgba(0,0,0,0.25) inset; 
// $gray: #6B6B6B;

$IL: 'InterLight', sans-serif; // 300
$IR: 'InterRegular', sans-serif; // 400
$IM: 'InterMedium', sans-serif; // 500
$IB: 'InterBold', sans-serif; // 700


$FMR: 'FiraMonoR', sans-serif;
$FMM: 'FiraMonoM', sans-serif;
$FMB: 'FiraMonoB', sans-serif;

$NS: 'NotoSans', sans-serif;

$RL: 'RobotoLight', sans-serif;
$RR: 'RobotoRegular', sans-serif;
$RM: 'RobotoMedium', sans-serif;
$RB: 'RobotoBold', sans-serif;

$RCL: 'RobotoCondensedLight', sans-serif;
$RCR: 'RobotoCondensedRegular', sans-serif;
$RCM: 'RobotoCondensedMedium', sans-serif;
$RCB: 'RobotoCondensedBold', sans-serif;

$RMB: 'RobotoMonoBold', sans-serif;

$TB: 'TourneyBold', sans-serif;
$TBl: 'TourneyBlack', sans-serif;

.x-center {
  left: 50%;
  transform: translateX(-50%);
}

.y-center {
  top: 50%;
  transform: translateY(-50%);
}

$landscape: "only screen and (max-width: 575px) and (orientation: landscape)";
$tablet: "only screen and (min-width: 575px) and (max-width: 1023px) and (min-height: 768px)";
// $tabletL: "only screen and (min-width: 768px) and (max-width: 1025px) and (min-height: 768px) and (orientation: landscape)";
$tabletPro: "only screen and (min-width: 1024px) and (max-width: 1365px)";
$tabletProL: "only screen and (min-width: 1025px) and (max-width: 1365px) and (orientation: landscape)";
$miniMobile: "only screen and (max-width: 575px)";
$mobileXs: "only screen and (max-width: 380px)";
// $mobile: "only screen and (max-width: 767px)";
$desktop: "only screen and (min-width: 1024px)";
$miniMobileHeight: "only screen and (max-height: 675px)";


