$font-path: "../assets/fonts";

@font-face {
  font-family: 'RobotoBold';
  src: url($font-path+'/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Norwester';
  src: url($font-path+'/norwester.ttf') format('truetype');
}

//colors variables

$primary-theme-color: #cc4448;
$green: #00843D;
$light-gray: #B7B7B7;
$gray: #6B6B6B;

$RT: 'RobotoThin', sans-serif;
$RL: 'RobotoLight', sans-serif;
$RR: 'RobotoRegular', sans-serif;
$RM: 'RobotoMedium', sans-serif;
$RB: 'RobotoBold', sans-serif;
$NW: 'Norwester', sans-serif;

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #00205B;
  --ion-color-primary-rgb: 56, 128, 255; 
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #00843D;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #CC4448;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #041C2C;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #99999A;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-gray: #6b6b6b;
  --ion-color-gray-rgb: 152, 154, 162;
  --ion-color-gray-contrast: #ffffff;
  --ion-color-gray-contrast-rgb: 255, 255, 255;
  --ion-color-gray-shade: #86888f;
  --ion-color-gray-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #041C2C;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

// .ion-color-danger {
//   --ion-color-base: #CC4448;
// }

$landscape: "only screen and (max-width: 575px) and (orientation: landscape)";
$tablet: "only screen and (min-width: 768px) and (max-width: 1023px) and (min-height: 768px)";
// $tabletL: "only screen and (min-width: 768px) and (max-width: 1025px) and (min-height: 768px) and (orientation: landscape)";
$tabletPro: "only screen and (min-width: 1024px) and (max-width: 1365px)";
$tabletProL: "only screen and (min-width: 1025px) and (max-width: 1365px) and (orientation: landscape)";
$miniMobile: "only screen and (max-width: 575px)";
$mobileXs: "only screen and (max-width: 340px)";
// $mobile: "only screen and (max-width: 767px)";
// $desktop: "only screen and (min-width: 575px)";
$miniMobileHeight: "only screen and (max-height: 568px)";


