<ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="without-btn">
      NFL Admin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="6" size-lg="8" size-md="10">
        <ion-card>
          <ion-card-header>
            <ion-card-title>NFL Schedule</ion-card-title>
          </ion-card-header>
          <ion-card-content class="form-default">
            <ion-grid>
              <ion-row>
                <ion-col size-xs="12" size="3">
                  <ion-label position="stacked">ESPN Legacy API<ion-text color="danger">*</ion-text>
                  </ion-label>
                </ion-col>
                <ion-col size-xs="12" size="9">
                  <ion-input required type="text" [(ngModel)]="environment.nfl_legacy_api"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-xs="12" size="3">
                  <ion-label position="stacked">From1
                  </ion-label>
                </ion-col>
                <ion-col size-xs="12" size="9">
                  <div class="datetime-wrapper">
                    <ion-input [value]="start"></ion-input>
                    <ion-button fill="clear" id="start-date">
                      <ion-icon icon="calendar"></ion-icon>
                    </ion-button>
                    <ion-modal trigger="start-date" class="modal-datetime">
                      <ng-template>
                        <ion-datetime #startPicker presentation="date" placeholder="Select Date" min="2019" max="2023"
                          (ionChange)="setStart(startPicker.value)">
                        </ion-datetime>
                      </ng-template>
                    </ion-modal>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-xs="12" size="3">
                  <ion-label position="stacked">To
                  </ion-label>
                </ion-col>
                <ion-col size-xs="12" size="9">
                  <div class="datetime-wrapper">
                    <ion-input [value]="end"></ion-input>
                    <ion-button fill="clear" id="end-date">
                      <ion-icon icon="calendar"></ion-icon>
                    </ion-button>
                    <ion-modal trigger="end-date" class="modal-datetime">
                      <ng-template>
                        <ion-datetime #endPicker presentation="date" placeholder="Select Date" min="2019" max="2023"
                          (ionChange)="setEnd(endPicker.value)">
                        </ion-datetime>
                      </ng-template>
                    </ion-modal>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-list>
                    <ion-item-group>
                      <ion-item>
                        <ion-item lines="none" class="ion-no-padding1 ion-margin-end">
                          <ion-button (click)="processSchedule()" color="red">Force Reload</ion-button>
                        </ion-item>
                        or
                        <ion-item lines="none" class="ion-no-padding ion-margin-start">
                          <ion-checkbox [(ngModel)]="autoReload" checked="autoReload" slot="start" color="red">
                          </ion-checkbox>
                          <ion-label>10s Reload</ion-label>
                        </ion-item>
                      </ion-item>
                      <ion-item>
                        <ion-item lines="none" class="ion-no-padding1 ion-margin-end">
                          <ion-button (click)="updateStandings('20192020')" color="red">Update Standings</ion-button>
                        </ion-item>
                        <ion-item lines="none" class="ion-no-padding1 ion-margin-end">
                          <ion-button (click)="updateTeams('20192020')" color="red">Update Teams</ion-button>
                        </ion-item>
                      </ion-item>
                    </ion-item-group>
                    <ion-item-group *ngFor="let event of getGames(); index as index" [hidden]="(index>dayCount)"
                      style="padding-bottom: 5px;">
                      <ion-item-divider sticky color="medium" style="--padding-start: 10px;">
                        <ion-buttons slot="start">
                          {{event.date}}
                        </ion-buttons>
                        <ion-buttons slot="end">
                          <ion-button id="{{inviteService.startDate(event.date)}}" name="add-event" title="add-event">
                            <ion-icon slot="icon-only" name="add-circle" color="success"></ion-icon>
                          </ion-button>
                        </ion-buttons>
                      </ion-item-divider>

                      <ion-item-sliding *ngFor="let game of event.games; index as k" #slidingItem
                        [attr.track]="game.gamePk">
                        <ion-item detail="false" style="display: inherit">
                          <ion-icon title="{{game.gamePk}}" name="ellipse" color="gray" slot="start"
                            class="ion-no-margin">
                          </ion-icon>
                          <ion-label class="ion-no-margin p-3">
                            {{game.teams.away.team.name}} @ {{game.teams.home.team.name}}
                          </ion-label>
                          {{ game.gameDate | date:'h:mma' }} {{commonService.getTimezone()}}
                        </ion-item>
                      </ion-item-sliding>

                      <ion-item-divider *ngIf="!event.games.length">
                        <div class="ion-text-center ion-align-items-center" style="width: 100%;">
                          no data
                        </div>
                      </ion-item-divider>
                    </ion-item-group>

                    <ion-item-divider *ngIf="events?.length>dayCount">
                      <div (click)="dayCount=dayCount+20" class="ion-text-center ion-align-items-center"
                        style="width: 100%;">
                        more games...
                      </div>
                    </ion-item-divider>
                  </ion-list>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>