// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

@import "../../node_modules/smart-app-banner/dist/smart-app-banner.css";
// @import "../theme/variables.scss";
@import "../theme/new-variables.scss";
// GENERAL

body {
  font-family: $RR;
  font-size: 16px;

  * {
    &:focus {
      outline: none;
    }
  }
}

.plt-ios {
  .team-card {
    p {
      letter-spacing: -0.7px;

      span {
        letter-spacing: -0.7px;
      }
    }
  }

  .btn-wrap {
    .btn-default {
      letter-spacing: -0.7px;
    }
  }

  .preferences-wrap {
    ul {
      li {
        p {
          letter-spacing: -0.7px;
        }
      }
    }
  }

  .profile-bid-banners {
    .item {
      p {
        letter-spacing: -0.7px;
      }

      .item-result {
        div {
          span {
            letter-spacing: -0.7px;
          }
        }
      }
    }
  }

  &.plt-mobileweb {
    .team-card {
      p {
        letter-spacing: inherit;

        span {
          letter-spacing: inherit;
        }
      }
    }

    .btn-wrap {
      .btn-default {
        letter-spacing: inherit;
      }
    }

    .preferences-wrap {
      ul {
        li {
          p {
            letter-spacing: -0.7px;
          }
        }
      }
    }

    .profile-bid-banners {
      .item {
        p {
          letter-spacing: inherit;
        }

        .item-result {
          div {
            span {
              letter-spacing: inherit;
            }
          }
        }
      }
    }
  }
}

* {
  font-family: $RR;
  // -webkit-font-smoothing: subpixel-antialiased !important;
  // text-rendering: optimizeLegibility !important;
}

.ion-page {
  @media #{$tablet} {
    background: #cdcdcd;
  }
}

ion-content {

  @media #{$tablet} {
    --background: #cdcdcd;
  }
}

.mainWrapper {
  background: #cdcdcd;

  .mainHeader {
    max-width: 560px;
    margin: 0 auto;

    @media #{$tablet} {
      max-width: 535px;
    }
  }

  .mainContainer {
    max-width: 560px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    min-height: calc(100vh - 60px - 46px);

    @media #{$desktop} {
      &.show {
        min-height: calc(100vh - 60px - 46px - 30px);
        // overflow: inherit;
      }
    }

    @media #{$tablet} {
      max-width: 535px;
      min-height: calc(100vh - 75px - 58px);

      &.show {
        min-height: calc(100vh - 75px - 58px - 245px);
        // overflow: inherit;
      }
    }

    @media #{$mobileXs} {
      &.show {
        min-height: calc(100vh - 60px);
      }
    }

    &.no-subHeader {
      min-height: calc(100vh - 60px);

      @media #{$tablet} {
        min-height: calc(100vh - 75px);
      }
    }
  }
}

ion-header ion-toolbar:first-of-type {
  padding-top: calc(var(--ion-safe-area-top, 0)/1.5);

  @media #{$tablet} {
    padding-top: var(--ion-safe-area-top, 0)z;
  }
}

ion-content {
  &[slot=fixed] {
    overflow: hidden;
    --overflow: hidden;
  }
}


.bg {
  background: $primary-theme-color;
  --background: $primary-theme-color;
}

.logo {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  --fill-bg: #fff;
  --fill: #8cc73f;

  &.inverse {
    --fill-bg: #8cc73f;
    --fill: #fff;
  }
}

ion-text {
  font-size: 14px;
  line-height: 1.2;
  color: $light-gray;
  display: block;
  text-align: center;

  a {
    font-size: 12px;
    color: $gray;
  }
}

h3 {
  font-family: $RMB;
  font-size: 14px;
  color: $light-gray;
  text-transform: uppercase;
}

// AUTH

.auth-wrap {

  .logo {
    width: 64px;
    height: 64px;
    --fill-bg: #6C89D2;
  }

  // .card-title {
  //   margin-bottom: 5px;
  // }

  .plt-iphone {
    .main {
      padding: 40px 55px;
    }
  }


  .main {
    padding: 22px 55px;
    display: grid;
    grid-template-rows: 80% 20%;
    background: $secondary-theme-color;

    @media #{$miniMobileHeight, $mobileXs, $desktop} {
      grid-template-rows: 1fr auto;
      overflow: auto;
    }
  }

  .logo-box {
    &-img {
      justify-content: center;
      display: flex;
      margin-bottom: 15px;
    }

    &>app-ico-svg {
      margin-top: 10px;
      margin-bottom: 50px;

      @media #{$tablet, $desktop} {
        zoom: 1.25
      }

      @media #{$mobileXs} {
        margin-bottom: 15px;
      }
    }
  }
}

.games-wrapper {
  margin-bottom: 15px;
}

// MODAL

.modal-wrap-default {
  --width: 320px;

  &::part(content) {
    overflow: visible;
  }

  .modal-wrapper {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: $secondary-theme-color;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    min-height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &.start {
      justify-content: flex-start;
    }

    &.modal-error {
      background: rgb(137, 42, 46);

      .modal-header {
        color: #C7C7C7;
      }
    }

    .modal-header {
      text-align: center;
      font-size: 18px;
      text-transform: uppercase;
      font-family: $IB;
      color: #242424;
    }

    h3 {
      font-family: $IB;
      color: #242424;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      margin: 0px 0 20px;
    }

    h4 {
      font-family: $IB;
      color: #242424;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
      margin: 0px 0 20px;
    }
  }
}

.modal-list {
  background: transparent;

  .item {
    --background: transparent;
    background: transparent;

    ion-label {
      white-space: normal;
    }

    p {
      font-family: $RMB;
      font-size: 14px;
      color: #fff;
    }
  }
}

.modal-close {
  position: absolute;
  right: -17px;
  top: -17px;
  width: 32px;
  height: 32px;
}

.modal-scroll-content {
  height: 310px;
  overflow: auto;
  margin-right: -10px;
  padding-right: 10px;
}

.checkbox-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

//TOGGLE

ion-toggle {
  height: 18px;
  width: 38px;
  background: $third-text-color;
  border: 1px solid #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  --handle-width: 16px;
  --handle-height: 16px;

  &.toggle-checked {
    --background-checked: #8CC63F;
  }
}

.default-title {
  font-family: $RCB;
  text-align: center;
  text-transform: uppercase;
  // font-size: 2.1vh;
  font-size: 18px;
  line-height: 1.2;
  color: $gray-text;

  @media #{$tablet} {
    font-size: 22px;
  }
}

.default-sub-title {
  font-family: $RCR;
  font-size: 14px;
  // font-size: 1.65vh;
  text-align: center;
  text-transform: uppercase;
  color: $gray-text;

  @media #{$tablet} {
    font-size: 16px;
  }
}

// Loading

ion-loading {
  .loading-wrapper {
    background: rgba(109, 140, 185, 0.95) !important;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    color: #fff;
    font-family: $IB;
    font-size: 12px;
    text-transform: uppercase;
  }
}

//form

.input-wrapper {
  position: relative;
}

.form-group {
  margin-bottom: 6px;

  @media #{$tablet, $desktop} {
    zoom: 1.25;
  }

  p {
    // font-size: 1.15vh;
    font-size: 11px;
    line-height: 14px;
    margin: 10px 0;
    font-family: $IM;
    text-transform: uppercase;
    color: #000;
    text-align: center;

    span {
      display: block;
      color: rgba(57, 57, 57, 1);
    }
  }
}

.input {
  background-color: #D1D1D1;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  // font-size: 1.8vh;
  font-size: 16px;
  overflow: hidden;
  font-family: $IM;
  text-align: right;
  height: 32px;
  --padding-start: 30px;
  --padding-end: 10px;
  --placeholder-color: rgb(182, 182, 182);
  --placeholder-opacity: 1;

  &.has-value,
  &.has-focus {
    background: rgba(236, 163, 53, 0.9);
    border: 2px solid #4B48EC;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #000;
  }

  &-icon {
    position: absolute;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    z-index: 10;


  }

  &:-internal-autofill-selected {
    background-color: transparent;
  }
}

form,
.form {
  .input-wrapper {
    .input-icon {
      .icon {
        --fill: #5D5D5D;
      }
    }
  }
}

.hasError {
  .input-wrapper {
    .input-icon {
      .icon {
        --fill: rgba(200, 32, 47, 1);

        &.lock {
          --stroke: #c8202f;
        }
      }
    }
  }
}

//BTN

.btn-icon-wrapper {
  height: 28px;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  display: inline-flex;
  width: auto;
  min-width: 180px;
  cursor: pointer;

  .btn-icon {
    width: 10px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      --fill: #5D5D5D;
    }
  }

  .btn-text {
    background: transparent;
    border-left: 1px solid #FFFFFF;
    border-radius: 4px;
    font-family: $RR;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    // font-size: 1.3vh;
    line-height: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  &:hover,
  &:active,
  &:focus {
    background: $four-theme-color;

    .btn-text {
      background: $primary-theme-color;
    }
  }
}

.default-button {
  width: calc(100% - 4px);
  height: 40px;
  margin: 4px 2px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  border: 2px solid #c61c22;
  background: linear-gradient(to right, #c61c22 14%, #c61c22 96%);
  transition: all 0.3s;

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &.outline {
    background: transparent;
    border-color: #c61c22;
    color: $primary-theme-color;

    &:hover {
      background: linear-gradient(to right, #c61c22 14%, #c61c22 96%);
      color: #fff;
    }
  }
}

.btn-default {
  height: 28px;
  width: auto;
  background: $primary-btn-color;
  --background: $primary-btn-color;
  border: 1px solid #8785EF;
  border-radius: 4px;

  color: #fff;
  // font-size: 1.3vh;
  font-size: 11px;
  font-family: $RR;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  --box-shadow: none;
  padding: 0 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  --background-activated: $primary-btn-color;
  --background-focused: $primary-btn-color;
  --background-hover: $primary-btn-color;

  &.transparent {
    border-color: $primary-btn-color;
    background: transparent;
    color: $primary-btn-color;
  }

  &.transparent-gray {
    border-color: #696969;
    background: transparent;
    color: #696969;
  }

  &.transparent-white {
    border-color: #ffffff;
    background: transparent;
    color: #ffffff;
    box-shadow: none;
    padding: 0;
  }

  &.no-shadow {
    box-shadow: none;
  }

  &.green {
    background: $primary-theme-color;
    border-color: #B8F469;
    // color: #222;
  }

  &.danger {
    border-color: #FF0019;
    background: transparent;
    color: #FF0019;
  }

  &.red {
    background: #C8202F;
    border-color: #C8202F;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-size: 16px;
    font-family: $RB;
    color: #fff;
    padding: 0 25px;
    height: 22px;
    text-transform: uppercase;
  }
}

// MENU

ion-menu {
  @media #{$tablet, $desktop} {
    zoom: 1.25;
  }

  ion-content {
    --background: #fff;
  }
}

.general-menu {
  .item {
    &.active {
      ion-label {
        color: $primary-theme-color;
      }

      ion-icon {
        color: $primary-theme-color;
      }
    }

    p {
      color: $gray;
      font-family: $RMB;
      font-size: 12px;
      margin: 0;
    }

    ion-icon {
      color: $gray-text;
    }

    ion-label {
      font-family: $RMB;
      font-size: 14px;
      text-transform: uppercase;
      color: $gray;
    }
  }
}

// OLD

ion-list-header {
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: $RMB;

  @media #{$tablet} {
    font-size: 18px;
  }

  @media #{$miniMobile} {
    font-size: 13px;
  }

  ion-label {
    margin: 0;
    font-family: inherit;
  }
}

.popover-viewport {
  ion-content {
    --padding-start: 0;
    --padding-end: 0;
    --background: #fff;
  }
}

p {
  a {
    color: inherit;
  }
}

.font-normal {
  span {
    font-weight: normal !important;
  }
}

.no-padding-vertical {
  padding-top: 0;
  padding-bottom: 0;
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;

  div {
    display: inline-block;
    text-align: center;

    ion-icon {
      font-size: 60px;
      color: #ececec;
    }

    p {
      font-size: 14px;
      font-family: $RR;
      color: #b1b0b0;
    }
  }
}

.footer {
  margin: 0;
  display: flex;
  align-items: center;
  height: 44px;
  background: #fff;

  @media #{$tablet, $desktop} {
    zoom: 1.25;
  }

  &.mention {
    padding-left: 10px;
    border-top: 1px solid $light-gray;
  }

  .input-control {
    background: transparent;
  }

  .send {
    width: 32px;
    height: 32px;
  }
}

.decorate {
  color: blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.box-bg {
  max-width: 600px;
  background-image: url(/assets/leaderboard_bg.jpg);
  background-size: cover;
  background-position: top -1px center;
}

.bold {
  font-weight: bold;
}

.block {
  display: block;
}

.main {
  height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  // @media screen and (min-width: 767px) {
  //   ion-card {
  //     width: 600px;
  //     margin: auto;
  //   }
  // }
}



.white {
  color: white;
}

.small {
  font-size: 13px;

  a {
    text-decoration: unset !important;
  }
}

.img-logo {
  width: 80%;
}

.fire-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

// SMARTBANNER

.smartbanner-show {
  margin: 0;

  .ion-page {
    padding-top: 80px;
  }
}

.smartbanner {
  background: #fff;
  box-shadow: inset 0 4px 0 #c61c22;

  .smartbanner-icon {
    border-radius: 0;
    box-shadow: none;
  }

  .smartbanner-info {
    text-shadow: none;
    color: #888585;

    .smartbanner-title {
      color: #000;
    }
  }

  .smartbanner-button {
    background: linear-gradient(to right, #c61c22 14%, #c61c22 96%);
    color: #fff;
    box-shadow: none;
    border-color: #c61c22;
    border-radius: 0;
  }
}

// MODAL

.modal-shadow {
  display: none;
}

.popover-default {

  .trophy-wrapper {
    .item {
      width: 100% !important;
    }
  }
}

.popover-user-games {
  --width: 350px;
  --height: 400px;
  width: 100%;

  @media #{$miniMobile} {
    --width: 90%;
    left: 50% !important;
    transform: translateX(-50%);
  }
}

.popover-trivia {

  .trophy-wrapper {
    .item {
      width: 100% !important;
    }
  }
}

.w340 {
  --width: 340px;
}

.popover-profile {

  @media #{$tablet, $desktop} {
    --height: 90%;
  }

  .mainWrapper {
    .mainHeader {
      max-width: 100%;
    }

    .mainContainer {
      max-width: 100%;
    }
  }

  ion-header {

    &:before,
    &:after {
      display: none;
    }

    ion-buttons {
      display: none;

      &.modal-box-close {
        display: flex;

        ion-button {
          --color: #fff;
        }
      }
    }
  }

  .sub-header {
    display: none;
  }
}

.popover-message {
  min-height: auto;
  --min-height: auto;
}

// .popover-crop {
//   --width: 90%;
//   max-width: 320px;
//   min-height: auto;
//   --min-height: auto;
//   max-height: 90%;
//   top: 50% !important;
//   left: 50% !important;
//   opacity: 0;
//   transform: translate(-50%, -50%) !important;
//   animation: fadeIn 0.2s 0.5s forwards;
// }

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.profile-popup {
  .total-prize {
    .amount {
      span {
        font-size: 28px;
      }
    }
  }
}

ion-backdrop {
  --backdrop-opacity: 0.15;
}

//PAGINATION

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  background: lighten($primary-theme-color, 20%);
  opacity: 1;
  border: 2px solid #fff;

  &.swiper-pagination-bullet-active {
    background: $primary-theme-color;
  }
}

.hide-pager {
  .swiper-pagination {
    display: none;
  }
}

// SLIDER

.inviteSlider {
  .swiper-pagination {
    position: fixed;
    top: 90px;
    bottom: inherit;
    width: 100%;

    .swiper-pagination-bullet {
      border: 1px solid $primary-theme-color;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      background: #fff;

      &.swiper-pagination-bullet-active {
        background: $primary-theme-color;
      }
    }
  }
}

.transition {
  background: linear-gradient(to right, #c61c22 14%, #c61c22 96%);
  color: white;
}

// .logo {
//   width: 1.25em !important;
// }

.grid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

//NOTIFICATION

.notification {
  position: relative;
  width: 24px;
  height: 24px;
  padding: 0 10px;
  box-sizing: content-box;

  svg {
    width: 24px;
    height: 24px;

    &>path {
      fill: #ffffff;
    }
  }

  &.animated {
    .notification--bell {
      animation: bell 2.2s linear infinite;
      transform-origin: 50% 0%;
    }

    .notification--bellClapper {
      animation: bellClapper 2.2s 0.1s linear infinite;
    }

    .notification--num {
      animation: notification 1s ease;
    }

    // .remove-notification--num {
    //   animation: removeNotification 1s ease;
    // }
  }
}

.notification--num {
  position: absolute;
  top: 0%;
  left: 60%;
  font-size: 10px;
  border-radius: 50%;
  min-width: 15px;
  height: 15px;
  background-color: #ff4c13;
  border: 2px solid #232528;
  color: #ffffff;
  text-align: center;
  line-height: 14px;
  box-sizing: content-box;
}

@keyframes bell {

  0%,
  25%,
  75%,
  100% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(5deg);
  }

  45% {
    transform: rotate(-5deg);
  }

  55% {
    transform: rotate(2deg);
  }

  60% {
    transform: rotate(-2deg);
  }
}

@keyframes bellClapper {

  0%,
  25%,
  75%,
  100% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-1.5em);
  }

  45% {
    transform: translateX(1.5em);
  }

  55% {
    transform: translateX(-0.5em);
  }

  60% {
    transform: translateX(0.1em);
  }
}

@keyframes notification {
  0% {
    transform: scale(0, 0);
    transition: 0.1s;
  }

  75% {
    transform: scale(1.1, 1.1);
    transition: 0.25s;
  }

  100% {
    transform: scale(1, 1);
    transition: 0.15s;
  }
}

@keyframes removeNotification {
  0% {
    transform: scale(1, 1);
    transition: 0.1s;
  }

  75% {
    transform: scale(1.1, 1.1);
    transition: 0.25s;
  }

  100% {
    transform: scale(0, 0);
    opacity: 0;
    transition: 0.15s;
  }
}

.alert-title {
  font-size: 18px !important;
}

.alert-message {
  text-align: center;
}

//SNAPCHAT

.snapchat-tabs {
  ion-segment-button {
    font-size: 12px;
    min-height: 40px;
    height: 40px;

    ion-label {
      margin: 0;
    }
  }
}

//CHAT

.chat-wrapper-avatar {
  .avatarBox {
    font-weight: bold;
    font-family: $RR;
    align-items: center;
    font-size: 16px !important;

    .avatar {
      width: 34px;
      height: 34px;
      margin: 5px 10px 5px 0;
    }
  }
}

.mention-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;

  .mention-box {
    width: auto;
    min-width: 180px;
    background: #fff;
    // box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: calc(100% - 10px);
    max-height: 240px;
    overflow: auto;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  p {
    font-size: 14px;
    color: #d6d7cd;
    font-family: "RobotoRegular", sans-serif;
    font-style: italic;
    text-align: center;
    width: 100%;

    a {
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.button-color {
  background-color: var(--ion-color-mytheme);
}

.btn-color {
  color: #ffa000;
}

//LOADER

.loader-section {
  position: relative;
  min-height: 100px;
}

.loader {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-height: 100px;
  z-index: 9;

  background: url("../assets/loader-ring-3.gif") 50% 50% no-repeat #f9f7f775;
  background-size: 2rem;
}

.progressBox {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 280px;
  padding: 20px 15px;
  background: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    -0 1px 5px 0 rgba(0, 0, 0, 0.12);
  z-index: 20;

  p {
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
  }
}

.win_amount {
  div {
    color: $primary-theme-color;
    font-weight: bold;
    font-size: 14px;

    span {
      color: #000;
    }
  }
}

.total-prize {
  .amount {
    display: flex;

    span {
      border-radius: 3px;
      background-color: #fff;
      height: 100%;
      font-family: $RB;
      font-size: 32px;
      color: $gray;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      margin: 0 3px;

      @media #{$tablet} {
        margin: 0 1px;
        font-size: 22px;
      }
    }
  }
}

//TABS

.tabs-default {
  margin: 0;

  @media #{$tablet, $desktop} {
    zoom: 1.25;
  }

  ion-segment {
    --background: #ececec;
    border-radius: 4px;

    text-transform: uppercase;
    font-family: $RR;
  }

  ion-segment-button {
    min-height: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    --border-radius: 3px;
    --indicator-color: #355589;
    color: #6b6b6b;
    font-size: 13px;

    @media #{$tablet} {
      font-size: 10px;
    }

    &:before {
      display: none;
    }

    &.segment-button-checked {
      color: #fff;

      ion-icon {
        &+ion-label {
          display: block;
          opacity: 1;
        }
      }
    }

    ion-icon {
      width: 20px;
      height: 20px;

      &+ion-label {
        font-size: 14px;

        @media #{$tablet} {
          font-size: 10px;
          display: none;
          opacity: 0;
          transition: all 0.3s;
        }
      }
    }

    ion-badge {
      min-width: 18px;
      height: 18px;
      background: $primary-theme-color;
      color: #fff;
      font-size: 12px;
      font-family: $RR;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: normal;
      padding: 0;
      margin-left: 5px;
    }
  }

  .item {
    border-radius: 4px;
    padding: 0 1.1em;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 15ms linear, color 15ms linear;
    margin: 4px 10px;
    height: 36px;
    width: calc(100% / 3);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background: #99999a;
    color: #fff;
    // background: transparent;
    // color: #c61c22;

    // border: 2px solid #c61c22;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:hover {
      background: #a1a1a2;
      color: #fff;
    }

    &.active {
      background: #c61c22;
      color: #fff;
    }

    ion-icon {
      margin-left: 5px;
    }
  }
}

.sport-tabs {
  display: flex;
  margin: 15px 0;

  @media #{$tablet, $desktop} {
    zoom: 1.15;
  }

  .item {
    border-radius: 4px;
    padding: 0 1.1em;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 15ms linear, color 15ms linear;
    margin: 4px 10px;
    height: 36px;
    width: calc(100% / 4);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background: #99999a;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: $RMB;

    @media #{$tablet} {
      margin: 2px 5px;
      height: 30px;
      font-size: 12px;
    }

    @media #{$miniMobile} {
      padding: 0 0.8em;
      margin: 4px 5px;
    }

    &:hover {
      background: #a1a1a2;
      color: #fff;
    }

    &.active {
      background: #355589;
      color: #fff;
    }

    ion-icon {
      margin-left: 5px;
    }
  }
}

//GRID

.grid-wrapper {
  .grid-head {
    .item {
      &>div {
        span {
          font-family: inherit;
        }
      }
    }
  }

  .grid-row {
    .item-head {
      &>div {
        span {
          font-family: inherit;
        }
      }
    }
  }
}

//SEARCHBAR
.modal-content {
  .searchBar {
    background-color: #D1D1D1;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    overflow: hidden;
    font-family: $IM;
    text-align: right;
    height: 32px;
    --padding-start: 30px;
    --padding-end: 10px;
    --placeholder-color: rgb(182, 182, 182);
    --placeholder-opacity: 1;

    @media #{$tablet, $desktop} {
      zoom: 1.25;
    }

    &.searchbar-has-value,
    &.searchbar-has-focus {
      background: rgba(236, 163, 53, 0.9);
      border: 2px solid #4B48EC;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: #000;
      --placeholder-color: #5d5d5d;
    }

    .searchbar-input {
      background: transparent;
      padding-inline-end: 10px;
    }

    .searchbar-search-icon {
      left: -5px;
      top: 5px;

      &.sc-ion-searchbar-ios {
        top: 0;
      }

      &.sc-ion-searchbar-md {
        top: 11px;
      }
    }

    .searchbar-clear-button {
      width: 45px;
      right: -20px;
    }
  }
}


//LIST

.listDefault {
  @media #{$tablet, $desktop} {
    zoom: 1.25;
  }

  .title {
    font-size: 16px;
    padding: 0;
    margin-bottom: 12px;
    color: $light-gray;
    font-family: $RR;
    position: static;
    text-align: left;

    strong {
      color: $gray;
      font-family: $RB;
    }
  }

  ion-item {
    --background: #ececec;
    margin-bottom: 6px;
    border-radius: 4px;
    --padding-start: 10px;
  }

  .item-options-end ion-item-option:last-child {
    border-radius: 0 4px 4px 0;
  }

  ion-item-options {
    height: calc(100% - 6px);
  }

  .item-options-ios {
    border-bottom: none;
  }
}

//FORM

.form {

  ion-item {
    --background: #f5f5f5;
    border-bottom: 2px solid #909090;
    margin-bottom: 2px;

    &.item-interactive.ion-invalid {
      border-color: rgb(235, 68, 90);
    }

    ion-label {
      font-size: 14px;
      color: #909090;

      @media #{$tablet} {
        font-size: 12px;
        color: #909090;
      }
    }

    ion-input {
      font-size: 16px;
      font-family: $RR;

      @media #{$tablet} {
        font-size: 13px;
        // --padding-top: 0;
      }
    }
  }
}

.input-control {
  font-size: 15px;
  height: 30px;
  background: #ededed;
  border-radius: 4px;
  padding-inline-start: 10px;
  --padding-start: 10px;
  font-size: 14px;
  font-family: $RR;
  --min-height: 30px;
  text-align: left;
}

.error-validation {
  color: #DA2127 !important;
  display: block;
}

.hasError {

  // ion-input,
  // ion-textarea,
  // ion-select,
  // ion-datetime {
  //   border-color: $primary-theme-color !important;
  // }

  &+.error-validation {
    color: #f04141;
    padding-left: 16px;
  }
}

.datetime-wrapper {
  display: flex;
  align-items: center;
  // position: relative;

  // ion-button {
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  //   cursor: pointer;
  //   z-index: 11;
  // }
}

// .validField {

// ion-input,
// ion-textarea,
// ion-select {
//   border-color: $green !important;
// }
// }

.form-default {
  ion-textarea {
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 10px 7px;
    font-size: 14px;

    &[readonly] {
      color: #999;
      background: #eee;
    }
  }

  ion-input,
  input {
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 0 15px;
    --padding-start: 15px;
    --padding-end: 15px;
    font-size: 14px;
    width: 100%;
    height: 43px;
  }

  small {
    display: block;
    color: #bfbfbf;
  }

  ion-select {
    border: 1px solid #eee;
    border-radius: 3px;

    &.margin {
      margin: 5px 0;
    }
  }

  .error-validation {
    color: $primary-theme-color !important;
  }

  .hasError {

    ion-input,
    ion-textarea,
    ion-select {
      border-color: $primary-theme-color !important;
    }
  }

  .validField {

    ion-input,
    ion-textarea,
    ion-select {
      border-color: $green !important;
    }
  }
}

.input-password-wrapper {
  position: relative;

  ion-input {
    padding-right: 45px;
  }

  ion-icon {
    position: absolute;
    right: 35px;
    top: 8px;
    width: 24px;
    height: 24px;
    z-index: 3;
  }

  .toast-message {
    text-align: center;
  }
}

//USER 

.avatarBox {
  display: flex;
  justify-content: flex-start;
}

.avatar {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  display: block;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user-wrap {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;

  @media #{$miniMobile} {
    font-size: 14px;
  }

  &:hover {
    text-decoration: underline;
  }
}

//GAMES

.challenge-games {
  @media #{$miniMobile} {
    font-size: 14px;
  }
}

.game-btn {
  // height: auto;
  text-transform: initial;
  --padding-top: 0px;
  --padding-bottom: 0px;
  white-space: normal;
  --padding-end: 40px;
  --padding-start: 40px;

  @media #{$miniMobile} {
    --padding-end: 30px;
    --padding-start: 30px;
    font-size: 14px;
    min-height: 60px;
  }

  .icons-wrap {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -1px;

    @media #{$miniMobile} {
      display: flex;
      flex-direction: column;
    }

    &-left {
      left: -30px;
    }

    &-right {
      right: -30px;
    }

    ion-icon {
      width: 20px;
      height: 20px;
      margin: 0 5px;
    }
  }

  .sport-btn {
    position: absolute;
    top: 50%;
    right: calc(100% + 10px);
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }

  .button-wrapper {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    &-text {
      position: relative;
    }
  }
}

.user-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ and Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

.cell {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  border: 1px solid #eee;
  padding: 0;
  background: #fff;

  &-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
  }

  .cell-label {
    color: #fff !important;
  }

  p {
    margin: 0;
  }

  .fill-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;

    &+ion-input {
      z-index: 1;
    }

    &.active {
      &+ion-input {
        box-shadow: 2px 3px 4px #cc4448;
        margin-top: -1px;
        margin-left: -1px;
        // background: #a2a2a2 !important;
      }
    }
  }

  ion-input {
    background: #f5f5f5;
  }
}

.cell-disabled {
  .cell {
    background: #d9d9d9;
  }
}

.grid-title {
  font-size: 24px;
  text-align: center;
  max-width: 420px;
  margin: 0 auto;

  &.transform {
    writing-mode: vertical-lr;
    margin: 0;
    float: left;
    min-height: 480px;
    transform: scaleX(-1) scaleY(-1);
    text-align: center;
    top: 0;
    left: -5px;
    position: absolute;
    z-index: 1;
  }

  @media #{$miniMobile} {
    font-size: 18px;
  }
}


.goal-wrap {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  flex-direction: column;
  // margin-top: 1px;
  width: 100%;
  height: 100%;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: block;
    color: #333;
    position: relative;
    z-index: 11;
  }
}

// .winner {
//   width: 30px;
//   min-height: 30px;
//   height: auto;
//   margin: 0 auto;

//   position: relative;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;

//   @media #{$miniMobile} {
//     width: 24px;
//     min-height: 24px;
//   }

//   &:after {
//     content: '';
//     display: block;
//     width: 100%;
//     height: 100%;
//     padding: 3px;
//     position: absolute;
//     // border: 1px solid #bfbcbc;
//     // background: #e5e5e5;
//     // box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
//     border-radius: 50%;
//     // left: 50%;
//     // top: 50%;
//     // transform: translate(-50%, -50%);
//     z-index: 10;
//     // transform: translate3d(0, 0, 1px);


//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     border: 1px solid #f04141;
//     background: #fff;
//     box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
//   }
// }

// .goal {
// position: absolute;
// width: 30px;
// min-height: 30px;
// height: auto;
// margin: 0 auto;

// position: relative;
// display: flex;
// flex-direction: column;
// align-items: center;
// justify-content: center;

// // top: 50%;
// // margin: 0 !important;
// // left: 50%;
// // margin: -15px 0 0 -15px !important;
// // transform: translate(-50%, -50%);
// // transform-style: preserve-3d;
// @media #{$miniMobile} {
//   width: 24px;
//   min-height: 24px;
// }

// &:after {
//   content: '';
//   display: block;
//   width: 100%;
//   height: 100%;
//   padding: 3px;
//   position: absolute;
//   border: 1px solid #bfbcbc;
//   background: #e5e5e5;
//   box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
//   border-radius: 50%;
//   // left: 50%;
//   // top: 50%;
//   // transform: translate(-50%, -50%);
//   z-index: 10;
//   // transform: translate3d(0, 0, 1px);


//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
// }

// &:before {
//   content: '';
//   display: block;
//   background: #9d9d9d;
//   position: absolute;
//   z-index: 1;
//   box-shadow: 0px 0px 1px rgb(0 0 0 / 20%);
//   // transform: translate3d(0, 0, 0px);
// }

// &.top {
//   &:before {
//     height: 15px;
//     width: 1px;
//     left: 50%;
//     bottom: 100%;
//   }
// }

// &.left {
//   &:before {
//     width: 80px;
//     height: 1px;
//     right: 100%;
//     top: 50%;

//     @media #{$tablet} {
//       width: 60px;
//     }

//     @media #{$miniMobile} {
//       width: 30px;
//     }
//   }
// }

// &.winner {
//   &:after {
//     border: 1px solid #f04141;
//     background: #fff;
//     box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
//   }
// }
// }

//QUOTES

.quote {
  .bold {
    margin-bottom: 3px;
  }

  .lite {
    color: #989898;
    font-size: 14px;
    margin: 0;
  }
}

//TROPHY

.trophy-block {
  display: inline-block;
  margin-left: 10px;
  position: relative;

  ion-icon {
    font-size: 125%;
  }

  ion-badge {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    top: 0;
    left: 0;
    padding: 0 0 10px;
    font-size: 9px;
    color: #000;
    font-weight: bold;
  }
}

.info {
  text-align: center;
  font-size: 14px;
  padding: 10px 0 20px;
}

//CARD

ion-card {
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  --background: #fff;

  ion-card-content {
    padding: 0;
  }

  ion-card-title {
    font-size: 20px;
    font-family: $RB;

    @media #{$tablet} {
      text-align: center;
      font-size: 16px;
    }
  }
}