<ion-app>
  <ion-menu side="start" contentId="menu-content" (click)="handleMenu($event)">
    <!-- <ion-header mode="ios">
      <ion-toolbar translucent>
        <ion-title class="ion-text-center">
          <ion-img src="/assets/app_logo.png" style="max-width: 100%; height: 40px;"></ion-img>
        </ion-title>
      </ion-toolbar>
    </ion-header> -->
    <app-header [showMenu]="false" [showAmount]="false" [showSettings]="false" (onCloseMenu)="closeMenu($event)"></app-header>
    <ion-content>
      <ion-menu-toggle class="general-menu">
        <ion-list>
          <ion-item routerLink="/challenges" routerLinkActive="active">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Challenges</ion-label>
          </ion-item>
          <ion-item routerLink="/leaderboard" routerLinkActive="active">
            <ion-icon name="medal-outline" slot="start"></ion-icon>
            <ion-label>Leaderboard</ion-label>
          </ion-item>
          <ion-item routerLink="/friends" routerLinkActive="active">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label>Friends</ion-label>
          </ion-item>
          <ion-item routerLink="/trivia" routerLinkActive="active">
            <ion-icon name="alarm-outline" slot="start"></ion-icon>
            <ion-label>Trivia</ion-label>
          </ion-item>
          <ion-item routerLink="/chat" routerLinkActive="active">
            <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
            <ion-label>MessageBox</ion-label>
            <ion-badge *ngIf="(activityService.unseenMessages || activityService.unseenNotifications)" color="light"
              slot="end"
              [ngStyle]="{'color': ((activityService.unseenMessages || activityService.unseenNotifications) ? 'var(--ion-color-danger)' : '')}">
              {{activityService.unseenMessages + activityService.unseenNotifications}}
            </ion-badge>
          </ion-item>
          <ion-item routerLink="/history" routerLinkActive="active">
            <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
            <ion-label>History</ion-label>
          </ion-item>
          <ion-item routerLink="/profile" routerLinkActive="active">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
          <ion-item routerLink="/rules" routerLinkActive="active">
            <ion-icon name="book-outline" slot="start"></ion-icon>
            <ion-label>Rulebook</ion-label>
          </ion-item>
          <ion-item routerLink="/contact" routerLinkActive="active">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-label>Contact</ion-label>
          </ion-item>
          <ion-item routerLink="/settings" routerLinkActive="active">
            <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
            <ion-label>Alerts</ion-label>
          </ion-item>
          <ion-item routerLink="/privacy" routerLinkActive="active">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-label>Privacy</ion-label>
          </ion-item>
          <ion-item routerLink="/admin" routerLinkActive="active" *ngIf="isAdmin">
            <ion-icon name="key-outline" slot="start"></ion-icon>
            <ion-label>Admin</ion-label>
          </ion-item>
          <ion-item *ngIf="false" routerLink="/howto">
            <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            <ion-label>HowTo</ion-label>
          </ion-item>
          <ion-item (click)="shareAppLink()" *ngIf="capacitor.getPlatform() !== 'web'">
            <ion-icon name="share-social-outline" slot="start"></ion-icon>
            <ion-label>Share SPRTMTRX</ion-label>
          </ion-item>
          <ion-item (click)="service.logout()">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
          <ion-item class="ion-text-center ion-justify-content-center" style="display: grid; --inner-border-width: 0;">
            <p>v{{appVersion}}({{appBuild}})</p>
          </ion-item>

        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content" swipeGesture="false"></ion-router-outlet>
  <!-- <app-tabs *ngIf="window.location.href.indexOf('admin')==-1"
    [count]="activityService.unseenMessages + activityService.unseenNotifications">
  </app-tabs> -->
</ion-app>