@import "../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .icon {
      width: 32px;
      height: 32px;
    }

    .grid-row {

      .item-head {
        div {
          span {
            transform: rotate(180deg);
          }
        }
      }
    }

    .sticked {
      .backdrop {
        position: fixed !important;
        align-items: start !important;
        height: auto;

        .number-keyboard-wrap {
          margin-top: 0 !important;
        }
      }
    }
  }
}

.grid-wrapper {
  padding: 0 5px 0 15px;
  position: relative;
  z-index: 1;
  transition: all .4s;

  @media #{$tablet} {
    zoom: 1.25;
    z-index: 2;
    padding: 0 5px 0 25px;
  }

  @media #{$desktop} {
    zoom: 1;
  }

  .grid-box {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    position: relative;
  }

  .grid-head {
    display: flex;
    align-items: center;
    justify-content: center;

    .item {
      background: #ECECEC;
      border: 1px solid #FFFFFF;
      box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
      width: 40px;
      height: 30px;
      margin: 3px 2px;
      position: relative;
      margin-bottom: 12px;
      font-family: $RB;
      font-size: 16px;
      color: rgba(105, 105, 105, 1);
      display: flex;
      align-items: center;
      justify-content: center;

      @media #{$mobileXs} {
        width: 36px;
        margin: 3px 1px;
        font-size: 14px;
      }

      &>div {
        font-family: inherit !important;
      }

      &:nth-child(2) {
        flex-direction: column;
        // font-size: 8px;
        text-transform: uppercase;
        // color: #000;

        span {
          display: block;
          line-height: 7px;
        }

        em {
          font-size: 12px;
          line-height: 11px;
          font-style: normal;
        }
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: -1px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 20px 0 20px;
        border-color: #ececec transparent transparent transparent;

        @media #{$mobileXs} {
          border-width: 9px 18px 0 18px;
        }
      }

      &::after {
        content: '';
        display: block;
        height: 6px;
        width: 2px;
        background: #ECECEC;
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .item-general {
      position: relative;
      margin: 3px;

      @media #{$mobileXs} {
        margin: 3px 2px;
      }

      .item-info {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        background: $primary-theme-color;
        font-family: $RB;
        font-size: 16px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 1px rgb(0 0 0 / 30%);

        @media #{$mobileXs} {
          width: 36px;
          height: 36px;
        }

        &+.item-block {
          top: inherit;
          bottom: 0;
          box-shadow: 0 3px 4px rgb(0 0 0 / 10%), 1px 0px 4px rgb(0 0 0 / 10%);
        }
      }

      .item-block {
        background: #D9D9D9;
        border: 1px solid #FFFFFF;
        font-family: $RB;
        font-size: 9px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        color: #646464;
        box-shadow: 0px -1px 4px rgb(0 0 0 / 10%), 1px 0px 4px rgb(0 0 0 / 10%);
      }
    }

    &+.grid-row {
      .item-head {
        flex-direction: column;
        // font-size: 8px;
        text-transform: uppercase;
        // color: #000;

        span {
          display: block;
          line-height: 7px;
        }

        em {
          font-size: 12px;
          line-height: 11px;
          font-style: normal;
        }
      }

      .item {
        &::before {
          display: none;
        }
      }
    }
  }

  .grid-row {
    display: flex;
    align-items: center;
    justify-content: center;

    .item-head {
      background: #ECECEC;
      border: 1px solid #FFFFFF;
      box-shadow: inset -1px 2px 3px rgba(0, 0, 0, 0.1);
      width: 40px;
      height: 30px;
      margin: 3px 2px;
      position: relative;
      margin-bottom: 12px;
      font-family: $RB;
      font-size: 16px;
      color: rgba(105, 105, 105, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(-90deg);
      left: -4px;
      top: 4px;

      @media #{$mobileXs} {
        width: 36px;
        margin: 3px 2px;
        font-size: 14px;
        top: 1px;
      }

      &>div {
        font-family: inherit !important;
      }

      &:nth-child(2) {
        flex-direction: column;
        // font-size: 8px;
        text-transform: uppercase;
        // color: #000;

        span {
          display: block;
          line-height: 7px;
        }

        em {
          font-size: 12px;
          line-height: 11px;
          font-style: normal;
        }
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: -1px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 20px 0 20px;
        border-color: #ececec transparent transparent transparent;

        @media #{$mobileXs} {
          border-width: 9px 18px 0 18px;
        }
      }

      &::after {
        content: '';
        display: block;
        height: 6px;
        width: 1px;
        background: #ECECEC;
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .item {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      margin: 1px;
      position: relative;
      font-family: $RB;
      font-size: 12px;
      color: rgba(28, 44, 8, 1);
      display: flex;
      align-items: center;
      justify-content: center;

      @media #{$mobileXs} {
        margin: 0;
        width: 38px;
        height: 38px;
      }

      // z-index: 1;

      &::after {
        content: '';
        display: block;
        height: 2px;
        width: 6px;
        background: #ECECEC;
        position: absolute;
        right: calc(100% - 2px);
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
      }

      &::before {
        content: '';
        display: block;
        width: 2px;
        height: 7px;
        background: #ECECEC;
        position: absolute;
        bottom: calc(100% - 2px);
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
      }

      &.left {
        &:after {
          background: #B21B20;
        }
      }

      &.top {
        &::before {
          background: #B21B20;
        }
      }

      &.active {
        background: $primary-theme-color;

        &.selected {
          .item-cell {
            box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
            border-color: #fff;
            background: #ECECEC;
          }

          .fill-overlay {

            &::after,
            &:before {
              display: none;
            }
          }
        }

        .item-cell {
          box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
        }

        .fill-overlay {
          &.bids {
            display: block;
          }

          .set-value {
            display: block;
          }
        }

      }

      //
      &.winner {
        .item-cell {
          border-width: 3px;
          border-color: #B21B20;

          &:before {
            content: '';
            display: block;
            background-image: url('/assets/bgs/ring.svg');
            width: 16px;
            height: 13px;
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
          }

          .fill-overlay {
            &.bids {
              display: block;
            }
          }
        }
      }

      //
      &.goal {
        .item-cell {
          border-color: #B21B20;
        }

        .fill-overlay {
          &.bids {
            display: block;
          }
        }
      }

      &.selected {
        .item-cell {
          box-shadow: none;
          border-color: $red-theme-color;
          background: rgb(187, 190, 201);
        }

        .fill-overlay {
          left: 0;
          top: 0;

          &:before {
            content: '';
            display: block;
            background-image: url('/assets/icons/amount.svg');
            background-repeat: no-repeat;
            background-size: 14px;
            background-position: center;
            width: 14px;
            height: 18px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
          }

          &:after {
            content: '';
            display: block;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background: $red-theme-color;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

      }

      &.multi {
        .item-cell {
          position: relative;
        }

        .multi-box {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 2px solid rgb(205, 205, 205);
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-style: normal;

          em {
            display: none;
            font-style: normal;
            font-family: $RB;
            font-size: 12px;
            color: rgb(28, 44, 8);
          }

          span {
            width: 9px;
            height: 9px;
            border-radius: 50%;
            border: 2px solid #fff;
            background: rgba(34, 150, 207, 1);
            position: absolute;

            &:first-child {

              &+em {
                display: block;
              }
            }

            &:nth-child(1) {
              top: -4px;
              left: 4px;
            }

            &:nth-child(2) {
              top: -4px;
              right: 4px;
            }

            &:nth-child(3) {
              bottom: -4px;
              left: 4px;
            }

            &:nth-child(4) {
              bottom: -4px;
              right: 4px;
            }

            &:nth-child(5) {
              left: -4px;
              top: 4px;
            }

            &:nth-child(6) {
              right: -4px;
              top: 4px;
            }

            &:nth-child(7) {
              left: -4px;
              bottom: 4px;
            }

            &:nth-child(8) {
              right: -4px;
              bottom: 4px;
            }
          }
        }
      }

      //
      .item-cell {
        width: 38px;
        height: 38px;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
        box-shadow: inset 0px 2px 2px rgb(0 0 0 / 15%);
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ECECEC;
        border: 2px solid #fff;
        font-family: inherit;

        @media #{$mobileXs} {
          width: 36px;
          height: 36px;
        }
      }

      .fill-overlay {
        font-family: inherit;

        &.nobids {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          cursor: pointer;
          z-index: 2;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &.bids {
          display: none;
        }

        &.selected {
          border: 2px solid $red-theme-color;
          background: rgb(187, 190, 201);

          &:after {
            border-color: transparent;
          }

          span {
            position: relative;

            &:before {
              content: '';
              display: block;
              background-image: url('/assets/icons/amount.svg');
              background-repeat: no-repeat;
              background-size: 14px;
              background-position: center;
              width: 14px;
              height: 18px;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              z-index: 1;
            }

            &:after {
              content: '';
              display: block;
              width: 21px;
              height: 21px;
              border-radius: 50%;
              // background: $red-theme-color;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }

        }

        .set-value {
          display: none;
        }

        span {
          font-family: inherit;
        }
      }
    }
  }

  .item-team {
    font-family: $NS;
    color: $gray;
    text-transform: uppercase;
    text-align: center;

    @media #{$mobileXs} {
      font-size: 14px;
      // padding-right: 20px;
    }

    &.rotate {
      transform: scaleX(-1) scaleY(-1);
      position: absolute;
      // left: 9px;
      left: -20px;
      bottom: 0;
      writing-mode: vertical-lr;
      min-height: 355px;

      @media #{$mobileXs} {
        min-height: 305px;
      }
    }
  }

  .item-status {
    font-family: $NS;
    font-size: 14px;
    color: $gray;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0 0;

    .pre-line {
      margin-bottom: 5px;

      div {
        text-transform: none;
      }
    }
  }

  .summary-btn {
    padding-right: 0px;
  }
}

.bottom-wrap {
  padding-bottom: 5px;

  @media #{$tablet} {
    .btn-default {
      zoom: 1.25;
    }
  }

  .btn-wrap {
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

.btn-wrap {
  text-align: center;

  .green {
    color: #fff;
  }

  .transparent-gray {
    border-width: 2px;
  }

  .btn-default {
    min-width: 110px;
  }
}

.btn-wrap {
  .red {
    margin-top: 1px;
    margin-bottom: 12px;
    padding: 0 22px;
  }
}