<div id="gridContainer" class="grid-wrapper" [ngStyle]="{'zoom' : zoomRatio}">
  <!-- <div class="btn-wrap ion-text-center summary-btn" *ngIf="['6', '7'].includes(gameStatus)">
    <div class="btn-default red">{{ finalGame ? 'finalist grid' : 'game summary'}}</div>
  </div> -->
  <div class="item-team">{{ homeName }}</div>
  <ion-tabs class="ion-text-uppercase" style="top: auto; height: 36px; position: static;" *ngIf="winTabs">
    <ion-tab-bar style="height: 35px; padding-bottom: 0px;">
      <ion-tab-button (click)="openTab('winning')" [selected]="bidSelected == 'winning'"
        style="width: 5vh; height: 35px; position: relative;">
        <div class="bold">
          <ion-label>WIN</ion-label>
        </div>
      </ion-tab-button>
      <ion-tab-button *ngFor="let b of finalistBids | keyvalue; index as i" (click)="openTab(b.key, true)"
        [selected]="bidSelected == b.key" [hidden]="fakeFinalist.includes(b.key)"
        style="width: 5vh; height: 35px; position: sticky;">
        <div class="bold">
          <ion-label>{{ user.uid == b.key ? 'YOU' : (users[b.key] ? users[b.key].publicName:'Anon
            #'+(i+1)) }}
          </ion-label>
        </div>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <div class="grid-box">
    <div class="item-team rotate">{{ awayName }}</div>
    <div class="grid-head">
      <div class="item-general">
        <div class="item-block">base</div>
        <div class="item-info">{{baseScore||0}}</div>
        <div class="item-block">score</div>
      </div>
      <!-- <div class="item">
        <span>UP TO</span>
        <em>BASE</em>
        <span>SCORE</span>
      </div> -->
      <div class="item" *ngFor="let item of [].constructor(grid?.count); let col = index">
        <!--(+1)-->
        <div class="" [innerHTML]="calcWinRangeMiltiplied(col)"></div>
      </div>
    </div>
    <div class="grid-row" *ngFor="let item of [].constructor(grid?.count); let row = index">
      <!--(+1)-->
      <ng-container>
        <!-- <div *ngIf="row === 0" class="item-head">
      <span>UP TO</span>
      <em>BASE</em>
      <span>SCORE</span>
    </div> -->
        <!-- <div *ngIf="row > 0" class="item-head">
      <div class="" [innerHTML]="calcWinRangeMiltiplied(row-1)"></div>
    </div> -->

        <div class="item-head">
          <div class="" [innerHTML]="calcWinRangeMiltiplied(row)"></div>
        </div>
      </ng-container>
      <ng-container *ngFor="let item of [].constructor(grid?.count); let col = index">
        <div class="item"
          title="{{winningUser[row] && winningUser[row][col] ? users[winningUser[row][col]]?.name : ''}}"
          class="{{ gridClasses[row][col] }}
              {{( (isBid || finalGame) && (game.gameData || finalGame) && ['7'].includes(gameStatus) &&
                  row == ((engineService.calcWinScoreMiltiplied(awayScore, scoreMultiplier, scoreShift)>6?6:engineService.calcWinScoreMiltiplied(awayScore, scoreMultiplier, scoreShift)) || 0) && 
                  col == ((engineService.calcWinScoreMiltiplied(homeScore, scoreMultiplier, scoreShift)>6?6:engineService.calcWinScoreMiltiplied(homeScore, scoreMultiplier, scoreShift)) || 0) ) ? 
                ' winner ':''}} {{bid[row][col] > 0.01 ? 'active ' : ''}} {{selectFillClass(row, col, fillCells)}} 
                {{((row<engineService.calcWinScoreMiltiplied(awayScore, scoreMultiplier, scoreShift)||col<engineService.calcWinScoreMiltiplied(homeScore, scoreMultiplier, scoreShift)) && (row != col || scoreMultiplier > 1)) ? 'cell-disabled' : '' }} 
                {{ isFillGroup&&isCellSelected(row, col)||isSelected ? 'cell-selected' : ''}} {{ finalGame && objectKeys(finalistBids) ? 'multi ' : ''}} {{ finalGame && finalistBidCell(row, col) > 0 ? 'active' : ''}}">
          <div class="item-cell" (click)="handleBid($event, row, col)">

            <ng-container *ngIf="!finalGame">
              <div class="fill-overlay bids" *ngIf="isBid || true">
                <span>{{bid[row][col] | number:'1.2'}}</span>
              </div>
              <div class="fill-overlay nobids" *ngIf="!isBid" (click)="selectFillCell($event, row, col)">
                <span *ngIf="!isSetValue">{{bid[row][col] > 0.01 ? (bid[row][col] | number:'1.2') : ''}}</span>
                <span *ngIf="isSetValue" class="set-value">{{bid[row][col] | number: '1.2'}}</span>
              </div>
            </ng-container>

            <div class="multi-box" *ngIf="finalGame && finalistBidCell(row, col) > 0">
              <ng-container *ngFor="let uid of objectKeys(finalistBids)">
                <ng-container *ngIf="finalistBids[uid].length && 
                    finalistBids[uid][row][col] !== 0 && 
                    ['winning', uid].includes(bidSelected) &&
                    checkFinalist(uid, row, col)">
                  <span></span>
                  <em>{{ finalistBidCell(row, col) }}</em>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="item-status" *ngIf="challenge_id">
    <div class="pre-line" *ngIf="status && !['1','9'].includes(status.statusCode)">
      {{['6','7'].includes(status.statusCode) ? 'Final' : 'Score'}}:
      <div style="color: var(--ion-color-danger); display: inline;">
        {{ awayScore }} - {{ homeScore }}
      </div>
    </div>
    <div class="pre-line" *ngIf="status && status?.statusCode !== '1' && !finalGame">
      {{ !['1','6','7'].includes(status.statusCode) ? 'Current ' : ''}}Winner:
      <div style="display: inline-block; padding-right: 5px;" (click)="userInfo(currentWinner?.uid)">
        <div>{{currentWinner?.name || '-'}}</div>
      </div>
    </div>
  </div>
</div>
<div id="btnContainer" class="bottom-wrap" *ngIf="!finalGame" [ngClass]="{'fixed-height': topPosition > 0}">
  <ng-container *ngIf="!isBid && !showNumpad">
    <div class="btn-wrap">
      <button *ngIf="!isFillGroup" (click)="!groupFill()" type="button" class="btn-default green">multi bid</button>
    </div>
    <div class="btn-wrap">
      <button *ngIf="isFillGroup" (click)="presentAlertConfirm()" type="button" class="btn-default green">done</button>
    </div>
    <div class="btn-wrap">
      <button *ngIf="isFillGroup" (click)="resetMultiBid(0.01)" class="btn-default transparent-gray">clear</button>
    </div>
  </ng-container>
  <div class="btn-wrap" *ngIf="!showNumpad">
    <button (click)="back()" type="button" class="btn-default transparent-gray">back</button>
    <!-- <button type="button" (click)="bidPopup()" class="btn-default transparent-gray">Bid</button> -->
  </div>
  <app-number-keyboard #numpad *ngIf="showNumpad" [top]="topPosition" [ngClass]="{'sticked' : topPosition > 0}"
    (onSubmit)="submitKeyboard($event)" (onClose)="closeNumpad()">
  </app-number-keyboard>
</div>