@import "../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .ico-close {
      width: 26px;
      height: 26px;
    }
  }
}

.close {
  ion-button {
    --padding-start: 0;
    --padding-end: 0;
    width: 26px;
    height: 26px;
  }
}