<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-menu-button></ion-menu-button>
    </ion-tab-button>
    <ion-tab-button tab="challenges">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Challenges</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="invites">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Invites</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="quotes">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Quotes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="banners">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>Banners</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="users">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="nba">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>NBA</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="nhl">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>NHL</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="nfl">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>NFL</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>