<ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="without-btn">Quotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="6" size-lg="8" size-md="10">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Enter a new quote</ion-card-title>
          </ion-card-header>
          <ion-card-content class="form-default">
            <form [formGroup]="QuotesForm" (submit)="submitForm()">
              <ion-grid>
                <ion-row>
                  <ion-col size="3">
                    <ion-label position="stacked">Quote</ion-label>
                  </ion-col>
                  <ion-col size="9">
                    <ion-textarea name="text" formControlName="text"></ion-textarea>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="3">
                    <ion-label position="stacked">Author's Name</ion-label>
                  </ion-col>
                  <ion-col size="9">
                    <ion-input clearInput type="text" name="title" formControlName="title"
                      [enterkeyhint]="QuotesForm.valid ? 'done' : ''"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="3">
                    <ion-label position="stacked">Author's Title</ion-label>
                  </ion-col>
                  <ion-col size="9">
                    <ion-input clearInput type="text" name="descr" formControlName="descr" enterkeyhint="enter"
                      [enterkeyhint]="QuotesForm.valid ? 'done' : ''"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-buttons class="ion-justify-content-end">
                      <button class="default-button" type="submit" [disabled]="!QuotesForm.valid">Save</button>
                    </ion-buttons>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
            <ion-list>
              <ion-item *ngFor="let item of quotes">
                <ion-label>
                  <h2>"{{ item['text'] }}"</h2>
                  <h3>{{ item['title'] }}</h3>
                  <p>{{ item['descr'] }}</p>
                </ion-label>
                <ion-buttons slot="end">
                  <ion-button (click)="editQuote(item['id'])">
                    <ion-icon slot="icon-only" name="create" color="warning"></ion-icon>
                  </ion-button>
                  <ion-button (click)="deleteQuote(item['id'])">
                    <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>