<div class="mainWrapper">
  <div class="mainHeader">
    <app-header [showAmount]="false"></app-header>
    <app-sub-header [selectedLeague]="league" (selectedLeagueChange)="league=$event" [active]="true"></app-sub-header>
  </div>
</div>
<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer">
      <div class="upcoming-wrap" *ngIf="selectedTeams[league] && selectedTeams[league].length > 0">
        <h3>UPCOMING GAMES</h3>
        <div *ngFor="let item of selectedTeams[league]">
          <div class="upcoming-title" *ngIf="item.games.length > 0">
            <div class="upcoming-title-box">
              <app-avatar 
                [id]="item.logoName"
                [src]="Constants.SRC[league.toUpperCase()]"></app-avatar>
            </div>
          </div>
          <div class="upcoming-content" class="{{ item.games.length === 2 ? 'space-around' : '' || item.games.length === 1 ? 'center' : ''}}">
            <div (click)="clickGame(game)" class="item" *ngFor="let game of item.games">
              <app-team-card [game]="game" [league]="league"></app-team-card>
            </div>
          </div>
        </div>
        <div class="btn-wrap">
          <button (click)="location.back()" type="button" class="btn-default green">close</button>
        </div>
      </div>
      <div class="upcoming-wrap" *ngIf="selectedTeams[league] && !selectedTeams[league].length">
        <h3 class="gray ion-text-center" >No Games Scheduled</h3>
      </div>
    </div>
  </div>