@import "../../../theme/new-variables.scss";

// :host {
//   ::ng-deep {

//   }
// }

.upcoming-wrap {
    padding: 10px 30px 30px;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
        color: #000;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        font-family: $RM, sans-serif;
        
        &.gray {
            color: #B7B7B7;
        }
    }
}

.upcoming-title {
    text-align: center;
    position: relative;

    &-box {
        display: inline-block;
        padding: 16px;
        background: #fff;
        position: relative;
        z-index: 2;
    }

    &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background: #B8B8B8;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
}

.upcoming-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px -10px 0;

    @media #{$mobileXs} {
        margin: 0px -5px 0;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.center {
        justify-content: center;
    }

    .item {
        display: flex;
        justify-content: center;
        margin: 0 10px 15px;

        @media #{$mobileXs} {
            margin: 0 5px 15px;
        }
    }
}

.btn-wrap {
    text-align: center;
}