<ion-slides pager="true" [options]="slideOpts" #slider (ionSlideTransitionStart)="slideChanged()"
  [ngClass]="{'hide-pager' : !showPager}">
  <ng-container *ngIf="banners?.length">
    <ion-slide *ngFor="let banner of banners">
      <div class="item">
        <a *ngIf="banner?.link" [href]="banner?.link" class="link-container"></a>
        <div class="image">
          <img [src]="src" alt="">
        </div>
      </div>
    </ion-slide>
  </ng-container>
</ion-slides>