@import "../../../theme/variables.scss";

.banner, .item {
    background: #fff;
    z-index: 9;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0);
    transition: all .8s .5s;
    position: relative;
    height: 210px;
    display: flex;
    align-items: flex-end;

    @media #{$miniMobile} {
        height: 180px;
    }

    &.show {
        opacity: 1;
    }

    &.center {
        justify-content: center; 
    }

    .image {
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        img {
            max-height: 200px;
        }
    }

    h3 {
        font-size: 16px;
        margin: 0 0 2px;
    }

    p {
        font-size: 13px;
        margin: 0;
    }

    .link-container {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        cursor: pointer;
    }
}