.popup-wrapper {
  display: grid;
  grid-template-rows: 60px auto;
}

.popup-header {
  background: #eee;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.popup-content {
  padding: 15px;
  text-align: center;


}