<ion-content>
  <div class="popup-wrapper">
    <div class="popup-header">Select sport</div>
    <div class="popup-content">
      <ion-list>
        <ion-radio-group value="sport" [(ngModel)]="sport" (ngModelChange)="change()">
          <ion-item>
            <ion-icon slot="end" class="sport-btn"
            name="american-football"></ion-icon>
            <ion-label>NFL</ion-label>
            <ion-radio slot="start" value="nfl"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-icon slot="end" class="sport-btn"
            name="basketball"></ion-icon>
            <ion-label>NBA</ion-label>
            <ion-radio slot="start" value="nba"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-icon slot="end" class="sport-btn"
            name="hockey"></ion-icon>
            <ion-label>NHL</ion-label>
            <ion-radio slot="start" value="nhl"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
  </div>
</ion-content>