<div class="ico-wrap" [ngClass]="class">
  <div class="ico-vs-box">
    <app-ico-svg [class]="'ico-vs'" [src]="Constants.SRC.ICONS" [id]="'IcoVs'"></app-ico-svg>
  </div>
  <div class="overlay"></div>
</div>