@import "../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .ico-vs {
      width: 22px;
      height: 11px;

      @media #{$tablet} {
        width: 26px;
        height: 14px;
      }
    }

    .small {
      .ico-vs {
        width: 14px;
        height: 7px;

        @media #{$tablet} {
          width: 15px;
          height: 9px;
        }
      }
    }
  }
}

.ico-wrap {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media #{$tablet} {
    width: 50px;
    height: 50px;
  }

  &.small {
    width: 26px;
    height: 26px;

    .ico-vs-box {
      width: 18px;
      height: 18px;

      @media #{$tablet} {
        width: 22px;
        height: 22px;
      }
    }
  }

  .ico-vs-box {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: $primary-theme-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  .overlay {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    border-radius: 50%;
    border: 1px solid #c5c5c5;
  }
}