@import "../../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .icon {
      width: 36px;
      height: 36px;
    }
  }
}

ion-card {
  box-shadow: none;
  padding-top: 20px;
  --background: transparent;
  background: transparent;
}

ion-card-header {
  width: 100%;
  text-align: center;
  padding: 0;
  margin-bottom: 25px;

  ion-avatar {
    width: 153px;
    height: 153px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: block;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 50% 50% 0 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &+small {
      text-align: center;
      width: 100%;
      display: block;
      margin: 10px 0 0;
      font-size: 12px;
      color: #fff;
    }

    label {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      z-index: 0;
      overflow: hidden;
      background: #fff;
    }

    .img {
      border-radius: 50% 50% 0 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }

    .overlay {
      cursor: pointer;

      .overlay-box {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30px;
        margin: 0;
        font-size: 12px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        background: rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: all 0.3s;
        z-index: 2;
        padding: 0 14px;

        @media #{$tablet} {
          font-size: 9px;
        }

        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.btn-wrap {
  margin-top: 20px;
}