<div class="modal-wrapper">
  <div class="modal-close" (click)="cancel()">
    <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
  </div>
  <div class="modal-header">
    <h3>Create Chat</h3>
  </div>
  <div class="modal-content">
    <div class="progressBox" *ngIf="ShowProgressEmitter | async">
      <ion-progress-bar color="danger" [value]="(PercentageEmitter | async)"></ion-progress-bar>
      <div *ngIf="SnapshotEmitter | async as snap">
        <p>Downloaded {{ snap.bytesTransferred / 1024 | number:'1.1-2' }}KB of
          <strong>{{ snap.totalBytes / 1024 | number:'1.1-2' }}KB</strong>
        </p>
      </div>
    </div>
    <ion-card class="form">
      <ion-card-header>
        <ion-avatar>
          <label for="avatar" class="overlay">
            <div class="overlay-box">Add group photo</div>
            <div class="img" [ngStyle]="{ 'background-image': 'url(' + (UrlEmitter | async) + ')'}"></div>
          </label>
        </ion-avatar>
        <small>Use formats: JPG, PNG and GIF</small>
        <small class="error-validation" *ngIf="isCropFailed">
          Wrong file format.
        </small>
        <input id="avatar" type="file" (change)="addAvatar($event)" hidden>
      </ion-card-header>
      <div class="form-group">
        <div class="input-wrapper">
          <ion-input type="text" placeholder="Enter your group name" [(ngModel)]="groupName" class="input"
            #focusGroupName></ion-input>
          <div class="input-icon">
            <app-ico-svg [id]="'IcoLetter'"></app-ico-svg>
          </div>
        </div>
      </div>
      <div class="btn-wrap ion-text-center">
        <ion-button type="submit" class="btn-default green" [disabled]="!groupName" (click)='createGroup()'>
          create chat
        </ion-button>
      </div>
    </ion-card>
  </div>
</div>