<ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-title>
      <ion-img src="/assets/app_logo.png" style="max-width: 100%; height: 43px;"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-xl="6" size-lg="8" size-md="10">
          <app-banner></app-banner>
          <ion-list-header class="ion-padding"
            style="font-size: larger; border-width: 0 0 1px 0; border-style: solid; align-items: center;">
            <ion-label class="ion-text-center" style=" margin: 0;">{{homeMessage||'Pick Your Sport'}}</ion-label>
          </ion-list-header>
          <section class="full-width ion-text-center">
            <ion-button *ngFor="let sport of sports" tap
              (click)="selectedSport = sport['icon']; !sport.url ? alert('Not Available Yet.') : router.navigate([sport.url||'/home'], { replaceUrl: false }) "
              class="full-width" expand="" color="{{sport.url?'red':'medium'}}" style="margin-top: 20px;">
              {{sport['name']}}
              <ion-icon slot="end" name="{{sport['icon']}}"></ion-icon>
            </ion-button>
          </section>

          <section class="full-width ion-margin-top">
            <ion-grid class="ion-text-start"
              style="max-width: 600px; background-image: url(/assets/leaderboard_bg.jpg); background-size: cover;">
              <ion-row class="ion-margin-top">
                <ion-col size="3"></ion-col>
                <ion-col size="6" class="ion-text-center bold">
                  SPRT MTRX
                </ion-col>
                <ion-col size="3"></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1" class="ion-text-center"></ion-col>
                <ion-col size="10" class="ion-text-center">
                  <p>\ spȯrt \ / ˈmātriks /</p>
                  <p>noun</p>
                  <p style="font-style: italic;">"A rectangular array of possible scores in rows
                    and columns that is treated as a single entity and manipulated according to <a
                      routerLink="/rules">the
                      Rulebook</a>."</p>
                </ion-col>
                <ion-col size="1" class="ion-text-center"></ion-col>
              </ion-row>
            </ion-grid>
          </section>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>