@import "../../../theme/variables.scss";

:host {
  ::ng-deep {
    .default-sub-title {
      .icon {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.box-content {
  padding: 34px;
  position: relative;
  margin-bottom: 45px;

  .box-content-close {
    position: absolute;
    right: 6px;
    top: 20px;

    @media #{$tablet} {
      zoom: 1.25;
    }
  }

  &+.box-content {}
}

.default-title {
  margin-bottom: 15px;
}

.default-sub-title {
  display: flex;
  justify-content: center;
}

.team-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.logo-league {
  margin: 35px 0 45px;

  @media #{$tablet} {
    zoom: 1.25;
  }
}

.btn-wrap {
  text-align: center;

  .btn-default {
    min-width: 110px;
    padding: 0;
  }

  &+.btn-wrap {
    margin-top: 28px;
  }
}