<div class="mainWrapper">
  <div class="mainHeader">
    <app-header [showAmount]="false"></app-header>
    <app-sub-header *ngIf="false"></app-sub-header>
  </div>
</div>
<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer">
      <div [hidden]="!showLeagues" class="box-content">
        <div (click)="cancelLeagues()" class="box-content-close">
          <ion-buttons>
            <ion-button>
              <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
            </ion-button>
          </ion-buttons>
        </div>
        <div class="default-title">SELECT YOUR FAVORITE LEAGUES</div>
        <div class="default-sub-title">
          tap
          <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
          to skip
        </div>
        <div class="team-container">
          <app-team *ngIf="false" [id]="'MLB'" [title]="'MLB'" [src]="Constants.SRC.SPORT" [show]="false"></app-team>
          <app-team (click)="selectLeague('nba')" [selected]="isLeagueSelected('nba')" [id]="'NBA'" [title]="'NBA'"
            [src]="Constants.SRC.SPORT"></app-team>
          <app-team (click)="selectLeague('nfl')" [selected]="isLeagueSelected('nfl')" [id]="'NFL'" [title]="'NFL'"
            [src]="Constants.SRC.SPORT"></app-team>
          <app-team (click)="selectLeague('nhl')" [selected]="isLeagueSelected('nhl')" [id]="'NHL'" [title]="'NHL'"
            [src]="Constants.SRC.SPORT"></app-team>
        </div>
      </div>
      <div [hidden]="!isAnyLeagueSelected()||!showTeams" class="box-content">
        <div class="box-content-close">
          <ion-buttons>
            <ion-button (click)="cancelTeams()">
              <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
            </ion-button>
          </ion-buttons>
        </div>
        <div class="default-title">SELECT YOUR FAVORITE TEAMS</div>
        <div class="default-sub-title">SCROLL DOWN TO SEE MORE</div>
        <ng-container *ngFor="let league of leagues | keyvalue">
          <div [hidden]="!isLeagueSelected(league.key)" class="logo-league">
            <app-ico-svg [class]="'logo'" [src]="'/assets/icons/sports.svg#'"
              [id]="'Ico'+league.key.toUpperCase()+'Logo'"></app-ico-svg>
          </div>

          <div [hidden]="!isLeagueSelected(league.key)" class="team-container">
            <ng-container *ngFor="let teamId of sortedTeamKeys[league.key]">
              <app-team *ngIf="leagues[league.key][teamId]"
                [selected]="isTeamActive(league.key, leagues[league.key][teamId].name)"
                (click)="selectTeam(league.key, leagues[league.key][teamId].name)"
                [id]="leagues[league.key][teamId]?.logoName" [title]="leagues[league.key][teamId]?.name"
                [src]="Constants.SRC[league.key.toUpperCase()]"></app-team>
            </ng-container>
          </div>
        </ng-container>
        <div routerLink="/challenges" class="btn-wrap league-submit">
          <button type="button " class="btn-default green">done</button>
        </div>
        <div class="btn-wrap league-reset">
          <button type="button" (click)="resetAllTeams()" class="btn-default transparent-gray">clear selection</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>