@import "../../theme/variables.scss";

.inviteSlider {
  &:before {
    content: '';
    display: block;
    height: 60px;
    width: 100%;
    position: fixed;
    top: auto;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 10;
  }
}

@media #{$tablet} {
  ion-segment.no-left-border {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  ion-segment.no-right-border {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  ion-col {
    padding: 0;
  }
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23C61C22'%2F%3E%3C%2Fsvg%3E") !important;
  position: fixed;
  top: 106px;
  background-size: 10px;
  /* background-position: left 10px top 17px; */
  bottom: inherit;
  width: 30px;
  left: calc(50% - 70px);
  border: 1px solid $primary-theme-color;
  border-radius: 50%;
  height: 30px;

  @media #{$miniMobile} {
    background-size: 6px;
  }
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23C61C22'%2F%3E%3C%2Fsvg%3E") !important;
  position: fixed;
  top: 106px;
  background-size: 10px;
  /* background-position: left 10px top 17px; */
  bottom: inherit;
  width: 30px;
  right: calc(50% - 70px);
  border: 1px solid #cc4447;
  border-radius: 50%;
  height: 30px;

  @media #{$miniMobile} {
    background-size: 6px;
  }
}

.ttl-box {
  position: relative;
  padding: 80px 0 15px;
  margin-bottom: 40px;

  @media #{$miniMobile} {
    padding: 60px 0 10px;
    margin-bottom: 20px;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 1px;
    background: $primary-theme-color;
    left: 50%;
    transform: translateX(-50%);
  }

  h2 {
    margin: 0 10px;
    font-size: 18px;
    padding: 5px 10px 0;
  }

  p {
    margin: 0;
    font-size: 12px;
    color: #a7a7a7;
  }
}

.form-control {
  background: #f0f0f0;
  --padding-start: 10px !important;
  --padding-end: 10px;
  --border-radius: 0;

  @media #{$tablet} {
    font-size: 13px;
  }
}

ion-searchbar {
  searchbar-input {
    border-radius: 0;
  }
}

ion-list.no-padding-start {
  ion-item {
    --padding-start: 10px;
  }
}

.invite-segments {
  ion-segment {
    border-radius: 0;
    min-height: 52px;

    @media #{$miniMobile} {
      min-height: 44px;
    }
  }

  ion-segment-button {
    --border-radius: 0;
  }
}

.swiper-pagination {
  top: 6px;

  .swiper-pagination-bullet {
    border: none;
    background: $primary-theme-color;
  }
}

ion-item-divider {
  --padding-top: 5px;
  --padding-bottom: 5px;
  --pading-start: 15px;
  --padding-end: 15px;
  margin-bottom: 10px;
  font-size: 15px;

  @media #{$miniMobile} {
    font-size: 14px;
  }
}

ion-item-group {
  // margin-bottom: 20px;

  @media #{$miniMobile} {
    // margin-bottom: 5px;
  }
}

.challenge-games {
  font-size: 14px;

  @media #{$miniMobile} {
    font-size: 12px;
  }

  .game-item-label {
    display: inline-flex;
    min-width: 30%;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;

    @media #{$miniMobile} {
      flex-direction: column;
    }

    span {
      display: inline-block;
      margin: 0 5px;
    }
  }
}

.number {
  font-size: 21px;
  border: 1px solid $primary-theme-color;
  background: $primary-theme-color;
  display: inline-flex;
  height: 30px;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px;
}

ion-label {
  &.mb-2 {
    margin-bottom: 10px;
  }
}