<ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="without-btn">
      Private Game
    </ion-title>
    <ion-buttons slot="end" *ngIf="false && currentSlide === 2">
      <ion-button (click)="sendInvite()">
        <ion-icon slot="icon-only" name="rocket" color="red"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="inviteSlider" (ionSlideDidChange)="slideChanged()" pager="true" scrollbar="true"
    [options]="slideOpts" #slider>
    <ion-slide>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-xl="6" size-lg="8" size-md="10">
            <div class="slide">
              <div class="ttl-box">
                <div class="number">1</div>
                <h2>{{games&&games.length ? 'Pick Your Game' : 'No Games Available'}}</h2>
              </div>
              <ion-list #scheduleList [hidden]="!games" style="margin-bottom: 150px;">
                <ion-item-group *ngFor="let event of getGames(); index as index" [hidden]="(index>dayCount)">
                  <ion-item-divider (click)="eventCollapsed[event.date] = !(eventCollapsed[event.date] || false)" sticky
                    color="medium">
                    <ion-buttons slot="start">
                      {{event.date}}
                    </ion-buttons>
                    <ion-buttons slot="end">
                      <ion-button>
                        <ion-icon name="caret-{{eventCollapsed[event.date]?'forward':'down'}}"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-item-divider>

                  <ng-container>
                    <ion-item-sliding id="{{game.gamePk}}" *ngFor="let game of event.games; index as k" #slidingItem
                      [attr.track]="game.gamePk" [hidden]="eventCollapsed[event.date]">
                      <ion-item (click)="addGame(game.gamePk, game)" detail="false" style="display: inherit"
                        lines="full">
                        <ion-icon title="{{game.gamePk}}"
                          name="{{isGameAdded(game.gamePk)?'checkmark-circle':'ellipse'}}"
                          color="{{isGameAdded(game.gamePk)?'success':'gray'}}" slot="start" class="ion-no-margin">
                        </ion-icon>
                        <ion-label class="ion-no-margin">
                          <ion-grid class="challenge-games">
                            <ion-row>
                              <ion-col size="12" class="ion-text-center">
                                <div class="game-item-label ion-text-left ion-align-items-center">
                                  <span>{{game.teams.away.team.name}}</span> @ <span>
                                    {{game.teams.home.team.name}}</span>
                                </div>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col *ngIf="game?.status.detailedState.indexOf('TBD') === -1" size="12"
                                class="ion-text-center">
                                {{ game.gameDate | date:'h:mma' }} {{commonService.getTimezone()}}
                              </ion-col>
                              <ion-col *ngIf="game?.status.detailedState.indexOf('TBD') !== -1" size="12"
                                class="ion-text-center">
                                {{ game?.status.detailedState }}
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-label>
                      </ion-item>
                    </ion-item-sliding>
                  </ng-container>

                </ion-item-group>

                <ion-item-divider *ngIf="games?.length>dayCount">
                  <div (click)="dayCount=dayCount+5" class="ion-text-center ion-align-items-center"
                    style="width: 100%;">
                    more games...
                  </div>
                </ion-item-divider>
              </ion-list>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-xl="6" size-lg="8" size-md="10">
            <div class="slide">
              <div class="ttl-box">
                <div class="number">2</div>
                <h2>Private Game Players</h2>
                <p>(8 max)</p>
              </div>

              <ion-list>
                <ion-item *ngFor="let user_uid of invite.users">
                  <app-user *ngIf="users[user_uid]" [name]="users[user_uid]?.name"
                    [src]="users[user_uid]?.photoURL || constants.AVATAR_DEMO" [id]="user_uid" [listComponent]="true"
                    [challengesWon]="users[user_uid]?.stats?.challengesWon" [color]="users[user_uid]?.color"></app-user>

                  <ion-icon *ngIf="isUserAdmin(user_uid)" slot="icon-only" slot="end" name="lock-closed">
                  </ion-icon>
                  <ion-icon *ngIf="!isUserAdmin(user_uid)" (click)="deleteUser(user_uid)" slot="icon-only" slot="end"
                    name="person-remove" color="danger"></ion-icon>
                </ion-item>

                <ng-container *ngIf="true">
                  <ion-searchbar #focusInput (input)="searchUser($event)"
                    (ionClear)="search=''; searchUsers=searchFriendsUsers || {}" 
                    placeholder="Add User" #searchbar enterkeyhint="search">
                  </ion-searchbar>
                  <ion-title class="list-title" *ngIf="searchFriendsUsers && objectKeys(searchFriendsUsers).length > 0">
                    Friend list</ion-title>
                  <div class="list-box">
                    <ng-container *ngFor="let user_index of objectKeys(searchUsers||{})">
                      <ion-item *ngIf="friends[searchUsers[user_index]?.id] &&
                friends[searchUsers[user_index]?.id]?.uid != users[searchUsers[user_index]?.id]?.uid">
                        <app-user *ngIf="searchUsers[user_index]" [name]="searchUsers[user_index]?.name"
                          [src]="searchUsers[user_index]?.photoURL || constants.AVATAR_DEMO" [id]="searchUsers[user_index]?.id"
                          [listComponent]="true" [challengesWon]="searchUsers[user_index]?.stats?.challengesWon"
                          [color]="searchUsers[user_index]?.color"></app-user>
                        <ion-buttons slot="end">
                          <ion-icon slot="icon-only" name="person-add-outline" color="success" slot="end"
                            (click)="addUser(searchUsers[user_index].id);searchbar.value='';"></ion-icon>
                        </ion-buttons>
                      </ion-item>
                    </ng-container>
                  </div>
                  <ng-container *ngFor="let user_index of objectKeys(searchUsers||{})">
                    <ion-item *ngIf="invite.users.indexOf(searchUsers[user_index]?.id) === -1">
                      <app-user [name]="searchUsers[user_index]?.name"
                        [src]="searchUsers[user_index]?.photoURL || constants.AVATAR_DEMO" [id]="searchUsers[user_index]?.id"
                        [listComponent]="true" [challengesWon]="searchUsers[user_index]?.stats?.challengesWon"
                        [color]="searchUsers[user_index]?.color"></app-user>
                      <ion-buttons slot="end">
                        <ion-icon slot="icon-only" name="person-add-outline" color="success" slot="end"
                          *ngIf="!invite.users || invite.users.length<9"
                          (click)="addUser(searchUsers[user_index].id, searchUsers[user_index]);searchbar.value='';">
                        </ion-icon>
                      </ion-buttons>
                    </ion-item>
                  </ng-container>
                </ng-container>
                <ion-item *ngIf="true" lines="none" class="ion-text-center ion-justify-content-center ion-padding"
                  style="display: grid;">
                  <ion-button size="small" (click)="slides.slideTo(2)" [disabled]="invite.users.length<2" color="dark"
                    size="red" color="red" class="ion-text-uppercase">
                    <ion-icon *ngIf="invite.users.length>1" name="rocket"></ion-icon>&nbsp;<span
                      *ngIf="invite.users.length>1">Confirm</span>&nbsp;<span *ngIf="invite.users.length<2">Invite one
                      more...</span>
                  </ion-button>
                </ion-item>
              </ion-list>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-xl="6" size-lg="8" size-md="10">
            <div class="slide">
              <div class="ttl-box">
                <div class="number">3</div>
                <h2>
                  Choose Bet and Create Message
                  <ion-icon (click)="betInfoAlert()" name="info" class="blue"
                    style="vertical-align: top; font-size: 90%; margin-left: 3px;"></ion-icon>
                </h2>

              </div>

              <!-- <ion-item lines="none" > -->
              <ion-grid>
                <ion-row>
                  <ion-col class="ion-no-padding1">
                    <div class="invite-segments">
                      <ion-segment mode="ios" [(ngModel)]="invite.amount"
                        (ionChange)="invite.amount = $event.detail.value; updateInvite();" class="no-right-border">
                        <ion-segment-button value="0">
                          <ion-label>$0</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="1">
                          <ion-label>$1</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="2">
                          <ion-label>$2</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="5">
                          <ion-label>$5</ion-label>
                        </ion-segment-button>
                      </ion-segment>
                    </div>
                  </ion-col>
                  <ion-col class="ion-no-padding1">
                    <div class="invite-segments">
                      <ion-segment mode="ios" [(ngModel)]="invite.amount"
                        (ionChange)="invite.amount = $event.detail.value;  updateInvite();" class="no-left-border">
                        <ion-segment-button value="10">
                          <ion-label>$10</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="25">
                          <ion-label>$25</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="50">
                          <ion-label>$50</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="100">
                          <ion-label>$100</ion-label>
                        </ion-segment-button>
                      </ion-segment>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <!-- </ion-item> -->
              <ion-list class="no-padding-start">
                <ion-item lines="none">
                  <ion-label position="stacked" class="mb-2">Name:</ion-label>
                  <ion-input [(ngModel)]="invite.name" class="form-control" placeholder={{defaultInviteName}}></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-label position="stacked"></ion-label>
                  <ion-textarea [(ngModel)]="customInviteText" rows="6" class="form-control" placeholder={{inviteText}}>
                  </ion-textarea>
                </ion-item>
                <ion-item lines="none" class="ion-text-center ion-justify-content-center ion-padding"
                  style="display: grid;">
                  <ion-button (click)="sendInvite()" color="dark" size="red" color="red" class="ion-text-uppercase">
                    <ion-icon name="rocket"></ion-icon>&nbsp;Send Invite
                  </ion-button>
                </ion-item>
              </ion-list>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

  </ion-slides>
  <div *ngIf="currentSlide" class="swiper-button-prev" (click)="slides.slidePrev()"></div>

  <div *ngIf="currentSlide && invite.users.length>1 && currentSlide < 2 || invite.games.length && currentSlide === 0"
    class="swiper-button-next" (click)="slides.slideNext()"></div>

</ion-content>