@import './../../../theme/new-variables.scss';

ion-content {
    @media #{$tablet} {
      --background: #fff;
    }
}

:host {
    ::ng-deep {
      ion-toggle {
        box-shadow: none;
        background: #FFF;
      }
    }
  }