<ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="without-btn">Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="6" size-lg="8" size-md="10">
        <ion-segment class="tabs-default" mode="ios" value={{notificationTab}}
          (ionChange)="notificationTabChanged($event)">
          <ion-segment-button value="past">
            <ion-label>Past</ion-label>
          </ion-segment-button>
          <ion-segment-button value="new">
            <ion-label>New</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-card>
          <ion-card-content class="form-default">
            <form *ngIf="notificationTab === 'new'" [formGroup]="notificationForm" (submit)="createNotification()">
              <ion-grid>
                <ion-row [ngClass]="{'ion-touched': nfc.title.touched}">
                  <ion-col size-xs="12" size="3">
                    <ion-label position="stacked">Notification title <ion-text color="danger">*</ion-text>
                    </ion-label>
                  </ion-col>
                  <ion-col size-xs="12" size="9">
                    <ion-input required type="text" formControlName="title"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row [ngClass]="{'ion-touched': nfc.text.touched}">
                  <ion-col size-xs="12" size="3">
                    <ion-label position="stacked">Notification text <ion-text color="danger">*</ion-text>
                    </ion-label>
                  </ion-col>
                  <ion-col size-xs="12" size="9">
                    <ion-textarea required type="text" formControlName="text"></ion-textarea>
                  </ion-col>
                </ion-row>
                <ion-row [ngClass]="{'ion-touched': nfc.notes.touched}">
                  <ion-col size-xs="12" size="3">
                    <ion-label position="stacked">Notes</ion-label>
                  </ion-col>
                  <ion-col size-xs="12" size="9">
                    <ion-textarea formControlName="notes"></ion-textarea>
                  </ion-col>
                </ion-row>
              </ion-grid>


              <!-- <ion-item-divider color="light"></ion-item-divider> -->

                <ion-segment class="tabs-default" mode="ios" value={{target}} (ionChange)="targetTabChanged($event)">
                  <ion-segment-button value="platform">
                    <ion-label>Platform</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="users">
                    <ion-label>Users</ion-label>
                  </ion-segment-button>
                </ion-segment>
              <ion-list class="ion-no-margin ion-no-padding">
                <ion-item-group *ngIf="target=='platform'"
                  [ngClass]="{'ion-valid': notificationForm.value.platforms.length>0, 'ion-invalid': notificationForm.value.platforms.length==0, 'ion-touched': nfc.platforms.touched, 'ion-untouched': nfc.platforms.untouched}">

                  <ion-item (click)="platformChanged('ios')">
                    <ion-icon name="logo-apple"></ion-icon>
                    <ion-label class="ion-padding-start ion-no-margin">iOS</ion-label>
                    <ion-toggle slot="start" name="ios" color="danger" checked="{{isTarget('ios')}}"></ion-toggle>
                  </ion-item>

                  <ion-item (click)="platformChanged('android')">
                    <ion-icon name="logo-android"></ion-icon>
                    <ion-label class="ion-padding-start ion-no-margin">Android</ion-label>
                    <ion-toggle slot="start" name="android" color="danger" checked="{{isTarget('android')}}">
                    </ion-toggle>
                  </ion-item>

                  <ion-item (click)="platformChanged('web')">
                    <ion-icon name="logo-html5"></ion-icon>
                    <ion-label class="ion-padding-start ion-no-margin">Web</ion-label>
                    <ion-toggle slot="start" name="web" color="danger" checked="{{isTarget('web')}}"></ion-toggle>
                  </ion-item>

                </ion-item-group>

                <ion-item-group *ngIf="target=='users'"
                  [ngClass]="{'ion-valid': objectKeys(notificationUsers).length>0, 'ion-invalid': objectKeys(notificationUsers).length==0, 'ion-touched': true}">
                  <ion-list>
                    <ion-item *ngFor="let user_uid of objectKeys(notificationUsers)">
                      <ion-label>{{getUser([user_uid])?.name || '.....'}}{{user.uid===user_uid ? ' - (you)':''}}
                      </ion-label>
                      <ion-icon (click)="deleteNotificationReceiver(user_uid)" slot="icon-only" slot="end" name="trash"
                        color="danger"></ion-icon>
                    </ion-item>
                    <ion-searchbar #focusInput (input)="searchUser($event)" (ionClear)="search='';searchUsers={}"
                      [placeholder]="isFriendsManage ? 'Add a Friends' : 'Add a User'" #searchbar enterkeyhint="search">
                    </ion-searchbar>
                    <ion-item *ngFor="let user_index of objectKeys(searchUsers)">
                      <ion-label>{{searchUsers[user_index]?.name}}</ion-label>
                      <ion-buttons slot="end">
                        <ion-button *ngIf="!isFriendsManage"
                          (click)="addNotificationReceiver(user_index);searchbar.value='';">
                          <ion-icon slot="icon-only" name="add-circle-outline" color="success"></ion-icon>
                        </ion-button>
                        <ion-button *ngIf="isFriendsManage" [hidden]="checkFriend(searchUsers[user_index].id)"
                          [ngClass]="checkFriendQ ? 'disabled' : ''"
                          (click)="addFriend(searchUsers[user_index].id);searchbar.value='';">
                          <ion-icon slot="icon-only" name="add-circle-outline" color="success"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                    </ion-item>
                  </ion-list>
                </ion-item-group>
              </ion-list>
              <ion-row [ngClass]="{'ion-touched': nfc.start.touched}">
                <ion-col size-xs="12" size="3">
                  <ion-label position="stacked">Start Date</ion-label>
                </ion-col>
                <ion-col size-xs="12" size="9">
                  <div class="datetime-wrapper">
                    <ion-input formControlName="start"></ion-input>
                    <ion-button fill="clear" id="open-date-input">
                      <ion-icon icon="calendar"></ion-icon>
                    </ion-button>
                    <ion-modal trigger="open-date-input" class="modal-datetime">
                      <ng-template>
                        <ion-datetime #popoverDatetime presentation="date-time" placeholder="Select Date" min="2019"
                          max="2023" minuteValues="0,15,30,45" (ionChange)="selectDate(popoverDatetime.value)">
                        </ion-datetime>
                      </ng-template>
                    </ion-modal>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row [ngClass]="{'ion-touched': nfc.scheduling.touched}">
                <ion-col size-xs="12" size="3">
                  <ion-label position="stacked">Scheduling</ion-label>
                </ion-col>
                <ion-col size-xs="12" size="9">
                  <!-- <ion-input required type="text"  formControlName="scheduling"  slot="end"
              ></ion-input> -->
                  <ion-input required disabled type="text" formControlName="scheduling" placeholder="Never"></ion-input>
                </ion-col>
              </ion-row>



              <div class="ion-padding">
                <button class="default-button" type="submit" [disabled]="!notificationForm.valid">Send
                  Notification</button>
              </div>
            </form>
            <ion-list *ngIf="notificationTab === 'past'" style="margin-bottom: 5px;">
              <ion-item-group style="padding-bottom: 5px;">
                <ion-item [ngClass]="{'ion-touched': nfc.title.touched}">
                  <ion-button (click)="resetNotificationTokens()" color="red">Reset Tokens</ion-button>
                </ion-item>
                <ion-item-divider sticky>
                  <ion-label class="ion-no-margin" style="width: 100%;">
                    <ion-grid>
                      <ion-row style="margin-right: 0px;">
                        <ion-col size="5" class="ion-text-left ion-justify-content-center ion-text-wrap">
                          Notification
                        </ion-col>
                        <ion-col size="3" class="ion-text-center ion-align-items-center">
                          Date
                        </ion-col>
                        <ion-col size="2" class="ion-text-center ion-align-items-center">
                          Target
                        </ion-col>
                        <ion-col size="2" class="ion-text-center ion-align-items-center">
                          Status
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-label>
                </ion-item-divider>
                <ion-item-sliding *ngFor="let item of notifications">
                  <ion-item detail="false" style="display: inherit">
                    <ion-label class="ion-no-margin">
                      <ion-grid>
                        <ion-row>
                          <ion-col size="5" class="ion-text-left ion-justify-content-center ion-text-wrap">
                            {{item.title}}
                            <p onclick="style.display = (style.display=='-webkit-box')?'block':'-webkit-box';"
                              style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
                              {{item.text}}
                            </p>
                          </ion-col>
                          <ion-col size="3" style="overflow: hidden; text-overflow: none;"
                            class="ion-text-center ion-align-items-center ion-justify-content-center"
                            class="ion-text-center ion-align-items-center">
                            {{item.start.toDate()|date:'M/d/yy'}}
                            <p>
                              {{item.start.toDate()|date:'h:mm a'}}<br />
                              Repeat: {{item.scheduling === 'Now' ? 'No' : 'Yes'}}
                            </p>
                          </ion-col>
                          <ion-col size="2" class="ion-text-center ion-align-items-center">
                            <div [hidden]="!item.platforms" *ngFor="let platform of item.platforms">
                              <p>
                                {{platform}}
                              </p>
                            </div>
                            <div *ngIf="item.receivers" (click)="alert(item.receivers)">
                              <p *ngIf="item.receivers.length === 1 && item.receivers[0] === 'all'">
                                Players
                              </p>
                              <p *ngIf="item.receivers.length && item.receivers[0] !== 'all'">
                                {{item.receivers.length}} user{{item.receivers.length>1?'s':''}}
                              </p>
                            </div>
                          </ion-col>
                          <ion-col size="2" class="ion-text-center ion-align-items-center">
                            <p>Submitted</p>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-label>
                  </ion-item>
                  <ion-item-options>
                    <ion-item-option (click)=resendNotification(item.id) color="primary" class="ion-text-center">
                      <ion-icon slot="start" name="create"></ion-icon>
                      Resend
                    </ion-item-option>
                    <ion-item-option (click)=deleteNotification(item.id) color="danger" class="ion-text-center">
                      <ion-icon slot="start" name="create"></ion-icon>
                      Delete
                    </ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-item-group>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>