<div class="modal-wrapper">
  <!-- <div class="modal-header"></div> -->
  <div class="modal-close" (click)="cancel()">
    <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
  </div>
  <div class="modal-header"><h3>{{ title }}</h3></div>
  <div class="modal-content">
    <div class="checkbox-wrap">
      <app-checkbox [type]="'radio'" [label]="'yes'" [data]="'yes'" [name]="'test'" (onCheck)="check($event)">
      </app-checkbox>
      <app-checkbox [type]="'radio'" [label]="'no'" [data]="'no'" [name]="'test'" (onCheck)="check($event)">
      </app-checkbox>
    </div>
  </div>
</div>