@import "../../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .icon {
      width: 36px;
      height: 36px;
    }
  }
}


.modal-wrapper {
  .modal-content {
    h4 {
      color: #fff;
      text-align: left;
    }
  }
}

.modal-list {

  &.mb {
    margin-bottom: 20px;
  }

  ion-label {
    font-size: 14px;
  }

  ion-icon {
    font-size: 22px;
  }
}

.top-title {
  margin-bottom: 16px;

  ion-item {
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    height: 60px;
    --inner-padding-end: 0;
    --padding-start: 0;
  }

  ion-icon {
    color: #fff;
  }

  ion-label {
    font-size: 12px;
    color: #fff;
    font-family: $RR;
    display: flex;
    align-items: center;

    ion-icon {
      margin-right: 5px;
    }
  }
}

ion-item {
  ion-buttons {
    margin: 0;
  }

  ion-button {
    &.disabled {
      display: none;
      --ion-color-base: #999;
      pointer-events: none;
    }
  }

  .btn {
    ion-button {
      font-size: 12px;
      height: 24px;
    }
  }
}

.list-box {
  margin-bottom: 5px;

  ion-item {
    &:last-child {
      --inner-border-width: 0 0 0 0;
    }
  }
}