<div class="modal-wrapper">
  <div class="modal-close" (click)="cancel()">
    <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
  </div>
  <div class="modal-header">
    <h3>{{ manageChat?.admin ? "Create Chat" : "New Chat"}}</h3>
  </div>
  <div class="modal-content">
    <div class="modal-scroll-content">
      <ion-list class="modal-list top-title" *ngIf="!manageChat?.admin">
        <ion-item lines="none">
          <ion-label slot="start">
            <ion-icon slot="icon-only" name="people-circle"></ion-icon>
            Group chat
          </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="createGroup(true);modalController.dismiss()">
              <ion-icon slot="icon-only" name="add-circle"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>

      <h4 *ngIf="objectKeys(users).length">
        Already added</h4>
      <h4 *ngIf="!objectKeys(users)">
        Private chat</h4>
      <ion-list class="modal-list mb" *ngIf="objectKeys(users).length">
        <ion-item lines="none" *ngFor="let user_uid of objectKeys(users)">
          <app-user [name]="users[user_uid]?.name " [src]="users[user_uid]?.photoURL || constants.AVATAR_DEMO"
            [id]="user_uid" [listComponent]="true" [challengesWon]="users[user_uid]?.stats?.challengesWon"
            [color]="users[user_uid]?.color"></app-user>
          <!-- <ion-label>{{users[user_uid]?.name}}{{user.uid===user_uid ? ' - (you)':''}}</ion-label> -->
          <!-- <ion-buttons class="btn" slot="end" >
            <ion-button  [hidden]="isAdmin && user.uid !== user_uid && !adminDetect(user_uid)"
            [ngClass]="checkFriendQ ? 'disabled' : ''" (click)="addAdmin(user_uid, false)"
            color="dark" size="small" fill="outline" class="ion-no-padding">Add admin</ion-button>
            <ion-button [hidden]="isAdmin && user.uid !== user_uid && adminDetect(user_uid)"
            [ngClass]="checkFriendQ ? 'disabled' : ''" (click)="addAdmin(user_uid, true)" 
            color="dark" size="small" fill="outline" class="ion-no-padding">Remove admin</ion-button> 
          </ion-buttons> -->
          <ion-icon (click)="deleteChatUser(user_uid)"
            *ngIf="!globalManage && !manageChat?.admin && user.uid === user_uid" slot="icon-only" slot="end"
            name="trash" color="danger"></ion-icon>
          <ion-icon (click)="deleteChatUser(user_uid)" *ngIf="manageChat?.admin" slot="icon-only" slot="end"
            name="trash" color="danger"></ion-icon>
        </ion-item>
      </ion-list>
      <h4 *ngIf="objectKeys(users).length">
        Invite friends to Group chat</h4>
      <ng-container *ngIf="globalManage || manageChat?.admin">
        <div class="searchWrap">
          <ion-searchbar class="searchBar" #focusInput (input)="searchUser($event)"
            (ionClear)="search=''; searchUsers=searchFriendsUsers || {}" placeholder="Search friends" #searchbar
            enterkeyhint="search">
          </ion-searchbar>
        </div>
        <ion-list class="modal-list">
          <div class="list-box">
            <ng-container *ngFor="let user_index of objectKeys(searchUsers)">
              <ion-item lines="none"
                *ngIf="friends[searchUsers[user_index]?.id] && friends[searchUsers[user_index]?.id]?.uid != users[searchUsers[user_index]?.id]?.uid">
                <app-user [name]="searchUsers[user_index]?.name"
                  [src]="searchUsers[user_index]?.photoURL || constants.AVATAR_DEMO" [id]="searchUsers[user_index]?.id"
                  [listComponent]="true" [challengesWon]="searchUsers[user_index]?.stats?.challengesWon"
                  [color]="searchUsers[user_index]?.color"></app-user>
                <ion-buttons slot="end">
                  <ion-button [hidden]="checkPrivateChat(searchUsers[user_index].id)"
                    [ngClass]="checkChat ? 'disabled' : ''"
                    (click)="addChatUser(searchUsers[user_index].id);searchbar.value='';">
                    <ion-icon slot="icon-only" name="add-circle" color="success"></ion-icon>
                  </ion-button>
                  <ion-button color="success"
                    (click)="modalController.dismiss(); openChat($event, searchUsers[user_index].id)"
                    [style.visibility]="checkPrivateChat(searchUsers[user_index].id)"
                    [ngClass]="checkChat ? '' : 'disabled'">
                    <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ng-container>
          </div>
          <ng-container *ngFor="let user_index of objectKeys(searchUsers)">
            <ion-item lines="none" *ngIf="friends[searchUsers[user_index]?.id]?.uid != searchUsers[user_index]?.id">
              <app-user [name]="searchUsers[user_index]?.name"
                [src]="searchUsers[user_index]?.photoURL || constants.AVATAR_DEMO" [id]="searchUsers[user_index]?.id"
                [listComponent]="true" [challengesWon]="searchUsers[user_index]?.stats?.challengesWon"
                [color]="searchUsers[user_index]?.color"></app-user>
              <ion-buttons slot="end">
                <ion-button [hidden]="checkPrivateChat(searchUsers[user_index].id)"
                  [ngClass]="checkChat ? 'disabled' : ''"
                  (click)="addChatUser(searchUsers[user_index].id);searchbar.value='';">
                  <ion-icon slot="icon-only" name="add-circle" color="success"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ng-container>
        </ion-list>


      </ng-container>
    </div>
  </div>
</div>