@import './../../../theme/new-variables.scss';

ion-content {
    @media #{$tablet} {
      --background: #fff;
    }
}

.bottom-underline {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: gray;
}