<ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="without-btn">Private Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="6" size-lg="8" size-md="10">

        <ion-list-header class="ion-padding" style="font-size: larger; border-width: 0 0 1px 0; border-style: solid;">
          <ion-label class="ion-text-center">
            {{games ? 'Create Your Private Game' : 'No Private Games Available'}}
          </ion-label>
        </ion-list-header>

        <ion-list #scheduleList [hidden]="!games" style="margin-bottom: 5px;">
          <ion-item-group *ngFor="let event of getGames(); index as index" [hidden]="(index>dayCount)"
            style="padding-bottom: 5px;">
            <ion-item-divider sticky color="medium" style="--padding-start: 10px;">
              <ion-buttons slot="start">
                {{event.date}}
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button id="{{inviteService.startDate(event.date)}}" name="add-event" title="add-event"
                  (click)="click($event, index)">
                  <ion-icon slot="icon-only" name="add-circle" color="success"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item-divider>

            <ng-container *ngFor="let invite of getInvites(inviteService.startDate(event.date))">
              <ion-item-divider (click)="toggleGames(invite.id)" sticky color="light" class="bottom-underline"
                style="--padding-start: 10px;">
                <ion-buttons slot="start">
                </ion-buttons>
                <div class="titleGroup">
                  <div class="groupName_input" [hidden]="!eventEdited[invite.id]" style="position: absolute; top: 10%;">
                    <input id="name-{{invite.id}}" (click)="handleName($event, invite.id);"
                      (input)="handleName($event, invite.id);" (touchmove)="handleName($event, invite.id);"
                      (focusout)="handleName($event, invite.id)" (change)="handleName($event, invite.id)"
                      (keyup.enter)="handleName($event, invite.id)" (keyup.esc)="handleName($event, invite.id)"
                      type="text" #focusGroupName placeholder="Enter name" value="{{invite.name}}"
                      style="max-width: 80%; margin-right: 10px;" />
                    <ion-icon
                      *ngIf="isGameAdmin(inviteService.startDate(event.date), invite.id) && eventEdited[invite.id]"
                      (click)="persistInvite({name: invite.name}, invite.id);eventEdited[invite.id]=false;$event.stopPropagation();;"
                      name="save"></ion-icon>
                  </div>
                  <span
                    (click)="isGameAdmin(inviteService.startDate(event.date), invite.id) && eventEdited[invite.id]=!(eventEdited[invite.id]||false);"
                    class="ion-margin-start" [hidden]="eventEdited[invite.id]" style="position: absolute; top: 20%;">
                    Team: {{invite.name || 'New Game'}}
                    <ion-icon
                      *ngIf="isGameAdmin(inviteService.startDate(event.date), invite.id) && !eventEdited[invite.id]"
                      name="create"></ion-icon>
                  </span>
                </div>
                <ion-buttons slot="end">
                  <div *ngIf="false">
                    <ion-button id="team" (click)="click($event)" *ngIf="!selectInvite">
                      <ion-icon slot="icon-only" name="create" color="success"></ion-icon>
                    </ion-button>
                    <ion-button size="small" (click)="saveGroupName()" *ngIf="selectInvite">
                      <ion-icon slot="icon-only" name="checkmark" color="success"></ion-icon>
                    </ion-button>
                  </div>
                  <ion-button *ngIf="false" (click)="click($event)">
                    <ion-icon slot="icon-only" name="person-add-" color="warning"></ion-icon>
                  </ion-button>
                  <ion-button *ngIf="false" id="team" (click)="click($event)">
                    <ion-icon slot="icon-only" name="people" color="warning"></ion-icon>
                  </ion-button>
                  <ion-button *ngIf="false">
                    <ion-icon slot="icon-only" name="close" style="font-size: 20px; float: right;"></ion-icon>
                  </ion-button>
                  <ion-button (click)="manageInvite(invite.id, $event);">
                    <ion-icon name="people"></ion-icon>
                  </ion-button>
                  <ion-button>
                    <ion-icon name="caret-{{eventExpanded[invite.id]?'down':'forward'}}"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item-divider>

              <ion-item-sliding id="{{invite.id}}-games" *ngFor="let game of event.games; index as k" #slidingItem
                [attr.track]="game.gamePk" [hidden]="!eventExpanded[invite.id]">
                <ion-item (click)="click($event, index, invite.id)" detail="false" style="display: inherit">
                  <ion-icon title="{{game.gamePk}}"
                    name="{{isGameAdded(invite.id, game.gamePk)?'checkmark-circle':(isGameAdmin(inviteService.startDate(event.date), invite.id)?'add-circle':'ellipse')}}"
                    color="{{isGameAdded(invite.id, game.gamePk)?'success':'gray'}}" slot="start" class="ion-no-margin">
                  </ion-icon>
                  <ion-label class="ion-no-margin">
                    <ion-grid class="challenge-games">
                      <ion-row>
                        <ion-col size="12">
                          <div class="ion-text-left ion-align-items-center"
                            style="display: inline-flex; min-width: 48%; white-space: nowrap !important; overflow: hidden; padding-left: 0; padding-right: 0;">
                            {{game.teams.away.team.name}} @ {{game.teams.home.team.name}}
                          </div>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="12" class="ion-text-center">
                          {{ game.gameDate | date:'h:mma' }} {{commonService.getTimezone()}}
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-label>
                </ion-item>
              </ion-item-sliding>
            </ng-container>

            <ion-item-divider *ngIf="!getInvites(inviteService.startDate(event.date)).length">
              <div (click)="dayCount=dayCount+5" class="ion-text-center ion-align-items-center" style="width: 100%;">
                no games configured
              </div>
            </ion-item-divider>


          </ion-item-group>

          <ion-item-divider *ngIf="games?.length>dayCount">
            <div (click)="dayCount=dayCount+5" class="ion-text-center ion-align-items-center" style="width: 100%;">
              more games...
            </div>
          </ion-item-divider>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<!-- <ion-tabs *ngIf="true" style="position: sticky; height: 50px;">
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-menu-button></ion-menu-button>
    </ion-tab-button>
    <ion-tab-button (click)="router.navigate(['/admin/challenges'])">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Challenges</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="router.navigate(['/admin/invite'])" [selected]="true">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Private Games</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="router.navigate(['/admin/notifications'])">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="router.navigate(['/admin/quotes'])">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Quotes</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="router.navigate(['/admin/nba'])">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>NBA</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="router.navigate(['/admin/nhl'])">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>NHL</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="router.navigate(['/admin/nfl'])">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>NFL</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->