<div class="modal-wrapper " [ngClass]="{cssClass}">
  <div class="modal-close" (click)="cancel()">
        <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
  </div>
  <div class="modal-header">{{title}}</div>
  <div class="modal-content">
    <h3>{{ text }}</h3>
  </div>
</div>