@import './../../../../theme/new-variables';

:host {
  ::ng-deep {
    .card {
      padding-bottom: 42px;
    }

    .card-title {
      margin-bottom: 0;
    }
  }
}

.auth-wrap {
  .main {
    padding: 22px 40px;
  }
}

.btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  @media #{$mobileXs} {
    margin-top: 15px;
  }

  .btn-default {
    margin-bottom: 14px;
    width: 72px;

    @media #{$tablet} {
      zoom: 1.25;
      letter-spacing: -0.4px;
    }

    &+.btn-default {
      margin-bottom: 0;
    }
  }
}

.preferences-wrap {
  margin: 50px 0 32px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @media #{$tablet} {
      zoom: 1.25;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;

      &.active {
        p {
          color: #fff;
        }
      }

      p {
        margin: 0;
        font-family: $IR;
        font-weight: 600;
        line-height: 2;
        font-size: 16px;
        // text-transform: uppercase;
        color: $third-text-color;

        @media #{$mobileXs} {
          font-size: 14px;
        }
      }
    }
  }
}