<ion-content class="auth-wrap">
  <div class="main bg">
    <div class="logo-box">
      <app-ico-svg [class]="'logo inverse'" [src]="'/assets/imgs/logo.svg#'" [id]="'Logo'"></app-ico-svg>
      <app-card [title]="'Preferences'" (onCancel)="cancel()">
        <div class="logo-box-img">
          <app-ico-svg [id]="'IcoSettings'"></app-ico-svg>
        </div>
        <div class="preferences-wrap">
          <ul>
            <ng-container *ngFor="let item of preferences">
              <li [ngClass]="setClass(item.id)">
                <p>{{item.name}}</p>
                <ion-toggle mode="ios" (ionChange)="toggle(item.id)" [(ngModel)]="userPrefs?.user[item.id]" [value]="item.id"></ion-toggle>
              </li>
            </ng-container>
          </ul>
        </div>
        <div class="btn-wrap">
          <button (click)="save()" type="button" class="btn-default no-shadow">Done</button>
          <button (click)="cancel()" type="button" class="btn-default transparent-white">Later</button>
        </div>
      </app-card>
    </div>
    <!-- <app-navigate></app-navigate> -->
  </div>
</ion-content>