<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar position="top">
    <ion-title size="medium" class="without-btn ion-text-center ion-no-padding">
      Manage Private Game
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="close" style="font-size: 20px; float: right;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center ion-justify-content-center ion-text-center">
  <div class="scroll-box">
    <ion-list>
      <ion-item *ngFor="let user_uid of objectKeys(users)">
        <app-user [name]="users[user_uid]?.name " [src]="users[user_uid]?.photoURL || constants.AVATAR_DEMO"
          [id]="user_uid" [listComponent]="true" [challengesWon]="users[user_uid]?.stats?.challengesWon"
          [color]="users[user_uid]?.color"></app-user>
        <!-- <ion-label>{{users[user_uid]?.name}}{{user.uid===user_uid ? ' - (you)':''}}</ion-label> -->
        <!-- <ion-buttons class="btn" slot="end" >
          <ion-button  [hidden]="isAdmin && user.uid !== user_uid && !adminDetect(user_uid)"
          [ngClass]="checkFriendQ ? 'disabled' : ''" (click)="addAdmin(user_uid, false)"
           color="dark" size="small" fill="outline" class="ion-no-padding">Add admin</ion-button>
          <ion-button [hidden]="isAdmin && user.uid !== user_uid && adminDetect(user_uid)"
          [ngClass]="checkFriendQ ? 'disabled' : ''" (click)="addAdmin(user_uid, true)" 
          color="dark" size="small" fill="outline" class="ion-no-padding">Remove admin</ion-button> 
        </ion-buttons> -->
        <ion-icon *ngIf="isUserAdmin(user_uid)" slot="icon-only" slot="end" name="lock-closed"></ion-icon>
        <ion-icon (click)="deleteUser(user_uid)"
          *ngIf="(invite && !invite.locked) && ((isAdmin && user.uid !== user_uid) || (!isAdmin && user.uid === user_uid))"
          slot="icon-only" slot="end" name="person-remove" color="danger"></ion-icon>
      </ion-item>

      <ng-container *ngIf="isAdmin">
        <ion-searchbar #focusInput (input)="searchUser($event)"
          (ionClear)="search=''; searchUsers=searchFriendsUsers || {}" placeholder="Add User" #searchbar
          enterkeyhint="search"></ion-searchbar>
        <ion-title class="list-title" *ngIf="searchFriendsUsers && objectKeys(searchFriendsUsers).length > 0">
          Friend list</ion-title>
        <div class="list-box">
          <ng-container *ngFor="let user_index of objectKeys(searchUsers)">
            <ion-item *ngIf="friends[searchUsers[user_index]?.id] &&
          friends[searchUsers[user_index]?.id]?.uid != users[searchUsers[user_index]?.id]?.uid">
              <app-user [name]="searchUsers[user_index]?.name"
                [src]="searchUsers[user_index]?.photoURL || constants.AVATAR_DEMO" [id]="searchUsers[user_index]?.id"
                [listComponent]="true" [challengesWon]="searchUsers[user_index]?.stats?.challengesWon"
                [color]="searchUsers[user_index]?.color"></app-user>
              <!-- <ion-avatar slot="start" (click)="userInfo(user_index)">
              <img src="{{searchUsers[user_index]?.photoURL || constants.AVATAR_DEMO}}">
            </ion-avatar>
            <ion-label>{{searchUsers[user_index]?.name}}</ion-label> -->
              <ion-buttons slot="end">
                <ion-button [disabled]="!invite || invite.locked"
                  (click)="addUser(searchUsers[user_index].id);searchbar.value='';">
                  <ion-icon slot="icon-only" name="person-add" color="success"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ng-container>
        </div>
        <ng-container *ngFor="let user_index of objectKeys(searchUsers)">
          <ion-item *ngIf="friends[searchUsers[user_index]?.id]?.uid != searchUsers[user_index]?.id">
            <app-user [name]="searchUsers[user_index]?.name"
              [src]="searchUsers[user_index]?.photoURL || constants.AVATAR_DEMO" [id]="searchUsers[user_index]?.id"
              [listComponent]="true" [challengesWon]="searchUsers[user_index]?.stats?.challengesWon"
              [color]="searchUsers[user_index]?.color"></app-user>
            <!-- <ion-avatar slot="start" (click)="userInfo(user_index)">
            <img src="{{searchUsers[user_index]?.photoURL || constants.AVATAR_DEMO}}">
          </ion-avatar>
          <ion-label>{{searchUsers[user_index]?.name}}</ion-label> -->
            <ion-buttons slot="end">
              <ion-button [disabled]="!invite || invite.locked"
                (click)="addUser(searchUsers[user_index].id);searchbar.value='';">
                <ion-icon slot="icon-only" name="person-add" color="success"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons class="ion-justify-content-center">
      <ion-button fill="solid" [disabled]="!invite || invite.locked" (click)="deleteInviteGame()" size="default" color="danger"
        expand="block" class="ion-text-uppercase">Delete Private Game</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>