<div class="modal-wrapper">
  <div class="modal-close" (click)="cancel()">
    <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
  </div>
  <div class="modal-header">
    <h3>{{ name }} games</h3>
  </div>
  <div class="modal-content">
    <div class="modal-scroll-content">
      <ion-list class="modal-list">
        <ng-container *ngFor="let game of challengeGames, let i = index">
          <ion-item (click)="openGame(game)">
            <ion-label>
              <p> {{game.teams.away.team.name}}
                vs
                {{game.teams.home.team.name}}
              </p>
            </ion-label>
            <ion-icon slot="icon-only" slot="end" name="arrow-forward-outline" color="light"></ion-icon>
          </ion-item>
        </ng-container>
      </ion-list>
    </div>
  </div>
</div>