@import "../../../theme/new-variables.scss";

:host {
    display: flex;
    align-items: center;
}

.icon {
    width: 26px;
    height: 26px;
    --fill: #fff;

    &[disabled=true] {
        --fill: #8E8E8E;
        cursor: default;
        pointer-events: none;
    }

    &.lock {
        --stroke: #5d5d5d;
    }
}