<!-- <ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="without-btn">Privacy</ion-title>
  </ion-toolbar>
</ion-header> -->
<div class="mainWrapper">
  <div class="mainHeader">
    <app-header [showAmount]="false"></app-header>
    <app-sub-header *ngIf="false"></app-sub-header>
  </div>
</div>
<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-xl="12" size-lg="12" size-md="10">
            <ion-list-header>
              <ion-label>Privacy Policy</ion-label>
            </ion-list-header>

            <section class="full-width ion-padding">
              <ol>
                <li><strong> INFORMATION WE COLLECT AND HOW WE USE IT</strong></li>
              </ol>
              <p>We may collect and store information about you in connection with your use of the SPRT MTRX, including
                any
                information you transmit to the SPRT MTRX. We use that information to provide the SPRT MTRX&rsquo;s
                functionality, improve the SPRT MTRX&rsquo;s quality, engage in research and analysis relating to the
                SPRT
                MTRX, personalize your experience, track usage of the SPRT MTRX, display relevant advertising, market
                the
                SPRT MTRX, provide customer support, message you, back up our systems, allow for disaster recovery,
                enhance
                the security of the SPRT MTRX, and comply with legal obligations. Even when we do not retain such
                information, it still must be transmitted to our servers initially and stored long enough to process.
              </p>
              <p>Please also note:</p>
              <ul>
                <li><strong>Account Information:</strong>&nbsp;If you create a SPRT MTRX account, we may store and use
                  the
                  information you provide during that process, such as your full name, email address, postal code, zip
                  code,
                  physical address, and other information you may provide with your account, such as your gender, phone
                  number, and birth date. We may publicly display your user name, as well as any photo or other content
                  you
                  submit through the registration process, as part of your account profile. You can modify some of the
                  information associated with your account through your account settings. If you believe that someone
                  has
                  created an unauthorized account depicting you or your likeness, you can request its removal by
                  flagging
                  it.</li>
                <li><strong>Contacts:</strong>&nbsp;You can invite others to join SPRT MTRX by providing us with their
                  contact information, or by allowing us to access your contacts from your computer, mobile device, or
                  third
                  party sites to select which individuals you want to invite. If you allow us to access your contacts,
                  we
                  may transmit that information to our servers long enough to process your invitations.</li>
                <li><strong>Activity:</strong>&nbsp;We may store information about your use of the SPRT MTRX. We may
                  also
                  store information that your computer or mobile device may provide to us in connection with your use of
                  the
                  SPRT MTRX, such as your browser type, type of computer or mobile device, browser language, IP address,
                  WiFi information such as SSID, mobile carrier, phone number, unique device identifier, advertising
                  identifier, location (including geolocation, beacon based location, and GPS location), and requested
                  and
                  referring URLs and mobile applications. We may also receive and store your location whenever our
                  mobile
                  applications are running, including when running in the background, if you enable our mobile apps to
                  access such information in the course of using the SPRT MTRX. You may be able to limit or disallow our
                  use
                  of certain location data through your device or browser settings, for example by adjusting the
                  &ldquo;Location Services&rdquo; settings for our applications in iOS privacy settings.</li>
                <li><strong>Different Devices:</strong>&nbsp;You may access the SPRT MTRX through different devices
                  (e.g.,
                  your mobile phone or personal computer) and different platforms. The information that we collect and
                  store
                  through those different uses may be cross-referenced and combined, and your contributions through one
                  platform will typically be similarly visible and accessible through all other SPRT MTRX platforms.
                </li>
                <li><strong>Legal Basis for Processing:</strong>&nbsp;For residents of the EEA and Switzerland only, our
                  legal basis for collecting and using the information described above will depend on the specific
                  information concerned and the context in which we collect it. We, however, will normally collect
                  personal
                  information from you only where we have your consent to do so, where we need the personal information
                  to
                  perform a contract with you, or where the processing is in our legitimate interests and not overridden
                  by
                  your data protection interests or fundamental rights and freedoms. In some cases, we may also have a
                  legal
                  obligation to collect personal information from you or may otherwise need the personal information to
                  protect your vital interests or those of another person (for instance, to prevent, investigate, or
                  identify possible wrongdoing in connection with the SPRT MTRX or to comply with legal obligations). If
                  we
                  ask you to provide personal information to comply with a legal requirement or to perform a contract
                  with
                  you, we will make this clear at the relevant time and advise you whether the provision of your
                  personal
                  information is mandatory or not (as well as of the possible consequences if you do not provide your
                  personal information). If we collect and use your personal information in reliance on our legitimate
                  interests (or those of any third party), this interest will typically be to operate our Services,
                  communicate with you in relation to our Services, or for our other legitimate commercial interests,
                  for
                  instance, when responding to your queries, to analyze and improve our platform, engage in marketing,
                  or
                  for the purposes of detecting or preventing fraud. If you have questions about or need further
                  information
                  concerning the legal basis on which we collect and use your personal information, please contact us at
                  the
                  address listed below in the &ldquo;Contact&rdquo; section.</li>
              </ul>
              <ol start="2">
                <li><strong> COOKIES</strong></li>
              </ol>
              <p>We, and third parties with whom we partner, may use cookies, web beacons, tags, scripts, local shared
                objects such as HTML5 and Flash (sometimes called &ldquo;flash cookies&rdquo;), advertising identifiers
                (including mobile identifiers such as Apple&rsquo;s IDFA or Google&rsquo;s Advertising ID) and similar
                technology (<strong>&ldquo;Cookies&rdquo;</strong>) in connection with your use of the SPRT MTRX, third
                party websites, and mobile applications. Cookies may have unique identifiers, and reside, among other
                places, on your computer or mobile device, in emails we send to you, and on our web pages. Cookies may
                transmit information about you and your use of the SPRT MTRX, such as your browser type, search
                preferences,
                IP address, data relating to advertisements that have been displayed to you or that you have clicked on,
                and
                the date and time of your use. Cookies may be persistent or stored only during an individual session.
              </p>
              <p>The purposes for which we use Cookies in the SPRT MTRX include:</p>
              <table>
                <tbody>
                  <tr>
                    <td>
                      <p><strong>Purpose</strong></p>
                    </td>
                    <td>
                      <p><strong>Explanation</strong></p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Processes</p>
                    </td>
                    <td>
                      <p>Intended to make the SPRT MTRX work in the way you expect. For example, we use a Cookie that
                        tells
                        us whether you have already signed up for an account.</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Authentication, Security, and Compliance</p>
                    </td>
                    <td>
                      <p>Intended to prevent fraud, protect your data from unauthorized parties, and comply with legal
                        requirements. For example, we use Cookies to determine if you are logged in.</p>
                    </td>
                  </tr>
                  <tr>
                  </tr>
                  <tr>
                    <td>
                      <p>Notifications</p>
                    </td>
                    <td>
                      <p>Intended to allow or prevent notices of information or options that we think could improve your
                        use
                        of the SPRT MTRX. For example, we use a Cookie that stops us from showing you the signup
                        notification if you have already seen it.</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Advertising</p>
                    </td>
                    <td>
                      <p>Intended to make advertising more relevant to users and more valuable to advertisers. For
                        example,
                        we may use Cookies to serve you interest-based ads, such as ads that are displayed to you based
                        on
                        your visits to other websites, or to tell us if you have recently clicked on an ad.</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Analytics</p>
                    </td>
                    <td>
                      <p>Intended to help us understand how visitors use the SPRT MTRX.&nbsp;</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p>You can set some Cookie preferences through your device or browser settings. The method for disabling
                Cookies may vary by device and browser, but can usually be found in your device or browser preferences
                or
                security settings. For example, iOS and Android devices each have settings which are designed to limit
                forms
                of ad tracking. For flash cookies, you can manage your privacy settings by clicking here. Please note
                that
                changing any of these settings does not prevent the display of certain advertisements to you.</p>
              <ol start="3">
                <li><strong> THIRD PARTIES</strong></li>
              </ol>
              <p>Third parties may receive information about you as follows:</p>
              <ul>
                <li><strong>Advertisers:</strong>&nbsp;We may allow third parties to use Cookies through the SPRT MTRX
                  to
                  collect the same type of information for the same purposes as we do. In doing so, we adhere to the
                  Digital
                  Advertising Alliance&rsquo;s Self-Regulatory Principles for Online Behavioural Advertising. Third
                  parties
                  may be able to associate the information they collect with other information they have about you from
                  other sources. We do not necessarily have access to or control over the Cookies they use.
                  Additionally, we
                  may share non-personally identifiable information from or about you, such as location data,
                  advertising
                  identifiers, or a cryptographic hash of a common account identifier (such as an email address), with
                  third
                  parties in connection with advertising programs and data analytics, including with third parties that
                  help
                  determine the efficacy of such advertising programs by aggregating information they receive from
                  multiple
                  services like the SPRT MTRX. You may be able to limit our sharing of some of this information through
                  your
                  mobile device settings, as described in Section 2 above, or through the SPRT MTRX&rsquo;s settings.
                </li>
                <li><strong>Service Providers:</strong>&nbsp;We may rely on third party providers to support or provide
                  some
                  of the services that are available through the SPRT MTRX, such as reservations and food delivery. We
                  may
                  also rely on third party providers to perform certain services for us in connection with your use of
                  the
                  SPRT MTRX, such as communications and hosting services, network security, technical and customer
                  support,
                  tracking and reporting functions, quality assurance testing, payment processing, our own marketing of
                  the
                  SPRT MTRX, and other functions. We may share information from or about you with these third party
                  providers so that they can perform their services or complete your requests. These third party
                  providers
                  may share information with us that they obtain from or about you in connection with providing their
                  services or completing your requests. Third party providers may also share this information with their
                  subsidiaries, joint ventures, or other companies under common control. Some of our web pages utilize
                  framing techniques to serve content to you from our third party providers, while preserving the look
                  and
                  feel of the SPRT MTRX. In such cases, please note that the information you provide is being provided
                  to
                  the third party.</li>
                <li><strong>Aggregate or Anonymous Information:</strong>&nbsp;We may share user information in the
                  aggregate
                  with third parties, such as businesses that are listed on the SPRT MTRX and content distributors. For
                  example, we may disclose the number of users that have been exposed to or clicked on advertisements.
                  We
                  may also disclose anonymized information about your use on the SPRT MTRX. For example, if you engage
                  in a
                  transaction in connection with the SPRT MTRX, we may publicly disclose information about the
                  transaction
                  without providing additional identifying information about you or otherwise disclosing your
                  participation
                  in the transaction.</li>
                <li><strong>Business Transfers:</strong>&nbsp;We may share information from or about you with our parent
                  companies, subsidiaries, joint ventures, or other companies under common control, in which case we
                  will
                  require them to honour this Privacy Policy. If another company acquires the SPRT MTRX, or all or
                  substantially all of our assets, that company will possess the same information, and will assume the
                  rights and obligations with respect to that information as described in this Privacy Policy.</li>
                <li><strong>Investigations and Legal Disclosures:</strong>&nbsp;We may investigate and disclose
                  information
                  from or about you if we have a good faith belief that such investigation or disclosure: (a) is
                  reasonably
                  necessary to comply with legal processes and law enforcement instructions and orders, such as a search
                  warrant, subpoena, statute, judicial proceeding, or other legal process or law enforcement requests
                  served
                  on us; (b) is helpful to prevent, investigate, or identify possible wrongdoing in connection with the
                  SPTR
                  MTRX; or (c) protects our rights, reputation, property, or that of our users, affiliates, or the
                  public.
                </li>
                <li><strong>Links:</strong>&nbsp;The SPRT MTRX may link to third party services, like a business&rsquo;s
                  URL. Except as set forth herein, we do not share your personal information with them, and are not
                  responsible for their privacy practices. We suggest you read the privacy policies on or applicable to
                  all
                  such third party services.</li>
                <li><strong>Third Party Accounts:</strong>&nbsp;If you sign up for, or log into, SPRT MTRX using a third
                  party service like Facebook or Google, or link your SPRT MTRX account to your account with a third
                  party
                  service like Facebook, Instagram or Twitter, we may receive information about you from such third
                  party
                  service. If you post content to a third party service through the SPRT MTRX, that third party service
                  will
                  also receive that content, which will be visible to anyone that has access to it through that third
                  party
                  service.</li>
              </ul>
              <ol start="4">
                <li><strong> CONTROLLING YOUR PERSONAL DATA</strong></li>
              </ol>
              <p>Other users may be able to identify you, or associate you with your account, if you include personal
                information in the content you post publicly. You can reduce the risk of being personally identified by
                using the SPRT MTRX pseudonymously.&nbsp;</p>
              <p>If you are a resident of the EEA or Switzerland, you have the right to access, correct, update or
                request
                deletion of your personal information. You can object to the processing of your personal information,
                ask us
                to restrict processing of your personal information or request portability of your personal information.
                Similarly, if we have collected and processed your personal information with your consent, then you can
                withdraw your consent at any time. Withdrawing your consent will not affect the lawfulness of any
                processing
                we conducted prior to your withdrawal, nor will it affect processing of your personal information
                conducted
                in reliance on lawful processing grounds other than consent. You also have the right to opt-out of
                marketing
                communications we send you at any time. The SPRT MTRX generally provides you with a reasonable means to
                view
                and change your profile information and you can opt-out of marketing communications at any time by
                clicking
                on the &ldquo;unsubscribe&rdquo; or &ldquo;opt-out&rdquo; link in the marketing emails we send you or in
                your account settings. However, if you have any questions or concerns about the processing of your
                personal
                information, you may contact us as outlined in the &ldquo;Contact&rdquo; section below.&nbsp;</p>
              <ol start="5">
                <li><strong> DATA RETENTION AND ACCOUNT TERMINATION</strong></li>
              </ol>
              <p>You can close your account by informing us at&nbsp;<a
                  href="mailto:info@sprtmtrx.com">info@sprtmtrx.com</a>
                We will remove certain public posts from view and/or dissociate them from your account profile, but we
                may
                retain information about you for the purposes authorized under this Privacy Policy unless prohibited by
                law.
                For example, we may retain information to prevent, investigate, or identify possible wrongdoing in
                connection with the SPRT MTRX or to comply with legal obligations.&nbsp;</p>
              <ol start="7">
                <li><strong> SECURITY</strong></li>
              </ol>
              <p>We use various safeguards to protect the personal information submitted to us, both during transmission
                and
                once we receive it. However, no method of transmission over the Internet or via mobile device, or method
                of
                electronic storage, is 100% secure. Therefore, while we strive to use commercially acceptable means to
                protect your personal information, we cannot guarantee its absolute security.</p>
              <ol start="8">
                <li><strong> CONTACT</strong></li>
              </ol>
              <p>You may contact us at <a href="mailto:info@sprtmtrx.com">info@sprtmtrx.com</a>&nbsp;concerning our
                Privacy
                Policy.</p>
              <p>We will take such steps as we deem necessary to confirm your identity before sharing any personal data
                with
                you. We will respond to proper and confirmed requests relating to personal data within 30 days, or as
                otherwise required by applicable law.</p>
              <ol start="9">
                <li><strong> MODIFICATIONS TO THIS PRIVACY POLICY</strong></li>
              </ol>
              <p>We may revise this Privacy Policy from time to time. The most current version of the Privacy Policy
                will
                govern our collection, use, and disclosure of information about you and will be located here. If we make
                material changes to this Privacy Policy, we will notify you by email or by posting a notice on the SPRT
                MTRX
                prior to or on the effective date of the changes. By continuing to access or use the SPRTMTRX after
                those
                changes become effective, you acknowledge the revised Privacy Policy.</p>
              <ol start="10" style="margin-left: 9px;">
                <li><strong> INTERNATIONAL DATA TRANSFER</strong></li>
              </ol>
              <p>For residents of the EEA or Switzerland, please note that the personal data information we obtain from
                or
                about you may be transferred, processed and stored outside of the EEA or Switzerland for the purposes
                described in this Privacy Policy, including in the United States of America. We take the privacy of our
                users seriously and therefore take steps to safeguard your information, including ensuring an adequate
                level
                of data protection in accordance with E.U. standards. These include implementing the European
                Commission&rsquo;s Standard Contractual Clauses for transfers of personal information between our group
                companies, which require all group companies to protect personal information they process from the EEA
                in
                accordance with European Union data protection laws. We have implemented similar appropriate safeguards
                with
                our third party service providers and partners and further details can be provided upon request.</p>
            </section>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>