@import './../../theme/new-variables.scss';

ol {
  padding-left: 15px;
  font-size: 14px;

  @media #{$tablet} {
    font-size: 16px;
  }
}

p,
li {
  line-height: 1.6;
  font-size: 14px;

  @media #{$tablet} {
    font-size: 16px;
  }
}