@import '../../../../theme/new-variables.scss';

:host {
  ::ng-deep {
    .forgot-wrapper {
      .icon {
        --stroke: #621B1D;
        width: 8px;
        height: 9px;
        margin-right: 10px;
      }
    }
    .btn-icon-wrapper {
      .btn-icon {
        .icon {
          width: 17px;
          height: 17px;
        }
      }
    }
  }
}

.btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 11px;
    // font-size: 1.3vh;
    font-family: $IM;
    margin: 0;
    text-transform: uppercase;

    @media #{$tablet} {
      font-size: 16px;
    }
  }

  .btn-default {
    &+.btn-icon-wrapper {
      margin-top: 0;
    }
  }

  .btn-icon-wrapper {
    margin: 12px 0 10px;

    @media #{$tablet} {
      zoom: 1.25;
    }

    & + .btn-icon-wrapper {
      margin: 0 0 20px;
    }
  }
}

.btn-default {
  margin: 10px 0 15px;

  @media #{$tablet} {
    zoom: 1.25;
  }

  @media #{$mobileXs} {
    margin-top: 25px; 
  }
}

.forgot-wrapper {
  color: $secondary-text-color;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

  p {
    font-size: 12px;
    // font-size: 1.4vh;
    font-family: $RM;
    text-transform: uppercase;
    margin: 0;

    @media #{$tablet} {
      font-size: 16px;
    }
  }
}