<ion-content class="ion-no-padding">
  <div class="main">
    <form [formGroup]="LoginForm" (submit)="login()">
      <ion-card no-margin>
        <ion-card-content>
          <ion-row class="row">
            <div class="fire-logo">
              <img src="assets/app_logo.png" class="img-logo ion-padding">
              <img src="assets/slogan.png" class="img-logo ion-no-padding" style="width: 50%;">
            </div>
          </ion-row>
          <ion-row class="row ion-margin-bottom">
            <app-banner></app-banner>
          </ion-row>
          <ion-row>
            <ion-col [ngClass]="LoginForm.controls['email'].touched && LoginForm.controls['email'].hasError('required') ||
           (LoginForm.controls['email'].hasError('pattern') && LoginForm.controls['email'].touched) ? 
          'hasError' : '' || LoginForm.controls['email'].valid ? 'validField' : ''">
              <ion-input clearInput type="email" placeholder="Email" name="email" formControlName="email"
                class="input ion-padding-horizontal" clear-input="true" inputmode=”email” [enterkeyhint]="LoginForm.valid ? 'go' : ''"></ion-input>
              <small class="error-validation"
                *ngIf="LoginForm.controls['email'].hasError('required') && LoginForm.controls['email'].touched">
                This field is required.
              </small>
              <small class="error-validation"
                *ngIf="LoginForm.controls['email'].hasError('pattern') && LoginForm.controls['email'].touched">
                Please enter valid e-mail address.
              </small>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col [ngClass]="(LoginForm.controls['password'].hasError('required') && LoginForm.controls['password'].touched ||
          LoginForm.controls['password'].hasError('pattern') && LoginForm.controls['password'].touched) ? 'hasError' : '' || 
          LoginForm.controls['password'].valid ? 'validField' : ''">
              <div class="input-password-wrapper">
                <ion-input clearInput [type]="!isVisible ? 'password' : 'text'" placeholder="Password" name="password"
                  formControlName="password" class="input ion-padding-horizontal" clear-input="true"
                  [enterkeyhint]="LoginForm.valid ? 'go' : ''"></ion-input>
                <ion-icon slot="end" name="eye-off" [name]="!isVisible ? 'eye-off' : 'eye'"
                  (click)="isVisible = !isVisible"></ion-icon>
              </div>

              <small class="error-validation"
                *ngIf="LoginForm.controls['password'].hasError('required') && LoginForm.controls['password'].touched">
                This field is required.
              </small>
              <small class="error-validation"
                *ngIf="LoginForm.controls['password'].hasError('pattern') && LoginForm.controls['password'].touched">
                The password must be from 6 to 32 characters, include at least 1 number, one small and one large letter
              </small>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button class="default-button" [disabled]="!LoginForm.valid" type="submit" >Login</button> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="ion-text-center no-horizontal-padding" >
                <ion-button type="button" color="dark" size="small" fill="outline" (click)="demo()">Guest Access</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="ion-text-center error">{{error}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="block ion-text-center">Don't have an account yet ?
                <a class="bold link" routerLink="/signup">Sign up here</a></ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text (click)="router.navigate(['forgot'])" class="block bold ion-text-center">Forgot Password</ion-text>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="capacitor.getPlatform() === 'web'">
            <ion-col class="ion-text-center">
              <a [hidden]="platform.is('ios')"  href ="https://play.google.com/store/apps/details?id=com.livecurrent.sprtmtrx" target="blank">
              <div class="ion-text-center" style="display: inline; margin: 0 10px;">
                  <img style="max-height: 40px;" src="/assets/googleplay.png"/>
              </div>
              </a>
              <a [hidden]="platform.is('android')" href="https://apps.apple.com/app/sprt-mtrx/id1488373981" target="blank">
              <div class="ion-text-center" style="display: inline; margin: 0 10px;">
                  <img style="max-height: 40px;" src="/assets/appstore.png"/>
              </div>
              </a>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center footer">
      A Live Current™ Media, Inc. Production
    </ion-title>
  </ion-toolbar>
</ion-footer>