<ion-content class="auth-wrap" slot="fixed">
  <div class="main bg">
    <div class="logo-box">
      <app-ico-svg [class]="'logo inverse'" [src]="'/assets/imgs/logo.svg#'" [id]="'Logo'"></app-ico-svg>
      <app-card [title]="'Log in'" (onCancel)="cancel()">
        <div class="logo-box-img">
          <app-ico-svg [id]="'IcoSignIn'"></app-ico-svg>
        </div>
        <form [formGroup]="LoginForm">
          <div class="form-group" [ngClass]="LoginForm.controls['email'].touched && LoginForm.controls['email'].hasError('required') ||
           (LoginForm.controls['email'].hasError('pattern') && LoginForm.controls['email'].touched) ? 
          'hasError' : '' || LoginForm.controls['email'].valid ? 'validField' : ''">
            <div class="input-wrapper">
              <ion-input type="email" placeholder="Email" name="email" formControlName="email"
                class="input ion-padding-horizontal" inputmode=”email” [enterkeyhint]="LoginForm.valid ? 'go' : ''">
              </ion-input>
              <div class="input-icon">
                <app-ico-svg [id]="'IcoLetter'"></app-ico-svg>
              </div>
            </div>
            <!-- <small class="error-validation"
              *ngIf="LoginForm.controls['email'].hasError('required') && LoginForm.controls['email'].touched">
              This field is required.
            </small>
            <small class="error-validation"
              *ngIf="LoginForm.controls['email'].hasError('pattern') && LoginForm.controls['email'].touched">
              Please enter valid e-mail address.
            </small> -->
          </div>
          <div class="form-group" [ngClass]="(LoginForm.controls['password'].hasError('required') && LoginForm.controls['password'].touched ||
          LoginForm.controls['password'].hasError('pattern') && LoginForm.controls['password'].touched) ? 'hasError' : '' || 
          LoginForm.controls['password'].valid ? 'validField' : ''">
            <div class="input-wrapper">
              <ion-input (keyup.enter)="login()" [type]="!isVisible ? 'password' : 'text'" placeholder="Password"
                name="password" formControlName="password" class="input ion-padding-horizontal"
                [enterkeyhint]="LoginForm.valid ? 'go' : ''"></ion-input>
              <div class="input-icon">
                <app-ico-svg [id]="'IcoLock'" [class]="'icon lock'"></app-ico-svg>
              </div>
            </div>

            <!-- <small class="error-validation"
              *ngIf="LoginForm.controls['password'].hasError('required') && LoginForm.controls['password'].touched">
              This field is required.
            </small>
            <small class="error-validation"
              *ngIf="LoginForm.controls['password'].hasError('pattern') && LoginForm.controls['password'].touched">
              The password must be from 6 to 32 characters, include at least 1 number, one small and one large
              letter
            </small> -->
          </div>
          <div class="btn-wrap">
            <button type="button" class="btn-default" (click)="login()">Log In</button>
            <div routerLink="/forgot" class="forgot-wrapper">
              <app-ico-svg [id]="'IcoLock'"></app-ico-svg>
              <p>Forgot password</p>
            </div>
            <div (click)="googleSignIn()" class="btn-icon-wrapper">
              <div class="btn-icon">
                <app-ico-svg [id]="'IcoGoogle'"></app-ico-svg>
              </div>
              <div class="btn-text">Enter</div>
            </div>
            <div *ngIf="['web', 'ios'].includes(capacitor.getPlatform())" (click)="appleSignIn()" class="btn-icon-wrapper">
              <div class="btn-icon">
                <app-ico-svg [id]="'IcoApple'"></app-ico-svg>
              </div>
              <div class="btn-text">Enter</div>
            </div>
          </div>

          <div class="btn-wrap">
            <p>NEED AN ACCOUNT?</p>
            <div class="btn-icon-wrapper" routerLink="/signup">
              <div class="btn-icon">
                <app-ico-svg [id]="'IcoLetter'"></app-ico-svg>
              </div>
              <div class="btn-text">REGISTER</div>
            </div>
          </div>

          <!-- <ion-row>
            <ion-col size="12" class="ion-text-center no-horizontal-padding">
              <ion-button type="button" color="dark" size="small" fill="outline" (click)="demo()">Guest Access
              </ion-button>
            </ion-col>
          </ion-row> -->

          <!-- <ion-row *ngIf="capacitor.getPlatform() === 'web'">
            <ion-col class="ion-text-center">
              <a [hidden]="platform.is('ios')"
                href="https://play.google.com/store/apps/details?id=com.livecurrent.sprtmtrx" target="blank">
                <div class="ion-text-center" style="display: inline; margin: 0 10px;">
                  <img style="max-height: 40px;" src="/assets/googleplay.png" />
                </div>
              </a>
              <a [hidden]="platform.is('android')" href="https://apps.apple.com/app/sprt-mtrx/id1488373981"
                target="blank">
                <div class="ion-text-center" style="display: inline; margin: 0 10px;">
                  <img style="max-height: 40px;" src="/assets/appstore.png" />
                </div>
              </a>
            </ion-col>
          </ion-row> -->
        </form>
      </app-card>
    </div>
    <app-navigate (onSubmit)="login()" [disabled]="!LoginForm.valid"></app-navigate>
  </div>
</ion-content>