<div class="popupMessageWrapper">
  <ion-header mode="ios">
    <ion-toolbar color="dark">
      <ion-title>
        MessageBox
      </ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="modalController.dismiss()">
          <!-- <ion-icon  name="arrow-back"></ion-icon> -->
          <ion-icon slot="icon-only" name="arrow-back-sharp"></ion-icon>
        </ion-button>

      </ion-buttons>
      <ion-buttons slot="end">
        <div *ngIf="chat && !chat.private">
          <ion-button (click)="changeChatInfo(chat)" *ngIf="chat.admin">
            <ion-icon size="small" slot="icon-only" name="cog" color="success"></ion-icon>
          </ion-button>
        </div>
        <ion-button (click)="manageChat($event, true)" *ngIf="chat && chat.admin && !chat.private">
          <ion-icon size="small" slot="icon-only" name="person-add" color="warning"></ion-icon>
        </ion-button>
        <ion-button (click)="manageChat($event, false)" *ngIf="chat && !chat.admin && !chat.private">
          <ion-icon size="small" slot="icon-only" name="people" color="warning"></ion-icon>
        </ion-button>
        <ion-button (click)="modalController.dismiss()" *ngIf="platform.is('ios') || platform.is('desktop')">
          <ion-icon size="small" slot="icon-only" name="close" style="font-size: 20px; float: right;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-align-items-center ion-justify-content-center ion-text-center">
    <div class="chat-wrapper-avatar">
      <div class="headerTitle" *ngIf="chat && !chat.private">
        <div>
          <ion-avatar>
            <div class="img" [ngStyle]="{ 'background-image': 'url(' + chat.groupPhoto  + ')'}"></div>
          </ion-avatar>
        </div>
        <div class="titleGroup">
          <div class="groupName">
            <span>{{ chat.groupName || 'New group' }}</span>
          </div>
          <!-- <span>Members: {{ chat['users']?.length }}</span> -->
        </div>
      </div>
      <ng-container>
        <div class="avatar-box" *ngIf="!chat || chat.private">
          <div class="item" *ngFor="let user_uid of chatUsers; last as isLast;">
            <app-user [name]="users[user_uid]?.name" [src]="users[user_uid]?.photoURL" [id]="user_uid"
              [challengesWon]="users[user_uid]?.stats?.challengesWon" [color]="users[user_uid]?.color"></app-user>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="chat-wrapper">

      <ion-list id="scrollChat">
        <ng-container *ngFor="let message of messages, let i = index">
          <div class="date" *ngIf="uniqueDate(message, messages[i - 1])">
            {{ uniqueDate(message, messages[i - 1]) }}</div>
          <ion-item lines="none" *ngIf="!message.joined"
            class="{{message.sender === user.uid && !message.joined ? 'align-right' : ''}}">
            <!-- <pre>{{chat?.private}}</pre>
          <pre>{{dateJoined}}</pre> -->
            <ng-container *ngIf="chat || chat?.private || dateJoined && message.created.toDate() > dateJoined.toDate()">
              <!--!chat ???-->
              <div class="message-wrap" [ngStyle]="{'marginTop': ''}">
                <div *ngIf="message.sender !== user.uid && !message.joined" class="avatar"
                  (click)="userInfo(message.sender)" [ngStyle]="{'border-color': users[message.sender]?.color}">
                  <div
                    [ngStyle]="{'background-image': 'url(' + (users[message.sender]?.photoURL||constants.AVATAR_DEMO) + ')'}">
                  </div>
                </div>
                <div *ngIf="message.sender === user.uid" class="avatar" (click)="userInfo(message.sender)"
                  [ngStyle]="{'border-color': user?.color}">
                  <div [ngStyle]="{'background-image': 'url(' + (user?.photoURL || constants.AVATAR_DEMO) + ')'}">
                  </div>
                </div>
                <div class="chat-item" style="border-top-left-radius: 0;" *ngIf="!message.joined">
                  <span class="time">{{ message.created.toDate() | date:'H:mm' }}</span>
                  <ion-chip color="{{message.sender === user.uid ? 'primary' : ''}}"
                    [ngClass]="message.sender === user.uid ? 'sender' : 'recepient'">
                    <ion-note *ngIf="message.sender != user.uid">
                      {{users[message.sender]?.name}}
                    </ion-note>
                    <ion-note *ngIf="message.sender === user.uid">
                      {{user.displayName}}
                    </ion-note>
                    <ion-label class="ion-text-wrap" [innerHtml]="message.text | mention: users"></ion-label>

                  </ion-chip>
                </div>
              </div>

            </ng-container>

            <div class="joined-message"
              *ngIf="message.joined && dateJoined && message.created.toDate() > dateJoined.toDate()">
              <p>{{users[message.sender]?.name || 'You'}} has joined the group</p>
            </div>
          </ion-item>
        </ng-container>
      </ion-list>
      <div class="sent-bubble" *ngIf="showSentBubble">
        <ion-chip>
          <span *ngIf="userTyping.length === 1">
            {{ users[userTyping[0]['uid']]?.name }} writes</span>
          <span *ngIf="userTyping.length > 1">{{ userTyping.length }} people write</span>
          <div class="point_animation">
            <span>.</span>
            <span>.</span>
            <span>.</span>
          </div>
        </ion-chip>
      </div>
    </div>
  </ion-content>
  <div class="footer ion-margin-bottom mention">
    <!-- <ion-toolbar size="small"> -->
    <div style="width: 100%; display: flex;" *ngIf="!hiddenBlock">
      <div class="mention-wrapper">
        <ng-container>
          <ion-input class="input-control" #focusInput [(ngModel)]="message" (input)="transformText($event)"
            (keyup)="sendMessage($event)" (focusout)="sendMessage($event.target.value)" placeholder="Type a message"
            enterkeyhint="send"></ion-input>
          <ion-buttons slot="end">
            <ion-button class="send" (click)="sendMessage($event)">
              <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ng-container>

        <app-mention *ngIf="mentions?.length" (onSelected)="selectedMention($event)" [data]="mentions"></app-mention>
      </div>

    </div>
    <ion-buttons class="block-buttons" *ngIf="hiddenBlock">
      <div class="ion-padding-horizontal">
        <ion-button (click)="addFriend(recepientId)" color="dark" size="small" fill="outline"
          class="ion-text-uppercase">
          <ion-icon size="small" name="person-add" color="success"></ion-icon>
          add friend
        </ion-button>
        <ion-button (click)="deleteChat(chatId, chat.private); modalController.dismiss()" color="dark" size="small"
          fill="outline" class="ion-text-uppercase">
          <ion-icon size="small" name="close-circle" color="warning"></ion-icon>
          Dismiss
        </ion-button>
        <ion-button (click)="blockedFriend(recepientId, true); modalController.dismiss()" color="dark" size="small"
          fill="outline" class="ion-text-uppercase">
          <ion-icon size="small" name="hand-left" color="danger"></ion-icon>
          block user
        </ion-button>
      </div>
      <ion-button class="close" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- </ion-toolbar> -->

  </div>
</div>