@import "../../../theme/variables.scss";
@import "../../../theme/new-variables.scss";

ion-toolbar.ion-color-dark {
    --ion-color-base: #8CC63F !important;
    --ion-color-base-rgb: #8CC63F !important;
    --ion-color-contrast-rgb: #8CC63F !important;
    --ion-color-shade: #8CC63F !important;
    --ion-color-tint: #8CC63F !important;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

ion-content {
  overflow: hidden;
  --overflow: hidden;
}

.date {
  height: 24px;
  border: 1px solid #cfcfcf;
  border-radius: 65px;
  padding: 0 18px; 
  font-size: 10px;
  font-family: $RR;
  display: inline-block;
  line-height: 21px;
}

.chat-wrapper {
  overflow-y: auto;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px 0 0;

  @media #{$tablet} {
    zoom: 1.25;
  }

  ion-list {
    padding: 0 0 40px;
  }
  &-avatar {
    background: #EDEDED;
    border-radius: 4px;
    // width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    .avatar {
      width: 34px;
      height: 34px;
    }

    ion-avatar {
      width: 34px;
      height: 34px;
      border: 2px solid #fff;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      display: block;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      border-radius: 50%;
  
      label {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        z-index: 0;
        overflow: hidden;
      }
  
      .img {
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
      }
  
      .overlay {
        .overlay-box {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          font-size: 10px;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-weight: 500;
          text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          background: rgba(0, 0, 0, 0.3);
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s;
          z-index: 2;
          &:hover {
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}

.scroll-content {
  overflow: hidden;
}

.popupMessageWrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  height: 100%;
}

.headerTitle {
  display: flex;
  align-items: center;
  padding-left: 15px;
  .titleGroup {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;

    & > span {
      font-size: 11px;
      font-weight: normal;
      color: $primary-theme-color;
      display: block;
      margin-top: 3px;
    }
    button {
      width: 16px;
      height: 16px;
      border-radius: 3px;
      padding: 0;
      background: transparent;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1) inset;
      margin-left: 5px;
      border: 1px solid #e3e3e3;

      ion-icon {
        margin: 0;
        font-size: 13px;
      }
    }
  }

  .groupName {
    font-size: 16px;
    font-family: $RMB;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;

    ion-icon {
      color: $primary-theme-color;
    }
  }

  .groupName_input {
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    input {
      font-size: 15px;
      padding: 0 10px;
      border: 1px solid #eee;
      font-weight: normal;
      margin-right: 5px;
      height: 32px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    // ion-icon {
    //   margin-left: 5px;
    // }
  }
}

.avatar-box {
  display: flex;
  overflow-x: auto;
  padding-left: 15px;

  &.transform {
    .avatar {
      & + .avatar {
        margin-left: -7px;
      }
    }
  }

  .item {
    display: flex;
    align-items: center;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    .name {
      margin-left: 5px;
      font-size: 14px;
    }
  }
}

.list-ios {
  margin-bottom: 5px;
}
ion-item {
  --min-height: auto;
  margin-bottom: 10px;
  --padding-start: 10px;
}
@media only screen and (max-height: 500px) {
  ion-item {
    --min-height: 39px;
  }
}

.message-wrap {
  display: flex;
  align-items: flex-end;
}

.align-right {
  display: grid;
  justify-content: right;
  .message-wrap {
    justify-self: flex-end;
    flex-direction: row-reverse;
  }
}

.avatar {
  min-width: 30px;
  width: 34px;
  height: 34px;
  margin: 2px 4px 4px 2px;
  border: 2px solid #fff;
  position: relative;
  overflow: hidden;
  display: inline-block;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  display: grid;

  div,
  a {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

ion-chip {
  background: #ececec;
  border-radius: 8px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;

  &.recepient {
    border-bottom-left-radius: 0;
  }
  &.sender {
    border-bottom-right-radius: 0;
    background: rgba(215, 243, 223);

    ion-label {
      color: #4e4e4e;
    }
  }

  ion-note {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
  }

  ion-label {
    color: #6b6b6b;
    font-family: $RR;
    font-size: 14px;
    line-height: 16px;
  }
}

.chat-item {
  // margin-top: 10px;
  max-width: calc(100% - 40px);

  .time {
    display: block;
    font-size: 9px;
    text-align: right;
    margin: 0 4px;
  }
}

.sent-bubble {
  display: flex;
  text-align: left;
  position: absolute;
  bottom: 0;

  ion-chip {
    display: block;
    border-top-left-radius: 0;
    font-size: 12px;
    font-style: italic;
    color: #939393;
  }
}

ion-footer {
  margin: 0;
  ion-toolbar {
    padding: 0 10px 0 0;
    & > div {
      display: flex;
      // padding: 0 10px;
    }
  }
  .input-control {
    background: transparent;
  }
  .send {
    width: 32px;
    height: 32px;
    --padding-bottom: 8px;
    --padding-end: 8px;
    --padding-start: 8px;
    --padding-top: 8px;
    margin-left: 5px;
  }
}

.footer-ios ion-toolbar:first-of-type {
  --border-width: 0;
}

@media only screen and (max-width: 575px) {
  ion-footer {
    ion-toolbar {
      & > div {
        padding: 0 5px;
      }
    }

    ion-input {
      font-size: 14px;
    }

    ion-button {
      ion-icon {
        font-size: 24px;
      }
    }
  }
}

ion-content {
  .block-buttons {
    height: auto;

    & + .chat-wrapper {
      padding-top: 52px;
    }
  }
}
.block-buttons {
  padding: 0 4px;
  background: #f5f5f5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 1), 0px -2px 2px rgba(0, 0, 0, 1);

  @media #{$miniMobile} {
    --ion-padding: 0;
  }
  ion-button {
    font-size: 9px;
    --border-width: 1px;

    &.close {
      font-size: 12px;

      @media #{$miniMobile} {
        height: 32px;
        width: 32px;
      }
    }

    ion-icon {
      margin-right: 5px;
    }
  }

  & > div {
    display: flex;
  }
}

.point_animation {
  display: inline-block;
  span {
    animation: points 3s infinite ease-in-out;

    &:nth-child(2) {
      animation-delay: 0.5s;
    }

    &:nth-child(3) {
      animation-delay: 1s;
    }
  }
}

@keyframes points {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.joined-message {
  text-align: center;
  width: 100%;
  padding: 10px;

  p {
    color: #c7c7c7;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
  }
  // ion-button {
  //   font-size: 9px;
  //   --border-width: 1px;

  //   &.close {

  //     @media #{$miniMobile} {
  //       height: 32px;
  //       width: 32px;
  //     }
  //   }
  // }
}
