@import "../../theme/variables.scss";

.video-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  max-height: 90%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  @media #{$miniMobile} {
    max-width: 100%;
    max-height: 100%;
  }

  @media #{$landscape} {
    max-width: inherit;
    max-height: 100%;
    width: auto;
  }
  img {
    width: auto;
    height: 100%;
    @media #{$miniMobile} {
      width: auto;
      height: 100%;
    }

    @media #{$landscape} {
      width: auto;
      height: 100%;
    }
  }
}
