<ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="without-btn">
      how to play
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="video-wrapper">
    <div class="video">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/betting-game-hockey.appspot.com/o/tutorial%2Fslide-4_IpX_clear4.gif?alt=media&token=f4ebe2ba-96bd-4e33-be35-2d6d3fb8d31b"
        alt="">
    </div>
  </div>
</ion-content>