@import "../../../../../theme/new-variables.scss";


:host {
  ::ng-deep {
    .icon {
      width: 32px;
      height: 32px;

      @media #{$tablet} {
        width: 42px;
        height: 42px;
      }
    }
  }
}

.navigate-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  app-ico-svg {
    margin-top: 12px;
  }
}