<!-- <ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-title [ngClass]="{'without-btn' : challenge.name}">
      {{challenge?.name || sport || 'Challenges'}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" click-nav>
      <ion-button *ngIf="!challenge || !challenge.name" (click)="router.navigate(['/invite/' + sport])" fill="solid"
        size="small" color="success" class="private-btn">
        PRIVATE GAME</ion-button>
      <ion-button *ngIf="challenge && challenge.name && capacitor.getPlatform() !== 'web'"
        (click)="myapp.addScreenshot()">
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<app-header [showAmount]="false"></app-header>
<style>
  @media only screen and (min-width: 640px) {
    .x640 {
      width: 50%;
    }
  }

  @media only screen and (min-width: 321px) {
    ion-row.finalist {
      font-weight: bold !important;
      font-size: 75% !important;
    }

    ion-col.finalist {
      font-weight: bold !important;
      font-size: 75% !important;
      width: 40px;
    }
  }

  .no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
  }

  ion-row.finalist {
    border-bottom: solid 2px #dddddd;
    font-size: 70%;
  }

  ion-input {
    font-size: 80%;
    --padding-start: 0;
    --padding-end: 0;
  }

  ion-col.finalist ion-input {
    font-size: 100% !important;
  }

  ion-col.finalist {
    border-right: solid 2px #dddddd;
    font-size: 70%;
  }

  ion-row.underline {
    border-bottom: solid 1px #dddddd;
  }
</style>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="6" size-lg="8" size-md="10">
        <ion-refresher slot="fixed" (ionRefresh)="doRefreshChallenge($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

        <div *ngIf="challenges && (!challenge || !challenge.name)">
          <ion-list-header>
            <ion-label>{{challenges && challenges.length ? 'Pick Your Challenge' : ('No
              '+( sport ? sport : (router.url.indexOf('nfl')!==-1?'NFL':'NHL') ) +' Challenges Available')}}
            </ion-label>
          </ion-list-header>

          <section *ngFor="let startKey of linksSorted; let i = index;" [hidden]="i>20" class="full-width">
            <ion-button click-nav
              *ngIf="links[startKey]['inviteId'] && (invites[links[startKey]['inviteId']] && invites[links[startKey]['inviteId']]['start']['seconds']*1000 > (date.now() - 4*30*24*60*60000))"
              color="{{(invites[links[startKey]['inviteId']] && invites[links[startKey]['inviteId']]['start']['seconds']*1000 < (date.now() - 4*60*60000))?'medium':'red'}}"
              expand="block" class="ion-margin-top game-btn">

              <div class="icons-wrap icons-wrap-left">
                <ion-icon *ngIf="isWinning(invites[links[startKey]['inviteId']])" name="trophy-outline" slot="end">
                </ion-icon>
                <ion-icon
                  *ngIf="!isWinning(invites[links[startKey]['inviteId']]) && invites[links[startKey]['inviteId']].bids && invites[links[startKey]['inviteId']].games[0] && invites[links[startKey]['inviteId']].bids[invites[links[startKey]['inviteId']].games[0]] && invites[links[startKey]['inviteId']].bids[invites[links[startKey]['inviteId']].games[0]][user.uid]"
                  slot="end" name="checkmark-circle-outline" color="success"></ion-icon>
              </div>

              <div class="button-wrapper"
                (click)="router.navigate([ ((invites[links[startKey]['inviteId']].bids && invites[links[startKey]['inviteId']].games[0] && invites[links[startKey]['inviteId']].bids[invites[links[startKey]['inviteId']].games[0]] && invites[links[startKey]['inviteId']].bids[invites[links[startKey]['inviteId']].games[0]][user.uid]) ? '/bid/0/' : '/detail/0/') + invites[links[startKey]['inviteId']].games[0] + '/invite/' + invites[links[startKey]['inviteId']].id])">
                <div class="title">{{invites[links[startKey]['inviteId']]?.name}}</div>
                <div>
                  <span class="date">{{invites[links[startKey]['inviteId']]?.start.seconds*1000 | date:'M/d/yy HH:mm'
                    }}</span>
                  -
                  <span class="amount">{{invites[links[startKey]['inviteId']]?.text}}</span>
                </div>
              </div>

              <div class="icons-wrap icons-wrap-right">
                <ion-icon *ngIf="isInviteAdmin(invites[links[startKey]['inviteId']])"
                  color="{{(invites[links[startKey]['inviteId']] && invites[links[startKey]['inviteId']]['start']['seconds']*1000 < (date.now() - 4*60*60000))?'danger':'dark'}}"
                  slot="end" name="create-outline"></ion-icon>
                <ion-icon color="success" *ngIf="invites[links[startKey]['inviteId']].bids"
                  (click)="shareInviteGame( '/bid/0/' + invites[links[startKey]['inviteId']].games[0] + '/invite/' + invites[links[startKey]['inviteId']].id)"
                  name="share-social-outline"></ion-icon>
              </div>

            </ion-button>
            <div class="animate-btn">
              <ion-button click-nav
                *ngIf="links[startKey]['challengeId'] && challenges[links[startKey]['challengeId']] && (challenges[links[startKey]['challengeId']] && challenges[links[startKey]['challengeId']]['start']['seconds']*1000 > (date.now() - 4*30*24*60*60000))"
                (click)="router.navigate(['/'+challenges[links[startKey]['challengeId']]['sport']+'/' + links[startKey]['challengeId']])"
                color="{{(challenges[links[startKey]['challengeId']] && challenges[links[startKey]['challengeId']]['start']['seconds']*1000 < (date.now() - 24*60*60000))?'medium':'red'}}"
                expand="block" class="ion-margin-top game-btn ">
                <div class="button-wrapper">
                  <div class="title">{{challenges[links[startKey]['challengeId']]?.name}}</div>
                  <div>
                    <span class="date">{{challenges[links[startKey]['challengeId']]?.start.seconds*1000 | date:'M/d/yy
                      HH:mm' }}</span>
                    -
                    <span class="amount">{{challenges[links[startKey]['challengeId']]?.text}}</span>
                  </div>
                </div>
                <ion-icon *ngIf="isUserBids(challenges[links[startKey]['challengeId']])" slot="end"
                  name="checkmark-circle-outline" color="success"></ion-icon>
              </ion-button>
              <div class="amount_bubble"
                *ngIf="challenges[links[startKey]['challengeId']]?.amount && challenges[links[startKey]['challengeId']]&&challenges[links[startKey]['challengeId']]['start']['seconds']*1000 > (date.now() - 24*60*60000)">
                <p>$<span>{{challenges[links[startKey]['challengeId']]?.amount}}</span></p>
              </div>
            </div>

          </section>

          <section class="full-width ion-no-margin">
            <ion-grid class="ion-text-start box-bg">
              <ion-row style="min-height: 65px;">
                <ion-col>&nbsp;</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1" class="ion-text-center"></ion-col>
                <ion-col size="10" class="ion-text-center">
                  <div class="quote">
                    <p style="font-style: italic;">"{{ quote['text'] }}"</p>
                    <p class="bold">{{ quote['title'] }}</p>
                    <p class="lite">{{ quote['descr'] }}</p>
                  </div>
                </ion-col>
                <ion-col size="1" class="ion-text-center"></ion-col>
              </ion-row>
              <ion-row style="min-height: 65px;">
                <ion-col>&nbsp;</ion-col>
              </ion-row>
            </ion-grid>
          </section>

        </div>

        <ion-list-header id="games" click-nav [hidden]="!timer">
          <ion-label style="white-space: pre-line">The Challenge Starts In:
            <div class="timer-wrapper">
              <div class="timer">
                <p>{{timer}}</p>
              </div>
            </div>
          </ion-label>
        </ion-list-header>

        <ion-list-header id="games" click-nav
          [hidden]="!games||!challenge?.name||objectKeys(stats||{}).length||(getChallengeGamesSubmitted().length==(challenge['games']||{games: []})?.length)">
          <ion-label>Bid on EVERY Game&nbsp;
            <ion-icon (click)="router.navigate(['/rules'])" name="info" class="blue"></ion-icon>
          </ion-label>
        </ion-list-header>
        <ion-list [hidden]="!games||!challenge||!challenge.name||objectKeys(stats||{}).length">
          <ion-list-header class="ion-justify-content-center ion-no-padding">
            <ion-label *ngIf="false" style="font-size: medium;">
              {{getChallengeGamesSubmitted().length}}/{{(challenge['games']||{games: []})?.length}} Bids
              <div style="display: inline; font-size: 110%;"> -
                {{getChallengeGamesSubmitted().length==(challenge['games']||{games: []})?.length?'You\'re
                in!':'Submitted'}}
              </div>
              <ion-icon *ngIf="getChallengeGamesSubmitted().length==(challenge['games']||{games: []})?.length"
                name="checkmark-circle" color="success" slot="end" class="ion-no-margin"
                style="font-size: larger; vertical-align: sub;"></ion-icon>
            </ion-label>
          </ion-list-header>
          <!-- <ion-progress-bar *ngIf="challenge"
            color="{{getChallengeGamesSubmitted().length==(challenge['games']||{games: []})?.length?'success':'danger'}}"
            value="{{getChallengeGamesSubmitted().length/(challenge['games']||{games: []})?.length}}">
          </ion-progress-bar> -->
        </ion-list>

        <ion-list-header *ngIf="objectKeys(stats||{}).length&&users&&challenges[challenge_id]" color="medium" id="games"
          style="margin-top: 20px;">
          <ion-label class="ion-text-center">{{!challenge_id ? 'All Time' : ''}} {{currentHidden ? 'Final
            Results':'Leaderboard'}}</ion-label>
        </ion-list-header>

        <section *ngIf="challengeStarted && tabWinners?.length && users" class="leader-section full-width"
          style="border-width: 0 0 1px 0; border-style: solid;">
          <ion-segment mode="ios" value="all" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="all">
              <ion-label>Players</ion-label>
            </ion-segment-button>
            <ion-segment-button value="current" [hidden]="currentHidden || isBidsMissing">
              <ion-label>Current</ion-label>
            </ion-segment-button>

            <ion-segment-button value="friends">
              <ion-label>Friends</ion-label>
            </ion-segment-button>
          </ion-segment>
          <ion-grid class="ion-text-start box-bg">
            <ion-row class="" style="font-size: 90%; font-weight: bold;">
              <ion-col size-xs="2" size-sm="4" class="ion-text-center">Place</ion-col>
              <ion-col size-xs="7" size-sm="4">Player</ion-col>
              <ion-col size-xs="3" size-sm="4" class="ion-text-center">Wins</ion-col>
            </ion-row>
            <ion-row *ngFor="let winner of tabWinners; index as winner_uid"
              [hidden]="((segmentSelected === 'all' || segmentSelected === 'current') && (winner_uid > leadersCount && winner[0] !== user.uid)) ||
                                (segmentSelected === 'friends' && !isFriend(winner[0]) && winner[0] !== user.uid) || (isBidsMissing && (winner[0] === user.uid))">
              <ion-col size-xs="2" size-sm="4" class="ion-text-center win_amount"
                [innerHtml]="( segmentSelected === 'all' && challenge.amount && winner[1] === maxWin ) && 
                             ( challenge?.sport !== 'nba' || (challenge['games']||{games: []}).length === winner[1] ) ? 
                             '<div><span>$</span>' + math.round(challenge.amount / countWin) + '</div>' : winner_uid+1">
              </ion-col>
              <ion-col size-xs="7" size-sm="4">
                <app-user *ngIf="getUser(winner[0])" [name]="users[winner[0]]?.name || '......'"
                  [src]="getUrl(winner[0])" [id]="winner[0]" [challengesWon]="users[winner[0]]?.stats?.challengesWon"
                  [color]="(user && winner[0]==user.uid) ? 'red' : users[winner[0]]?.color" [games]="challengeGames"
                  [challenge_id]="challenge_id" [users]="users"></app-user>
              </ion-col>
              <ion-col size-xs="3" size-sm="4" class="ion-text-center win_amount">{{winner[1]}}</ion-col>
            </ion-row>
          </ion-grid>
          <ng-container *ngIf="segmentSelected === 'friends'">
            <div [hidden]="friendExist()" class="info">
              <p>You have no Friends.</p>
              <a routerLink="/friends">Add Friends</a>
            </div>
          </ng-container>

          <button class="show-more" *ngIf="tabWinners.length >= leadersCount" (click)="showMore()">
            <ng-container>Show more</ng-container>
          </button>
          <button class="show-more" *ngIf="tabWinners.length <= leadersCount" (click)="leadersCount = 9">
            <ng-container>Show less</ng-container>
          </button>
        </section>

        <!-- <app-snapchat *ngIf="user&&challenge_id" [setChallengeId]="challenge_id" [setSport]="sport"
          [setMyUid]="user?.uid"></app-snapchat> -->

        <div *ngIf="challenge_id  && finalistBids && objectKeys(finalistBids).length" style="margin: 0 0 10px"
          class="x640" class="ion-align-items-center ion-justify-content-center">
          <ion-list-header color="danger" id="games" class="bold checker-background" style="margin: 50px 0 20px 0;">
            <ion-label class="ion-text-center">Finalist Grid</ion-label>
          </ion-list-header>
          <div style="position: relative;">
            <h2 class="grid-title">{{finalGame?.teams.home.team.name}}</h2>
            <h2 class="grid-title transform">
              {{finalGame?.teams.away.team.name}}</h2>
            <ion-grid class="finalist" style="margin-top: 10px; margin-left: 20px; padding: 0;">
              <ion-row style="min-height: 36px;" class="finalist header iosheader" [hidden]="false">
                <ion-col size="12">
                  <ion-tabs class="ion-text-uppercase" style="top: auto; height: 36px;">
                    <ion-tab style="display: hidden;"></ion-tab>
                    <ion-tab-bar slot="bottom" style="height: 35px">
                      <ion-tab-button (click)="openTab('winning')" [selected]="bidSelected == 'winning'"
                        style="width: 5vh; height: 35px; position: relative;">
                        <div class="bold">
                          <ion-label>WIN</ion-label>
                        </div>
                      </ion-tab-button>
                      <ion-tab-button *ngFor="let b of finalistBids | keyvalue; index as i"
                        (click)="openTab(b.key, true)" [selected]="bidSelected == b.key"
                        [hidden]="fakeFinalist.includes(b.key)" style="width: 5vh; height: 35px; position: sticky;">
                        <div [ngStyle]="getUserColor(b.key, true)" class="bold">
                          <ion-label>{{ user.uid == b.key ? 'YOU' : (users[b.key] ? users[b.key].publicName:'Anon
                            #'+(i+1)) }}
                          </ion-label>
                        </div>
                      </ion-tab-button>
                    </ion-tab-bar>
                  </ion-tabs>
                </ion-col>
              </ion-row>
              <ion-row class="finalist" style="min-height: 30px;">
                <ion-col class="no-horizontal-padding">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-col>
                <ion-col *ngFor="let item of [].constructor(grid?.count); let col = index" class="ion-text-center">
                  <div class="font-normal" [innerHTML]="calcWinRangeMiltiplied(col, challenge?.sport)"></div>
                </ion-col>
              </ion-row>
              <ion-row class="ion-text-center underline"
                *ngFor="let item of [].constructor(grid?.count); let row = index" style="min-height: 41px;">
                <ion-col class="finalist">
                  <div class="ion-align-items-center ion-justify-content-center font-normal"
                    style="height: 100%; display: flex;" [innerHTML]="calcWinRangeMiltiplied(row, challenge?.sport)">
                  </div>
                </ion-col>
                <ion-col (click)="handleBid($event, row, col);"
                  *ngFor="let item of [].constructor(grid?.count); let col = index"
                  class="ion-align-items-center ion-justify-content-center"
                  class="{{((row<engineService.calcWinScoreMiltiplied(finalGame.linescore.teams.away.goals, scoreMultiplier, scoreShift)||col<engineService.calcWinScoreMiltiplied(finalGame.linescore.teams.home.goals, scoreMultiplier, scoreShift)) && (row != col || scoreMultiplier > 1)) ? 'cell-disabled' : '' }} "
                  style="font-size: 75%;">
                  <div class="cell">
                    <ng-container *ngFor="let uid of objectKeys(finalistBids)">
                      <div class="cell-label" *ngIf="finalistBids[uid].length && finalistBids[uid][row][col] !== 0 && ['winning', uid].includes(bidSelected) &&
                              checkFinalist(uid, row, col)" [ngStyle]="getUserColor(uid)">
                        {{finalistBids[uid][row][col]}}
                      </div>
                    </ng-container>
                    <div class="goal-wrap ">
                      <div class="{{getGoals(row,col)}}{{( finalGame.linescore && !['1'].includes(finalGame.status.statusCode) &&
                        row == ((engineService.calcWinScoreMiltiplied(finalGame.linescore.teams.away.goals, scoreMultiplier, scoreShift)>6?6:engineService.calcWinScoreMiltiplied(finalGame.linescore.teams.away.goals, scoreMultiplier, scoreShift)) || 0) && 
                        col == ((engineService.calcWinScoreMiltiplied(finalGame.linescore.teams.home.goals, scoreMultiplier, scoreShift)>6?6:engineService.calcWinScoreMiltiplied(finalGame.linescore.teams.home.goals, scoreMultiplier, scoreShift)) || 0) ) ? 
                        ' winner':''}}">
                        <ng-container *ngFor="let uid of objectKeys(finalistBids)">
                          <span *ngIf="finalistBids[uid].length && finalistBids[uid][row][col] !== 0 && ['winning', uid].includes(bidSelected) &&
                        checkFinalist(uid, row, col)">{{finalistBids[uid][row][col]}}</span>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="finalGame.status && !['1','6','7','9'].includes(finalGame.status.statusCode)"
                class="ion-margin-top">
                <ion-col size="12" class="ion-text-center">
                  Score: <div style="color: var(--ion-color-danger); display: inline;">{{ finalGame.teams.away.score }}
                    -
                    {{ finalGame.teams.home.score }}</div>, {{challenge?.sport==='nfl'?'Quarter':'Period'}}: <div
                    style="color: var(--ion-color-danger); display: inline;">
                    {{ finalGame.linescore.currentPeriod || '-' }}
                  </div>, Remaining: <div style="color: var(--ion-color-danger); display: inline;">
                    {{ finalGame.linescore.currentPeriodTimeRemaining || finalGame.status.detailedState || '-' }}</div>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="finalGame.status && ['6','7'].includes(finalGame.status.statusCode)"
                class="ion-margin-top">
                <ion-col size="12" class="ion-text-center">
                  Final:
                  <div style="color: var(--ion-color-danger); display: inline;">
                    {{ finalGame.teams.away.score }} - {{ finalGame.teams.home.score }}
                  </div>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="!['1'].includes(finalGame.status.statusCode) && userBids&&userBids[finalGame.gamePk]"
                class="finalist">
                <ion-col size="12" class="ion-text-center ion-margin-vertical">
                  {{!['1','6','7'].includes(finalGame.status.statusCode)?'Current ':''}}Winner:
                  <ng-container *ngFor="let uid of objectKeys(finalistBids)">
                    <div
                      *ngIf="finalistBids[uid].length && finalistBids[uid][engineService.calcWinScoreMiltiplied(finalGame.linescore.teams.away.goals, scoreMultiplier, scoreShift)>6?6:engineService.calcWinScoreMiltiplied(finalGame.linescore.teams.away.goals, scoreMultiplier, scoreShift)][engineService.calcWinScoreMiltiplied(finalGame.linescore.teams.home.goals, scoreMultiplier, scoreShift)>6?6:engineService.calcWinScoreMiltiplied(finalGame.linescore.teams.home.goals, scoreMultiplier, scoreShift)] !== 0"
                      (click)="$event.preventDefault();$event.stopPropagation()"
                      style="display: inline-block; margin-right: 5px;">
                      <app-user [name]="users[uid]?.name || '......'" [id]="uid"
                        [challengesWon]="users[uid]?.stats?.challengesWon" [color]="users[uid]?.color"></app-user>
                    </div>
                  </ng-container>
                  {{ ( challenge?.sport === 'nhl' && finalGame.teams.away.score === finalGame.teams.home.score )
                  || ( challenge?.sport === 'nfl' && finalGame.teams.away.score == 0 && finalGame.teams.home.score == 0
                  ) ? ' - '
                  : ''}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>

        <div class="info-box" *ngIf="challenge.info">
          <ion-icon name="information-circle-outline"></ion-icon>
          {{ challenge.info }}
        </div>

        <ion-list #scheduleList [hidden]="!challenge || !games" style="margin-bottom: 5px;">
          <ion-item-group *ngFor="let item of challengeGames; index as i" [hidden]="((i>1)&&!moreGames)"
            style="padding-bottom: 5px;">
            <ion-item-divider sticky>
              <ion-label>
                <div style="display: inline; position: absolute; top: 5px;">
                  {{item.date}}
                </div>
                <div [hidden]="i" style="display: inline; position: absolute; left: 50%; margin-left: -55px; top: 3px;">
                  {{getChallengeGamesSubmitted().length}}/{{(challenge['games']||{games: []})?.length}} Bids
                  <div style="display: inline; font-size: 110%;"> -
                    {{getChallengeGamesSubmitted().length==(challenge['games']||{games: []})?.length?'You\'re
                    in!':'Submitted'}}
                  </div>
                  <ion-icon *ngIf="getChallengeGamesSubmitted().length==(challenge['games']||{games: []})?.length"
                    name="checkmark-circle" color="success" slot="end" class="ion-no-margin"
                    style="font-size: larger; vertical-align: sub;"></ion-icon>
                </div>
              </ion-label>
            </ion-item-divider>
            <ion-item-sliding *ngFor="let game of item.games" #slidingItem [attr.track]="game.gamePk">
              <ion-item style="display: inherit" click-nav>
                <ion-label
                  (click)="router.navigate([( ( (!userBids||!userBids[game.gamePk])&&(!game||game.status.statusCode==1||game.status.statusCode==2)&&(!teams2[game.gamePk]||!teams2[game.gamePk][0].locked) ) ? '/detail/':'/bid/' ) +  ( (!userBids||!userBids[game.gamePk]) ? '0': userBids[game.gamePk][user.uid] ) +'/'+ game.gamePk+'/'+challenge_id])"
                  class="ion-no-margin">
                  <ion-grid class="challenge-games">
                    <ion-row>
                      <ion-col size="12">
                        <div class="ion-text-left ion-align-items-center"
                          style="display: inline-flex; min-width: 48%; white-space: nowrap !important; overflow: hidden; padding-left: 0; padding-right: 0;">
                          {{game.teams.away.team.name}}
                        </div>
                        @
                        <div class="ion-text-right ion-align-items-center"
                          style="display: inline-block; min-width: 48%; white-space: nowrap !important; overflow: visible;">
                          {{game.teams.home.team.name}}
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="game.status && ['1'].includes(game.status.statusCode)">
                      <ion-col size="6" class="ion-text-left ion-no-padding ion-padding-start">
                        <p>
                          ({{game.teams.away.leagueRecord.wins}}-{{game.teams.away.leagueRecord.losses}}-{{game.teams.away.leagueRecord.ot}})
                        </p>
                      </ion-col>
                      <ion-col size="1">
                      </ion-col>
                      <ion-col size="5" class="ion-text-right ion-no-padding ion-padding-end">
                        <p>
                          ({{game.teams.home.leagueRecord.wins}}-{{game.teams.home.leagueRecord.losses}}-{{game.teams.home.leagueRecord.ot}})
                        </p>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="game.status && ['1','9'].includes(game.status.statusCode)">
                      <ion-col size="12" class="ion-text-center">
                        {{ game.gameDate | date:'h:mma' }} {{commonService.getTimezone()}}
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="game.status && !['1','6','7','9'].includes(game.status.statusCode)">
                      <ion-col size="12" class="ion-text-center">
                        Score: <div style="color: var(--ion-color-danger); display: inline;">{{ game.teams.away.score }}
                          -
                          {{ game.teams.home.score }}</div>, {{challenge?.sport==='nfl'?'Quarter':'Period'}}: <div
                          style="color: var(--ion-color-danger); display: inline;">
                          {{ game.linescore.currentPeriod || '-' }}
                        </div>, Remaining: <div style="color: var(--ion-color-danger); display: inline;">
                          {{ game.linescore.currentPeriodTimeRemaining || game.status.detailedState || '-' }}</div>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="game.status && ['6','7'].includes(game.status.statusCode)">
                      <ion-col size="6" class="ion-text-right">
                        Final:
                      </ion-col>
                      <ion-col *ngIf="game.status && ['6','7'].includes(game.status.statusCode)" size="6">
                        <div style="color: var(--ion-color-danger); display: inline;">{{ game.teams.away.score }} -
                          {{ game.teams.home.score }}</div>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="!['1'].includes(game.status.statusCode) && userBids&&userBids[game.gamePk]">
                      <ion-col size="6" class="ion-text-right">
                        {{!['1','6','7'].includes(game.status.statusCode)?'Current ':''}}Winner:
                      </ion-col>

                      <ion-col size="6">
                        <div (click)="$event.preventDefault();$event.stopPropagation()"
                          *ngFor="let winner of engineService.getTeamDetails(getLeaders(game), users, true); index as team_id"
                          style="display: inline-block;">
                          <div
                            *ngIf="(['6','7'].includes(game.status.statusCode) && teams2[game.gamePk][0].winners && teams2[game.gamePk][0].winners.length) || user.games[game.gamePk] == team_id"
                            [ngStyle]="{'color': winner.color}">
                            <app-user [name]="winner.name || '......'" [id]="winner.uid"
                              [challengesWon]="winner?.stats?.challengesWon" [color]="winner.color"></app-user>
                          </div>
                        </div>
                        {{ ( challenge?.sport === 'nhl' && game.teams.away.score === game.teams.home.score )
                        || ( challenge?.sport === 'nfl' && game.teams.away.score == 0 && game.teams.home.score == 0 ) ?
                        ' - '
                        : ''}}
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-label>
                <ion-icon *ngIf="!['6','7'].includes(game.status.statusCode)"
                  name="{{ ['6','7'].includes(game.status.statusCode)? 'checkmark-done-circle-outline' : ( (!userBids||!userBids[game.gamePk]) ? ((teams2[game.gamePk]&&teams2[game.gamePk][0].locked)?'remove-circle':'add-circle'):'checkmark-circle' ) }}"
                  color="{{ ( (!userBids||!userBids[game.gamePk]) ? ((teams2[game.gamePk]&&teams2[game.gamePk][0].locked)?'red':'blue'):'success' ) }}"
                  slot="end" class="ion-no-margin"></ion-icon>
              </ion-item>
            </ion-item-sliding>
          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>