@import "../../theme/variables.scss";

ion-item-divider {
  @media #{$miniMobile} {
    font-size: 12px;
  }
}

.private-btn {
  font-size: 10px;
}

.checker-background {
  height: 45px;
  width: 100%;
  background: #cc4448 url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400"         fill-opacity=".75" >\
            <rect x="200" width="200" height="200" />\
            <rect y="200" width="200" height="200" />\
            </svg>');
  background-size: 30px 30px;
  text-shadow: 1px 1px 50px black;
  font-size: 120%;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  .date {
    font-size: 12px;
  }

  .amount {
    font-weight: bold;
  }

  .title {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.02px;
  }
}

.leader-section {
  position: relative;
  margin-bottom: 35px;
}

.show-more {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  background: #355589;
  color: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.animate-btn {
  position: relative;
  content: inherit;
}

.amount_bubble {
  visibility: hidden;
  z-index: 1;
  opacity: 0.8;

  min-width: 36px;
  height: 36px;
  background: $primary-theme-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  border-radius: 50%;
  font-size: 11px;
  font-weight: normal;
  transition: all 0.3s ease-in-out;

  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
  top: 15%;
  left: calc(100% + 3px);
  animation: odsoky 1s 1s ease-in-out infinite alternate;

  @media #{$tablet} {
    top: -5px;
    left: auto;
    right: -5px;
    background: #fff;
    color: $primary-theme-color;
    visibility: visible;
    opacity: 0.9;
    // animation: none;
    color: #000;
  }

  span {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 1);

    @media #{$tablet} {
      color: $primary-theme-color;
      text-shadow: none;
    }
  }

  &::after {
    content: " ";
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 6px 2.5px 0 2.5px;
    border-color: #c61c22 transparent transparent transparent;

    position: absolute;
    top: 40%;
    right: 100%;
    transform: rotate(90deg);

    @media #{$tablet} {
      border-color: #fff transparent transparent transparent;
      top: 30px;
      right: 30px;
      transform: rotate(40deg);
    }
  }

  p {
    margin: 0;
  }
}

@keyframes odsoky {
  0% {
    transform: translateY(0px);
  }

  100% {
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
    transition: 0.3s linear;
  }
}

.info-box {
  width: 100%;
  height: auto;
  // text-align: center;
  font-size: 16px;
  color: $gray;
  margin: 15px 0;
  border: 1px solid $primary-theme-color;
  border-radius: 4px;
  padding: 15px 15px 15px 40px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;

  ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 24px;
    color: $green;
  }
}

@media #{$mobileXs} {
  ion-grid.finalist {
    font-size: 75%;
  }
}

.winner {
  // box-shadow: 0 0 0 1px red;
  font-weight: bold;
  position: relative;

  &:after {
    content: "";

  }

  .cell {
    &:after {
      display: none;
    }
  }

  ion-input {
    position: relative;
    z-index: 11;
  }
}

.finalist {
  ion-col {
    padding: 2px;
  }
}

.ios ion-row.iosheader {
  position: -webkit-sticky !important;
}

.ios ion-tab-bar {
  @media only screen and (min-width: 321px) {
    width: 100%;
    position: absolute;
  }
}

.timer-wrapper {
  margin-top: 10px;
  text-align: center;
  padding-bottom: 3px;
  .timer {
    display: inline-block;
    background: $primary-theme-color;
    padding: 10px 15px;
    border-radius: 2px;
    margin: 0 auto;
    box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 50%);
    
    p {
      font-family: 'Share Tech Mono', monospace;
      font-size: 30px;
      margin: 0;
      color: #fff;
      text-shadow: 0px 0px 1px rgb(255 255 255 / 80%);
      @media #{$miniMobile}{
        font-size: 24px;
      }
    }
  }
}

.icons-wrap {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1px;

  @media #{$miniMobile} {
    display: flex;
    flex-direction: column;
  }

  &-left {
    left: -30px;
  }

  &-right {
    right: -30px;
  }

  ion-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
}