@import "../../theme/variables.scss";
@import "../../theme/new-variables.scss";

ion-item-divider {
  @media #{$miniMobile} {
    font-size: 12px;
  }
}

.private-btn {
  font-size: 10px;
}

.checker-background {
  height: 45px;
  width: 100%;
  background: #cc4448 url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400"         fill-opacity=".75" >\
            <rect x="200" width="200" height="200" />\
            <rect y="200" width="200" height="200" />\
            </svg>');
  background-size: 30px 30px;
  text-shadow: 1px 1px 50px black;
  font-size: 120%;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  .date {
    font-size: 12px;
  }

  .amount {
    font-weight: bold;
  }

  .title {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.02px;
  }
}

.leader-section {
  position: relative;
  margin-top: 5px;
  margin-bottom: 35px;
}

.show-more {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  background: #355589;
  color: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.info-box {
  width: 100%;
  height: auto;
  // text-align: center;
  font-size: 16px;
  color: $gray;
  margin: 15px 0;
  border: 1px solid $primary-theme-color;
  border-radius: 4px;
  padding: 15px 15px 15px 40px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;

  ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 24px;
    color: $green;
  }
}

ion-grid.leaderboard {
  padding-top: 0;
  ion-col {
    padding-top: 0;    
  }
}

@media #{$mobileXs} {
  ion-grid.finalist {
    font-size: 75%;
  }
}

.winner {
  // box-shadow: 0 0 0 1px red;
  font-weight: bold;
  position: relative;

  &:after {
    content: "";

  }

  .cell {
    &:after {
      display: none;
    }
  }

  ion-input {
    position: relative;
    z-index: 11;
  }
}

.finalist {
  ion-col {
    padding: 2px;
  }
}

.ios ion-row.iosheader {
  position: -webkit-sticky !important;
}

.ios ion-tab-bar {
  @media only screen and (min-width: 321px) {
    width: 100%;
    position: absolute;
  }
}

.timer-wrapper {
  margin-top: 10px;
  text-align: center;
  padding-bottom: 3px;

  .timer {
    display: inline-block;
    background: $primary-theme-color;
    padding: 10px 15px;
    border-radius: 2px;
    margin: 0 auto;
    box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 50%);

    p {
      font-family: 'Share Tech Mono', monospace;
      font-size: 30px;
      margin: 0;
      color: #fff;
      text-shadow: 0px 0px 1px rgb(255 255 255 / 80%);

      @media #{$miniMobile} {
        font-size: 24px;
      }
    }
  }
}

.icons-wrap {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1px;

  @media #{$miniMobile} {
    display: flex;
    flex-direction: column;
  }

  &-left {
    left: -30px;
  }

  &-right {
    right: -30px;
  }

  ion-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
}

@media only screen and (min-width: 640px) {
  .x640 {
    width: 50%;
  }
}

@media only screen and (min-width: 321px) {
  ion-row.finalist {
    font-weight: bold !important;
    font-size: 75% !important;
  }

  ion-col.finalist {
    font-weight: bold !important;
    font-size: 75% !important;
    width: 40px;
  }
}

.no-horizontal-padding {
  padding-left: 0;
  padding-right: 0;
}

ion-row.finalist {
  border-bottom: solid 2px #dddddd;
  font-size: 70%;
}

ion-input {
  font-size: 80%;
  --padding-start: 0;
  --padding-end: 0;
}

ion-col.finalist ion-input {
  font-size: 100% !important;
}

ion-col.finalist {
  border-right: solid 2px #dddddd;
  font-size: 70%;
}

ion-row.underline {
  border-bottom: solid 1px #dddddd;
}

// new

:host {
  ::ng-deep {
    .item-col {
      .user-wrap {
        margin-left: 10px;

        span {
          font-family: $RMB;
          font-size: 12px;
        }
      }
    }

    .grid-wrapper {
      margin: 0 0px 10px 0px;
    }

    .date-wrap {
      box-shadow: none !important;
    }
  }
}

.game-wrap-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  background: #f3f3f3;
  margin-top: -6px;
  margin-bottom: 6px;

  .item-col {
    font-family: $RMB;
    font-size: 12px;
    color: #8D8D8D;
    text-align: right;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &+.item-col {
      text-align: left;
      justify-content: start;
    }

    &.full {
      width: 100%;
      justify-content: center;
    }
  }
}

.summary-btn {
  margin-bottom: 15px;
}