<div class="mainWrapper">
  <div class="mainHeader">
    <app-header [balance]="activeGame?.bid.balance"></app-header>
    <app-sub-header [selectedLeague]="league" (selectedLeagueChange)="league=$event" [active]="true"></app-sub-header>
  </div>
</div>
<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer">
      <ion-grid class="leaderboard">
        <ion-row class="ion-justify-content-center">
          <ion-col size-xl="10" size-lg="10" size-md="10">
            <ion-refresher slot="fixed" (ionRefresh)="doRefreshChallenge($event)">
              <ion-refresher-content></ion-refresher-content>
            </ion-refresher>
            <app-date *ngIf="challenge?.start" #calendar [date]="challenge.start.seconds*1000" [hideSort]="true">
            </app-date>
            <ion-list-header id="games" click-nav [hidden]="!timer" style="margin-top: 5px; padding: 0;">
              <ion-label style="white-space: pre-line">
                <div>
                  Bid on EVERY Game&nbsp;
                  <ion-icon (click)="router.navigate(['/rules'])" name="info" class="blue"></ion-icon>
                </div>
                The Challenge Starts In:
                <div class="timer-wrapper">
                  <div class="timer">
                    <p>{{timer}}</p>
                  </div>
                </div>
              </ion-label>
            </ion-list-header>

            <ion-list-header *ngIf="objectKeys(stats||{}).length&&users&&challenges[challenge_id]" color="medium"
              id="games" style="margin-top: 20px;">
              <ion-label class="ion-text-center">
                {{!challenge_id ? 'All Time' : ''}}
                {{currentHidden ? 'Final Results':'Leaderboard'}}</ion-label>
            </ion-list-header>

            <section *ngIf="challengeStarted && tabWinners?.length && users" class="leader-section full-width"
              style="border-width: 0 0 1px 0; border-style: solid;">
              <ion-segment class="tabs-default" mode="ios" value="all" (ionChange)="segmentChanged($event)">
                <ion-segment-button value="all">
                  <ion-label>Players</ion-label>
                </ion-segment-button>
                <ion-segment-button value="current" [hidden]="currentHidden || isBidsMissing">
                  <ion-label>Current</ion-label>
                </ion-segment-button>

                <ion-segment-button value="friends">
                  <ion-label>Friends</ion-label>
                </ion-segment-button>
              </ion-segment>
              <ion-grid class="ion-text-start box-bg">
                <ion-row class="" style="font-size: 90%; font-weight: bold;">
                  <ion-col size-xs="2" size-sm="4" class="ion-text-center">Place</ion-col>
                  <ion-col size-xs="7" size-sm="4">Player</ion-col>
                  <ion-col size-xs="3" size-sm="4" class="ion-text-center">Wins</ion-col>
                </ion-row>
                <ion-row *ngFor="let winner of tabWinners; index as winner_uid"
                  [hidden]="((segmentSelected === 'all' || segmentSelected === 'current') && (winner_uid > leadersCount && winner[0] !== user.uid)) ||
                                (segmentSelected === 'friends' && !isFriend(winner[0]) && winner[0] !== user.uid) || (isBidsMissing && (winner[0] === user.uid))">
                  <ion-col size-xs="2" size-sm="4" class="ion-text-center win_amount"
                    [innerHtml]="( segmentSelected === 'all' && challenge.amount && winner[1] === maxWin ) && 
                             ( challenge?.sport !== 'nba' || (challenge['games']||{games: []}).length === winner[1] ) ? 
                             '<div><span>$</span>' + math.round(challenge.amount / countWin) + '</div>' : winner_uid+1">
                  </ion-col>
                  <ion-col size-xs="7" size-sm="4">
                    <app-user *ngIf="getUser(winner[0])" [name]="users[winner[0]]?.name || '......'"
                      [src]="getUrl(winner[0])" [id]="winner[0]"
                      [challengesWon]="users[winner[0]]?.stats?.challengesWon"
                      [color]="(user && winner[0]==user.uid) ? 'red' : users[winner[0]]?.color" [games]="challengeGames"
                      [challenge_id]="challenge_id" [users]="users"></app-user>
                  </ion-col>
                  <ion-col size-xs="3" size-sm="4" class="ion-text-center win_amount">{{winner[1]}}</ion-col>
                </ion-row>
              </ion-grid>
              <ng-container *ngIf="segmentSelected === 'friends'">
                <div [hidden]="friendExist()" class="info">
                  <p>You have no Friends.</p>
                  <a routerLink="/friends">Add Friends</a>
                </div>
              </ng-container>

              <button class="show-more" *ngIf="tabWinners.length >= leadersCount" (click)="showMore()">
                <ng-container>Show more</ng-container>
              </button>
              <button class="show-more" *ngIf="tabWinners.length <= leadersCount" (click)="leadersCount = 9">
                <ng-container>Show less</ng-container>
              </button>
            </section>

          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <app-snapchat *ngIf="user&&challenge_id" [setChallengeId]="challenge_id" [setSport]="sport"
          [setMyUid]="user?.uid"></app-snapchat> -->

      <div *ngIf="challenge_id  && finalistBids && objectKeys(finalistBids).length" style="margin: 0 0 10px"
        class="x640" class="ion-align-items-center ion-justify-content-center">
        <!-- <ion-list-header color="danger" id="games" class="bold checker-background" style="margin: 50px 0 20px 0;">
                <ion-label class="ion-text-center">Finalist Grid</ion-label>
              </ion-list-header> -->

        <div class="btn-wrap ion-text-center summary-btn" *ngIf="!['1'].includes(finalGame?.status.statusCode)">
          <div class="btn-default red">finalist grid</div>
        </div>

        <app-grid *ngIf="!['1'].includes(finalGame?.status.statusCode)" [data]="finalGame" [bidData]="finalistBids"
          [baseScore]="baseScore" [fakeFinalist]="fakeFinalist" [bidSelected]="bidSelected" [sport]="challenge.sport"
          [winTabs]="true" (OnSelectCell)="handleBid($event)"></app-grid>
      </div>

      <div class="info-box" *ngIf="challenge.info">
        <ion-icon name="information-circle-outline"></ion-icon>
        {{ challenge.info }}
      </div>

      <!-- <ion-list #scheduleList [hidden]="!challenge || !games" style="margin-bottom: 5px;"> -->
      <!-- <ion-item-group *ngFor="let item of challengeGames; index as i" [hidden]="((i>1)&&!moreGames)"
                style="padding-bottom: 5px;"> -->

      <div class="games-wrapper">
        <app-game *ngIf="league&&gameSelected[league]&&league==gameSelected[league].sport"
                    [dataGame]="gameSelected[league]" [challengeId]="challenge.id"
                    [teams]="leagues[challenge?.sport]" [stats]="standings[challenge?.sport]" (onShowStats)="showTeamStats($event)"
                    [countBids]="countBids(gameSelected[league].gamePk)" [className]="'activated'" 
                    [isPastGame]="isPastGame(gameSelected[league])" [isChallengeGame]="true"
                    [matrix]="userService?.userPrefs?.user?.matrixBid" [src]="Constants.SRC[league.toUpperCase()]"
                    [reset]="resetSlides">
                  </app-game>
        <ng-container>
          <ng-container *ngFor="let event of challengeGames; let ei = index">
            <ng-container *ngFor="let game of event.games; let gi = index">
              <app-game [hidden]="gamePkSelected[league]==game.gamePk" [dataGame]="game" [challengeId]="challenge.id" [teams]="leagues[challenge?.sport]"
                (click)="clickGame($event, game)"
                [isPastGame]="isPastGame(game)" [isChallengeGame]="true" [className]="isPastGame(game) ? 'disabled': ''"
                [src]="Constants.SRC[challenge?.sport.toUpperCase()]"></app-game>
              <!-- <app-game [dataGame]="game" [challengeId]="challenge.id" [teams]="leagues[challenge?.sport]"
                (click)="router.navigate([( ((!game||game?.status.statusCode==1||game?.status.statusCode==2)&&(!teams2[game.gamePk]||!teams2[game.gamePk][0].locked) ) ? '/detail/':'/bid/' ) +  ( (!userBids||!userBids[game.gamePk]) ? '0': userBids[game.gamePk][user.uid] ) +'/'+ game.gamePk+'/'+challenge_id])"
                [isPastGame]="isPastGame(game)" [isChallengeGame]="true" [className]="isPastGame(game) ? 'disabled': ''"
                [src]="Constants.SRC[challenge?.sport.toUpperCase()]"></app-game> -->
              <div class="game-wrap-bottom" *ngIf="game?.status && !['1','6','7','9'].includes(game?.status.statusCode)"
                (click)="router.navigate([( ((!game||game?.status.statusCode==1||game?.status.statusCode==2)&&(!teams2[game.gamePk]||!teams2[game.gamePk][0].locked) ) ? '/detail/':'/bid/' ) +  ( (!userBids||!userBids[game.gamePk]) ? '0': userBids[game.gamePk][user.uid] ) +'/'+ game.gamePk+'/'+challenge_id])">
                <div class="item-col full">
                  {{challenge?.sport==='nfl' ? 'Quarter' : 'Period'}}:
                  <div style="color: var(--ion-color-danger); display: inline;">
                    {{ game.linescore.currentPeriod || '-' }}
                  </div>,
                  Remaining:
                  <div style="color: var(--ion-color-danger); display: inline;">
                    {{ game.linescore.currentPeriodTimeRemaining || game?.status.detailedState || '-' }}
                  </div>
                </div>
              </div>
              <div class="game-wrap-bottom"
                *ngIf="!['1'].includes(game?.status.statusCode) && userBids&&userBids[game.gamePk]"
                (click)="router.navigate([( ((!game||game?.status.statusCode==1||game?.status.statusCode==2)&&(!teams2[game.gamePk]||!teams2[game.gamePk][0].locked) ) ? '/detail/':'/bid/' ) +  ( (!userBids||!userBids[game.gamePk]) ? '0': userBids[game.gamePk][user.uid] ) +'/'+ game.gamePk+'/'+challenge_id])">
                <div class="item-col">
                  {{!['1','6','7'].includes(game?.status.statusCode)?'Current ':''}}Winner:
                </div>

                <div class="item-col">
                  <div (click)="$event.preventDefault();$event.stopPropagation()"
                    *ngFor="let winner of engineService.getTeamDetails(getLeaders(game), users, true); index as team_id"
                    style="display: inline-block;">
                    <div
                      *ngIf="(['6','7'].includes(game?.status.statusCode) && teams2[game.gamePk][0].winners && teams2[game.gamePk][0].winners.length) || user.games[game.gamePk] == team_id">
                      <app-user [name]="winner.name || '......'" [id]="winner.uid"
                        [challengesWon]="winner?.stats?.challengesWon" [color]="winner.color"></app-user>
                    </div>
                  </div>
                  {{ ( challenge?.sport === 'nhl' && game.teams.away.score === game.teams.home.score )
                  || ( challenge?.sport === 'nfl' && game.teams.away.score == 0 && game.teams.home.score == 0 ) ?
                  ' - '
                  : ''}}
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ion-content>