// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap');

@font-face {
    font-family: RobotoThin;
    src: url('./assets/fonts/Roboto-Thin.ttf');
  }

@font-face {
    font-family: RobotoRegular;
    src: url('./assets/fonts/Roboto-Regular.ttf');
  }

.footer {
    font-family: 'Nanum Brush Script', cursive;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield !important;
}

:root {
    --ion-color-red: #C61C22;
    --ion-color-red-rgb: 198,28,34;
    --ion-color-red-contrast: #ffffff;
    --ion-color-red-contrast-rgb: 255,255,255;
    --ion-color-red-shade: #ae191e;
    --ion-color-red-tint: #cc3338;
}

.ion-color-red {
    --ion-color-base: var(--ion-color-red);
    --ion-color-base-rgb: var(--ion-color-red-rgb);
    --ion-color-contrast: var(--ion-color-red-contrast);
    --ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb);
    --ion-color-shade: var(--ion-color-red-shade);
    --ion-color-tint: var(--ion-color-red-tint);
}

.ion-color-blue {
    --ion-color-base: #3171e0;
    --ion-color-base-rgb: 49, 113, 224;
    --ion-color-red-contrast: #ffffff;
    --ion-color-red-contrast-rgb: 255,255,255;
    --ion-color-shade: #3171e0;
    --ion-color-tint: #4c8dff;
}

.red {
    color: var(--ion-color-danger);    
}

.green {
    color: green;
}

.blue {
    color: #3171e0;
}

ion-skeleton-text {
    --border-radius: 4px;
}

.bold {
    font-weight: bold;
    font-size: 90%;
}

.error {
    color: red;
    text-align: center;
    display: block;
    font-weight: bold;
  }

  html {
    touch-action: manipulation;
  }

.danger {
    color: var(--ion-color-danger) !important;
}
  
.success {
    color: var(--ion-color-success) !important;
}

.warning {
    color: var(--ion-color-warning) !important;
}

.full-width {
    width: 100%;
}