@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    src: local("");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    src: local("");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    src: local("");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    src: local("");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Norwester';
    src: url('../fonts/norwester.ttf') format('truetype');
  }