@import "../../../theme/variables.scss";

:host {
  ::ng-deep {
    .skeleton-wrap {
      margin-top: 24px;
      .activated {
        .skeleton-loader {
          height: 172px;
        }
      }
      .skeleton-loader {
        margin-bottom: 6px;
        height: 64px; 
        width: 100%;
      }
    }
  }
}