<ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-title>
      {{isChallengePage ? 'challenges' : 'Private games'}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" tap>
      <ion-button (click)="selectSport()" fill="solid" size="small" color="success" class="private-btn">
        PRIVATE GAME</ion-button>
      <ion-button *ngIf="challenge && challenge.name && capacitor.getPlatform() !== 'web'"
        (click)="myapp.addScreenshot()">
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="6" size-lg="8" size-md="10">

        <ion-list-header>
          <ion-label *ngIf="isChallengePage">Pick Your Challenge</ion-label>
        </ion-list-header>
        <div class="sport-tabs" *ngIf="!isChallengePage">
          <div class="item" tap *ngFor="let tab of tabsBySport" [ngClass]="sportSelected === tab.name ? 'active' : ''"
            (click)="setSport(tab.name)">
            {{tab.name}}
            <ion-icon slot="end" name="{{tab.icon}}"></ion-icon>
          </div>
        </div>
        <ng-container *ngIf="invites">
          <section *ngFor="let startKey of getSortedSchedule(linksInvites); let i = index;" [hidden]="i>20"
            class="full-width">
            <ion-button tap
              *ngIf="linksInvites[startKey]['inviteId'] && (invites[linksInvites[startKey]['inviteId']] && invites[linksInvites[startKey]['inviteId']]['start']['seconds']*1000 > (date.now() - 4*30*24*60*60000)) && isSportSelected(startKey)"
              color="{{(invites[linksInvites[startKey]['inviteId']] && invites[linksInvites[startKey]['inviteId']]['start']['seconds']*1000 < (date.now() - 4*60*60000))?'medium':'red'}}"
              expand="block" class="ion-margin-top game-btn">
              <div class="icons-wrap icons-wrap-left">
                <ion-icon *ngIf="isWinning(invites[linksInvites[startKey]['inviteId']])" name="trophy-outline"
                  slot="end"></ion-icon>
                <ion-icon
                  *ngIf="!isWinning(invites[linksInvites[startKey]['inviteId']]) && invites[linksInvites[startKey]['inviteId']].bids && invites[linksInvites[startKey]['inviteId']].games[0] && invites[linksInvites[startKey]['inviteId']].bids[invites[linksInvites[startKey]['inviteId']].games[0]] && invites[linksInvites[startKey]['inviteId']].bids[invites[linksInvites[startKey]['inviteId']].games[0]][user.uid]"
                  slot="end" name="checkmark-circle-outline" color="success"></ion-icon>
              </div>
              <div class="button-wrapper"
                (click)="router.navigate([ ((invites[linksInvites[startKey]['inviteId']].bids && invites[linksInvites[startKey]['inviteId']].games[0] && invites[linksInvites[startKey]['inviteId']].bids[invites[linksInvites[startKey]['inviteId']].games[0]] && invites[linksInvites[startKey]['inviteId']].bids[invites[linksInvites[startKey]['inviteId']].games[0]][user.uid]) ? '/bid/0/' : '/detail/0/') + invites[linksInvites[startKey]['inviteId']].games[0] + '/invite/' + invites[linksInvites[startKey]['inviteId']].id])">
                <div class="title">{{invites[linksInvites[startKey]['inviteId']]?.name}}</div>
                <div>
                  <span class="date">{{invites[linksInvites[startKey]['inviteId']]?.start.seconds*1000 | date:'M/d/yy
                    HH:mm'
                    }}</span>
                  -
                  <span class="amount">{{invites[linksInvites[startKey]['inviteId']]?.text}}</span>
                </div>
              </div>
              <div class="icons-wrap icons-wrap-right">
                <ion-icon *ngIf="isInviteAdmin(invites[linksInvites[startKey]['inviteId']])"
                  color="{{(invites[linksInvites[startKey]['inviteId']] && invites[linksInvites[startKey]['inviteId']]['start']['seconds']*1000 < (date.now() - 4*60*60000))?'danger':'dark'}}"
                  slot="end" name="create-outline"></ion-icon>
                <ion-icon color="success" *ngIf="invites[linksInvites[startKey]['inviteId']].bids"
                  (click)="shareInviteGame( ('/bid/0/') + invites[linksInvites[startKey]['inviteId']].games[0] + '/invite/' + invites[linksInvites[startKey]['inviteId']].id)"
                  name="share-social-outline"></ion-icon>
              </div>
            </ion-button>
          </section>
        </ng-container>


        <section *ngFor="let startKey of getSortedSchedule(linksChallenges); let i = index;" [hidden]="i>20"
          class="full-width">
          <ion-button tap
            *ngIf="linksChallenges[startKey]['inviteId'] && (invites[linksChallenges[startKey]['inviteId']] && invites[linksChallenges[startKey]['inviteId']]['start']['seconds']*1000 > (date.now() - 4*30*24*60*60000)) && isSportSelected(startKey)"
            color="{{(invites[linksChallenges[startKey]['inviteId']] && invites[linksChallenges[startKey]['inviteId']]['start']['seconds']*1000 < (date.now() - 4*60*60000))?'medium':'red'}}"
            expand="block" class="ion-margin-top game-btn">
            <div class="icons-wrap icons-wrap-left">
              <ion-icon *ngIf="!isWinning(invites[linksChallenges[startKey]['inviteId']])" name="trophy-outline">
              </ion-icon>
              <ion-icon
                *ngIf="!isWinning(invites[linksChallenges[startKey]['inviteId']]) && invites[linksChallenges[startKey]['inviteId']].bids && invites[linksChallenges[startKey]['inviteId']].games[0] && invites[linksChallenges[startKey]['inviteId']].bids[invites[linksChallenges[startKey]['inviteId']].games[0]] && invites[linksChallenges[startKey]['inviteId']].bids[invites[linksChallenges[startKey]['inviteId']].games[0]][user.uid]"
                slot="end" name="checkmark-circle-outline" color="success"></ion-icon>
            </div>
            <div class="button-wrapper"
              (click)="router.navigate([ ((invites[linksChallenges[startKey]['inviteId']].bids && invites[linksChallenges[startKey]['inviteId']].games[0] && invites[linksChallenges[startKey]['inviteId']].bids[invites[linksChallenges[startKey]['inviteId']].games[0]] && invites[linksChallenges[startKey]['inviteId']].bids[invites[linksChallenges[startKey]['inviteId']].games[0]][user.uid]) ? '/bid/0/' : '/detail/0/') + invites[linksChallenges[startKey]['inviteId']].games[0] + '/invite/' + invites[linksChallenges[startKey]['inviteId']].id])">
              <div class="title">{{invites[linksChallenges[startKey]['inviteId']]?.name}}</div>
              <div>
                <span class="date">{{invites[linksChallenges[startKey]['inviteId']]?.start.seconds*1000 | date:'M/d/yy
                  HH:mm'
                  }}</span>
                -
                <span class="amount">{{invites[linksChallenges[startKey]['inviteId']]?.text}}</span>
              </div>
            </div>
            <div class="icons-wrap icons-wrap-right">
              <ion-icon *ngIf="isInviteAdmin(invites[linksChallenges[startKey]['inviteId']])"
                color="{{(invites[linksChallenges[startKey]['inviteId']] && invites[linksChallenges[startKey]['inviteId']]['start']['seconds']*1000 < (date.now() - 4*60*60000))?'danger':'dark'}}"
                slot="end" name="create-outline"></ion-icon>
              <ion-icon color="success" *ngIf="invites[linksChallenges[startKey]['inviteId']].bids"
                (click)="shareInviteGame( ((invites[linksInvites[startKey]['inviteId']].bids && invites[linksInvites[startKey]['inviteId']].games[0] && invites[linksInvites[startKey]['inviteId']].bids[invites[linksInvites[startKey]['inviteId']].games[0]] && invites[linksInvites[startKey]['inviteId']].bids[invites[linksInvites[startKey]['inviteId']].games[0]][user.uid]) ? '/bid/0/' : '/detail/0/') + invites[linksInvites[startKey]['inviteId']].games[0] + '/invite/' + invites[linksInvites[startKey]['inviteId']].id)"
                name="share-social-outline"></ion-icon>
            </div>
          </ion-button>
          <div class="animate-btn">
            <ion-button tap
              *ngIf="linksChallenges[startKey]['challengeId'] && challenges[linksChallenges[startKey]['challengeId']] && (challenges[linksChallenges[startKey]['challengeId']] && challenges[linksChallenges[startKey]['challengeId']]['start']['seconds']*1000 > (date.now() - 4*30*24*60*60000))"
              (click)="router.navigate(['/'+challenges[linksChallenges[startKey]['challengeId']]['sport']+'/' + linksChallenges[startKey]['challengeId']])"
              color="{{(challenges[linksChallenges[startKey]['challengeId']] && challenges[linksChallenges[startKey]['challengeId']]['start']['seconds']*1000 < (date.now() - 24*60*60000))?'medium':'red'}}"
              expand="block" class="ion-margin-top game-btn ">

              <div class="button-wrapper">

                <div class="button-wrapper-text">
                  <ion-icon slot="end" class="sport-btn"
                    name="{{getIcon(challenges[linksChallenges[startKey]['challengeId']]?.sport)}}"></ion-icon>
                  <div class="title">{{challenges[linksChallenges[startKey]['challengeId']]?.name}}</div>
                  <div>
                    <span class="date">{{challenges[linksChallenges[startKey]['challengeId']]?.start.seconds*1000 |
                      date:'M/d/yy
                      HH:mm' }}</span>
                    -
                    <span class="amount">{{challenges[linksChallenges[startKey]['challengeId']]?.text}}</span>
                  </div>
                </div>

              </div>
              <ion-icon *ngIf="isUserBids(challenges[linksChallenges[startKey]['challengeId']])" slot="end"
                name="checkmark-circle-outline" color="success"></ion-icon>
            </ion-button>
            <div class="amount_bubble"
              *ngIf="challenges[linksChallenges[startKey]['challengeId']]?.amount && challenges[linksChallenges[startKey]['challengeId']]&&challenges[linksChallenges[startKey]['challengeId']]['start']['seconds']*1000 > (date.now() - 24*60*60000)">
              <p>$<span>{{challenges[linksChallenges[startKey]['challengeId']]?.amount}}</span></p>
            </div>
          </div>
        </section>

        <section class="full-width ion-no-margin">
          <ion-grid class="ion-text-start box-bg">
            <ion-row style="min-height: 65px;">
              <ion-col>&nbsp;</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1" class="ion-text-center"></ion-col>
              <ion-col size="10" class="ion-text-center">
                <div class="quote">
                  <p style="font-style: italic;">"{{ quote['text'] }}"</p>
                  <p class="bold">{{ quote['title'] }}</p>
                  <p class="lite">{{ quote['descr'] }}</p>
                </div>
              </ion-col>
              <ion-col size="1" class="ion-text-center"></ion-col>
            </ion-row>
            <ion-row style="min-height: 65px;">
              <ion-col>&nbsp;</ion-col>
            </ion-row>
          </ion-grid>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>