<div class="mainWrapper">
  <div class="mainHeader">
    <app-header [balance]="activeGame?.bid.balance"></app-header>
    <app-sub-header [selectedLeague]="league" (selectedLeagueChange)="league=$event" [active]="true"></app-sub-header>
  </div>
</div>
<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer">
      <div class="games-wrapper" *ngIf="isLoading">
        <app-date 
          #calendar 
          [date]="gameSelected[league]?.gameDate||today" 
          [sortBy]="sortBy"
          (onSortByChallenge)="sortByChallenge($event)"
          (onSortByDate)="sortByDate($event)"></app-date>
        <app-game [className]="'activated'" *ngIf="league&&gameSelected[league]&&league==gameSelected[league].sport" 
          [dataGame]="gameSelected[league]" [challengeId]="gameChallengeMap[gameSelected[league].gamePk]"
          [teams]="leagues[league]" [stats]="standings[league]" (onShowStats)="showTeamStats($event)"
          [countBids]="countBids(gameSelected[league].gamePk)" [isPastGame]="isPastGame(gameSelected[league])" [isChallengeGame]="isChallengeGame(gameSelected[league])"
          [matrix]="userService?.userPrefs?.user?.matrixBid" [src]="Constants.SRC[league.toUpperCase()]"
          [reset]="resetSlides">
        </app-game>
        <ng-container *ngIf="userService?.userPrefs?.leagues && userService.userPrefs.leagues[league]">
          <ng-container *ngFor="let event of events[league]; let ei = index">
            <ng-container *ngFor="let game of event.games; let gi = index">
              <app-game
                *ngIf="league&&game&&(prefTeams[league].includes(game.gamePk)&&!sortBy)&&(!isPastGame(game)||!userService?.userPrefs?.user?.hidePastGames)"
                [hidden]="gamePkSelected[league]==game.gamePk" [dataGame]="game"
                [challengeId]="gameChallengeMap[game.gamePk]" [teams]="leagues[league]" [stats]="standings[league]"
                (onShowStats)="showTeamStats($event)" (click)="clickGame($event, game)" [isPastGame]="isPastGame(game)" [isChallengeGame]="isChallengeGame(game)"
                [className]="isPastGame(game) ? 'disabled': ''" [src]="Constants.SRC[league.toUpperCase()]"></app-game>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngFor="let event of events[league]; let ei = index">
          <ng-container *ngFor="let game of event.games; let gi = index">
            <app-game
              *ngIf="league&&game&&(!prefTeams[league].includes(game.gamePk)||sortBy)&&(!isPastGame(game)||!userService?.userPrefs?.user?.hidePastGames)&&(sortBy!=='challenge'||isChallengeGame(game))"
              [hidden]="gamePkSelected[league]==game.gamePk" [dataGame]="game"
              [challengeId]="gameChallengeMap[game.gamePk]" [teams]="leagues[league]" [stats]="standings[league]"
              (onShowStats)="showTeamStats($event)" (click)="clickGame($event, game)" [isPastGame]="isPastGame(game)" [isChallengeGame]="isChallengeGame(game)"
              [className]="['6', '7'].includes(game.status?.statusCode) ? 'disabled': ''" [src]="Constants.SRC[league.toUpperCase()]">
            </app-game>
          </ng-container>
        </ng-container>
        <div *ngIf="!events[league] || !events[league].length">
          <h3 class="ion-text-center">No Games Scheduled</h3>
        </div>
      </div>
      <div class="skeleton-wrap" *ngIf="!isLoading">
        <ngx-skeleton-loader class="activated" appearance="line" animation="pulse"></ngx-skeleton-loader>
        <ng-container *ngFor="let i of [0,1,2,3,4,5]">
          <ngx-skeleton-loader appearance="line" animation="pulse"></ngx-skeleton-loader>
        </ng-container>
      </div>
    </div>
  </div>
</ion-content>