@import "../../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .icon {
      width: 36px;
      height: 36px;
    }
  }
}

.legend {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  //   grid-template-columns: ;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;

    ion-label {
      font-family: $RMB;
      font-size: 15px;
      color: #fff;
      margin-top: 16px;
    }

    ion-icon {
      width: 28px;
      height: 28px;
    }
  }
}