<div class="modal-wrapper">
  <div class="modal-close" (click)="cancel()">
    <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
  </div>
  <div class="modal-header">
    <h3>Information</h3>
  </div>
  <div class="modal-content">
    <div class="legend">
      <div>
        <ion-icon name="chatbubbles" color="success"></ion-icon>
        <ion-label>Message</ion-label>
      </div>
      <div>
        <ion-icon name="checkmark-circle" color="success"></ion-icon>
        <ion-label>Accept</ion-label>
      </div>
      <div>
        <ion-icon name="close-circle" color="warning"></ion-icon>
        <ion-label>Decline</ion-label>
      </div>
      <div>
        <ion-icon name="trash" color="black"></ion-icon>
        <ion-label>Delete</ion-label>
      </div>
      <div>
        <ion-icon name="lock-closed" color="danger"></ion-icon>
        <ion-label>Block</ion-label>
      </div>
      <div>
        <ion-icon name="lock-open" color="success"></ion-icon>
        <ion-label>Unblock</ion-label>
      </div>
    </div>
  </div>
</div>