@import "./../../../theme/variables.scss";

.share-box-footer {
  border-top: 1px solid $gray;
  padding: 15px 0;

  ion-buttons {
    justify-content: center;

    ion-button {
      ion-icon {
        margin-right: 5px;
      }
    }
  }
}

.share-btn {
  position: absolute;
  right: 4px;
  top: 0;
  z-index: 100;
  background: $green;
  border-radius: 50%;

  ion-button {
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 8px;
      border-color: transparent transparent transparent $green;
      position: absolute;
      left: calc(100% - 1px);
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// ion-list {
//   ion-label {
//     font-size: 14px;
//   }
//   ion-icon {
//     font-size: 22px;
//   }
// }

.scroll-box {
  // height: calc(100% - 120px);
  height: calc(100% - 70px);
  overflow-y: auto;
}

// ion-item {
//   ion-button {
//     &.disabled {
//       display: none;
//       --ion-color-base: #999;
//       pointer-events: none;
//     }
//   }
//   .btn {
//     ion-button {
//       font-size: 12px;
//       height: 24px;
//     }
//   }
// }

// .list-title {
//   text-align: left;
//   font-size: 12px;
//   text-transform: uppercase;
//   padding: 8px 20px;
//   background: #eee;
//   color: #bdb7b7;
// }

// .list-box {
//   border-bottom: 2px solid #dedede;
//   ion-item {
//     &:last-child {
//       --inner-border-width: 0 0 0 0;
//     }
//   }
// }