<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar position="top">
    <ion-title size="small" class="without-btn">
      Send a private game link
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="close" style="font-size: 20px; float: right;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scroll-box">
    <!-- <ion-buttons class="share-btn">
      <ion-button class="share-btn" (click)="share()">
        <ion-icon color="light" slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-grid class="share-popup">
      <ion-row>
        <ion-col>
          <ion-list class="listDefault">
            <div class="searchWrap">
              <ion-searchbar class="searchBar" #focusInput (input)="searchUser($event)"
                (ionClear)="search = ''; searchUsers = searchFriendsUsers" placeholder="Search all SPRT MTRXers"
                #searchbar enterkeyhint="search"></ion-searchbar>
            </div>
            <ng-container *ngFor="let user of searchUsers">
              <ion-item>
                <app-user [name]="user?.name" [src]="user?.photoURL || constants.AVATAR_DEMO" [id]="user?.id"
                  [listComponent]="true" [color]="user?.color"></app-user>
                <ion-buttons slot="end">
                  <ion-button class="send" (click)="send(user.id)">
                    <ion-icon slot="icon-only" color="success" name="paper-plane"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ng-container>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="share-box-footer">
    <ion-row class="form-default">
      <ion-col>
        <ion-buttons>
          <ion-button (click)="copyLink($event)" fill="outline" color="success">
            <ion-icon slot="icon-only" name="link-outline"></ion-icon>
            Copy Link Sharing 
          </ion-button>
          <ion-button *ngIf="capacitor.getPlatform() !== 'web'" (click)="share()" fill="outline" color="success">
            <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
            Share
          </ion-button>
        </ion-buttons>
        <!-- <ion-textarea readonly="true" type="text" [(ngModel)]="link"></ion-textarea> -->
      </ion-col>
    </ion-row>
  </div>
</ion-content>