@import "../../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .icon {
      width: 36px;
      height: 36px;
    }
  }
}

.btn-wrap {
  margin-top: 10px;
  display: flex;
  grid-gap: 10px;
  justify-content: center;

  .btn-default {
    padding: 0;
  }
}