<div class="modal-wrapper">
  <div class="modal-close" (click)="cancel()">
    <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
  </div>
  <div class="modal-content">
    <ion-segment mode="ios" value="custom" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="custom">
        <ion-label>Custom</ion-label>
      </ion-segment-button>
      <ion-segment-button value="saved">
        <ion-label>Favorites</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div class="modal-scroll-content">
      <ion-list *ngIf="mode==='custom'" (click)="amount=$event.target.innerText.replace('$','');" class="modal-list">
        <ion-item class="ion-text-center" *ngFor="let item of items"
          class="ion-align-items-center ion-justify-content-center ion-text-center">
          ${{item}}
          <ion-icon *ngIf="amount==item" name="checkmark" slot="end" class="ion-no-margin"></ion-icon>
        </ion-item>
        <ion-item (click)="$event.stopPropagation(); amount='';">
          $<ion-input (keyup)="amount=$event.target.value;" (focusout)="amount=$event.target.value;" type="number"
            pattern="[0-9\.]*" inputmode="decimal" placeholder="0.00"></ion-input>
          <ion-icon *ngIf="amount&&!items.includes(amount)" name="checkmark" slot="end" class="ion-no-margin">
          </ion-icon>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="mode==='saved'" (click)="selected=$event.target.innerText;"
      class="modal-list">
      <ion-item-sliding *ngFor="let template of objectKeys(templates || {}).sort();">
        <ion-item class="ion-text-center" class="ion-align-items-center ion-justify-content-center ion-text-center"
          style="border-right: 3px solid var(--ion-color-danger);">
          {{template}}
          <ion-icon *ngIf="selected==template" name="checkmark" slot="end" class="ion-no-margin"></ion-icon>
        </ion-item>
        <ion-item-options side="end"
          style="border-right: 3px solid var(--ion-color-danger); border-top: 3px solid var(--ion-color-danger); border-bottom: 3px solid var(--ion-color-danger);">
          <ion-item-option (click)=deleteFavorite(template) color="danger" expandable>
            Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <div *ngIf="!templates || !objectKeys(templates).length" class="ion-margin">
        You have no saved Favorites. You can save Favorites after submitting bids for each Game.
      </div>
    </ion-list>
    </div>
    <div class="btn-wrap" *ngIf="mode==='custom'">
      <ion-button (click)="resetBid(amount, false); cancel()" class="btn-default green">Fill&nbsp;&nbsp;All</ion-button>
      <ion-button (click)="resetBid(amount, true); cancel()" class="btn-default green">Keep&nbsp;Mine</ion-button>
    </div>

    <div class="btn-wrap" *ngIf="mode==='saved'">
      <ion-button (click)="cancel()" class="btn-default transparent-white">Cancel</ion-button>
      <ion-button (click)="applyBid(templates[selected]); cancel()" class="btn-default green">Apply</ion-button>
    </div>
  </div>
</div>