<ion-content class="ion-no-padding">
  <div class="main">
    <ion-card class="ion-no-margin">
      
      <ion-card-content>
        <ion-row class="row">
          <div class="fire-logo">
            <img src="assets/app_logo.png" class="img-logo ion-padding">
            <img src="assets/slogan.png" class="img-logo ion-no-padding" style="width: 50%;">
            <ion-text>
              <h2 no-margin margin-vertical class="ion-text-center">Forgot your Password ?</h2>
            </ion-text>
          </div>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>Enter your email below and we'll send your instructions to recover your password</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input (keyup.enter)="recover()" clearInput type="email" placeholder="Email" [(ngModel)]="email" class="input" padding-horizontal
              clear-input="true"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="recover()" color="undefined" class="transition">
              <strong class="white">
                Recover Password</strong></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="error ion-text-center">{{error}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="block ion-text-center">Already have an account ?
              <span class="bold" routerLink="/login">Login here</span></ion-text>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center footer">
      A Live Current™ Media, Inc. Production
    </ion-title>
  </ion-toolbar>
</ion-footer>