@import './../../../../theme/new-variables';

:host {
  ::ng-deep {
    .logo-box-img {
      .icon {
        width: 28px;
        height: 25px;
      }
    }
  }
}

.btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  @media #{$tablet} {
    zoom: 1.25;
  }

  @media #{$mobileXs} {
    margin-top: 15px;
  }
}