<ion-content slot="fixed" class="auth-wrap">
  <div class="main bg">
    <div class="logo-box">
      <app-ico-svg [class]="'logo inverse'" [src]="'/assets/imgs/logo.svg#'" [id]="'Logo'"></app-ico-svg>
      <app-card [title]="'Forgot email'" (onCancel)="cancel()">
        <div class="logo-box-img">
          <app-ico-svg [id]="'IcoLetter'"></app-ico-svg>
        </div>
        <form [formGroup]="ForgotForm">
          <!-- <ion-row>
          <ion-col>
            <ion-text>Enter your email below and we'll send your instructions to recover your email</ion-text>
          </ion-col>
        </ion-row> -->
          <ion-row>
            <ion-col>
              <div class="form-group" [ngClass]="(ForgotForm.controls['email'].hasError('required') && ForgotForm.controls['email'].touched ||
              ForgotForm.controls['email'].hasError('pattern') && ForgotForm.controls['email'].touched) ? 'hasError' : '' || 
              ForgotForm.controls['email'].valid ? 'validField' : ''"> 
              <div class="input-wrapper">
                <ion-input (keyup.enter)="recover()" type="email" placeholder="Email" formControlName="email" class="input"
                  [pattern]="Constants.EMAIL_REGEXP" required padding-horizontal></ion-input>
                <div class="input-icon">
                  <app-ico-svg [id]="'IcoLetter'"></app-ico-svg>
                </div>
              </div>
            </div>
          </ion-col>
          </ion-row>
          <div class="btn-wrap">
            <button type="button" class="btn-default" (click)="recover()">Send</button>
          </div>
        </form>
      </app-card>
    </div>
    <!-- <app-navigate ></app-navigate> -->
  </div>
</ion-content>