@import "../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .ico-add {
      .icon {
        width: 19px;
        height: 19px;

        @media #{$tablet} {
          width: 24px;
          height: 24px;
        }
      }
    }

    .logo {
      width: auto;
      height: 100%;
    }

    .nba {
      .logo {
        width: 14px;

        @media #{$tablet} {
          width: 18px;
        }
      }
    }

    .nhl {
      .logo {
        width: 28px;

        @media #{$tablet} {
          width: 32px;
        }
      }
    }

    .nfl {
      .logo {
        width: 25px;

        @media #{$tablet} {
          width: 30px;
        }
      }
    }
  }
}

.sub-header {
  height: 46px;
  background: $third-text-color;
  position: relative;

  // max-width: 535px;
  // height: 58px;
  margin: 0 auto;
  // zoom: 1.25;

  @media #{$tablet} {
    height: 58px;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    // height: 100%;
    height: 133px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:before {
    right: calc(100% - 1px);
    background-image: url('./../../../assets/bgs/bumper-gray-left.svg');
    background-position: right;

    @media #{$miniMobile} {
      display: none;
    }
  }

  &:after {
    left: calc(100% - 1px);
    background-image: url('./../../../assets/bgs/bumper-gray-right.svg');
    background-position: left;

    @media #{$miniMobile} {
      display: none;
    }
  }


  &.active {
    background: #355589;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    &:before {
      background-image: url('./../../../assets/bgs/bumper-blue-left.svg');

      @media #{$miniMobile} {
        display: none;
      }
    }

    &:after {
      background-image: url('./../../../assets/bgs/bumper-blue-right.svg');

      @media #{$miniMobile} {
        display: none;
      }
    }
  }
}

.league-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  position: relative;
  height: 100%;

  .swiper-slide-active {
    height: 100%;

    .logo-box {
      border-color: #fff;
    }
  }

  .logo-league {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 3px 32px;
  }

  .logo-box {
    border: 2px solid transparent;
    border-radius: 9px;
    height: 100%;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @media #{$tablet} {
      width: 52px;
    }

    // &.active {

    // }
  }

  app-ico-svg {
    height: 100%;
  }

  .ico-add {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}

ion-slides {
  height: 100%;
  width: 100%;

  .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper-slide {
      width: 33%;
    }
  }
}