<div *ngIf="!active" class="sub-header">

</div>

<div *ngIf="active" class="sub-header active">
    <div class="league-container">
        <div class="logo-league">
            <ion-slides #slider *ngIf="Object.keys(leagues).length > 2" 
                [options]="slideOpts" mode="ios"
                (ionSlideTransitionStart)="slideChanged($event)">
                <ng-container *ngFor="let league of Constants.DEFAULT_LEAGUES | keyvalue, let i = index">
                    <ion-slide (click)="selectLeague(league.key)" [ngClass]="{'swiper-slide-active' : selectedLeague === league.key}">
                        <div class="logo-box">
                            <app-ico-svg [class]="'logo'" [src]="Constants.SRC.SPORT"
                                [id]="'Ico'+league.key.toUpperCase()+'Logo'" [ngClass]="league.key"></app-ico-svg>
                        </div>
                    </ion-slide>
                </ng-container>
            </ion-slides>
            <ng-container *ngIf="Object.keys(leagues).length < 3">
                <ng-container *ngFor="let league of leagues | keyvalue">
                    <div (click)="selectLeague(league.key)" [ngClass]="{'swiper-slide-active' : selectedLeague === league.key}">
                        <div class="logo-box">
                            <app-ico-svg [class]="'logo'" [src]="Constants.SRC.SPORT"
                                [id]="'Ico'+league.key.toUpperCase()+'Logo'" [ngClass]="league.key"></app-ico-svg>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="ico-add">
            <app-ico-svg [class]="'icon'" [src]="Constants.SRC.ICONS" [id]="'IcoAdd'" routerLink="/home">
            </app-ico-svg>
        </div>
    </div>
</div>