<div class="modal-wrapper">
  <div class="modal-close" (click)="cancel()">
    <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
  </div>
  <div class="modal-header">
    <h3>Progress {{ bidsGame.length }} / {{ challengeGames.length }}</h3>
  </div>
  <div class="modal-content">
    <ion-progress-bar color="{{ bidsGame.length === challengeGames.length ? 'success' : 'danger' }}"
      value="{{ bidsGame.length / challengeGames.length }}">
    </ion-progress-bar>
    <div class="btn-wrap">
      <ion-button *ngIf="bidsGame.length < challengeGames.length" (click)="cancelNavigate(); cancel()"
        class="btn-default transparent-white">
        Cancel
      </ion-button>
      <ion-button (click)="nextGame(next_game_id); cancel()" class="btn-default green">
        {{ bidsGame.length < challengeGames.length ? 'Next game' : 'Ok' }} </ion-button>
    </div>
  </div>
</div>