:host {
  ::ng-deep {
    .icon {
      width: 36px;
      height: 36px;
    }
  }
}

ion-progress-bar {
  margin: 20px 0 40px;
}

.btn-wrap {
  display: flex;
  grid-gap: 10px;
  justify-content: center;
}