@import "../../../../theme/new-variables.scss";

:host {
  ::ng-deep {
    .icon {
      width: 36px;
      height: 36px;
    }
  }
}

ion-item {
  --background: transparent;
  --inner-border-width: 0;

  ion-label {
    font-family: $RCR;
    font-size: 14px;
    text-transform: uppercase;
  }
}

ion-avatar {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 22.5%;
  background-color: #000;
}

.btn-default {
  padding: 0 18px;
}

.android {
  ion-avatar {
    border-radius: 0;
  }

  ion-label {
    font-weight: normal;
  }
}