<div class="modal-wrapper">
  <div class="modal-close" (click)="cancel()">
    <app-ico-svg [id]="'IcoCancel'"></app-ico-svg>
  </div>

  <div class="modal-content">
    <h4>{{text}}</h4>
    <div class="btn-wrap">
      <div>
        <ion-item class="ios" *ngIf="platform === 'ios'">
          <ion-avatar slot="start" style="background-image: url(/assets/app_logo.png);">
          </ion-avatar>
          <ion-label>SPRT MTRX</ion-label>
          <button slot="end" target="_blank" href="https://apps.apple.com/app/sprt-mtrx/id1488373981"
            class="btn-default transparent-white">Update</button>
        </ion-item>
        <ion-item class="android" *ngIf="platform === 'android'">
          <ion-avatar slot="start" style="background-image: url(/assets/app_logo.png);">
          </ion-avatar>
          <ion-label>SPRT MTRX</ion-label>
          <button slot="end" target="_blank"
            href="https://play.google.com/store/apps/details?id=com.livecurrent.sprtmtrx"
            class="btn-default transparent-white">Update</button>
        </ion-item>
      </div>
    </div>
  </div>
</div>