@import "../../theme/new-variables.scss";

.default-button {
    width: auto;
    padding: 0 10%;


}

ion-list {
    ion-label {
        font-family: $RMB;
        text-transform: uppercase;
        font-size: 14px;
        color: #646464;
    }
}

ion-checkbox {
    --ion-color-base: #355589 !important;
    --ion-color-base-rgb: #355589 !important;
    --ion-color-contrast-rgb: #355589 !important;
    // --ion-color-shade: var(--ion-color-dark-shade, #1e2023) !important;
    // --ion-color-tint: var(--ion-color-dark-tint, #383a3e) !important;
}

ion-item-group {
    @media #{$tablet} {
        zoom: 1.25;
    }
}

.btn-default {
    @media #{$tablet} {
        zoom: 1.25;
        white-space: nowrap;
    }
}