<!-- <ion-header mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="without-btn">
      Alert Preferences
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<div class="mainWrapper">
  <div class="mainHeader">
    <app-header [showAmount]="false"></app-header>
    <app-sub-header *ngIf="false"></app-sub-header>
  </div>
</div>
<ion-content>
  <div class="mainWrapper">
    <div class="mainContainer no-subHeader">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-xl="12" size-lg="12" size-md="10">
            <ion-card class="ion-padding-vertical">
              <ion-list>
                <ion-item-group>
                  <ion-item *ngFor="let item of settingsArray">
                    <ion-label>{{SettingsNotification[item]}}</ion-label>
                    <ion-checkbox id="{{item}}" slot="end" color="dark" [(ngModel)]="settings[item]"
                      (ionChange)="change()">
                    </ion-checkbox>
                  </ion-item>
                </ion-item-group>
                <ion-item-group>
                  <ion-item>
                    <ion-label style="font-weight: bold;">Select All</ion-label>
                    <ion-checkbox slot="end" color="dark" [(ngModel)]="allEnabled" (click)="toggleAll()">
                    </ion-checkbox>
                  </ion-item>
                </ion-item-group>
              </ion-list>
              <ion-row class="ion-padding">
                <ion-col size-xs="7" class="ion-text-start">
                  <button class="btn-default green" type="submit" (click)="myapp.notificationPermission(true);">Grant
                    Notifications</button>
                </ion-col>
                <ion-col size-xs="5" class="ion-text-end">
                  <button class="btn-default green" type="submit" [disabled]="!isChange" (click)="save()">Save</button>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>